Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

WIP: jest
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__react-core/__tests__/use-manager.spec.tsx
  packages/remirror__styles/package.json
  packages/remirror__styles/src/styled-components.tsx
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:, type: ui :nail_care:, test: unit :white_check_mark:

delete test from templates
  support/templates/extension-template/__tests__/template-extension.spec.ts
  support/templates/extension-template/__tests__/tsconfig.json
Labels: test: unit :white_check_mark:, type: support :books:

run pnpm fix
  packages/remirror__react-core/__tests__/get-root-props.spec.tsx
  packages/remirror__react-core/__tests__/react-remirror-server.spec.tsx
  support/root/tsconfig.json
Labels: test: unit :white_check_mark:, type: support :books:

Fix import
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__react-components/src/use-popper.ts
  packages/remirror__react-core/src/hooks/use-react-framework.tsx
  packages/remirror__styles/src/emotion.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:

Fix typecheck in test files
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/multishift/__tests__/multishift-utils.spec.ts
  packages/prosemirror-suggest/__tests__/suggest-plugin.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-node-utils.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-rules.spec.ts
  packages/remirror__core/__tests__/decorators.spec.ts
  packages/remirror__core/__tests__/doc-changed-extension.spec.ts
  packages/remirror__core/__tests__/keymap-extension.spec.ts
  packages/remirror__core/__tests__/plain-extension.spec.ts
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__dom/__tests__/dom.spec.ts
  packages/remirror__extension-collaboration/__tests__/collaboration-extension.spec.ts
  packages/remirror__extension-emoji/__tests__/emoji-extension.spec.ts
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-history/__tests__/history-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-mention-atom/__tests__/mention-atom-extension.spec.ts
  packages/remirror__extension-mention/__tests__/mention-extension.spec.ts
  packages/remirror__extension-react-component/__tests__/portals.spec.tsx
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__react-core/__tests__/get-root-props.spec.tsx
  packages/remirror__react-core/__tests__/on-change.spec.tsx
  packages/remirror__react-core/__tests__/react-remirror-server.spec.tsx
  packages/remirror__react-core/__tests__/use-remirror-context.spec.tsx
  packages/remirror__react-hooks/__tests__/use-keymaps.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention-atom.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention.spec.tsx
  packages/testing/src/index.ts
Labels: test: unit :white_check_mark:

Fix test
  packages/remirror__core-utils/__tests__/prosemirror-node-utils.spec.ts
Labels: test: unit :white_check_mark:

fix pnpm build
  packages/testing/package.json
  pnpm-lock.yaml
Labels: none

testing is a ESM package now
  package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/utils/list-packages.ts
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/testing/package.json
  packages/testing/playwright/package.json
  packages/testing/react/package.json
Labels: package: @remirror/cli :pager:

run pnpm fix
  packages/testing/package.json
Labels: none

update actions/setup-node to v3
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

try node.js 18 in build_test
  .github/workflows/ci.yml
Labels: none

add NODE_OPTIONS=--experimental-vm-modules
  package.json
  pnpm-lock.yaml
  support/jest/jest.framework.mjs
  support/package.json
Labels: type: support :books:

run pnpm fix
  .github/workflows/ci.yml
Labels: none

limit maxConcurrency and maxWorkers
  support/jest/jest.config.js
Labels: type: support :books:

docs: add comment
  support/jest/jest.config.js
Labels: type: support :books:

maxConcurrency: 1
  support/jest/jest.config.js
Labels: type: support :books:

Try max_old_space_size=7680
  package.json
Labels: none

Fix testing-library import
  support/jest/jest.framework.dom.mjs
Labels: type: support :books:

Fix import codemirror 5
  packages/remirror__extension-codemirror5/src/codemirror-ref.ts
Labels: none

pnpm test packages/remirror__extension-codemirror5
  packages/remirror__extension-codemirror5/__tests__/codemirror-ref.spec.ts
  packages/remirror__extension-codemirror5/__tests__/codemirror-utils.spec.ts
  packages/remirror__extension-codemirror5/package.json
  packages/remirror__extension-codemirror5/readme.md
  packages/remirror__extension-codemirror5/src/codemirror-ref.ts
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:

jest-remirror: load jest async
  packages/jest-remirror/src/jest-remirror-validator.ts
Labels: package: jest-remirror :black_joker:

uninstall jest-snapshot
  packages/jest-remirror/package.json
  pnpm-lock.yaml
Labels: package: jest-remirror :black_joker:

Don't use jest.fn in public API
  packages/jest-remirror/src/jest-remirror-validator.ts
  packages/jest-remirror/src/simple-mock.ts
Labels: package: jest-remirror :black_joker:

Fix Cannot assign to read only property 'name' of function
  packages/jest-remirror/src/simple-mock.ts
Labels: package: jest-remirror :black_joker:

target es2020 => es2019
  packages/remirror__cli/src/utils/run-esbuild.ts
Labels: package: @remirror/cli :pager:

docs: add comment
  packages/remirror__cli/src/utils/run-esbuild.ts
Labels: package: @remirror/cli :pager:

Bring all-icons back
  packages/remirror__react-components/all-icons/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-components/src/all-icons.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:

docs: add changeset
  .changeset/big-terms-bow.md
Labels: type: changeset :butterfly:

docs: add changeset
  .changeset/nasty-rings-double.md
Labels: type: changeset :butterfly:

Fix tests
  .swcrc
  packages/remirror__core/__tests__/__snapshots__/decorations-extension.spec.ts.snap
  packages/remirror__core/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-callout/__tests__/callout-extension.spec.ts
  packages/remirror__extension-code-block/__tests__/__snapshots__/code-block-extension.spec.ts.snap
  packages/remirror__extension-codemirror5/__tests__/__snapshots__/codemirror-extension.spec.ts.snap
  packages/remirror__extension-embed/__tests__/iframe-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-mention-atom/__tests__/mention-atom-extension.spec.ts
  packages/remirror__extension-mention/__tests__/mention-extension.spec.ts
  packages/remirror__react-components/__tests__/theme-provider.spec.tsx
  packages/remirror__react-core/__tests__/__snapshots__/react-remirror.spec.tsx.snap
  packages/remirror__react-hooks/__tests__/__snapshots__/use-emoji.spec.tsx.snap
  packages/remirror__react-hooks/__tests__/use-mention-atom.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention.spec.tsx
  packages/remirror__react-renderer/__tests__/callout.spec.tsx
  packages/remirror__react-renderer/__tests__/iframe.spec.tsx
  packages/remirror__react-renderer/__tests__/link.spec.tsx
Labels: test: unit :white_check_mark:

Feat: Add possibility to match more than one trigger character
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

Fixed packages imports
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

Add link extension autoLinkAfter usage example in storybook
  packages/storybook-react/stories/extension-link/link-extension.stories.tsx
  packages/storybook-react/stories/extension-link/trigger-character.tsx
Labels: none

Add changeset
  .changeset/hungry-penguins-move.md
Labels: type: changeset :butterfly:

chore: update renovate config
  package.json
Labels: none

chore: update renovate config (#1736)
  package.json
Labels: none

Feature: Optional adjacent punctuation array
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

Fix: Auto link not detecting adjacent text node
  .changeset/sharp-melons-switch.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

Feature: Optional auto link validation function
  .changeset/fuzzy-houses-invite.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(ext-link): unable to edit links
  .changeset/bright-forks-perform.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
