Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

Add deprecate reason for useEffectWithWarning
  packages/remirror__react-core/src/hooks/use-effect-with-warning.ts
Labels: framework: react :atom_symbol:

implement useExtensionEvent and useExtensionCustomEvent
  packages/remirror__react-core/src/hooks/index.ts
  packages/remirror__react-core/src/hooks/use-extension-event.ts
  packages/remirror__react-core/src/index.ts
Labels: framework: react :atom_symbol:

apply useExtensionEvent
  packages/remirror__react-core/src/hooks/use-update-reason.ts
  packages/remirror__react-hooks/src/use-emoji.ts
  packages/remirror__react-hooks/src/use-event.ts
  packages/remirror__react-hooks/src/use-history.ts
  packages/remirror__react-hooks/src/use-keymap.ts
  packages/remirror__react-hooks/src/use-keymaps.ts
  packages/remirror__react-hooks/src/use-mention-atom.ts
  packages/remirror__react-hooks/src/use-mention.ts
  packages/remirror__react-hooks/src/use-multi-positioner.ts
  packages/remirror__react-hooks/src/use-suggest.ts
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: framework: react :atom_symbol:

remove useExtensionCallback
  packages/remirror__react-core/src/hooks/use-extension.ts
  packages/remirror__react-core/src/index.ts
Labels: framework: react :atom_symbol:

Revert API changes in useExtension
  packages/remirror__react-core/src/hooks/use-extension.ts
Labels: framework: react :atom_symbol:

fix useExtension
  packages/remirror__react-core/src/hooks/use-extension-event.ts
  packages/remirror__react-core/src/hooks/use-extension.ts
Labels: framework: react :atom_symbol:

revert useMultiPositioner
  packages/remirror__react-hooks/src/use-multi-positioner.ts
Labels: framework: react :atom_symbol:

fix useExtension
  packages/remirror__react-core/src/hooks/use-extension.ts
Labels: framework: react :atom_symbol:

Better type hint for useExtension
  packages/remirror__react-core/src/hooks/use-extension.ts
Labels: framework: react :atom_symbol:

Update changeset
  .changeset/tame-rings-study.md
Labels: type: changeset :butterfly:

Update changeset
  .changeset/slimy-worms-build.md
Labels: type: changeset :butterfly:

Update changeset
  .changeset/ninety-lizards-bake.md
Labels: type: changeset :butterfly:

Update .changeset/tame-rings-study.md
  .changeset/tame-rings-study.md
Labels: type: changeset :butterfly:

Update inline example for useExtensionEvent
  packages/remirror__react-core/src/hooks/use-extension-event.ts
Labels: framework: react :atom_symbol:

Make useExtensionCustomEvent internal
  .changeset/tame-rings-study.md
  packages/remirror__react-core/src/hooks/use-extension-event.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

Remove the TS version changeset
  .changeset/ninety-lizards-bake.md
Labels: type: changeset :butterfly:

fix(emoji): insert emoticons on Enter keypress. Fixes #1591
  .changeset/polite-tips-double.md
  packages/remirror__extension-emoji/__tests__/emoji-extension.spec.ts
  packages/remirror__extension-emoji/src/emoji-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(emoji): insert emoticons on Enter keypress. Fixes #1591 (#1620)
  .changeset/polite-tips-double.md
  packages/remirror__extension-emoji/__tests__/emoji-extension.spec.ts
  packages/remirror__extension-emoji/src/emoji-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

Fix some typos
  docs/getting-started/create-manager.md
Labels: none

Fix some typos (#1623)
  docs/getting-started/create-manager.md
Labels: none

fix(prosemirror-paste-rules): paste multiple block nodes
  .changeset/mean-queens-deliver.md
  .changeset/yellow-jobs-divide.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
  packages/remirror__extension-heading/src/heading-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(prosemirror-paste-rules): paste multiple block nodes (#1629)
  .changeset/mean-queens-deliver.md
  .changeset/yellow-jobs-divide.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
  packages/remirror__extension-heading/src/heading-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(deps): update prosemirror packages
  .changeset/giant-dolls-breathe.md
  .changeset/honest-emus-draw.md
  .changeset/wild-trees-sort.md
  packages/jest-prosemirror/package.json
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__dom/src/dom-framework.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__extension-yjs/src/yjs-extension.ts
  packages/remirror__pm/package.json
  packages/remirror__react-core/src/react-framework.tsx
  packages/remirror__react-ssr/__tests__/ssr-prosemirror-view.spec.ts
  packages/testing/src/index.ts
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, type: changeset :butterfly:, test: unit :white_check_mark:

chore(deps): update prosemirror packages (#1631)
  .changeset/giant-dolls-breathe.md
  .changeset/honest-emus-draw.md
  .changeset/wild-trees-sort.md
  packages/jest-prosemirror/package.json
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__dom/src/dom-framework.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__extension-yjs/src/yjs-extension.ts
  packages/remirror__pm/package.json
  packages/remirror__react-core/src/react-framework.tsx
  packages/remirror__react-ssr/__tests__/ssr-prosemirror-view.spec.ts
  packages/testing/src/index.ts
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, type: changeset :butterfly:, test: unit :white_check_mark:

feat(prosemirror-paste-rules): add ability to invalidate match
  .changeset/twenty-ravens-greet.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(link): tweak autolink regex to prevent ordered list interaction. Fixes #1585
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

feat(link): add ability to restrict auto link TLDs
  .changeset/pretty-squids-bake.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/package.json
  packages/remirror__extension-link/src/index.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

feat(extension-link): auto link improvements (#1625)
  .changeset/pretty-squids-bake.md
  .changeset/twenty-ravens-greet.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/package.json
  packages/remirror__extension-link/src/index.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(deps): remove useless patch-package
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

Remove annotation support from yjs-extension
  packages/remirror__extension-yjs/__tests__/tsconfig.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__extension-yjs/src/tsconfig.json
  packages/remirror__extension-yjs/src/yjs-extension.ts
  support/root/.size-limit.json
Labels: type: support :books:

Add changeset
  .changeset/breezy-games-boil.md
Labels: type: changeset :butterfly:

Fix pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

fix(jest-remirror): throw error for non-top-level nodes
  .changeset/tiny-rats-repeat.md
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:, test: unit :white_check_mark:

feat: remove annotation support from yjs-extension (#1640)
  .changeset/breezy-games-boil.md
  packages/remirror__extension-yjs/__tests__/tsconfig.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__extension-yjs/src/tsconfig.json
  packages/remirror__extension-yjs/src/yjs-extension.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: type: changeset :butterfly:, type: support :books:

chore(changeset): version update (#1642)
  .changeset/breezy-games-boil.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-yjs/CHANGELOG.md
  packages/remirror__extension-yjs/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat(core-utils): support CSS functions when using extractPixelSize
  .changeset/light-crews-hug.md
  packages/remirror__core-utils/__tests__/dom-utils.spec.ts
  packages/remirror__core-utils/package.json
  packages/remirror__core-utils/src/dom-utils.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(font-size): support CSS functions and avoid error. Fixes #1563
  .changeset/young-fishes-march.md
  packages/remirror__extension-font-size/src/font-size-extension.ts
Labels: type: changeset :butterfly:

chore(storybook): add debug story for visualizing paste buffer
  packages/storybook-react/package.json
  packages/storybook-react/preview.js
  packages/storybook-react/stories/paste-debugger.stories.tsx
  packages/storybook-react/stories/patches.d.ts
  pnpm-lock.yaml
Labels: none

test(core-helpers): add some tests for `clamp`
  packages/remirror__core-helpers/__tests__/core-helper.spec.ts
  packages/remirror__core-utils/__tests__/dom-utils.spec.ts
Labels: test: unit :white_check_mark:

fix(prosemirror-paste-rules): set open depth more precisely
  .changeset/three-owls-admire.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:
