Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

chore: run pnpm dedupe
  pnpm-lock.yaml
Labels: none

chore(deps): remove typescript-styled-plugin
  package.json
  packages/remirror__theme/src/extension-tables-theme.ts
  pnpm-lock.yaml
Labels: type: ui :nail_care:

Revert "chore: update node.js version in ci to v16"
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

chore: clean some unused scripts (#2004)
  .changeset/config.json
  .github/workflows/docs.yml
  .github/workflows/pr-name-linter.yml
  .github/workflows/version.yml
  .gitignore
  .huskyrc
  .lintstagedrc
  docs/contributing.md
  package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/generate-website-examples.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__theme/src/extension-tables-theme.ts
  pnpm-lock.yaml
  support/.config.sample.json
  support/package.json
  support/scripts/enable-pr-changeset/package.json
  support/scripts/generate-website-examples/package.json
  support/scripts/package.json
  support/scripts/patch-mui-package-json.sh
  support/scripts/readme.md
  support/scripts/run-if-clean/package.json
  support/scripts/run-if-config/package.json
  support/scripts/run-if-mac/package.json
  support/scripts/src/enable-pr-changeset.ts
  support/scripts/src/helpers.ts
  support/scripts/src/index.ts
  support/scripts/src/read-config.ts
  support/scripts/src/run-if-clean.ts
  support/scripts/src/run-if-config.ts
  support/scripts/src/run-if-mac.ts
  support/scripts/src/verdaccio-registry.ts
  support/scripts/verdaccio-registry/package.json
  support/tsconfig.json
  tsconfig.dev.json
Labels: package: @remirror/cli :pager:, type: ui :nail_care:, type: changeset :butterfly:, type: support :books:

fix(jest-prosemirror): set jest as optional peer dependency
  .changeset/many-pears-clean.md
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
Labels: package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, type: changeset :butterfly:

chore: update @reach/auto-id
  packages/multishift/package.json
  pnpm-lock.yaml
Labels: package: multishift :arrow_down_small:

chore: add peerDependencies to @remirror/extension-yjs
  packages/remirror__extension-yjs/package.json
  pnpm-lock.yaml
Labels: none

chore: remove eslint-plugin-graphql
  package.json
  pnpm-lock.yaml
Labels: none

fix: remove `remirror` from `@remirror/react-components`'s peerDependencies
  packages/remirror__react-components/package.json
  packages/remirror__react-components/src/button-groups/list-button-group.tsx
  packages/remirror__react-components/src/buttons/center-align-button.tsx
  packages/remirror__react-components/src/buttons/create-table-button.tsx
  packages/remirror__react-components/src/buttons/decrease-font-size-button.tsx
  packages/remirror__react-components/src/buttons/decrease-indent-button.tsx
  packages/remirror__react-components/src/buttons/increase-font-size-button.tsx
  packages/remirror__react-components/src/buttons/increase-indent-button.tsx
  packages/remirror__react-components/src/buttons/insert-horizontal-rule-button.tsx
  packages/remirror__react-components/src/buttons/justify-align-button.tsx
  packages/remirror__react-components/src/buttons/left-align-button.tsx
  packages/remirror__react-components/src/buttons/redo-button.tsx
  packages/remirror__react-components/src/buttons/right-align-button.tsx
  packages/remirror__react-components/src/buttons/toggle-blockquote-button.tsx
  packages/remirror__react-components/src/buttons/toggle-bold-button.tsx
  packages/remirror__react-components/src/buttons/toggle-bullet-list-button.tsx
  packages/remirror__react-components/src/buttons/toggle-callout-button.tsx
  packages/remirror__react-components/src/buttons/toggle-code-block-button.tsx
  packages/remirror__react-components/src/buttons/toggle-code-button.tsx
  packages/remirror__react-components/src/buttons/toggle-columns-button.tsx
  packages/remirror__react-components/src/buttons/toggle-heading-button.tsx
  packages/remirror__react-components/src/buttons/toggle-italic-button.tsx
  packages/remirror__react-components/src/buttons/toggle-ordered-list-button.tsx
  packages/remirror__react-components/src/buttons/toggle-strike-button.tsx
  packages/remirror__react-components/src/buttons/toggle-subscript-button.tsx
  packages/remirror__react-components/src/buttons/toggle-superscript-button.tsx
  packages/remirror__react-components/src/buttons/toggle-task-list-button.tsx
  packages/remirror__react-components/src/buttons/toggle-underline-button.tsx
  packages/remirror__react-components/src/buttons/toggle-whitespace-button.tsx
  packages/remirror__react-components/src/buttons/undo-button.tsx
  packages/remirror__react-components/src/menus/toggle-callout-menu-item.tsx
  packages/remirror__react-components/src/menus/toggle-heading-menu-item.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:

chore: run `pnpm fix`
  .size-limit.json
  packages/remirror__react-components/__e2e__/tsconfig.json
  packages/remirror__react-components/__tests__/tsconfig.json
  packages/remirror__react-components/src/tsconfig.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix(multishift): remove `@reach/auto-id`
  .changeset/clean-pianos-fly.md
  packages/multishift/package.json
  packages/multishift/src/multishift-hooks.ts
  packages/multishift/src/use-id.ts
  pnpm-lock.yaml
Labels: package: multishift :arrow_down_small:, type: changeset :butterfly:

fix(multishift): remove `@reach/auto-id` (#2006)
  .changeset/clean-pianos-fly.md
  packages/multishift/package.json
  packages/multishift/src/multishift-hooks.ts
  packages/multishift/src/use-id.ts
  pnpm-lock.yaml
Labels: package: multishift :arrow_down_small:, type: changeset :butterfly:

skip two tests
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
Labels: test: unit :white_check_mark:

chore(deps): update jest
  package.json
  packages/create-context-state/package.json
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  packages/multishift/package.json
  packages/remirror__core-utils/__tests__/__snapshots__/prosemirror-utils.spec.ts.snap
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core/__tests__/__snapshots__/remirror-manager.spec.tsx.snap
  packages/remirror__core/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__dev/package.json
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-diff/__tests__/diff-extension.spec.ts
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-mention/__tests__/__snapshots__/mention-extension.spec.ts.snap
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__extension-yjs/__tests__/__snapshots__/yjs-extension.spec.ts.snap
  packages/remirror__react-core/__tests__/__snapshots__/use-remirror-context.spec.tsx.snap
  packages/remirror__theme/__tests__/__snapshots__/theme.spec.ts.snap
  packages/testing/package.json
  packages/testing/src/react.tsx
  pnpm-lock.yaml
  support/scripts/package.json
Labels: package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: multishift :arrow_down_small:, test: unit :white_check_mark:, type: support :books:

pass one test
  packages/remirror__react-core/__tests__/controlled.spec.tsx
Labels: test: unit :white_check_mark:

fix test
  packages/remirror__react-core/__tests__/core.spec.tsx
Labels: test: unit :white_check_mark:

fix typecheck
  packages/testing/src/index.ts
Labels: none

chore(deps): update jest (#2008)
  package.json
  packages/create-context-state/package.json
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  packages/multishift/package.json
  packages/remirror__core-utils/__tests__/__snapshots__/prosemirror-utils.spec.ts.snap
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core/__tests__/__snapshots__/remirror-manager.spec.tsx.snap
  packages/remirror__core/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__dev/package.json
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-diff/__tests__/diff-extension.spec.ts
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-mention/__tests__/__snapshots__/mention-extension.spec.ts.snap
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__extension-yjs/__tests__/__snapshots__/yjs-extension.spec.ts.snap
  packages/remirror__react-core/__tests__/__snapshots__/use-remirror-context.spec.tsx.snap
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__theme/__tests__/__snapshots__/theme.spec.ts.snap
  packages/testing/package.json
  packages/testing/src/index.ts
  packages/testing/src/react.tsx
  pnpm-lock.yaml
  support/scripts/package.json
Labels: package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: multishift :arrow_down_small:, test: unit :white_check_mark:, type: support :books:

fix(extension-yjs): fix missing peer warning
  .changeset/nasty-paws-study.md
  packages/remirror__extension-yjs/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix(extension-yjs): fix missing peer warning (#2009)
  .changeset/nasty-paws-study.md
  packages/remirror__extension-yjs/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

chore(changeset): version update (#2007)
  .changeset/clean-pianos-fly.md
  .changeset/nasty-paws-study.md
  package.json
  packages/multishift/CHANGELOG.md
  packages/multishift/package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-yjs/CHANGELOG.md
  packages/remirror__extension-yjs/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: package: multishift :arrow_down_small:, framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore(eslint): fix react version setting
  .eslintrc.js
Labels: none

Fixed #2016: added index to findAndReplace command
  packages/storybook-react/stories/extension-find/basic.tsx
Labels: none

Fixed eslint issues
  packages/storybook-react/stories/extension-find/basic.tsx
Labels: none

fix(react-components): increase active index after replace
  packages/remirror__react-components/src/find-replace/use-find-replace.tsx
  packages/storybook-react/stories/extension-find/basic.tsx
  packages/storybook-react/stories/react-components/find-replace.stories.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

docs: add changeset
  .changeset/blue-crabs-knock.md
  packages/remirror__react-components/src/find-replace/use-find-replace.tsx
  packages/storybook-react/stories/extension-find/basic.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix(react-components): increase active index after replace (#2017)
  .changeset/blue-crabs-knock.md
  packages/remirror__react-components/src/find-replace/use-find-replace.tsx
  packages/storybook-react/stories/extension-find/basic.tsx
  packages/storybook-react/stories/react-components/find-replace.stories.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

Added wrapper Box<span> to fix MUI tooltip error
  packages/remirror__react-components/src/buttons/command-button.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

Added changeset
  .changeset/strong-bags-hunt.md
  .size-limit.json
Labels: type: changeset :butterfly:

Run pnpm install
  support/templates/extension-template/package.json
  support/templates/minimal-template/package.json
  support/templates/preset-template/package.json
Labels: type: support :books:

Run pnpm fix
  .size-limit.json
  package.json
  packages/multishift/src/multishift-constants.ts
  packages/multishift/src/multishift-utils.ts
  packages/prosemirror-suggest/src/suggest-predicates.ts
  packages/remirror__core-utils/src/dom-utils.ts
  packages/remirror__extension-tables/src/table-utils.ts
Labels: package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:

Fix type NodeViewMethod
  packages/remirror__core-types/src/core-types.ts
Labels: none

Fix type json.dependencies
  support/scripts/src/mutatate-packages.ts
Labels: type: support :books:

Fix lint
  packages/remirror__core-types/src/core-types.ts
Labels: none

Fix type NodeViewMethod
  packages/remirror__core-types/src/core-types.ts
Labels: none

Fix type getPos
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-image/src/image-extension.ts
  packages/remirror__extension-react-component/src/node-view-types.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: framework: react :atom_symbol:

docs: add changeest
  .changeset/sharp-ducks-help.md
Labels: type: changeset :butterfly:

Update linaria to v4
  package.json
  packages/remirror__core-helpers/package.json
  packages/remirror__core/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__theme/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: support :books:

Fix defaultThemeVariables
  packages/remirror__theme/__tests__/theme-variables.spec.ts
  packages/remirror__theme/src/theme-variables.ts
  packages/remirror__theme/src/theme.ts
  packages/remirror__theme/src/tsconfig.json
  packages/tsconfig.json
Labels: type: ui :nail_care:, test: unit :white_check_mark:

Run pnpm fix
  packages/remirror__theme/src/tsconfig.json
  packages/tsconfig.json
Labels: type: ui :nail_care:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
