Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

fix(markdown): fix rendering and parsing of tasklists in markdown. Fixes #1357 (#1665)
  .changeset/giant-zebras-tan.md
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
  packages/remirror__extension-markdown/__tests__/html-to-markdown.spec.ts
  packages/remirror__extension-markdown/__tests__/markdown-extension.spec.ts
  packages/remirror__extension-markdown/src/html-to-markdown.ts
  packages/remirror__extension-markdown/src/markdown-to-html.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix ci
  .changeset/thin-hairs-sell.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

chore: lock prosemirror packages version for remirror v1 (#1668)
  .changeset/thin-hairs-sell.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

chore: prepare changeset for v2 beta
  .changeset/config.json
  .changeset/pre.json
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: changeset :butterfly:, type: support :books:

chore: prepare changeset for v2 beta (#1667)
  .changeset/config.json
  .changeset/pre.json
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: changeset :butterfly:, type: support :books:

update changeset
  .changeset/hungry-rabbits-repair.md
Labels: type: changeset :butterfly:

update changeset config
  .changeset/config.json
Labels: type: changeset :butterfly:

update changest config
  .changeset/config.json
Labels: type: changeset :butterfly:

chore: reduce changeset text
  .changeset/hungry-rabbits-repair.md
Labels: type: changeset :butterfly:

chore: reduce changeset text (#1670)
  .changeset/hungry-rabbits-repair.md
Labels: type: changeset :butterfly:

chore: fix the changeset action tag
  .github/workflows/version.yml
Labels: none

chore: fix the changeset action tag (#1671)
  .github/workflows/version.yml
Labels: none

chore: add script `release:beta`
  package.json
Labels: none

chore: format file
  package.json
Labels: none

chore(events): standardize the `contextmenu` and `hover` events
  .changeset/thin-paws-juggle.md
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(hooks): rename `useEvent` to `useEditorEvent`
  .changeset/large-socks-live.md
  docs/hooks/use-editor-event.md
  packages/remirror__extension-react-tables/src/components/table-cell-menu.tsx
  packages/remirror__react-hooks/package.json
  packages/remirror__react-hooks/src/index.ts
  packages/remirror__react-hooks/src/use-context-menu.ts
  packages/remirror__react-hooks/src/use-editor-event.ts
  packages/remirror__react-hooks/src/use-editor-focus.ts
  packages/remirror__react-hooks/src/use-hover.ts
  packages/remirror__react-hooks/use-editor-event/package.json
  packages/remirror__react-hooks/use-event/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(events): removed deleted types
  packages/remirror__extension-events/src/index.ts
Labels: none

chore: update changesets
  .changeset/large-socks-live.md
  .changeset/thin-paws-juggle.md
Labels: type: changeset :butterfly:

Publish best practice blog post on annotations
  website/blog/2022-05-13-annotation-issues.md
Labels: none

Publish best practice blog post on annotations (#1674)
  website/blog/2022-05-13-annotation-issues.md
Labels: none

fix: update prosemirror
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:

wip
  packages/remirror__core/src/builtins/node-views-extension.ts
Labels: none

docs: restructure the content on docs website
  docs/advanced/updating-editor-externally.md
  docs/controlled-editor.md
  docs/extensions/count-extension.mdx
  docs/getting-started/create-manager.md
  docs/react/hooks.md
  docs/showcase/markdown.mdx
  docs/showcase/richtext.mdx
  docs/showcase/social.mdx
  docs/static-rendering.md
  website/sidebar.js
Labels: none

fix: run pnpm fix
  docs/advanced/updating-editor-externally.md
  docs/controlled-editor.md
  docs/errors.md
  docs/extensions/count-extension.mdx
  docs/showcase/markdown.mdx
  docs/showcase/richtext.mdx
  docs/showcase/social.mdx
  docs/static-rendering.md
Labels: none

docs: restructure the content on docs website (#1678)
  docs/advanced/updating-editor-externally.md
  docs/controlled-editor.md
  docs/errors.md
  docs/extensions/count-extension.mdx
  docs/getting-started/create-manager.md
  docs/react/hooks.md
  docs/showcase/markdown.mdx
  docs/showcase/richtext.mdx
  docs/showcase/social.mdx
  docs/static-rendering.md
  website/sidebar.js
Labels: none

fix: contextmenu and hover events in positioner extension
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-positioner/src/positioner.ts
Labels: none

docs: aupdate iframe storybook to allow custom URL
  packages/storybook-react/stories/extension-embed/basic.tsx
  packages/storybook-react/stories/extension-embed/resizable.tsx
Labels: none

docs: update iframe storybook to allow custom URL (#1679)
  packages/storybook-react/stories/extension-embed/basic.tsx
  packages/storybook-react/stories/extension-embed/resizable.tsx
Labels: none

docs: fix rendering order of Styling docs
  docs/concepts/styling.md
Labels: none

chore: enable v1 hotfix releases
  .github/workflows/publish.yml
  .github/workflows/version.yml
Labels: none

chore: run ci pipeline against PRs to v1-hotfix branch
  .github/workflows/ci.yml
Labels: none

chore: remove changeset pre config
  .changeset/pre.json
Labels: type: changeset :butterfly:

chore: publish docs and storybook from remirror v1
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

chore: enable v1 hotfix releases (#1682)
  .changeset/pre.json
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: type: changeset :butterfly:

chore: publish docs and storybook from remirror v1
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

chore:deploy docs and storybook from v1-hotfix
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

chore: publish docs and storybook from remirror v1 (#1683)
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

chore:deploy docs and storybook from v1-hotfix (#1684)
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

chore: publish docs from v1
  .github/workflows/docs.yml
Labels: none

chore: publish docs from v1 (#1685)
  .github/workflows/docs.yml
Labels: none
