Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

fix(extension-yjs): use a single Yjs UndoManager in all editor states (#1457)
  .changeset/eleven-rivers-retire.md
  .changeset/fluffy-humans-sniff.md
  package.json
  packages/remirror/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-yjs/__tests__/__snapshots__/yjs-extension.spec.ts.snap
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__extension-yjs/src/yjs-extension.ts
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  support/jest/jest.config.js
  support/scripts/package.json
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

chore(changeset): version update (#1458)
  .changeset/eleven-rivers-retire.md
  .changeset/fluffy-humans-sniff.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-yjs/CHANGELOG.md
  packages/remirror__extension-yjs/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

docs: add an example for getFontSizeForSelection
  packages/storybook-react/stories/extension-font-size/basic.tsx
Labels: none

docs: add an example for getFontSizeForSelection (#1460)
  packages/storybook-react/stories/extension-font-size/basic.tsx
Labels: none

fix(extension-list): fix the cursor position when pressing backspace
  .changeset/wicked-trains-scream.md
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

run pnpm fix
  .changeset/wicked-trains-scream.md
Labels: type: changeset :butterfly:

fix(extension-list): fix the cursor position when pressing backspace (#1461)
  .changeset/wicked-trains-scream.md
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1462)
  .changeset/wicked-trains-scream.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat(theme): avoid using Proxy to generate theme variables
  .changeset/rude-foxes-drop.md
  packages/remirror__extension-react-tables/src/table-plugins.ts
  packages/remirror__extension-text-color/src/text-color-utils.ts
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/core-theme.ts
  packages/remirror__theme/src/extension-blockquote-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-list-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  packages/remirror__theme/src/extension-tables-theme.ts
  packages/remirror__theme/src/index.ts
  packages/remirror__theme/src/theme.ts
  packages/remirror__theme/src/utils.ts
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat(theme): avoid using Proxy to generate theme variables (#1463)
  .changeset/rude-foxes-drop.md
  packages/remirror__extension-react-tables/src/table-plugins.ts
  packages/remirror__extension-text-color/src/text-color-utils.ts
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/core-theme.ts
  packages/remirror__theme/src/extension-blockquote-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-list-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  packages/remirror__theme/src/extension-tables-theme.ts
  packages/remirror__theme/src/index.ts
  packages/remirror__theme/src/theme.ts
  packages/remirror__theme/src/utils.ts
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore: fix changeset, remove storybook-react
  .changeset/rude-foxes-drop.md
Labels: type: changeset :butterfly:

chore: fix changeset, remove storybook-react (#1464)
  .changeset/rude-foxes-drop.md
Labels: type: changeset :butterfly:

docs: include the note that the `history` extension conflicts with `yjs`
  docs/extensions/yjs-extension.mdx
  packages/storybook-react/stories/extension-yjs/basic.tsx
Labels: none

docs: include the note that the `history` extension conflicts with `yjs` (#1466)
  docs/extensions/yjs-extension.mdx
  packages/storybook-react/stories/extension-yjs/basic.tsx
Labels: none

fix(extension-list): increase the clickable area of checkboxes
  .changeset/nice-coats-learn.md
  packages/remirror__extension-list/src/list-item-node-view.ts
Labels: type: changeset :butterfly:

fix(emoji-popup): Fix styling of EmojiPopupComponent
  packages/remirror__react-components/src/components/emoji-popup-component.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

Fix typo in code block
  packages/remirror__extension-markdown/readme.md
Labels: none

fix(extension-list): increase the clickable area of checkboxes (#1468)
  .changeset/nice-coats-learn.md
  packages/remirror__extension-list/src/list-item-node-view.ts
Labels: type: changeset :butterfly:

Fix typo in code block (#1470)
  packages/remirror__extension-markdown/readme.md
Labels: none

fix(extension-font-size): fix a runtime error when getting font size
  .changeset/slimy-dolphins-peel.md
  packages/remirror__extension-font-size/src/font-size-extension.ts
Labels: type: changeset :butterfly:

fix(emoji-popup): Fix styling of EmojiPopupComponent (#1469)
  packages/remirror__react-components/src/components/emoji-popup-component.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix(extension-font-size): fix a runtime error when getting font size (#1472)
  .changeset/slimy-dolphins-peel.md
  packages/remirror__extension-font-size/src/font-size-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1471)
  .changeset/nice-coats-learn.md
  .changeset/slimy-dolphins-peel.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-font-size/CHANGELOG.md
  packages/remirror__extension-font-size/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-formatting/CHANGELOG.md
  packages/remirror__preset-formatting/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore: update prosemirror dependencies
  .changeset/real-olives-wave.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

fix the lockfile manually
  pnpm-lock.yaml
Labels: none

fix the lockfile manually
  pnpm-lock.yaml
Labels: none

chore(deps): update prosemirror packages (#1474)
  .changeset/real-olives-wave.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

fix: make HorizontalRule compatible with Shortcuts
  .changeset/cool-olives-know.md
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-extension.ts
Labels: type: changeset :butterfly:

fix: make HorizontalRule compatible with Shortcuts (#1476)
  .changeset/cool-olives-know.md
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1477)
  .changeset/cool-olives-know.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-horizontal-rule/CHANGELOG.md
  packages/remirror__extension-horizontal-rule/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

docs: include controls for adding/removing annotations in the yjs extension story
  packages/storybook-react/stories/extension-yjs/basic.tsx
Labels: none

docs: add a control to force a redraw of the annotations
  packages/storybook-react/stories/extension-yjs/basic.tsx
Labels: none

fix: remove the `update` handler from the doc in a "Dispose" step
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: none

docs: include controls for adding/removing annotations in the yjs extension story (#1483)
  packages/storybook-react/stories/extension-yjs/basic.tsx
Labels: none

fix: remove the `update` handler from the doc in a "Dispose" step (#1487)
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: none

feat: refactor annotation backing store interface
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-actions.ts
  packages/remirror__extension-annotation/src/annotation-extension.ts
  packages/remirror__extension-annotation/src/annotation-plugin.ts
  packages/remirror__extension-annotation/src/annotation-store.ts
  packages/remirror__extension-annotation/src/annotation-types.ts
  packages/remirror__extension-annotation/src/index.ts
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: test: unit :white_check_mark:

fix: update multiple annotations in a single Yjs transaction
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: none

fix: don't extend annotation when the user types at the beginning
  .changeset/ninety-kids-shave.md
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-plugin.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix: don't extend annotation when the user types at the beginning (#1494)
  .changeset/ninety-kids-shave.md
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-plugin.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1495)
  .changeset/ninety-kids-shave.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-annotation/CHANGELOG.md
  packages/remirror__extension-annotation/package.json
  packages/remirror__extension-yjs/CHANGELOG.md
  packages/remirror__extension-yjs/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:
