Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

fix(pm): fix version of prosemirror-tables
  .changeset/proud-shrimps-collect.md
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix(jest-prosemirror): fix version of prosemirror-test-builder (#1708)
  .changeset/clean-ghosts-retire.md
  .changeset/proud-shrimps-collect.md
  packages/jest-prosemirror/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:

docs: fix rendering order of Styling docs (#1680)
  docs/concepts/styling.md
Labels: none

fix(extension-react-component): use Array.from for portals.entries()
  packages/remirror__extension-react-component/src/portals/react-portals.tsx
Labels: framework: react :atom_symbol:

fix(extension-react-component): use Array.from for portals.entries() (#1710)
  packages/remirror__extension-react-component/src/portals/react-portals.tsx
Labels: framework: react :atom_symbol:

fix(extension-react-component): use Array.from for portals.entries() (#1710)
  packages/remirror__extension-react-component/src/portals/react-portals.tsx
Labels: framework: react :atom_symbol:

chore(extension-react-component): add changeset
  .changeset/great-fans-judge.md
Labels: type: changeset :butterfly:

feat: support leafText
  .changeset/few-keys-float.md
  .changeset/thin-starfishes-unite.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__core/src/builtins/node-views-extension.ts
  packages/remirror__extension-hard-break/__tests__/hard-break-extension.spec.ts
  packages/remirror__extension-hard-break/src/hard-break-extension.ts
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:, test: unit :white_check_mark:

chore: Skip browser downloads in CI
  support/actions/pnpm/action.yml
Labels: none

feat: support leafText (#1711)
  .changeset/few-keys-float.md
  .changeset/thin-starfishes-unite.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__core/src/builtins/node-views-extension.ts
  packages/remirror__extension-hard-break/__tests__/hard-break-extension.spec.ts
  packages/remirror__extension-hard-break/src/hard-break-extension.ts
  packages/remirror__pm/package.json
  pnpm-lock.yaml
  support/actions/pnpm/action.yml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:, test: unit :white_check_mark:

Refactor @remirror/cli
  package.json
  packages/remirror__cli/bin.js
  packages/remirror__cli/bin.ts
  packages/remirror__cli/cli/package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/cli-types.ts
  packages/remirror__cli/src/cli-utils.ts
  packages/remirror__cli/src/cli.ts
  packages/remirror__cli/src/commands/base-command.ts
  packages/remirror__cli/src/commands/bundle-command.tsx
  packages/remirror__cli/src/commands/create-command.tsx
  packages/remirror__cli/src/commands/foo.ts
  packages/remirror__cli/src/commands/index.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__cli/src/logger.ts
  packages/remirror__cli/src/tsconfig.json
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

refactor: limit the scope of preconstruct
  package.json
Labels: none

chore(changeset): version update (#1712)
  .changeset/great-fans-judge.md
  packages/remirror__dev/CHANGELOG.md
  packages/remirror__dev/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/CHANGELOG.md
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/CHANGELOG.md
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__preset-react/CHANGELOG.md
  packages/remirror__preset-react/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/CHANGELOG.md
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/CHANGELOG.md
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

remove cli from preconstruct
  package.json
  packages/remirror__cli/package.json
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

fix(styles): update theme and styles packages, missing count extension
  .changeset/flat-humans-applaud.md
Labels: type: changeset :butterfly:

chore(ci): rename v1-hotfix to v1
  .changeset/config.json
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
  .npmrc
Labels: type: changeset :butterfly:

chore(ci): rename v1-hotfix to v1
  .github/workflows/docs.yml
  .github/workflows/publish-v1.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

add alias for netfily
  .github/workflows/docs.yml
  .github/workflows/version.yml
Labels: none

chore(ci): rename v1-hotfix to v1 (#1715)
  .github/workflows/docs.yml
  .github/workflows/publish-v1.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

build code-block
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__cli/src/logger.ts
  packages/remirror__cli/src/tsconfig.json
  packages/remirror__cli/src/utils/esbuild.ts
  packages/remirror__cli/src/utils/file-exists.ts
  packages/remirror__cli/src/utils/format.ts
  packages/remirror__cli/src/utils/get-root.ts
  packages/remirror__cli/src/utils/list-packages.ts
  packages/remirror__cli/src/utils/read-package-json.ts
  packages/remirror__cli/src/utils/slugify.ts
  packages/remirror__cli/src/utils/write-package-json.ts
  packages/remirror__extension-code-block/formatter/package.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-file/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: package: @remirror/cli :pager:, type: support :books:

Fix imports
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/utils/decorate-highlights.ts
Labels: none

Improve naming
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/__tests__/ranges.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/index.ts
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-entity-reference/src/utils/decorate-entity-references.tsx
  packages/remirror__extension-entity-reference/src/utils/disjoined-entity-references.ts
  packages/remirror__extension-entity-reference/src/utils/disjoined-highlights.ts
  packages/remirror__extension-entity-reference/src/utils/joined-entity-references.ts
  packages/remirror__extension-entity-reference/src/utils/joined-highlights.ts
  packages/remirror__extension-entity-reference/src/utils/ranges.ts
Labels: test: unit :white_check_mark:

Fix formatting
  packages/tsconfig.json
Labels: none

Fix Typecheck
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
  packages/remirror__extension-events/src/events-extension.ts
Labels: none

Process PR feedback
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/index.ts
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-entity-reference/src/utils/disjoined-highlights.ts
  packages/storybook-react/stories/extension-entity-reference/highlights.tsx
  packages/tsconfig.json
Labels: test: unit :white_check_mark:

Run npmp fix
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/utils/disjoined-entity-references.ts
Labels: none

Add mark to highlight content
  docs/extensions/entity-reference-extension.mdx
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/remirror__extension-entity-reference/CHANGELOG.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/__tests__/tsconfig.json
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-entity-reference/readme.md
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/index.ts
  packages/remirror__extension-entity-reference/src/tsconfig.json
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-entity-reference/src/utils/decorate-highlights.ts
  packages/remirror__extension-entity-reference/src/utils/disjoined-highlights.ts
  packages/remirror__extension-entity-reference/src/utils/joined-highlights.ts
  packages/remirror__extension-entity-reference/src/utils/ranges.ts
  packages/remirror__extension-entity-reference/src/utils/shortest-highlight.ts
  packages/remirror__extension-events/src/events-extension.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-entity-reference/entity-reference.stories.tsx
  packages/storybook-react/stories/extension-entity-reference/highlights.tsx
  packages/storybook-react/stories/extension-entity-reference/styles.css
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-entity-reference/highlights.tsx
Labels: test: unit :white_check_mark:, type: support :books:

Try to fix the types field
  packages/remirror__extension-entity-reference/package.json
Labels: none

Resolve type errors
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/utils/decorate-highlights.ts
Labels: none

Fix storybook
  packages/storybook-react/stories/extension-entity-reference/highlights.tsx
Labels: none

Fix storybook
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
Labels: none

Process PR feedback
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-entity-reference/src/utils/decorate-highlights.ts
  packages/remirror__extension-entity-reference/src/utils/disjoined-highlights.ts
  packages/remirror__extension-entity-reference/src/utils/joined-highlights.ts
  packages/remirror__extension-entity-reference/src/utils/ranges.ts
  packages/remirror__extension-entity-reference/src/utils/shortest-highlight.ts
Labels: none

Process feedback provided by Will
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-entity-reference/src/utils/decorate-entity-references.tsx
  packages/remirror__extension-entity-reference/src/utils/joined-entity-references.ts
Labels: test: unit :white_check_mark:

Process PR feedback on storybook
  packages/storybook-react/stories/extension-entity-reference/highlights.tsx
Labels: none

Process PR feedback
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/types.ts
Labels: test: unit :white_check_mark:

parseEntryPoints
  packages/remirror/package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/utils/remove-file-ext.ts
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

parseEntryPoints
  packages/remirror__cli/src/commands/build.ts
Labels: package: @remirror/cli :pager:

runEsbuildV2
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/logger.ts
  packages/remirror__cli/src/types.ts
  packages/remirror__cli/src/utils/esbuild.ts
Labels: package: @remirror/cli :pager:

writeMainPackageJson
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/utils/write-package-json.ts
Labels: package: @remirror/cli :pager:

writeMainPackageJson
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/utils/write-package-json.ts
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:
