Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

update dependencies
  packages/remirror__extension-codemirror6/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: none

update RADEME
  packages/remirror__extension-codemirror6/readme.md
Labels: none

docs: remove `@next` from README
  packages/remirror__dev/readme.md
  packages/remirror__extension-callout/readme.md
  packages/remirror__extension-codemirror5/readme.md
  packages/remirror__extension-codemirror6/readme.md
  packages/remirror__extension-sub/readme.md
  packages/remirror__extension-sup/readme.md
Labels: none

feat(extension-codemirror6): first version of extension-codemirror6 (#1391)
  .changeset/gentle-apples-confess.md
  docs/extensions/code-block-extension.mdx
  docs/extensions/codemirror-extension.mdx
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-codemirror6/readme.md
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
  packages/remirror__extension-codemirror6/src/codemirror-utils.ts
  packages/remirror__extension-codemirror6/src/index.ts
  packages/remirror__extension-codemirror6/src/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  packages/storybook-react/stories/extension-codemirror6/codemirror6.stories.tsx
  packages/storybook-react/stories/extension-codemirror6/with-custom-extension.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-codemirror6/basic.tsx
  website/extension-examples/extension-codemirror6/with-custom-extension.tsx
Labels: type: changeset :butterfly:, type: support :books:

chore(changeset): version update (#1443)
  .changeset/gentle-apples-confess.md
  packages/remirror__extension-codemirror6/CHANGELOG.md
  packages/remirror__extension-codemirror6/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

update contributing
  docs/contributing.md
Labels: none

fix(extension-codemirror6): fix an input rule error
  .changeset/seven-steaks-obey.md
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
Labels: type: changeset :butterfly:

fix
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
Labels: none

fix(extension-codemirror6): fix an input rule error (#1446)
  .changeset/seven-steaks-obey.md
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1447)
  .changeset/seven-steaks-obey.md
  packages/remirror__extension-codemirror6/CHANGELOG.md
  packages/remirror__extension-codemirror6/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

refactor import
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
Labels: none

remove basicSetup
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  packages/storybook-react/stories/extension-codemirror6/with-custom-extension.tsx
Labels: none

Correct a document error
  .changeset/clean-weeks-draw.md
  packages/remirror__extension-code-block/src/code-block-types.ts
Labels: type: changeset :butterfly:

fix text selection
  .changeset/mean-lies-explode.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
Labels: type: changeset :butterfly:

add backspace key to codemirror
  .changeset/fifty-keys-cheat.md
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
Labels: type: changeset :butterfly:

fix backspace
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
  packages/storybook-react/stories/extension-codemirror6/codemirror6.stories.tsx
  packages/storybook-react/stories/extension-codemirror6/styles.css
Labels: none

bug fix
  packages/remirror__extension-code-block/src/code-block-extension.ts
Labels: none

fix
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
Labels: none

feat(extension-codemirror6): add `Backspace` keybinding to CodeMirrorExtension (#1449)
  .changeset/clean-weeks-draw.md
  .changeset/fifty-keys-cheat.md
  .changeset/mean-lies-explode.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  packages/storybook-react/stories/extension-codemirror6/codemirror6.stories.tsx
  packages/storybook-react/stories/extension-codemirror6/styles.css
  packages/storybook-react/stories/extension-codemirror6/with-custom-extension.tsx
Labels: type: changeset :butterfly:

chore(changeset): version update (#1450)
  .changeset/clean-weeks-draw.md
  .changeset/fifty-keys-cheat.md
  .changeset/mean-lies-explode.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-code-block/CHANGELOG.md
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-codemirror6/CHANGELOG.md
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

Fix esbuild browser builds
  packages/remirror__core-utils/package.json
Labels: none

Add changeset
  .changeset/afraid-knives-agree.md
Labels: type: changeset :butterfly:

add `pnpm fix:entry-point` command
  package.json
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

remove old changeset
  .changeset/afraid-knives-agree.md
Labels: type: changeset :butterfly:

add a workaround for preconstruct
  package.json
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

add a workaround for preconstruct
  package.json
Labels: none

remove lint:build
  .github/workflows/ci.yml
Labels: none

fix a small bug for the browser field
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

run pnpm fix
  package.json
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
Labels: none

wip
  packages/remirror__extension-heading/src/heading-extension.ts
Labels: none

docs: fix the css style of CodeMirrorExtension docs
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  packages/storybook-react/stories/extension-codemirror6/codemirror6.stories.tsx
  packages/storybook-react/stories/extension-codemirror6/styles.css
Labels: none

docs: fix the CodeMirrorExtension docs css (#1454)
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  packages/storybook-react/stories/extension-codemirror6/codemirror6.stories.tsx
  packages/storybook-react/stories/extension-codemirror6/styles.css
Labels: none

docs: correct some mistakes (#1442)
  docs/contributing.md
  packages/remirror__dev/readme.md
  packages/remirror__extension-callout/readme.md
  packages/remirror__extension-codemirror5/readme.md
  packages/remirror__extension-codemirror6/readme.md
  packages/remirror__extension-sub/readme.md
  packages/remirror__extension-sup/readme.md
Labels: none

chore(deps): update yjs packages
  package.json
  packages/remirror/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-yjs/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

run pnpm fix
  package.json
  packages/testing/package.json
  pnpm-lock.yaml
  support/scripts/package.json
  website/package.json
Labels: type: support :books:

changeset
  .changeset/eleven-rivers-retire.md
Labels: type: changeset :butterfly:

Update changeset
  .changeset/eleven-rivers-retire.md
Labels: type: changeset :butterfly:

fixup(#1456): Ensure that lib0 and y-protocols are transformed through babel as well
  support/jest/jest.config.js
Labels: type: support :books:

fix(extension-yjs): use the same undo manager instance in all plugin states
  packages/remirror__extension-yjs/__tests__/__snapshots__/yjs-extension.spec.ts.snap
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: test: unit :white_check_mark:

Add changeset
  .changeset/fluffy-humans-sniff.md
Labels: type: changeset :butterfly:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
