Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

prosemirror-view version bumped
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:

added changeset
  .changeset/dull-eggs-walk.md
Labels: type: changeset :butterfly:

deleted an incorrect preselectClass style for react-table-extension
  packages/remirror__extension-react-tables/src/table-plugins.ts
Labels: framework: react :atom_symbol:

added changeset
  .changeset/poor-apples-fry.md
Labels: type: changeset :butterfly:

reverted back css selector order
  packages/remirror__extension-react-tables/src/table-plugins.ts
Labels: framework: react :atom_symbol:

fix(extension-react-tables): deleted an incorrect preselectClass style on react-table-extension (#1577)
  .changeset/poor-apples-fry.md
  packages/remirror__extension-react-tables/src/table-plugins.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(changeset): version update (#1579)
  .changeset/poor-apples-fry.md
  packages/remirror__dev/CHANGELOG.md
  packages/remirror__dev/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

Update dull-eggs-walk.md
  .changeset/dull-eggs-walk.md
Labels: type: changeset :butterfly:

chore(deps): bump prosemirror-view version (#1576)
  .changeset/dull-eggs-walk.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

fix(prosemirror-resizable-view): fix an error during resizing
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
Labels: none

changeset
  .changeset/cold-spies-ring.md
Labels: type: changeset :butterfly:

fix(prosemirror-resizable-view): fix an error during resizing (#1586)
  .changeset/cold-spies-ring.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1587)
  .changeset/cold-spies-ring.md
  package.json
  packages/prosemirror-resizable-view/CHANGELOG.md
  packages/prosemirror-resizable-view/package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-embed/CHANGELOG.md
  packages/remirror__extension-embed/package.json
  packages/remirror__extension-image/CHANGELOG.md
  packages/remirror__extension-image/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

docs: fix the edit link example jumping page scroll. Fixes #1571
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

docs: fix the edit link example jumping page scroll. Fixes #1571 (#1589)
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

fix(link): fix autolink breaking input rules at end of doc. Fixes #1592
  .changeset/lovely-chairs-run.md
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-node-utils.spec.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(link-extension): skip onUpdateLink when link mark not added
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

chore(link): add changeset
  .changeset/sour-experts-check.md
Labels: type: changeset :butterfly:

feat(dev): replace the underlying component with prosemirror-dev-toolkit
  .changeset/thin-impalas-yell.md
  packages/remirror__dev/package.json
  packages/remirror__dev/readme.md
  packages/remirror__dev/src/dev.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix tests
  packages/remirror__dev/__tests__/dev.spec.tsx
Labels: test: unit :white_check_mark:

feat(dev): replace the underlying component with prosemirror-dev-toolkit (#1601)
  .changeset/thin-impalas-yell.md
  packages/remirror__dev/__tests__/dev.spec.tsx
  packages/remirror__dev/package.json
  packages/remirror__dev/readme.md
  packages/remirror__dev/src/dev.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

test(core): add more changed range tests
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
Labels: test: unit :white_check_mark:

fix(link): fix autolink breaking input rules at end of doc (#1598)
  .changeset/lovely-chairs-run.md
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-node-utils.spec.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(mention-atom): mention atom should not allow marks
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
Labels: none

chore(mention-atom): add changeset
  .changeset/stale-seas-pull.md
Labels: type: changeset :butterfly:

chore(italic): apply same logic to paste rules
  .changeset/moody-scissors-burn.md
  packages/remirror__extension-italic/src/italic-extension.ts
Labels: type: changeset :butterfly:

fix(italic): prevent input rule match if within word
  packages/remirror__extension-italic/__tests__/italic-extension.spec.ts
  packages/remirror__extension-italic/src/italic-extension.ts
Labels: test: unit :white_check_mark:

fix(tables,react-tables): avoid highlighting cells while resizing
  .changeset/selfish-toys-draw.md
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(link): skip onUpdateLink when link mark not added (#1600)
  .changeset/sour-experts-check.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(italic): fix formatting issue
  packages/remirror__extension-italic/__tests__/italic-extension.spec.ts
Labels: test: unit :white_check_mark:

fix(tables,react-tables): avoid highlighting cells while resizing (#1605)
  .changeset/selfish-toys-draw.md
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(mention-atom): mention atom should not allow marks (#1564)
  .changeset/moody-scissors-burn.md
  .changeset/stale-seas-pull.md
  packages/remirror__extension-italic/__tests__/italic-extension.spec.ts
  packages/remirror__extension-italic/src/italic-extension.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

feat(events): create a stepping stone migration path for `contextmenu` and `hover` events
  .changeset/tender-zebras-cry.md
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
  packages/remirror__extension-events/src/index.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(deps): bump prosemirror-dev-toolkit version
  .changeset/ninety-pigs-deliver.md
  packages/remirror__dev/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

feat(events): create a "stepping stone" migration path for future `useEvent` changes (#1606)
  .changeset/ninety-pigs-deliver.md
  .changeset/tender-zebras-cry.md
  packages/remirror__dev/package.json
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
  packages/remirror__extension-events/src/index.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(core): prevent shared state between editor plugin instances. Fixes #1607
  .changeset/blue-dodos-reply.md
  packages/remirror__core/src/builtins/plugins-extension.ts
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(core): prevent shared state between editor plugin instances. Fixes #1607 (#1608)
  .changeset/blue-dodos-reply.md
  packages/remirror__core/src/builtins/plugins-extension.ts
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore: update dependencies
  .changeset/hot-pianos-give.md
  packages/remirror__dev/__tests__/dev.spec.tsx
  packages/remirror__dev/package.json
  packages/remirror__dev/src/dev.ts
  packages/remirror__extension-codemirror6/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore: update dependencies (#1610)
  .changeset/hot-pianos-give.md
  packages/remirror__dev/__tests__/dev.spec.tsx
  packages/remirror__dev/package.json
  packages/remirror__dev/src/dev.ts
  packages/remirror__extension-codemirror6/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1611)
  .changeset/hot-pianos-give.md
  packages/remirror__dev/CHANGELOG.md
  packages/remirror__dev/package.json
  packages/remirror__extension-codemirror6/CHANGELOG.md
  packages/remirror__extension-codemirror6/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: type: changeset :butterfly:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
