Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

update message
  packages/remirror__cli/src/utils/run-command.ts
Labels: package: @remirror/cli :pager:

--skip-build
  package.json
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__cli/src/logger.ts
  packages/remirror__cli/src/utils/colors.ts
Labels: package: @remirror/cli :pager:

run `pnpm fix`
  package.json
Labels: none

improve ts jumping for storybook
  packages/storybook-react/package.json
  packages/storybook-react/stories/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

fix typecheck error
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__cli/src/utils/run-command.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-callout/with-emoji-picker.tsx
  packages/storybook-react/stories/extension-gap-cursor/basic.tsx
  packages/storybook-react/stories/extension-placeholder/basic.tsx
  packages/storybook-react/stories/extension-placeholder/with-custom-style.tsx
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

chore: improve cli workflow (#1804)
  package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__cli/src/logger.ts
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__cli/src/utils/colors.ts
  packages/remirror__cli/src/utils/run-command.ts
  packages/remirror__cli/src/utils/run-custom-script.ts
  packages/remirror__cli/src/utils/run-tsc.ts
  packages/remirror__theme/package.json
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-callout/with-emoji-picker.tsx
  packages/storybook-react/stories/extension-gap-cursor/basic.tsx
  packages/storybook-react/stories/extension-placeholder/basic.tsx
  packages/storybook-react/stories/extension-placeholder/with-custom-style.tsx
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  support/root/tsconfig.json
  support/scripts/package.json
  support/scripts/src/check-styles.ts
  support/scripts/src/deprecate-version.ts
Labels: package: @remirror/cli :pager:, type: ui :nail_care:, type: support :books:

chore: remove aws-cdk
  package.json
  pnpm-lock.yaml
Labels: none

chore: remove aws-cdk (#1805)
  package.json
  pnpm-lock.yaml
Labels: none

chore: use corepack to install pnpm
  docs/contributing.md
  support/actions/pnpm/action.yml
Labels: none

fix docs
  docs/contributing.md
Labels: none

chore: use corepack to install pnpm (#1808)
  docs/contributing.md
  support/actions/pnpm/action.yml
Labels: none

perf(link-ext): check if balanced only once
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

simplify logic to get balanced path index
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

added missing return types
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

refactor
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

feat(link): improve autolink behaviour
  .changeset/curvy-tomatoes-beam.md
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(react-core): only re-create initialEditorState when re-mounting
  packages/remirror__react-core/src/hooks/use-react-framework.tsx
Labels: framework: react :atom_symbol:

add changeset
  .changeset/tidy-tips-sit.md
Labels: type: changeset :butterfly:

fix(react-core): only re-create initialEditorState when re-mounting (#1813)
  .changeset/tidy-tips-sit.md
  packages/remirror__react-core/src/hooks/use-react-framework.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

wip
  packages/remirror__extension-list/__tests__/experimental/item-keymap.spec.ts
  packages/remirror__extension-list/src/experimental/auto-join-item-plugin.ts
  packages/remirror__extension-list/src/experimental/dom-utils.ts
  packages/remirror__extension-list/src/experimental/item-commands.ts
  packages/remirror__extension-list/src/experimental/item-extension.ts
  packages/remirror__extension-list/src/experimental/item-input-rule.ts
  packages/remirror__extension-list/src/experimental/item-keymap.ts
  packages/remirror__extension-list/src/experimental/item-types.ts
  packages/remirror__extension-list/src/experimental/item-utils.ts
  packages/remirror__extension-list/src/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-list.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-list-theme.ts
  packages/storybook-react/stories/extension-list/experimental.tsx
  packages/storybook-react/stories/extension-list/list-extension.stories.tsx
  website/extension-examples/extension-list/experimental.tsx
Labels: type: ui :nail_care:, test: unit :white_check_mark:

add extension-item
  packages/remirror__extension-item/__tests__/item-keymap.spec.ts
  packages/remirror__extension-item/__tests__/tsconfig.json
  packages/remirror__extension-item/package.json
  packages/remirror__extension-item/readme.md
  packages/remirror__extension-item/src/experimental/auto-join-item-plugin.ts
  packages/remirror__extension-item/src/experimental/dom-utils.ts
  packages/remirror__extension-item/src/experimental/item-commands.ts
  packages/remirror__extension-item/src/experimental/item-extension.ts
  packages/remirror__extension-item/src/experimental/item-input-rule.ts
  packages/remirror__extension-item/src/experimental/item-keymap.ts
  packages/remirror__extension-item/src/experimental/item-types.ts
  packages/remirror__extension-item/src/experimental/item-utils.ts
  packages/remirror__extension-item/src/index.ts
  packages/remirror__extension-item/src/tsconfig.json
  pnpm-lock.yaml
  support/root/tsconfig.json
Labels: test: unit :white_check_mark:, type: support :books:

feat(emoji-ext): add supported characters option
  .changeset/curly-stingrays-dress.md
  packages/remirror__extension-emoji/src/emoji-extension.ts
  packages/remirror__extension-emoji/src/emoji-utils.ts
Labels: type: changeset :butterfly:

chore: update docusaurus to v2.0.1
  pnpm-lock.yaml
  website/package.json
Labels: none

wip: add algolia config
  website/docusaurus.config.cjs
Labels: none

chore: update docusaurus to v2.0.1
  pnpm-lock.yaml
  website/docusaurus.config.cjs
  website/package.json
Labels: none

chore: update docusaurus to v2.0.1 (#1820)
  pnpm-lock.yaml
  website/docusaurus.config.cjs
  website/package.json
Labels: none

add remark-sectionize
  pnpm-lock.yaml
  website/docusaurus.config.cjs
  website/package.json
  website/styles.css
Labels: none

update style
  website/styles.css
Labels: none

refactor some types
  packages/remirror__extension-entity-reference/src/entity-reference-positioners.ts
  packages/remirror__extension-positioner/src/core-positioners.ts
  packages/remirror__extension-positioner/src/positioner-extension.ts
Labels: none

add bundledPackages
  support/scripts/src/generate-api.ts
Labels: type: support :books:

install ts-documenter
  package.json
  pnpm-lock.yaml
Labels: none

fix lint
  .gitignore
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

disale algolia for now
  website/docusaurus.config.cjs
Labels: none

Revert "disale algolia for now"
  website/docusaurus.config.cjs
Labels: none

fix prettier
  package.json
Labels: none

install ts-documenter: ^0.0.4
  pnpm-lock.yaml
Labels: none

docs: only export one markdown file for each package (#1819)
  .gitignore
  package.json
  packages/remirror__extension-entity-reference/src/entity-reference-positioners.ts
  packages/remirror__extension-positioner/src/core-positioners.ts
  packages/remirror__extension-positioner/src/positioner-extension.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-api.ts
  website/docusaurus.config.cjs
  website/package.json
  website/styles.css
Labels: type: support :books:

docs: rename @template => @typeParam
  packages/create-context-state/src/create-context-hook.tsx
  packages/create-context-state/src/create-context-state.tsx
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/multishift/src/multishift-types.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
  packages/prosemirror-suggest/src/suggest-types.ts
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__core-types/src/props-types.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/src/builtins/builtin-decorators.ts
  packages/remirror__core/src/builtins/schema-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__pm/src/extra/pm-types.ts
Labels: package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:

docs: fix some typo
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
Labels: none

insertHorizontalRule as decorated command
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-extension.ts
Labels: none

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
