Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

fix: typos on homepage (#1187)
  website/src/pages/index.tsx
Labels: none

chore(deps): update dependency @types/prosemirror-dropcursor to ^1.0.3
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: none

feat: use modern tables for pre-packaged editors
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/remirror__react-editors/src/components/top-toolbar.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: framework: react :atom_symbol:, type: support :books:

feat: use modern tables for pre-packaged editors (#1191)
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/remirror__react-editors/src/components/top-toolbar.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: framework: react :atom_symbol:, type: support :books:

fix: storybook exposed a non-functioning story
  packages/storybook-react/stories/extension-react-tables/react-tables-extension.stories.tsx
Labels: none

fix: storybook exposed a non-functioning story (#1192)
  packages/storybook-react/stories/extension-react-tables/react-tables-extension.stories.tsx
Labels: none

feat: improve design of default table components
  packages/remirror__extension-react-tables/src/components/table-cell-menu.tsx
Labels: framework: react :atom_symbol:

Remove unused import
  packages/remirror__extension-react-tables/src/components/table-cell-menu.tsx
Labels: framework: react :atom_symbol:

feat: improve design of default table components (#1193)
  packages/remirror__extension-react-tables/src/components/table-cell-menu.tsx
Labels: framework: react :atom_symbol:

fix: task list was not available in SocialEditor
  .changeset/eight-bears-relate.md
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
Labels: type: changeset :butterfly:

fix: task list was not available in SocialEditor (#1194)
  .changeset/eight-bears-relate.md
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
Labels: type: changeset :butterfly:

fix(extension-list): don't create a node selection within the `toggleCheckboxChecked` command
  .changeset/six-readers-hug.md
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:

fix
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: none

lint
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: none

fix(extension-list): don't create a node selection within the `toggleCheckboxChecked` command (#1196)
  .changeset/six-readers-hug.md
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1195)
  .changeset/eight-bears-relate.md
  .changeset/six-readers-hug.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(extension-list): fix click checkbox
  .changeset/heavy-books-argue.md
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:

fix(extension-list): fix click checkbox (#1198)
  .changeset/heavy-books-argue.md
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1199)
  .changeset/heavy-books-argue.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore: update funding.yml
  .github/funding.yml
Labels: none

chore: update funding.yml (#1200)
  .github/funding.yml
Labels: none

chore(deps): update dependency remark-footnotes to v4
  pnpm-lock.yaml
  website/package.json
Labels: none

update linaria
  pnpm-lock.yaml
Labels: none

update ws
  pnpm-lock.yaml
Labels: none

update renovate config
  package.json
Labels: none

fix(react-hooks): fix an out of range error when there is nothing in the dropdown menu
  .changeset/rare-starfishes-behave.md
  packages/remirror__react-hooks/src/use-menu-navigation.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(react-hooks): fix an out of range error when there is nothing in the dropdown menu (#1203)
  .changeset/rare-starfishes-behave.md
  packages/remirror__react-hooks/src/use-menu-navigation.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

add script
  support/scripts/src/remirror-dependencies.ts
Labels: type: support :books:

fix script
  support/scripts/src/remirror-dependencies.ts
Labels: type: support :books:

fix
  package.json
  support/scripts/package.json
  support/scripts/src/lint-remirror-dependencies.ts
Labels: type: support :books:

fix
  support/scripts/lint-remirror-dependencies/package.json
  support/scripts/package.json
Labels: type: support :books:

try
  support/scripts/src/lint-remirror-dependencies.ts
Labels: type: support :books:

fox
  support/scripts/src/lint-remirror-dependencies.ts
Labels: type: support :books:

update
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  support/scripts/src/lint-remirror-dependencies.ts
Labels: type: support :books:

update
  packages/remirror/src/tsconfig.json
  support/scripts/src/lint-remirror-dependencies.ts
Labels: type: support :books:

add changeset.
  .changeset/lovely-humans-sleep.md
Labels: type: changeset :butterfly:

update ci
  .github/workflows/ci.yml
Labels: none

pnpm
  pnpm-lock.yaml
Labels: none

fix docs
  .changeset/fresh-plums-relate.md
  docs/concepts/error-handling.md
  docs/concepts/extra-attributes.md
  docs/concepts/priority.md
  packages/remirror/CHANGELOG.md
  packages/remirror__core/CHANGELOG.md
  packages/remirror__core/__tests__/schema-extension.spec.ts
  packages/remirror__core/src/builtins/schema-extension.ts
  packages/remirror__core/src/manager/remirror-manager.ts
  packages/remirror__preset-wysiwyg/readme.md
  packages/remirror__react-core/src/hooks/use-remirror.tsx
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  packages/remirror__react/package.json
  packages/remirror__react/src/index.ts
  packages/storybook-react/stories/react-components/floating-menu.stories.tsx
  packages/storybook-react/stories/react-components/toolbar.stories.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

update
  packages/remirror__react/src/tsconfig.json
  packages/storybook-react/stories/react-components/floating-menu.stories.tsx
  packages/storybook-react/stories/react-components/toolbar.stories.tsx
Labels: framework: react :atom_symbol:
