Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

chore(ci): try to fix ci test
  support/actions/pnpm/action.yml
Labels: none

chore: run ci for branch v3 (#2174)
  .github/workflows/ci.yml
Labels: none

chore: cache more output files
  turbo.json
Labels: none

chore: build jest-prosemirror
  package.json
Labels: none

chore: run pnpm dedupe
  pnpm-lock.yaml
Labels: none

chore: build testing
  package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__cli/src/utils/build-package.ts
  packages/testing/package.json
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

chore: fix test
  packages/jest-remirror/src/jest-remirror-validator.ts
  packages/remirror__extension-collaboration/__tests__/collaboration-extension.spec.ts
  packages/remirror__extension-list/__tests__/task-list-extension.spec.ts
  packages/remirror__react-core/__tests__/__snapshots__/react-component-extension.spec.tsx.snap
  packages/remirror__react-core/__tests__/core-node.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__react-core/__tests__/portals.spec.tsx
  packages/remirror__react-core/__tests__/react-component-extension.spec.tsx
  packages/remirror__react-core/__tests__/use-manager.spec.tsx
  packages/remirror__react-core/__tests__/use-remirror-context.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention-atom.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention.spec.tsx
Labels: package: jest-remirror :black_joker:, test: unit :white_check_mark:

chore(ci): increase timeout-minutes
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

chore: run pnpm fix
  packages/remirror__react-hooks/__tests__/use-mention.spec.tsx
Labels: test: unit :white_check_mark:

chore: fix publish-v3 name
  .github/workflows/publish-v3.yml
Labels: none

chore(ci): add publish-v3 workflow
  .github/workflows/publish-v3.yml
  .github/workflows/version.yml
Labels: none

chore(ci): add concurrency
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
Labels: none

chore(ci): add publish-v3 workflow (#2176)
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
Labels: none

chore: set publish branch to v3
  package.json
Labels: none

chore(ci): add turborepo environment variables
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/label-pull-requests.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

chore(ci): add turborepo environment variables (#2177)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/label-pull-requests.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

feat(mention-atom): add leaf text for mention atom nodes
  .changeset/friendly-pears-promise.md
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__extension-mention-atom/__tests__/mention-atom-extension.spec.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore: fix the build script for @remirror/messages and @remirror/theme
  packages/remirror__messages/package.json
  packages/remirror__theme/package.json
Labels: type: ui :nail_care:

chore: fix the build script for @remirror/react
  package.json
  packages/remirror__react/package.json
Labels: framework: react :atom_symbol:

chore: add script `build:packages:force`
  package.json
Labels: none

fix(pm): update ProseMirror dependencies to latest versions
  .changeset/clever-lions-breathe.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-doc/__tests__/doc-extension.spec.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:, test: unit :white_check_mark:

fix(pm): update ProseMirror dependencies to latest versions (#2192)
  .changeset/clever-lions-breathe.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-doc/__tests__/doc-extension.spec.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:, test: unit :white_check_mark:

chore: reorganise storybook and add changeset
  .changeset/three-schools-build.md
  packages/remirror__react-ui/package.json
  packages/remirror__react-ui/src/find-replace/find-replace-component.tsx
  packages/remirror__react-ui/src/providers/index.ts
  packages/remirror__react-ui/src/providers/ui-theme-provider.tsx
  packages/remirror__react-ui/src/toolbar/base-toolbar.tsx
  packages/storybook-react/.storybook/preview.js
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/react-components/emoji-popup.stories.tsx
  packages/storybook-react/stories/react-components/mention-atom-popup.stories.tsx
  packages/storybook-react/stories/react-components/node-with-content.stories.tsx
  packages/storybook-react/stories/react-ui/find-replace.stories.tsx
  packages/storybook-react/stories/react-ui/floating-menu.stories.tsx
  packages/storybook-react/stories/react-ui/sample-content/huge.ts
  packages/storybook-react/stories/react-ui/sample-content/medium.ts
  packages/storybook-react/stories/react-ui/toolbar.stories.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore: change @remirror/react-ui initial version
  packages/remirror__react-editors/package.json
  packages/remirror__react-ui/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

docs: add custom mui theme example
  packages/storybook-react/package.json
  packages/storybook-react/stories/react-ui/custom-mui-theme.stories.tsx
  packages/storybook-react/stories/react-ui/sample-content/code-block.ts
  pnpm-lock.yaml
Labels: none

feat(mention-atom): add leaf text for mention atom nodes (#2190)
  .changeset/friendly-pears-promise.md
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__extension-mention-atom/__tests__/mention-atom-extension.spec.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(core): remove deprecated extensionDecorator
  docs/concepts/extension.md
  docs/concepts/keymap.md
  docs/concepts/priority.md
  packages/remirror__core-types/src/annotation-types.ts
  packages/remirror__core/src/extension/extension-decorator.ts
Labels: none

fix(core): make extension decorator backward compatible (when called as function)
  .changeset/smart-garlics-bow.md
  packages/remirror__core/__tests__/decorators.spec.ts
  packages/remirror__core/src/extension/extension-decorator.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore: fix `watch:skip-build` script
  package.json
Labels: none

feat: make `extension` decorator backwards compatible when called as function (#2191)
  .changeset/smart-garlics-bow.md
  docs/concepts/extension.md
  docs/concepts/keymap.md
  docs/concepts/priority.md
  packages/remirror__core-types/src/annotation-types.ts
  packages/remirror__core/__tests__/decorators.spec.ts
  packages/remirror__core/src/extension/extension-decorator.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

docs: remove beta notice from file extension
  docs/extensions/file-extension.mdx
  packages/remirror__extension-file/readme.md
Labels: none

fix: remove incorrect usage statement from `@remirror/react-ui` readme
  packages/remirror__react-ui/readme.md
Labels: none

docs: add orphaned extension docs to the index page
  docs/extensions/index.md
Labels: none

docs: add orphaned extension docs to the index page
  docs/extensions/index.md
  packages/remirror__react-components/package.json
  packages/remirror__react-ui/package.json
  packages/remirror__react-ui/src/providers/ui-theme-provider.tsx
  packages/storybook-react/package.json
  packages/storybook-react/stories/react-ui/custom-mui-theme.stories.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:

docs: tidy up (#2196)
  docs/extensions/file-extension.mdx
  docs/extensions/index.md
  packages/remirror__extension-file/readme.md
  packages/remirror__react-components/package.json
  packages/remirror__react-ui/package.json
  packages/remirror__react-ui/readme.md
  packages/remirror__react-ui/src/providers/ui-theme-provider.tsx
  packages/storybook-react/package.json
  packages/storybook-react/stories/react-ui/custom-mui-theme.stories.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:

chore: downgrade build target
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

add changeset
  .changeset/quick-trainers-decide.md
Labels: type: changeset :butterfly:

fix ESM export
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

fix: dependency order
  packages/remirror__cli/package.json
Labels: package: @remirror/cli :pager:

update
  packages/remirror__cli/package.json
Labels: package: @remirror/cli :pager:
