Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

chore(changeset): version update (#1376)
  .changeset/new-roses-wait.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-shortcuts/CHANGELOG.md
  packages/remirror__extension-shortcuts/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix: removeFontSize should respect user text selection
  packages/remirror__extension-font-size/__tests__/font-size-extension.spec.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
Labels: test: unit :white_check_mark:

Add changeset
  .changeset/thick-zebras-admire.md
Labels: type: changeset :butterfly:

Improve readability of test
  packages/remirror__extension-font-size/__tests__/font-size-extension.spec.ts
Labels: test: unit :white_check_mark:

Fix/remove fontsize (#1377)
  .changeset/thick-zebras-admire.md
  packages/remirror__extension-font-size/__tests__/font-size-extension.spec.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix: remove rules depending on capture groups
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
Labels: none

fix code docs
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
Labels: none

Add changeset
  .changeset/two-gifts-float.md
Labels: type: changeset :butterfly:

fix: remove rules depending on capture groups (#1379)
  .changeset/two-gifts-float.md
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1378)
  .changeset/thick-zebras-admire.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-font-size/CHANGELOG.md
  packages/remirror__extension-font-size/package.json
  packages/remirror__preset-formatting/CHANGELOG.md
  packages/remirror__preset-formatting/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(changeset): version update (#1380)
  .changeset/two-gifts-float.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-shortcuts/CHANGELOG.md
  packages/remirror__extension-shortcuts/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(deps): update prosemirror dependencies
  .changeset/smart-steaks-end.md
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

chore(deps): update prosemirror dependencies (#1382)
  .changeset/smart-steaks-end.md
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix(core): fix an issue that causes uploading files failed to be updated after a replace step
  .changeset/friendly-gorillas-roll.md
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
Labels: type: changeset :butterfly:

fix(core): find the upload placeholder position by searching through the document (#1384)
  .changeset/friendly-gorillas-roll.md
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
Labels: type: changeset :butterfly:

docs: correct create-manager docs typo (#1313)
  docs/getting-started/create-manager.md
Labels: none

fix: fix browser exports paths
  .changeset/lovely-rabbits-smoke.md
  packages/docusaurus-plugin-examples/package.json
  packages/jest-prosemirror/package.json
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__i18n/package.json
  packages/remirror__icons/package.json
  packages/remirror__pm/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/testing/package.json
  support/scripts/src/generate-configs.ts
Labels: package: jest-prosemirror :performing_arts:, framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:, type: support :books:

fix(scripts): fix browser exports paths (#1389)
  .changeset/lovely-rabbits-smoke.md
  packages/docusaurus-plugin-examples/package.json
  packages/jest-prosemirror/package.json
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__i18n/package.json
  packages/remirror__icons/package.json
  packages/remirror__pm/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/testing/package.json
  support/scripts/src/generate-configs.ts
Labels: package: jest-prosemirror :performing_arts:, framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:, type: support :books:

docs: fix react controlled code example (#1314)
  docs/react/controlled.md
Labels: none

feat(extension-codemirror6): first version of extension-codemirror6
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-codemirror6/readme.md
  packages/remirror__extension-codemirror6/src/codemirror6-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror6-node-view.ts
  packages/remirror__extension-codemirror6/src/codemirror6-utils.ts
  packages/remirror__extension-codemirror6/src/index.ts
  packages/remirror__extension-codemirror6/src/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  packages/storybook-react/stories/extension-codemirror6/codemirror6.stories.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-codemirror6/basic.tsx
Labels: type: support :books:

changeset
  .changeset/gentle-apples-confess.md
Labels: type: changeset :butterfly:

fix(extension-image): restore image dimensions correctly
  .changeset/dry-worms-tan.md
  packages/remirror__extension-image/src/image-extension.ts
Labels: type: changeset :butterfly:

fix(extension-image): restore image dimensions correctly (#1392)
  .changeset/dry-worms-tan.md
  packages/remirror__extension-image/src/image-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1393)
  .changeset/dry-worms-tan.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-image/CHANGELOG.md
  packages/remirror__extension-image/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

docs: add blog post on positioner performance
  docs/extensions/positioner-extension.mdx
  website/blog/2021-11-24-positioner-performance.md
Labels: none

docs: add blog post on positioner performance (#1394)
  docs/extensions/positioner-extension.mdx
  website/blog/2021-11-24-positioner-performance.md
Labels: none

chore(deps): update dependency jest-extended to v1
  package.json
  pnpm-lock.yaml
Labels: none

chore(deps): update dependency load-json-file to v7
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

fix import
  support/scripts/src/enable-pr-changeset.ts
  support/scripts/src/generate-icons.ts
  support/scripts/src/read-config.ts
Labels: type: support :books:

fix import
  support/jest/jest.framework.ts
Labels: type: support :books:

docs: explain better implementation of annotations
  docs/extensions/annotation-extension.mdx
Labels: none

docs: explain better implementation of annotations (#1397)
  docs/extensions/annotation-extension.mdx
Labels: none

docs: example of font size extension initial content using JSON
  docs/extensions/font-size-extension.mdx
Labels: none

run `pnpm fix`
  docs/extensions/font-size-extension.mdx
Labels: none

ci: fix the workflow pr-name-linter
  .github/workflows/pr-name-linter.yml
Labels: none

docs: add an example of font size extension initial content using JSON (#1402)
  docs/extensions/font-size-extension.mdx
Labels: none

install commitlint under $HOME
  .github/workflows/pr-name-linter.yml
Labels: none

docs: correct a duplicate import
  docs/react/refs.md
Labels: none

Revert "install commitlint under $HOME"
  .github/workflows/pr-name-linter.yml
Labels: none

/tmp/pr-name-linter-dir
  .github/workflows/pr-name-linter.yml
Labels: none
