Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

Install @prettier/sync
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/formatter.ts
  pnpm-lock.yaml
Labels: none

Run pnpm fix
  .size-limit.json
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  support/scripts/src/generate-icons.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: support :books:

Fix testing import
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
Labels: test: unit :white_check_mark:

fix test
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/src/formatter.ts
Labels: test: unit :white_check_mark:

chore(deps): update dependency prettier to v3 (#2139)
  .changeset/quick-ears-argue.md
  .size-limit.json
  package.json
  packages/remirror/package.json
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

chore(deps): update prosemirorr dependencies
  .changeset/smooth-ravens-look.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-embed/package.json
  packages/remirror__extension-image/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

chore(deps): update prosemirorr dependencies (#2141)
  .changeset/smooth-ravens-look.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-embed/package.json
  packages/remirror__extension-image/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

Update extension.md - incorrect link
  docs/concepts/extension.md
Labels: none

docs: correct link in extension.md (#2145)
  docs/concepts/extension.md
Labels: none

fix: revert prettier back to v2.8.8
  .size-limit.json
  package.json
  packages/remirror/package.json
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:, test: unit :white_check_mark:, type: support :books:

Add changeset
  .changeset/tiny-points-sing.md
Labels: type: changeset :butterfly:

Lint
  .size-limit.json
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/src/tsconfig.json
Labels: none

fix: revert prettier back to v2.8.8 (#2149)
  .changeset/tiny-points-sing.md
  .size-limit.json
  package.json
  packages/remirror/package.json
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

chore(changeset): version update (#2150)
  .changeset/tiny-points-sing.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-code-block/CHANGELOG.md
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

docs(core-types): add descriptions for the new types
  packages/remirror__core-types/src/core-types.ts
Labels: none

chore: update changeset
  .changeset/pretty-donkeys-crash.md
Labels: type: changeset :butterfly:

fix:click events cannot be obtained for individual string links
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
Labels: test: unit :white_check_mark:

chore: add changeset file
  .changeset/wild-days-tickle.md
Labels: type: changeset :butterfly:

fix(extension-events): click events cannot be obtained for individual string links (#2144)
  .changeset/wild-days-tickle.md
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

[CHORE] Remove make-plural and remirror plurals
  docs/errors.md
  packages/remirror__i18n/__tests__/plurals.spec.ts
  packages/remirror__i18n/package.json
  packages/remirror__i18n/plurals/package.json
  packages/remirror__i18n/readme.md
  packages/remirror__i18n/src/index.ts
  packages/remirror__i18n/src/plurals.ts
  packages/remirror__react-core/src/hooks/use-i18n.ts
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

[CHORE] Remove depricated lingui config
  lingui.config.js
Labels: none

[CHORE] Applied `pnpm fix`
  packages/remirror__i18n/src/index.ts
  packages/remirror__react-core/src/hooks/use-i18n.ts
Labels: framework: react :atom_symbol:

[CHORE] Add changeset
  .changeset/hungry-rules-scream.md
Labels: type: changeset :butterfly:

chore: remove jsx-dom-cjs
  .changeset/cuddly-plants-suffer.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-react-tables/src/utils/controller.ts
  packages/remirror__extension-react-tables/src/utils/dom.ts
  packages/remirror__extension-react-tables/src/utils/jsx.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

run pnpm fix
  packages/remirror__extension-react-tables/src/utils/controller.ts
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

fix dataset
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

refactor
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

fix test
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

Update packages/remirror__extension-react-tables/src/utils/dom.ts
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

remove comment
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

use cx
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

use regex
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

remove debug code
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

fix import
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

fix type
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

use element.className
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

remove export HTMLAttributes
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:

disable experimentalDecorators
  support/tsconfig.base.json
Labels: type: support :books:

feat: use stage-3 ES decorator
  packages/remirror__core/__tests__/decorators.spec.ts
  packages/remirror__core/src/builtins/builtin-decorators.ts
  packages/remirror__core/src/extension/extension-decorator.ts
  packages/remirror__core/src/index.ts
  packages/remirror__core/src/types.ts
Labels: test: unit :white_check_mark:

Update deps
  .swcrc
  package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
  website/package.json
Labels: package: @remirror/cli :pager:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
