Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

downgrade extract-domain
  packages/remirror__extension-link/package.json
  pnpm-lock.yaml
Labels: none

update size-limit
  package.json
Labels: none

update .size-limit.json
  .size-limit.json
  packages/remirror__core-types/package.json
  packages/remirror__types/package.json
Labels: none

add changeset
  .changeset/lovely-bikes-move.md
Labels: type: changeset :butterfly:

Update ci timeout
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

chore(eslint): fix react version setting (#2011)
  .eslintrc.js
Labels: none

fix(core): fix paste command on Firefox
  .changeset/thick-lizards-train.md
  packages/remirror__core/src/builtins/commands-extension.ts
Labels: type: changeset :butterfly:

chore: increase ci timeout
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
Labels: none

fix(react-components): add wrapper to buttons to eliminate MUI tooltip error (#2023)
  .changeset/strong-bags-hunt.md
  packages/remirror__react-components/src/buttons/command-button.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore: increase ci timeout (#2036)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
Labels: none

bug fix
  packages/remirror__core/src/builtins/commands-extension.ts
Labels: none

chore: update pnpm to v8
  package.json
  pnpm-lock.yaml
Labels: none

fix(core): fix paste command on Firefox (#2035)
  .changeset/thick-lizards-train.md
  packages/remirror__core/src/builtins/commands-extension.ts
Labels: type: changeset :butterfly:

chore: update pnpm to v8 (#2037)
  package.json
  pnpm-lock.yaml
Labels: none

feat(events-extension) - added cut event
  packages/remirror__extension-events/src/events-extension.ts
Labels: none

fix(theme): fix typing files
  .changeset/swift-years-wait.md
  packages/remirror__theme/package.json
  packages/remirror__theme/public/remirror-theme.d.ts
Labels: type: ui :nail_care:, type: changeset :butterfly:

w
  .changeset/config.json
Labels: type: changeset :butterfly:

update changeset
  .changeset/swift-years-wait.md
Labels: type: changeset :butterfly:

run pnpm fix
  .changeset/config.json
Labels: type: changeset :butterfly:

fix(theme): fix typing file (#2038)
  .changeset/config.json
  .changeset/swift-years-wait.md
  packages/remirror__theme/package.json
  packages/remirror__theme/public/remirror-theme.d.ts
Labels: type: ui :nail_care:, type: changeset :butterfly:

chore(changeset): version update (#2039)
  .changeset/swift-years-wait.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-blockquote/package.json
  packages/remirror__extension-callout/package.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-emoji/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-image/package.json
  packages/remirror__extension-list/package.json
  packages/remirror__extension-mention-atom/package.json
  packages/remirror__extension-placeholder/package.json
  packages/remirror__extension-positioner/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-text-color/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__theme/CHANGELOG.md
  packages/remirror__theme/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix(messages): fix typing file
  .changeset/eighty-dodos-promise.md
  packages/remirror__messages/package.json
  packages/remirror__messages/public/remirror-messages.d.ts
Labels: type: changeset :butterfly:

fix(messages): fix typing file (#2040)
  .changeset/eighty-dodos-promise.md
  packages/remirror__messages/package.json
  packages/remirror__messages/public/remirror-messages.d.ts
Labels: type: changeset :butterfly:

chore(docs) - added cut event in docs as well
  docs/hooks/use-editor-event.md
  docs/hooks/use-event.md
Labels: none

docs: add changeset
  .changeset/lovely-horses-tease.md
Labels: type: changeset :butterfly:

feat(extension-events): add cut event (#2042)
  .changeset/lovely-horses-tease.md
  docs/hooks/use-editor-event.md
  docs/hooks/use-event.md
  packages/remirror__extension-events/src/events-extension.ts
Labels: type: changeset :butterfly:

fix(core): export type `ClassName`
  .changeset/smart-seahorses-sort.md
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
Labels: type: changeset :butterfly:

fix(core): export type `ClassName` (#2046)
  .changeset/smart-seahorses-sort.md
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
Labels: type: changeset :butterfly:

chore: ts-eslint define path to project tsconfig
  .eslintrc.js
  package.json
  tsconfig.eslint.json
Labels: none

disable selected warning to reduce noise
  packages/remirror__extension-count/__tests__/count-extension.spec.ts
  packages/remirror__theme/src/utils.ts
Labels: type: ui :nail_care:, test: unit :white_check_mark:

restore prev md linting rules - testing
  .eslintrc.js
  package.json
Labels: none

restore parser option for md files
  .eslintrc.js
  package.json
Labels: none

enable md linting by default
  .eslintrc.js
  package.json
Labels: none

Added theme customization support for react-editors
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/types.ts
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
Labels: framework: react :atom_symbol:

chore: fix renovate warning about internal package
  package.json
Labels: none

chore: fix renovate warning about internal package (#2052)
  package.json
Labels: none

chore: run pnpm fix
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/types.ts
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
Labels: framework: react :atom_symbol:

docs: add changeset
  .changeset/ten-wolves-own.md
Labels: type: changeset :butterfly:

update renovate config
  package.json
Labels: none

feat: add theme customization support for react-editors (#2050)
  .changeset/ten-wolves-own.md
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/types.ts
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
