Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

docs: bring showcases back
  docs/showcase/index.md
  docs/showcase/markdown.mdx
  docs/showcase/richtext.mdx
  docs/showcase/social.mdx
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
  packages/storybook-react/stories/react-editors/social-editor.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.stories.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.tsx
  website/extension-examples/react-editors/markdown-editor.tsx
  website/extension-examples/react-editors/social-editor.tsx
  website/extension-examples/react-editors/wysiwyg-editor.tsx
  website/sidebar.cjs
Labels: none

Fix the priority of PlaceholderExtension
  packages/remirror__preset-react/src/react-extension.ts
Labels: framework: react :atom_symbol:

Fix tests
  packages/remirror__extension-react-component/__tests__/__snapshots__/react-component-extension.spec.tsx.snap
  packages/remirror__react-core/__tests__/__snapshots__/controlled.spec.tsx.snap
  packages/remirror__react-core/__tests__/__snapshots__/react-remirror.spec.tsx.snap
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__react-core/__tests__/use-remirror-context.spec.tsx
Labels: test: unit :white_check_mark:

fix(react-core): don't override placeholder extension options (#1778)
  .changeset/tough-maps-visit.md
  .changeset/violet-wolves-deliver.md
  packages/remirror__extension-react-component/__tests__/__snapshots__/react-component-extension.spec.tsx.snap
  packages/remirror__preset-react/src/react-extension.ts
  packages/remirror__react-core/__tests__/__snapshots__/controlled.spec.tsx.snap
  packages/remirror__react-core/__tests__/__snapshots__/react-remirror.spec.tsx.snap
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__react-core/__tests__/on-change.spec.tsx
  packages/remirror__react-core/__tests__/use-remirror-context.spec.tsx
  packages/remirror__react-core/src/hooks/use-react-framework.tsx
  packages/storybook-react/stories/extension-placeholder/placeholder-extension.stories.tsx
  packages/storybook-react/stories/extension-placeholder/styles.css
  packages/storybook-react/stories/extension-placeholder/with-custom-style.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.tsx
  website/extension-examples/extension-placeholder/with-custom-style.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

docs: bring showcases back (#1777)
  docs/showcase/index.md
  docs/showcase/markdown.mdx
  docs/showcase/richtext.mdx
  docs/showcase/social.mdx
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
  packages/storybook-react/stories/react-editors/social-editor.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.stories.tsx
  website/extension-examples/react-editors/markdown-editor.tsx
  website/extension-examples/react-editors/social-editor.tsx
  website/extension-examples/react-editors/wysiwyg-editor.tsx
  website/sidebar.cjs
Labels: none

chore(deps): update prosemirror-tables
  packages/jest-prosemirror/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:

chore: update prosemirror packages
  .changeset/fast-lions-sing.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

chore: update prosemirror-tables
  packages/jest-prosemirror/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:

fix: fix types
  packages/remirror__pm/src/tables.ts
Labels: none

chore(deps): update prosemirror packages (#1779)
  .changeset/fast-lions-sing.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
  packages/remirror__pm/src/tables.ts
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

fix: export entity-reference positioner
  packages/remirror__extension-entity-reference/src/index.ts
Labels: none

fix: export entity-reference positioner (#1781)
  packages/remirror__extension-entity-reference/src/index.ts
Labels: none

feat: add helper to get shortest entity reference
  packages/remirror__extension-entity-reference/__tests__/shortest-entity-reference.spec.ts
  packages/remirror__extension-entity-reference/src/index.ts
  packages/remirror__extension-entity-reference/src/utils/shortest-entity-reference.ts
Labels: test: unit :white_check_mark:

Add changeset
  .changeset/good-apples-report.md
Labels: type: changeset :butterfly:

feat: add helper to get shortest entity reference (#1782)
  .changeset/good-apples-report.md
  packages/remirror__extension-entity-reference/__tests__/shortest-entity-reference.spec.ts
  packages/remirror__extension-entity-reference/src/index.ts
  packages/remirror__extension-entity-reference/src/utils/shortest-entity-reference.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

v25.1.0
  .github/workflows/storybook.yml
Labels: none

test: add a test case to reproduce this issue
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
Labels: test: unit :white_check_mark:

docs: add css to storybook
  packages/storybook-react/stories/react-components/emoji-popup.stories.tsx
Labels: none

fix: don't create empty text node when pasting
  .changeset/nice-ties-raise.md
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:

fix(paste-rules): handle adjacent inline matches correctly (#1789)
  .changeset/nice-ties-raise.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
  packages/storybook-react/stories/react-components/emoji-popup.stories.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(react-tables): prevent duplication of controller cells on copy/paste. Fixes #995
  packages/remirror__extension-react-tables/src/react-table-commands.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-react-tables/src/utils/controller.ts
  packages/remirror__extension-react-tables/src/views/table-view.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/remirror__extension-tables/src/table-utils.ts
Labels: framework: react :atom_symbol:

fix(react-tables): types issue
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: framework: react :atom_symbol:

fix(react-tables): inject controllers into tables that require it on first load
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:

test(markdown): add tests for creating tables from markdown
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
  packages/remirror__extension-markdown/__tests__/markdown-extension.spec.ts
  packages/remirror__extension-markdown/package.json
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:

chore: add changeset
  .changeset/three-scissors-deny.md
Labels: type: changeset :butterfly:

feat(react-tables): add a floating button to delete the table
  packages/remirror__extension-react-tables/src/components/table-components.tsx
  packages/remirror__extension-react-tables/src/components/table-delete-row-column-button.tsx
  packages/remirror__extension-react-tables/src/components/table-delete-table-button.tsx
  packages/remirror__extension-react-tables/src/index.ts
  packages/remirror__extension-react-tables/src/table-plugins.ts
  packages/remirror__extension-react-tables/src/utils/controller.ts
  packages/remirror__extension-react-tables/src/utils/dom.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-tables.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-tables-theme.ts
  packages/storybook-react/stories/extension-react-tables/basic.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix(react-tables): fix initialisation on tables on view, and copy and paste bugs (#1705)
  .changeset/three-scissors-deny.md
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
  packages/remirror__extension-markdown/__tests__/markdown-extension.spec.ts
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-tables/src/components/table-components.tsx
  packages/remirror__extension-react-tables/src/components/table-delete-row-column-button.tsx
  packages/remirror__extension-react-tables/src/components/table-delete-table-button.tsx
  packages/remirror__extension-react-tables/src/index.ts
  packages/remirror__extension-react-tables/src/react-table-commands.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-react-tables/src/table-plugins.ts
  packages/remirror__extension-react-tables/src/utils/controller.ts
  packages/remirror__extension-react-tables/src/utils/dom.ts
  packages/remirror__extension-react-tables/src/views/table-view.tsx
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/remirror__extension-tables/src/table-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-tables.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-tables-theme.ts
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:, test: unit :white_check_mark:

feat: handle clickmark events
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/types.ts
Labels: none

feat: add support for optional clickmark handler
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/types.ts
Labels: none

test: add tests
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:

refactor getting the shortest mark
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  pnpm-lock.yaml
Labels: none

Add changeset
  .changeset/popular-donuts-yawn.md
Labels: type: changeset :butterfly:

feat: add support for optional clickmark handler (#1788)
  .changeset/popular-donuts-yawn.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/types.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

refactor
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

fix(ext-link): not auto detecting adjacent text
  .changeset/sharp-melons-switch.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(entity-reference): fix handling overlapping marks on click event
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/types.ts
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:

minor version bump
  .changeset/twelve-meals-report.md
  packages/remirror__extension-entity-reference/__tests__/tsconfig.json
  packages/remirror__extension-entity-reference/src/tsconfig.json
  support/root/.size-limit.json
Labels: type: changeset :butterfly:, type: support :books:

update pnpm-lock file
  pnpm-lock.yaml
Labels: none

minor version bump
  .changeset/gorgeous-bulldogs-look.md
Labels: type: changeset :butterfly:

fix(entity-reference): fix handling overlapping marks on click event (#1794)
  .changeset/gorgeous-bulldogs-look.md
  .changeset/twelve-meals-report.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/__tests__/tsconfig.json
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/tsconfig.json
  packages/remirror__extension-entity-reference/src/types.ts
  support/root/.size-limit.json
Labels: type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
