Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

chore: downgrade build target (#2197)
  .changeset/quick-trainers-decide.md
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:, type: changeset :butterfly:

chore: downgrade build target to support browsers since 2017
  .changeset/chilled-teachers-promise.md
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:, type: changeset :butterfly:

fix: increase size limit on some packages
  .size-limit.json
  packages/create-context-state/package.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-find/package.json
Labels: none

chore: downgrade build target to support browsers since 2017 (#2199)
  .changeset/chilled-teachers-promise.md
  .size-limit.json
  packages/create-context-state/package.json
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-find/package.json
Labels: package: @remirror/cli :pager:, type: changeset :butterfly:

fix: bump all packages to rebuild for browsers since 2017
  .changeset/lovely-bottles-compare.md
Labels: type: changeset :butterfly:

fix: bump all packages to rebuild for browsers since 2017 (#2201)
  .changeset/lovely-bottles-compare.md
Labels: type: changeset :butterfly:

fix(react-ui): language selector should be a component, not an extension
  .github/workflows/storybook.yml
  .size-limit.json
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/index.ts
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__react-ui/src/menus/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/extension-positioner.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/remirror__theme/src/extension-positioner-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix(docs): tweak imports in custom-extension.md
  docs/getting-started/custom-extension.md
Labels: none

fix(docs): add more imports to custom-extension.md
  docs/getting-started/custom-extension.md
Labels: none

chore: add changeset
  .changeset/tender-bears-repeat.md
Labels: type: changeset :butterfly:

fix: run pnpm fix
  docs/getting-started/custom-extension.md
Labels: none

fix(docs): custom extension docs fix (#2204)
  docs/getting-started/custom-extension.md
Labels: none

feat(tables): add opt-in `Tab` and `Shift-Tab` keyboard shortcuts
  .changeset/weak-tigers-share.md
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

feat(tables): add opt-in `Tab` and `Shift-Tab` keyboard shortcuts (#2206)
  .changeset/weak-tigers-share.md
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#2207)
  .changeset/weak-tigers-share.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/CHANGELOG.md
  packages/remirror__extension-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore(core-constants): remove deprecated error code
  .changeset/mean-bugs-burn.md
  docs/errors.md
  packages/remirror__core-constants/src/error-constants.ts
Labels: type: changeset :butterfly:

chore(theme): remove deprecated functions
  .changeset/twelve-pumpkins-serve.md
  packages/remirror__theme/src/index.ts
  packages/remirror__theme/src/utils.ts
Labels: type: ui :nail_care:, type: changeset :butterfly:

chore: remove deprecated `isEnabled` command helper
  .changeset/modern-cougars-attack.md
  docs/concepts/extension.md
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/extension/extension.ts
  packages/remirror__core/src/types.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-embed/__tests__/iframe-extension.spec.ts
  packages/remirror__extension-emoji/__tests__/emoji-extension.spec.ts
  packages/remirror__extension-history/__tests__/history-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(types): remove depreacted types
  .changeset/sixty-olives-appear.md
  packages/remirror__types/src/index.ts
Labels: type: changeset :butterfly:

chore(jest-prosemirror): remove deprecated jumpTo function
  .changeset/chilled-singers-push.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:

chore(core): remove deprecated `getRemirrorJSON` helper
  .changeset/twelve-ravens-rhyme.md
  packages/remirror__core/src/builtins/helpers-extension.ts
Labels: type: changeset :butterfly:

chore(jest-remirror): remove deprecated start and end values
  .changeset/nice-llamas-boil.md
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/jest-remirror/src/jsdom-polyfills.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-codemirror5/__tests__/codemirror-extension.spec.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:, test: unit :white_check_mark:

chore(events): remove deprecated types
  .changeset/wild-feet-mate.md
  packages/remirror__extension-events/src/events-extension.ts
  packages/remirror__extension-events/src/index.ts
Labels: type: changeset :butterfly:

chore(react-hooks): remove deprecated useSuggester alias
  .changeset/forty-clocks-share.md
  packages/remirror__react-hooks/src/use-suggest.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix: reorganise changeset severity
  .changeset/chilled-singers-push.md
  .changeset/friendly-pears-promise.md
  .changeset/mean-bugs-burn.md
  .changeset/modern-cougars-attack.md
  .changeset/nice-llamas-boil.md
  .changeset/quick-trainers-decide.md
  .changeset/sixty-olives-appear.md
  .changeset/smart-garlics-bow.md
  .changeset/three-schools-build.md
  .changeset/twelve-pumpkins-serve.md
  .changeset/twelve-ravens-rhyme.md
  .changeset/wild-feet-mate.md
Labels: type: changeset :butterfly:

fix(react-ui): language selector should be a component, not an extension (#2203)
  .changeset/tender-bears-repeat.md
  .github/workflows/storybook.yml
  .size-limit.json
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/index.ts
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__react-ui/src/menus/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/extension-positioner.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/remirror__theme/src/extension-positioner-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat(preset-wysiwyg): remove deprecated search extension, replace with find extension
  .changeset/lovely-bottles-compare.md
  .changeset/wet-lizards-sniff.md
  .size-limit.json
  docs/extensions/find-extension.mdx
  docs/extensions/index.md
  docs/extensions/search-extension.mdx
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/remirror__extension-find/readme.md
  packages/remirror__extension-search/CHANGELOG.md
  packages/remirror__extension-search/__tests__/__snapshots__/search-extension.spec.ts.snap
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-search/__tests__/tsconfig.json
  packages/remirror__extension-search/package.json
  packages/remirror__extension-search/readme.md
  packages/remirror__extension-search/src/index.ts
  packages/remirror__extension-search/src/search-extension.ts
  packages/remirror__extension-search/src/tsconfig.json
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

feat(react-ui): add find button and ability to toggle replace
  packages/remirror__extension-positioner/src/core-positioners.ts
  packages/remirror__icons/src/all-icons.ts
  packages/remirror__icons/src/core-icons.ts
  packages/remirror__react-components/src/icons/all.ts
  packages/remirror__react-components/src/icons/core.ts
  packages/remirror__react-ui/src/buttons/find-button.tsx
  packages/remirror__react-ui/src/buttons/index.ts
  packages/remirror__react-ui/src/find-replace/find-replace-component.tsx
  packages/remirror__react-ui/src/find-replace/replace-controller.tsx
  packages/storybook-react/stories/extension-find/basic.tsx
  packages/storybook-react/stories/extension-find/custom-components.tsx
  packages/storybook-react/stories/extension-find/search.stories.tsx
  packages/storybook-react/stories/extension-find/with-find-replace-component.tsx
  support/scripts/data/icons.json
  website/extension-examples/extension-find/custom-components.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: support :books:

fix(positioner): fix bounds of editor positioner
  packages/remirror__extension-positioner/src/core-positioners.ts
  packages/remirror__react-ui/src/buttons/find-button.tsx
  packages/remirror__react-ui/src/find-replace/find-replace-component.tsx
Labels: framework: react :atom_symbol:

chore(storybook-react): rename file
  packages/storybook-react/stories/extension-find/find.stories.tsx
Labels: none

chore: add changeset
  .changeset/giant-jobs-obey.md
Labels: type: changeset :butterfly:

chore: update changesets
  .changeset/friendly-pears-promise.md
  .changeset/lovely-bottles-compare.md
  .changeset/wet-lizards-sniff.md
Labels: type: changeset :butterfly:

docs: create Remirror v3 beta announcement
  docs/migration-v3-beta.md
  website/blog/2023-11-20-announcement-v3-beta.md
Labels: none

docs: create Remirror v3 beta announcement (#2214)
  docs/migration-v3-beta.md
  website/blog/2023-11-20-announcement-v3-beta.md
Labels: none

fix(table-extension): apply correct attr.style
  packages/remirror__extension-tables/src/table-utils.ts
Labels: none

chore: add changeset
  .changeset/tough-ladybugs-marry.md
Labels: type: changeset :butterfly:

Update tough-ladybugs-marry.md
  .changeset/tough-ladybugs-marry.md
Labels: type: changeset :butterfly:

Update tough-ladybugs-marry.md
  .changeset/tough-ladybugs-marry.md
Labels: type: changeset :butterfly:

format
  .changeset/tough-ladybugs-marry.md
Labels: type: changeset :butterfly:

fix(table-extension): apply correct attrs.style (#2221)
  .changeset/tough-ladybugs-marry.md
  packages/remirror__extension-tables/src/table-utils.ts
Labels: type: changeset :butterfly:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
