Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

update eslint ignore
  .eslintignore
Labels: none

chore: enable OIDC publishing (#2346)
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  package.json
  packages/remirror__messages/rollup.config.js
  packages/remirror__theme/rollup.config.js
  pnpm-lock.yaml
  support/actions/pnpm/action.yml
Labels: none

chore: update pnpm config
  .npmrc
  package.json
  pnpm-workspace.yaml
Labels: none

chore: update pnpm config (#2347)
  .npmrc
  package.json
  pnpm-workspace.yaml
Labels: none

remove version lockfile
  package.json
Labels: none

add plan
  PLAN.md
Labels: none

PLAN
  PLAN.md
Labels: none

update plan
  PLAN.md
Labels: none

remove lockfile
  PLAN.md
  package.json
Labels: none

remove plan.md
  PLAN.md
Labels: none

update
  migrate-to-workspace.mjs
  verify-workspace.mjs
Labels: none

install
  pnpm-lock.yaml
Labels: none

fix: format package.json with prettier
  package.json
Labels: none

chore(changeset): version update (#2349)
  .changeset/spotty-planets-applaud.md
  packages/remirror__extension-yjs/CHANGELOG.md
  packages/remirror__extension-yjs/package.json
Labels: type: changeset :butterfly:

Adds mark propagation when creating nodes on paste-rules
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
  packages/jest-prosemirror/src/jest-prosemirror-schema.ts
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: package: jest-prosemirror :performing_arts:, test: unit :white_check_mark:

Changeset
  .changeset/eleven-trees-speak.md
Labels: type: changeset :butterfly:

Fix Backspace deletion for React tables
  packages/remirror__extension-react-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

Add changeset for React table backspace fix
  .changeset/quiet-tables-leave.md
Labels: type: changeset :butterfly:

docs: announce maintenance mode
  readme.md
Labels: none

docs: announce maintenance mode (#2354)
  readme.md
Labels: none

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
