Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

refactor: change insertHorizontalRule as decorated command (#1822)
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-extension.ts
Labels: none

docs: setup algolia
  website/docusaurus.config.cjs
Labels: none

docs: setup algolia (#1823)
  website/docusaurus.config.cjs
Labels: none

chore(deps): update ts-documenter
  package.json
  pnpm-lock.yaml
Labels: none

chore: add remirror-cli check-deps
  packages/remirror__cli/src/commands/check-deps.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__cli/src/utils/is-common-js-module.ts
Labels: package: @remirror/cli :pager:

chore: clean code
  packages/remirror__cli/src/commands/check-deps.ts
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

chore: add cache to check-deps
  packages/remirror__cli/src/utils/is-common-js-module.ts
Labels: package: @remirror/cli :pager:

chore(deps): downgrade nanoevents to 5.1.13
  packages/remirror__core/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-positioner/package.json
  packages/remirror__extension-react-component/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

chore(deps): use jsx-dom-cjs
  packages/remirror__cli/src/commands/check-deps.ts
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-react-tables/src/utils/dom.ts
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:

chore(deps): fork default-import
  packages/remirror__core-helpers/src/default-import.ts
  packages/remirror__core-helpers/src/index.ts
  packages/remirror__extension-codemirror5/package.json
  packages/remirror__styles/package.json
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  pnpm-lock.yaml
  support/jest/jest.framework.mjs
  support/package.json
  support/scripts/src/linaria.ts
Labels: type: ui :nail_care:, type: support :books:

chore: remove mutationobserver-shim because we no longer need it
  packages/jest-remirror/package.json
  packages/jest-remirror/src/jsdom-polyfills.ts
  packages/remirror__cli/src/commands/check-deps.ts
  pnpm-lock.yaml
Labels: package: jest-remirror :black_joker:, package: @remirror/cli :pager:

chore: format code
  packages/jest-remirror/src/jsdom-polyfills.ts
Labels: package: jest-remirror :black_joker:

chore: don't bundle deps
  packages/multishift/src/multishift-hooks.ts
  packages/multishift/src/multishift.ts
  packages/remirror__cli/src/commands/check-deps.ts
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__extension-emoji/src/emoji-utils.ts
  packages/storybook-react/stories/extension-callout/with-random-emoji.tsx
Labels: package: multishift :arrow_down_small:, package: @remirror/cli :pager:

chore: skip codemirror for check-deps
  packages/remirror__cli/src/commands/check-deps.ts
Labels: package: @remirror/cli :pager:

fix: remove default-import
  packages/remirror__extension-codemirror5/__tests__/codemirror-utils.spec.ts
Labels: test: unit :white_check_mark:

Revert "chore: don't bundle deps"
  packages/multishift/src/multishift-hooks.ts
  packages/multishift/src/multishift.ts
  packages/remirror__cli/src/commands/check-deps.ts
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__extension-emoji/src/emoji-utils.ts
  packages/storybook-react/stories/extension-callout/with-random-emoji.tsx
Labels: package: multishift :arrow_down_small:, package: @remirror/cli :pager:

test: fix SyntaxError: The requested module '../' does not provide an export named 'ColumnsExtension'
  support/jest/jest-resolver.js
  support/jest/jest.config.js
Labels: type: support :books:

chore: fix undefined field in package.json
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

fix: fix css import
  packages/remirror__styles/package.json
Labels: type: ui :nail_care:

docs: add changeset
  .changeset/mean-pets-hang.md
Labels: type: changeset :butterfly:

fix(core-utils): remove domino from the codebase
  .changeset/witty-vans-roll.md
  packages/remirror__core-utils/__tests__/core-utils.node.spec.ts
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core-utils/package.json
  packages/remirror__core-utils/readme.md
  packages/remirror__core-utils/src/core-utils.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

run_pnpm_fix
  support/root/.size-limit.json
Labels: type: support :books:

fix(core-utils): remove domino from the codebase (#1833)
  .changeset/witty-vans-roll.md
  packages/remirror__core-utils/__tests__/core-utils.node.spec.ts
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core-utils/package.json
  packages/remirror__core-utils/readme.md
  packages/remirror__core-utils/src/core-utils.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

docs: update contributing.md
  docs/contributing.md
Labels: none

docs: update contributing.md
  docs/contributing.md
Labels: none

docs: update contributing.md
  docs/contributing.md
Labels: none

fix(core-utils): improve changed ranges by utilising mapping. Fixes #1824
  .changeset/shaggy-feet-fix.md
  packages/remirror__core-utils/src/core-utils.ts
Labels: type: changeset :butterfly:

fix(core-utils): improve changed ranges by utilising mapping. Fixes #1824 (#1836)
  .changeset/shaggy-feet-fix.md
  packages/remirror__core-utils/src/core-utils.ts
Labels: type: changeset :butterfly:

refactor
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

feat(link): auto link adjacent character detection
  .changeset/olive-kiwis-attack.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/package.json
  packages/remirror__extension-link/src/link-extension.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

change request
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

feat(link): auto link adjacent character detection (#1817)
  .changeset/olive-kiwis-attack.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/package.json
  packages/remirror__extension-link/src/link-extension.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

docs: tweak wording
  docs/contributing.md
Labels: none

docs: tweak wording
  docs/contributing.md
Labels: none

chore: run pnpm fix
  docs/contributing.md
Labels: none

docs: update contributing.md (#1835)
  docs/contributing.md
Labels: none

docs: add linkify example
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-link/link-extension.stories.tsx
  packages/storybook-react/stories/extension-link/linkify.tsx
  pnpm-lock.yaml
  website/extension-examples/extension-link/linkify.tsx
Labels: none

feat(emoji-ext): add supported characters option (#1818)
  .changeset/curly-stingrays-dress.md
  packages/remirror__extension-emoji/src/emoji-extension.ts
  packages/remirror__extension-emoji/src/emoji-utils.ts
Labels: type: changeset :butterfly:

rename
  packages/storybook-react/stories/extension-link/link-extension.stories.tsx
  packages/storybook-react/stories/extension-link/linkify-js.tsx
Labels: none

docs: add linkify example (#1838)
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-link/link-extension.stories.tsx
  packages/storybook-react/stories/extension-link/linkify-js.tsx
  pnpm-lock.yaml
  website/extension-examples/extension-link/linkify.tsx
Labels: none
