Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

run pnpm fix
  packages/remirror__react-components/src/icons/icons-base.tsx
  packages/remirror__react-components/src/providers/theme-provider.tsx
  packages/remirror__react-core/__tests__/react-remirror-server.spec.tsx
  packages/storybook-react/stories/extension-bold/basic.tsx
  support/root/.eslintrc.js
Labels: framework: react :atom_symbol:, type: ui :nail_care:, test: unit :white_check_mark:, type: support :books:

remove pnpm lint:exports
  .github/workflows/ci.yml
  package.json
Labels: none

run pnpm remirror-cli build
  packages/remirror__extension-entity-reference/package.json
Labels: none

fix pnpm lint:ts
  support/root/.eslintignore
Labels: type: support :books:

fix(extension-entity-reference): correct import and typo
  packages/remirror__extension-entity-reference/CHANGELOG.md
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-entity-reference/readme.md
  packages/remirror__extension-entity-reference/src/types.ts
Labels: none

fix import
  packages/remirror__extension-entity-reference/src/utils/disjoined-entity-references.ts
Labels: none

Fix import
  packages/storybook-react/stories/extension-entity-reference/highlights.tsx
Labels: none

fix import
  packages/remirror__extension-entity-reference/src/utils/disjoined-entity-references.ts
Labels: none

fix(extension-entity-reference): correct import and typo
  packages/remirror__extension-entity-reference/CHANGELOG.md
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-entity-reference/readme.md
  packages/remirror__extension-entity-reference/src/types.ts
Labels: none

fix(extension-entity-reference): correct import and typo (#1723)
  packages/remirror__extension-entity-reference/CHANGELOG.md
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-entity-reference/readme.md
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-entity-reference/src/utils/disjoined-entity-references.ts
Labels: none

run pnpm fix
  packages/remirror__extension-entity-reference/__tests__/tsconfig.json
  packages/remirror__extension-entity-reference/src/tsconfig.json
  support/root/.size-limit.json
Labels: type: support :books:

do not enable esbuild.keepNames
  packages/remirror__cli/src/utils/run-esbuild.ts
Labels: package: @remirror/cli :pager:

fix pnpm test packages/remirror__core-utils/__tests__/environment.spec.ts
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__core/src/builtins/meta-extension.ts
  packages/remirror__core/src/extension/base-class.ts
Labels: package: @remirror/cli :pager:

doc: update error message
  packages/remirror__core-utils/src/core-utils.ts
Labels: none

fix "generate .d.ts files"
  .github/workflows/docs.yml
Labels: none

Disable docusaurus-plugin-examples
  website/docusaurus.config.js
Labels: none

try to remove babel.config.js
  website/babel.config.js
Labels: none

Update docusaurus
  packages/docusaurus-plugin-examples/package.json
  pnpm-lock.yaml
  website/package.json
Labels: none

remove custom <Example/>
  docs/showcase/markdown.mdx
  docs/showcase/richtext.mdx
  docs/showcase/social.mdx
  website/src/components/example-component.tsx
  website/src/components/example-iframe-component.tsx
  website/src/components/example-provider.ts
  website/src/components/example-source-component.tsx
  website/src/components/index.ts
  website/src/components/toggle-language-component.tsx
  website/src/theme/Root.tsx
Labels: none

Disable '@docusaurus/preset-classic'
  website/docusaurus.config.js
Labels: none

remove basic-plugin.js
  website/plugins/basic-plugin.js
Labels: none

remove keyword "ssr" in package.json
  packages/jest-remirror/package.json
  packages/remirror/package.json
  packages/remirror__extension-react-ssr/package.json
Labels: package: jest-remirror :black_joker:, framework: react :atom_symbol:

remove renderSsr
  packages/remirror__react-core/__tests__/__snapshots__/use-remirror-context.spec.tsx.snap
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__react-core/src/hooks/use-react-framework.tsx
  packages/remirror__react-core/src/react-framework.tsx
  packages/remirror__react-core/src/react-types.ts
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

remove '@remirror/react-ssr' usage
  packages/remirror__core/src/manager/remirror-manager.ts
  packages/remirror__react-core/src/index.ts
  packages/remirror__react-core/src/prosemirror-view.ts
  packages/remirror__react-core/src/react-framework.tsx
  packages/remirror__react-ssr/__tests__/ssr-prosemirror-view.spec.ts
  packages/remirror__react/src/index.ts
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

@remirror/react-ssr
  packages/remirror__react-core/package.json
  packages/remirror__react/package.json
Labels: framework: react :atom_symbol:

remove @remirror/react-ssr
  pnpm-lock.yaml
Labels: none

remove ReactPlaceholderExtension
  packages/remirror__preset-react/__tests__/react-preset.spec.ts
  packages/remirror__preset-react/src/index.ts
  packages/remirror__preset-react/src/react-extension.ts
  packages/remirror__preset-react/src/react-placeholder-extension.ts
  packages/remirror__react-core/src/react-framework.tsx
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

remove ReactSsrExtension
  packages/remirror__extension-react-ssr/__tests__/react-ssr-extension.spec.ts
  packages/remirror__extension-react-ssr/src/index.ts
  packages/remirror__extension-react-ssr/src/react-ssr-extension.ts
  packages/remirror__preset-react/src/react-extension.ts
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

remove ReactSsrOptions
  packages/remirror__extension-react-ssr/src/index.ts
  packages/remirror__extension-react-ssr/src/react-ssr-extension.ts
  packages/remirror__preset-react/src/react-extension.ts
Labels: framework: react :atom_symbol:

remove ssr packages from package.json
  packages/remirror__preset-react/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react/package.json
Labels: framework: react :atom_symbol:

remove ssr packages from package.json
  pnpm-lock.yaml
Labels: none

rm @remirror/extension-react-ssr
  packages/remirror__react/src/index.ts
Labels: framework: react :atom_symbol:

update jest snapshot
  packages/remirror__react-core/__tests__/__snapshots__/use-remirror-context.spec.tsx.snap
Labels: none

remove tests
  packages/remirror__react-core/__tests__/__snapshots__/react-remirror-server.spec.tsx.snap
  packages/remirror__react-ssr/__tests__/__snapshots__/react-serializer.spec.tsx.snap
  packages/remirror__react-ssr/__tests__/react-serializer.spec.tsx
  packages/remirror__react-ssr/__tests__/ssr-component.server.spec.tsx
  packages/remirror__react-ssr/__tests__/ssr-component.spec.tsx
  packages/remirror__react-ssr/__tests__/tsconfig.json
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

fix a test case
  packages/remirror__core-utils/__tests__/core-utils.ssr.spec.ts
  packages/remirror__core-utils/src/core-utils.ts
Labels: test: unit :white_check_mark:

skip ssr test
  packages/remirror__react-core/__tests__/react-remirror-server.spec.tsx
Labels: test: unit :white_check_mark:

run pnpm generate:ts
  packages/remirror__preset-react/__tests__/tsconfig.json
  packages/remirror__preset-react/src/tsconfig.json
  packages/remirror__react-core/__tests__/tsconfig.json
  packages/remirror__react-core/src/tsconfig.json
  packages/remirror__react/src/tsconfig.json
  support/root/tsconfig.json
  website/src/tsconfig.json
Labels: framework: react :atom_symbol:, type: support :books:

run pnpm fix
  support/root/.size-limit.json
Labels: type: support :books:

update actions/cache to v3
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

remove restore-keys
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
