Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

fix(prosemirror-paste-rules): set open depth more precisely (#1644)
  .changeset/three-owls-admire.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(jest-remirror): throw error for non-top-level nodes (#1641)
  .changeset/tiny-rats-repeat.md
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:, test: unit :white_check_mark:

fix(font-size): support CSS functions and avoid throwing error when value cannot be parsed (#1643)
  .changeset/light-crews-hug.md
  .changeset/young-fishes-march.md
  packages/remirror__core-helpers/__tests__/core-helper.spec.ts
  packages/remirror__core-utils/__tests__/dom-utils.spec.ts
  packages/remirror__core-utils/package.json
  packages/remirror__core-utils/src/dom-utils.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
  packages/storybook-react/package.json
  packages/storybook-react/preview.js
  packages/storybook-react/stories/paste-debugger.stories.tsx
  packages/storybook-react/stories/patches.d.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(react-tables): inject controllers when pasting a table
  .changeset/stupid-stingrays-approve.md
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

fix(react-tables): inject controllers when pasting a table (#1650)
  .changeset/stupid-stingrays-approve.md
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

docs(hooks): add docs for useCommands and useKeymap
  docs/hooks/use-commands.md
  docs/hooks/use-keymap.md
Labels: none

docs(hooks): fix dependencies of example
  docs/hooks/use-keymap.md
Labels: none

docs(hooks): add update parameter to useHelpers
  docs/hooks/use-helpers.md
Labels: none

docs(hooks): add docs for useHelpers
  docs/hooks/use-helpers.md
Labels: none

docs(hooks): add `customDispatch` docs
  docs/hooks/use-commands.md
Labels: none

docs(hooks): add docs for `useActive`
  docs/hooks/use-active.md
Labels: none

docs(hooks): add docs for `useEvent` hook
  docs/hooks/use-event.md
Labels: none

docs(hooks): add links to extension docs
  docs/hooks/use-commands.md
  docs/hooks/use-helpers.md
Labels: none

docs(hooks): add docs for `useChainedCommands`
  docs/hooks/use-chained-commands.md
  docs/hooks/use-commands.md
Labels: none

chore(docs): allow building of docs without API docs
  website/sidebar.js
Labels: none

docs(hooks): improve docs on Remirror's hooks (#1595)
  docs/hooks/use-active.md
  docs/hooks/use-chained-commands.md
  docs/hooks/use-commands.md
  docs/hooks/use-event.md
  docs/hooks/use-helpers.md
  docs/hooks/use-keymap.md
  website/sidebar.js
Labels: none

feat(react-editors): allow configuration of basic functionality via react editors
  .changeset/five-lizards-joke.md
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/types.ts
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat(react,core): simplify how to subscribe to document changes
  .changeset/four-onions-begin.md
  .changeset/tame-steaks-kneel.md
  packages/remirror__core/__tests__/doc-changed-extension.spec.ts
  packages/remirror__core/src/builtins/builtin-preset.ts
  packages/remirror__core/src/builtins/doc-changed-extension.ts
  packages/remirror__core/src/builtins/index.ts
  packages/remirror__react-core/__tests__/on-change.spec.tsx
  packages/remirror__react-core/src/hooks/index.ts
  packages/remirror__react-core/src/hooks/use-doc-changed.ts
  packages/remirror__react-core/src/index.ts
  packages/remirror__react-core/src/on-change.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

docs: simplify the 5 minute tutorial
  docs/5-min-tutorial.md
  docs/advanced/browser-support.md
  docs/getting-started/installation.md
  website/sidebar.js
Labels: none

docs: fix 5 minute guide Typescript errors
  docs/5-min-tutorial.md
Labels: none

feat(react,core): simplify how to subscribe to document changes (#1654)
  .changeset/five-lizards-joke.md
  .changeset/four-onions-begin.md
  .changeset/tame-steaks-kneel.md
  docs/5-min-tutorial.md
  docs/advanced/browser-support.md
  docs/getting-started/installation.md
  packages/remirror__core/__tests__/doc-changed-extension.spec.ts
  packages/remirror__core/src/builtins/builtin-preset.ts
  packages/remirror__core/src/builtins/doc-changed-extension.ts
  packages/remirror__core/src/builtins/index.ts
  packages/remirror__react-core/__tests__/on-change.spec.tsx
  packages/remirror__react-core/src/hooks/index.ts
  packages/remirror__react-core/src/hooks/use-doc-changed.ts
  packages/remirror__react-core/src/index.ts
  packages/remirror__react-core/src/on-change.tsx
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/types.ts
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  website/sidebar.js
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

fix: resolve the shortcut conflict between node formatting and list
  .changeset/famous-waves-join.md
  .changeset/metal-dodos-listen.md
  packages/remirror__extension-list/src/list-command-dedent.ts
  packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-node-formatting/__tests__/node-formatting-extension.spec.ts
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  packages/remirror__extension-node-formatting/src/node-formatting-utils.ts
  packages/storybook-react/stories/extension-node-formatting/basic.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

docs: remove duplicated codes
  docs/react/refs.md
Labels: none

fix: prevent content with blockquotes being indented twice
  packages/remirror__extension-node-formatting/__tests__/node-formatting-extension.spec.ts
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  packages/remirror__extension-node-formatting/src/node-formatting-utils.ts
  packages/storybook-react/stories/extension-node-formatting/basic.tsx
Labels: test: unit :white_check_mark:

fix: resolve the shortcut conflict between node formatting and list (#1636)
  .changeset/famous-waves-join.md
  .changeset/metal-dodos-listen.md
  packages/remirror__extension-list/src/list-command-dedent.ts
  packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-node-formatting/__tests__/node-formatting-extension.spec.ts
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  packages/remirror__extension-node-formatting/src/node-formatting-utils.ts
  packages/storybook-react/stories/extension-node-formatting/basic.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

docs: remove duplicated codes (#1658)
  docs/react/refs.md
Labels: none

chore(changeset): version update (#1659)
  .changeset/famous-waves-join.md
  .changeset/metal-dodos-listen.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__extension-node-formatting/CHANGELOG.md
  packages/remirror__extension-node-formatting/package.json
  packages/remirror__preset-formatting/CHANGELOG.md
  packages/remirror__preset-formatting/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(tasklist): prevent checkbox toggle when view is not editable. Fixes #1657
  .changeset/tough-boxes-battle.md
  packages/remirror__extension-list/__tests__/task-list-extension.spec.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(docs): update README
  readme.md
Labels: none

chore(docs): add more community members
  readme.md
Labels: none

feat(core): add the ability to remove all marks by passing `type: null`. Fixes #1398
  .changeset/lovely-timers-guess.md
  packages/remirror__core-utils/__tests__/command-utils.spec.ts
  packages/remirror__core-utils/src/command-utils.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(core): fix removeMark so it can remove multiple mark ranges
  .changeset/yellow-ants-brush.md
  packages/remirror__core-utils/src/command-utils.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(docs): update README (#1662)
  readme.md
Labels: none

fix(core): fix removeMark expand logic
  packages/remirror__core-utils/src/command-utils.ts
Labels: none

feat(core): add ability to remove all marks by passing `type: null` (#1663)
  .changeset/lovely-timers-guess.md
  .changeset/yellow-ants-brush.md
  packages/remirror__core-utils/__tests__/command-utils.spec.ts
  packages/remirror__core-utils/src/command-utils.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(tasklist): prevent checkbox toggle when view is not editable. Fixes #1657 (#1661)
  .changeset/tough-boxes-battle.md
  packages/remirror__extension-list/__tests__/task-list-extension.spec.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(markdown): fix rendering and parsing of tasklists in markdown. Fixes #1357
  .changeset/giant-zebras-tan.md
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
  packages/remirror__extension-markdown/__tests__/html-to-markdown.spec.ts
  packages/remirror__extension-markdown/__tests__/markdown-extension.spec.ts
  packages/remirror__extension-markdown/src/html-to-markdown.ts
  packages/remirror__extension-markdown/src/markdown-to-html.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore: prepare ci pipelines for v2 beta
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
Labels: none

chore: lock prosemirror packages version for remirror v1
  .changeset/thin-hairs-sell.md
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

chore: prepare ci pipelines for v2 beta (#1666)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
Labels: none

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
