Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

chore: correct typo (#2268)
  .changeset/spotty-carpets-lick.md
Labels: type: changeset :butterfly:

fix: bump to an version of esbuild that supports decorators
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

chore: add changeset
  .changeset/giant-feet-live.md
Labels: type: changeset :butterfly:

chore: bump all packages for next beta
  .changeset/loud-points-marry.md
Labels: type: changeset :butterfly:

fix: audit errors
  packages/remirror__messages/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: none

fix: actually fix audit error
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: none

fix(extension-file): allow `fileSize` to be string
  .changeset/nasty-impalas-search.md
  .vscode/settings.json
  packages/remirror__extension-file/src/file-extension.tsx
Labels: type: changeset :butterfly:

Update changeset
  .changeset/nasty-impalas-search.md
Labels: type: changeset :butterfly:

fix(extension-file): allow `fileSize` to be string (#2269)
  .changeset/nasty-impalas-search.md
  .vscode/settings.json
  packages/remirror__extension-file/src/file-extension.tsx
Labels: type: changeset :butterfly:

chore(changeset): version update (#2270)
  .changeset/nasty-impalas-search.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix: run pnpm fix
  packages/remirror/CHANGELOG.md
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__react-editors/CHANGELOG.md
Labels: none

fix: support older environments
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

fix: override typescript version used in build
  package.json
  pnpm-lock.yaml
Labels: none

chore: add satisfies to custom extension docs
  docs/getting-started/custom-extension.md
Labels: none

fix: update formatjs version to trigger typescript change
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: none

chore: try to specific typescript version in cli
  packages/remirror__cli/package.json
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

fix: output type definitions correctly
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

fix: remove explicit validate properties
  .changeset/dirty-penguins-help.md
  packages/remirror__extension-bidi/src/bidi-extension.ts
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-columns/src/columns-extension.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-emoji/src/emoji-extension.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-font-family/src/font-family-extension.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
  packages/remirror__extension-heading/__tests__/heading-extension.spec.ts
  packages/remirror__extension-heading/src/heading-extension.ts
  packages/remirror__extension-image/src/image-extension.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/ordered-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
  packages/remirror__extension-mention/src/mention-extension.ts
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-utils.ts
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__extension-text-color/src/text-color-extension.ts
  packages/remirror__extension-text-highlight/src/text-highlight-extension.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

fix: remove explicit validate properties (#2272)
  .changeset/dirty-penguins-help.md
  packages/remirror__extension-bidi/src/bidi-extension.ts
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-columns/src/columns-extension.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-emoji/src/emoji-extension.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-font-family/src/font-family-extension.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
  packages/remirror__extension-heading/__tests__/heading-extension.spec.ts
  packages/remirror__extension-heading/src/heading-extension.ts
  packages/remirror__extension-image/src/image-extension.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/ordered-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
  packages/remirror__extension-mention/src/mention-extension.ts
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-utils.ts
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__extension-text-color/src/text-color-extension.ts
  packages/remirror__extension-text-highlight/src/text-highlight-extension.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

chore: forward-port validate property removal
  .changeset/dirty-suits-rush.md
Labels: type: changeset :butterfly:

chore: meaningless change to trigger pipelines
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Labels: package: jest-prosemirror :performing_arts:

fix: change how the props are spread
  packages/storybook-react/stories/extension-positioner/basic.tsx
Labels: none

refactor(jest-prosemirror): append element to DOM before EditorView initialization in `createEditor` (#2258)
  .changeset/honest-socks-sip.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:

fix(docs): fix crash in positioner extension storybook (#2261)
  packages/storybook-react/stories/extension-positioner/basic.tsx
Labels: none

chore(changeset): version update (#2275)
  .changeset/honest-socks-sip.md
  package.json
  packages/jest-prosemirror/CHANGELOG.md
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, type: changeset :butterfly:

Update extension.md (#2257)
  docs/concepts/extension.md
Labels: none

chore: remove YjsExtension from `remirror/extensions`
  .changeset/warm-comics-eat.md
  docs/extensions/yjs-extension.mdx
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-react-tables/with-yjs.tsx
  packages/storybook-react/stories/extension-yjs/basic.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

chore: remove React Tables extension from `@remirror/react`
  .changeset/silver-clocks-wash.md
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  packages/remirror__react/package.json
  packages/remirror__react/src/index.ts
  packages/remirror__react/src/tsconfig.json
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  packages/storybook-react/stories/extension-react-tables/with-yjs.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat: Upgrade to prettier v3.2
  .changeset/calm-kangaroos-change.md
  .size-limit.json
  package.json
  packages/multishift/src/multishift-types.ts
  packages/multishift/src/multishift-utils.ts
  packages/prosemirror-suggest/src/suggest-state.ts
  packages/remirror/package.json
  packages/remirror__cli/package.json
  packages/remirror__core-utils/src/environment.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__core/src/builtins/plugins-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/readme.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__react-hooks/src/react-hook-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  packages/remirror__types/src/types.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
  support/scripts/src/linaria.ts
Labels: package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:, type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

chore: remove CodemirrorExtension from `remirror/extensions`
  .changeset/fifty-shoes-attend.md
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-codemirror5/basic.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix: missing tsconfig reference
  packages/remirror__extension-markdown/__tests__/tsconfig.json
Labels: none

chore: export cx from core-helpers using clsx
  .changeset/forty-rabbits-kick.md
  packages/remirror__core-helpers/package.json
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/package.json
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__core/src/helpers.ts
  packages/remirror__core/src/index.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix: actually fix tsconfig for markdown ext
  packages/remirror__extension-markdown/__tests__/tsconfig.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-markdown/src/tsconfig.json
Labels: none

(Revisions) feat: Upgrade to prettier v3.2
  packages/remirror__extension-code-block/src/formatter.ts
Labels: none

(Revisions) feat: Upgrade to prettier v3.2
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
Labels: none

(Revisions) feat: Upgrade to prettier v3.2
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  support/scripts/src/generate-icons.ts
Labels: type: support :books:

fix: formatCodeBlock cannot be chained
  .changeset/calm-kangaroos-change.md
  .size-limit.json
  packages/remirror__extension-code-block/src/code-block-extension.ts
Labels: type: changeset :butterfly:

test: use exposed formatter in unit tests
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
Labels: test: unit :white_check_mark:

chore: update changeset
  .changeset/calm-kangaroos-change.md
Labels: type: changeset :butterfly:

test: use a more realistic custom formatter
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
Labels: test: unit :white_check_mark:
