Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

move
  packages/storybook-react/src/storybook-react-main.ts
Labels: none

works
  packages/storybook-react/__stories__/extension-file/file.stories.tsx
  packages/storybook-react/__stories__/extension-list/list-extension.stories.tsx
  packages/storybook-react/__stories__/react-editors/social-editor.stories.tsx
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: none

fix
  packages/storybook-react/__stories__/react-hooks/use-mention.stories.tsx
Labels: none

fix import
  packages/storybook-react/__stories__/extension-blockquote/blockquote.stories.tsx
  packages/storybook-react/__stories__/extension-bold/bold.stories.tsx
  packages/storybook-react/__stories__/extension-callout/callout.stories.tsx
  packages/storybook-react/__stories__/extension-code/code.stories.tsx
  packages/storybook-react/__stories__/extension-columns/columns.stories.tsx
  packages/storybook-react/__stories__/extension-epic-mode/epic-mode.stories.tsx
  packages/storybook-react/__stories__/extension-font-family/font-family.stories.tsx
  packages/storybook-react/__stories__/extension-font-size/font-size.stories.tsx
  packages/storybook-react/__stories__/extension-hard-break/hard-break.stories.tsx
  packages/storybook-react/__stories__/extension-heading/heading.stories.tsx
  packages/storybook-react/__stories__/extension-horizontal-rule/horizontal-rule.stories.tsx
  packages/storybook-react/__stories__/extension-image/image.stories.tsx
  packages/storybook-react/__stories__/extension-italic/italic.stories.tsx
  packages/storybook-react/__stories__/extension-node-formatting/node-formatting.stories.tsx
  packages/storybook-react/__stories__/extension-react-tables/react-tables-extension.stories.tsx
  packages/storybook-react/__stories__/extension-strike/strike.stories.tsx
  packages/storybook-react/__stories__/extension-sub/sub.stories.tsx
  packages/storybook-react/__stories__/extension-sup/sup.stories.tsx
  packages/storybook-react/__stories__/extension-text-case/text-case.stories.tsx
  packages/storybook-react/__stories__/extension-text-color/text-color.stories.tsx
  packages/storybook-react/__stories__/extension-text-highlight/text-highlight.stories.tsx
  packages/storybook-react/__stories__/extension-underline/underline.stories.tsx
  packages/storybook-react/__stories__/react-hooks/use-mention-atom.stories.tsx
  packages/storybook-react/__stories__/react-renderer/sample-doc.ts
Labels: none

u
  packages/storybook-react/__stories__/extension-text-case/text-case.stories.tsx
  packages/storybook-react/__stories__/extension-text-highlight/text-highlight.stories.tsx
  packages/storybook-react/__stories__/tsconfig.json
  packages/storybook-react/src/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

social
  packages/storybook-react/__stories__/react-editors/social-editor.stories.tsx
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: none

file
  packages/remirror__extension-file/src/file-uploaders/index.ts
  packages/storybook-react/__stories__/extension-file/file.stories.tsx
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: none

fix
  packages/storybook-react/__stories__/extension-file/file.stories.tsx
  packages/storybook-react/__stories__/tsconfig.json
  packages/storybook-react/src/tsconfig.json
Labels: none

u
  packages/storybook-react/__stories__/extension-file/file.stories.tsx
Labels: none

rm __stories__
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  packages/storybook-react/src/storybook-react-main.ts
  support/root/tsconfig.json
  support/scripts/src/generate-configs.ts
  support/scripts/src/linaria.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: support :books:

update docs
  packages/storybook-react/__stories__/react-hooks/use-mention-atom.stories.tsx
Labels: none

remove __stories__
  support/root/.eslintrc.js
Labels: type: support :books:

remove uesless
  packages/storybook-react/src/storybook-react-main.ts
Labels: none

rm tsconfig
  packages/storybook-react/package.json
  packages/storybook-react/stories/tsconfig.json
  packages/storybook-react/tsconfig.json
Labels: none

update
  docs/contributing.md
Labels: none

docs: add examples for components
  packages/storybook-react/stories/react-components/emoji-popup.stories.tsx
  packages/storybook-react/stories/react-components/floating-menu.stories.tsx
  packages/storybook-react/stories/react-components/mention-atom-popup.stories.tsx
  packages/storybook-react/stories/react-components/sample-content/huge.ts
  packages/storybook-react/stories/react-components/sample-content/medium.ts
  packages/storybook-react/stories/react-components/toolbar.stories.tsx
Labels: none

chore: minior config update
  pnpm-workspace.yaml
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

docs: add examples for components (#1135)
  packages/storybook-react/stories/react-components/emoji-popup.stories.tsx
  packages/storybook-react/stories/react-components/floating-menu.stories.tsx
  packages/storybook-react/stories/react-components/mention-atom-popup.stories.tsx
  packages/storybook-react/stories/react-components/sample-content/huge.ts
  packages/storybook-react/stories/react-components/sample-content/medium.ts
  packages/storybook-react/stories/react-components/toolbar.stories.tsx
Labels: none

chore: small config update (#1118)
  pnpm-workspace.yaml
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

chore(deps): update dependency jsx-dom to v7
  packages/remirror__extension-react-tables/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

chore(deps): update dependency stringify-object to v4
  packages/jest-prosemirror/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:

chore(deps): lock file maintenance
  pnpm-lock.yaml
Labels: none

fix typecheck
  support/scripts/src/generate-configs.ts
  support/scripts/src/helpers.ts
Labels: type: support :books:

chore(deps): update dependency refractor to v4
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

chore: remove `@remirror/extension-react-native-bridge` and `@remirror/react-native`
  packages/remirror__extension-react-native-bridge/CHANGELOG.md
  packages/remirror__extension-react-native-bridge/__tests__/react-native-bridge-extension.spec.ts
  packages/remirror__extension-react-native-bridge/__tests__/tsconfig.json
  packages/remirror__extension-react-native-bridge/package.json
  packages/remirror__extension-react-native-bridge/readme.md
  packages/remirror__extension-react-native-bridge/src/index.ts
  packages/remirror__extension-react-native-bridge/src/react-native-bridge-extension.ts
  packages/remirror__extension-react-native-bridge/src/tsconfig.json
  packages/remirror__react-native/.gitignore
  packages/remirror__react-native/CHANGELOG.md
  packages/remirror__react-native/README.md
  packages/remirror__react-native/__fixtures__/bundle.fixture.ts
  packages/remirror__react-native/__fixtures__/bundle/file.ts
  packages/remirror__react-native/__fixtures__/full.fixture.tsx
  packages/remirror__react-native/__fixtures__/transpile.fixture.ts
  packages/remirror__react-native/package.json
  packages/remirror__react-native/sample.metro.config.js
  packages/remirror__react-native/src/index.ts
  packages/remirror__react-native/src/native-remirror.tsx
  packages/remirror__react-native/src/react-native-type.ts
  packages/remirror__react-native/src/tsconfig.json
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

update lock
  pnpm-lock.yaml
Labels: none

remove react-debugger
  packages/remirror__react-debugger/CHANGELOG.md
  packages/remirror__react-debugger/package.json
  packages/remirror__react-debugger/readme.md
  packages/remirror__react-debugger/src/components/highlighter.tsx
  packages/remirror__react-debugger/src/components/index.ts
  packages/remirror__react-debugger/src/components/json-diff.tsx
  packages/remirror__react-debugger/src/components/json-tree.tsx
  packages/remirror__react-debugger/src/components/list.tsx
  packages/remirror__react-debugger/src/components/node-picker.tsx
  packages/remirror__react-debugger/src/components/styled.ts
  packages/remirror__react-debugger/src/components/tabs/history-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/index.ts
  packages/remirror__react-debugger/src/components/tabs/json-editor-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/plugins-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/schema-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/snapshots-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/state-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/structure-tab.tsx
  packages/remirror__react-debugger/src/debugger-constants.ts
  packages/remirror__react-debugger/src/debugger-json-diff.ts
  packages/remirror__react-debugger/src/debugger-state.ts
  packages/remirror__react-debugger/src/debugger-tools-collapsed.tsx
  packages/remirror__react-debugger/src/debugger-tools-expanded.tsx
  packages/remirror__react-debugger/src/debugger-tools.tsx
  packages/remirror__react-debugger/src/debugger-types.ts
  packages/remirror__react-debugger/src/debugger-utils.ts
  packages/remirror__react-debugger/src/index.ts
  packages/remirror__react-debugger/src/tsconfig.json
  packages/remirror__react-debugger/src/utils/find-node.ts
  packages/remirror__react-debugger/src/utils/format-selection-object.ts
  packages/remirror__react-debugger/src/worker.json-diff.ts
  packages/remirror__react-debugger/worker.json-diff/package.json
Labels: framework: react :atom_symbol:

update lock
  pnpm-lock.yaml
Labels: none

fix
  packages/tsconfig.json
  support/root/.size-limit.json
  support/root/tsconfig.json
  support/root/typedoc.json
Labels: type: support :books:

chore(deps): update dependency globby to v12
  packages/docusaurus-plugin-examples/package.json
  packages/remirror__cli/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: package: @remirror/cli :pager:, type: support :books:

fix: website header too narrow on large screens
  website/styles.css
Labels: none

fix: website header too narrow on large screens (#1150)
  website/styles.css
Labels: none

docs: remove unused section "packages"
  docs/packages/remirror__extension-markdown.md
  website/sidebar.js
Labels: none

docs: remove unused section "packages" (#1151)
  docs/packages/remirror__extension-markdown.md
  website/sidebar.js
Labels: none

docs: add remaining extensions to overview page
  docs/extensions/gap-cursor-extension.md
  docs/extensions/index.md
Labels: none

Fix broken links
  docs/extensions/index.md
  docs/extensions/mention-atom-extension.md
Labels: none

docs: add remaining extensions to overview page (#1152)
  docs/extensions/gap-cursor-extension.md
  docs/extensions/index.md
  docs/extensions/mention-atom-extension.md
Labels: none

docs: organize stories in sections
  packages/storybook-react/preview.js
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.stories.tsx
  packages/storybook-react/stories/react-renderer/react-renderer.stories.tsx
  packages/storybook-react/stories/react/controlled.stories.tsx
Labels: none

docs: organize stories in sections (#1153)
  packages/storybook-react/preview.js
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.stories.tsx
  packages/storybook-react/stories/react-renderer/react-renderer.stories.tsx
  packages/storybook-react/stories/react/controlled.stories.tsx
Labels: none

docs: storybook examples should be uncontrolled editors
  packages/storybook-react/stories/extension-blockquote/blockquote.stories.tsx
  packages/storybook-react/stories/extension-bold/bold.stories.tsx
  packages/storybook-react/stories/extension-callout/callout.stories.tsx
  packages/storybook-react/stories/extension-code/code.stories.tsx
  packages/storybook-react/stories/extension-columns/columns.stories.tsx
  packages/storybook-react/stories/extension-epic-mode/epic-mode.stories.tsx
  packages/storybook-react/stories/extension-font-family/font-family.stories.tsx
  packages/storybook-react/stories/extension-font-size/font-size.stories.tsx
  packages/storybook-react/stories/extension-hard-break/hard-break.stories.tsx
  packages/storybook-react/stories/extension-heading/heading.stories.tsx
  packages/storybook-react/stories/extension-horizontal-rule/horizontal-rule.stories.tsx
  packages/storybook-react/stories/extension-image/image.stories.tsx
  packages/storybook-react/stories/extension-italic/italic.stories.tsx
  packages/storybook-react/stories/extension-node-formatting/node-formatting.stories.tsx
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-strike/strike.stories.tsx
  packages/storybook-react/stories/extension-sub/sub.stories.tsx
  packages/storybook-react/stories/extension-sup/sup.stories.tsx
  packages/storybook-react/stories/extension-text-case/text-case.stories.tsx
  packages/storybook-react/stories/extension-text-color/text-color.stories.tsx
  packages/storybook-react/stories/extension-text-highlight/text-highlight.stories.tsx
  packages/storybook-react/stories/extension-underline/underline.stories.tsx
Labels: none
