Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

add changeset
  .changeset/gorgeous-carrots-hammer.md
Labels: type: changeset :butterfly:

Update gorgeous-carrots-hammer.md
  .changeset/gorgeous-carrots-hammer.md
Labels: type: changeset :butterfly:

fix(paste-rules): update typescript type (#1998)
  .changeset/popular-maps-fail.md
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:

Update readme.md
  readme.md
Labels: none

Update gorgeous-carrots-hammer.md
  .changeset/gorgeous-carrots-hammer.md
Labels: type: changeset :butterfly:

Update readme.md
  readme.md
Labels: none

chore(deps): update caniuse (#2000)
  .changeset/gorgeous-carrots-hammer.md
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-gap-cursor.css
  packages/remirror__styles/extension-image.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  pnpm-lock.yaml
Labels: type: ui :nail_care:, type: changeset :butterfly:

chore: update pnpm
  package.json
Labels: none

docs: update readme.md (#1985)
  readme.md
Labels: none

chore: update prosemirror packages
  .changeset/chatty-poems-approve.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

chore: run `pnpm dedupe`
  pnpm-lock.yaml
Labels: none

chore: run `pnpm fix`
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__i18n/src/index.ts
  packages/remirror__react-core/src/react-framework.tsx
  packages/remirror__styles/src/styled-components.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

chore: remove check-pnpm.mjs
  package.json
  support/scripts/check-pnpm.mjs
  support/scripts/readme.md
Labels: type: support :books:

fix: fix build error
  packages/remirror__extension-react-tables/src/react-table-commands.ts
Labels: framework: react :atom_symbol:

test: update test snapshot
  packages/jest-prosemirror/__tests__/__snapshots__/jest-prosemirror.spec.ts.snap
Labels: none

chore: update renovate config
  package.json
Labels: none

chore(deps): update ProseMirror packages (#2002)
  .changeset/chatty-poems-approve.md
  package.json
  packages/jest-prosemirror/__tests__/__snapshots__/jest-prosemirror.spec.ts.snap
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-react-tables/src/react-table-commands.ts
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__i18n/src/index.ts
  packages/remirror__pm/package.json
  packages/remirror__react-core/src/react-framework.tsx
  packages/remirror__styles/src/styled-components.tsx
  pnpm-lock.yaml
  support/scripts/check-pnpm.mjs
  support/scripts/readme.md
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:, type: support :books:

chore: stop symlink the config files
  .eslintignore
  .eslintrc.js
  .github/workflows/pr-name-linter.yml
  .gitignore
  .huskyrc
  .lintstagedrc
  .markdownlint.json
  .prettierrc.js
  .size-limit.json
  .stylelintignore
  api-documenter.json
  babel.config.js
  commitlint.config.js
  docs/contributing.md
  globals.d.ts
  jest-playwright.config.js
  jest.config.e2e.js
  jest.config.js
  linaria.config.js
  lingui.config.js
  package.json
  packages/remirror__styles/babel.config.js
  packages/remirror__styles/src/styled-components.tsx
  support/root/readme.md
  support/scripts/readme.md
  support/scripts/src/generate-configs.ts
  support/scripts/src/generate-intl.ts
  support/scripts/symlink-root.mjs
  support/tsconfig.json
  tsconfig.dev.json
  tsconfig.json
Labels: type: ui :nail_care:, type: support :books:

rename
  jest-playwright.config.cjs
  packages/remirror__styles/src/styled-components.tsx
  support/tsconfig.json
Labels: type: ui :nail_care:, type: support :books:

fix jest config
  jest.config.e2e.js
  jest.config.js
  lingui.config.js
Labels: none

ignore chalk
  package.json
Labels: none

chore: stop symlink the config files (#2003)
  .eslintignore
  .eslintrc.js
  .github/workflows/pr-name-linter.yml
  .gitignore
  .huskyrc
  .lintstagedrc
  .markdownlint.json
  .prettierrc.js
  .size-limit.json
  .stylelintignore
  api-documenter.json
  babel.config.js
  commitlint.config.js
  docs/contributing.md
  globals.d.ts
  jest-playwright.config.cjs
  jest.config.e2e.js
  jest.config.js
  linaria.config.js
  lingui.config.js
  package.json
  packages/remirror__styles/babel.config.js
  support/root/readme.md
  support/scripts/readme.md
  support/scripts/src/generate-configs.ts
  support/scripts/src/generate-intl.ts
  support/scripts/symlink-root.mjs
  support/tsconfig.json
  tsconfig.dev.json
  tsconfig.json
Labels: type: support :books:

chore: fix ci
  .github/workflows/pr-name-linter.yml
Labels: none

chore: rm `pnpm if-clean`
  package.json
  support/scripts/package.json
  support/scripts/readme.md
  support/scripts/run-if-clean/package.json
  support/scripts/src/run-if-clean.ts
Labels: type: support :books:

chore: remove `pnpm if-config`
  .huskyrc
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/readme.md
  support/scripts/run-if-config/package.json
  support/scripts/src/run-if-config.ts
Labels: type: support :books:

chore: remove husky and `pnpm run if-mac`
  .gitignore
  docs/contributing.md
  package.json
  pnpm-lock.yaml
  support/.config.sample.json
  support/scripts/package.json
  support/scripts/readme.md
  support/scripts/run-if-mac/package.json
  support/scripts/src/index.ts
  support/scripts/src/read-config.ts
  support/scripts/src/run-if-mac.ts
Labels: type: support :books:

chore: remove `pnpm check:release`
  package.json
Labels: none

chore: remove `pnpm posttypecheck`
  package.json
Labels: none

chore: remove `pnpm typecheck:quick`
  package.json
  tsconfig.dev.json
Labels: none

chore: remove verdaccio
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/verdaccio-registry.ts
  support/scripts/verdaccio-registry/package.json
Labels: type: support :books:

chore: remove `pnpm version:pr`
  .github/workflows/version.yml
  package.json
  support/scripts/enable-pr-changeset/package.json
  support/scripts/package.json
  support/scripts/src/enable-pr-changeset.ts
Labels: type: support :books:

chore: update changeset
  .changeset/config.json
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: changeset :butterfly:, type: support :books:

chore: update node.js version in ci to v16
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

chore: fix typo
  support/scripts/src/generate-website-examples.ts
Labels: type: support :books:

chore(deps): update rimraf to v4
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/helpers.ts
Labels: type: support :books:

chore: add `remirror-cli generate-website-examples`
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/generate-website-examples.ts
  packages/remirror__cli/src/index.ts
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

chore: remove `support/scripts/src/generate-website-examples.ts`
  package.json
  support/scripts/generate-website-examples/package.json
  support/scripts/package.json
  support/scripts/src/generate-website-examples.ts
Labels: type: support :books:

chore: run `pnpm fix`
  .changeset/config.json
  support/package.json
  support/tsconfig.json
Labels: type: changeset :butterfly:, type: support :books:

chore(deps): update @microsoft/api-extractor
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

chore: remove patch-mui-package-json.sh
  .github/workflows/docs.yml
  support/scripts/patch-mui-package-json.sh
Labels: type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
