Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

chore(deps): update prosemirror packages
  .changeset/wise-sheep-guess.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

Fix typecheck
  packages/remirror__extension-annotation/src/annotation-extension.ts
Labels: none

chore(deps): update prosemirror packages (#1796)
  .changeset/wise-sheep-guess.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-annotation/src/annotation-extension.ts
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

refactor and comments
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

Add helper for text color extention
  packages/remirror__extension-text-color/src/text-color-extension.ts
Labels: none

chore(helpers): remove deprecated `getRemirrorJSON`
  packages/remirror__core/src/builtins/helpers-extension.ts
Labels: none

chore(link): remove deprecated `onActivateLink` and `openLinkOnClick`
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

tmp(core): add todo
  packages/remirror__core-helpers/src/core-helpers.ts
Labels: none

chore(theme): remove deprecated `getTheme` and `getThemeProps`
  packages/remirror__theme/src/index.ts
  packages/remirror__theme/src/utils.ts
Labels: type: ui :nail_care:

chore(theme): implemenet strict pascal case
  packages/remirror__theme/src/utils.ts
Labels: type: ui :nail_care:

chore(core): remove deprecated `range` property of `replaceText`
  packages/remirror__core-utils/__tests__/command-utils.spec.ts
  packages/remirror__core-utils/src/command-utils.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
  packages/remirror__extension-mention/src/mention-extension.ts
Labels: test: unit :white_check_mark:

chore(core): remove deprecated `isEnabled` check from command chaining
  docs/concepts/extension.md
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/extension/extension.ts
  packages/remirror__core/src/types.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-embed/__tests__/iframe-extension.spec.ts
  packages/remirror__extension-emoji/__tests__/emoji-extension.spec.ts
  packages/remirror__extension-history/__tests__/history-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__react-components/src/menu/index.tsx
  packages/remirror__react-components/src/toolbar/index.tsx
  website/blog/2020-09-14-chainable-commands.md
Labels: framework: react :atom_symbol:, type: ui :nail_care:, test: unit :white_check_mark:

chore(core): remove deprecated `range` property of `removeMark` util
  packages/remirror__core-utils/src/command-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-mention/src/mention-extension.ts
Labels: none

chore(core): remove deprecated `range` property of `toggleMark` util
  packages/remirror__core/src/commands.ts
Labels: none

chore(core): remove deprecated `range` property of `insertNode` command
  packages/remirror__core/src/builtins/commands-extension.ts
Labels: none

chore(core): remove deprecated error constant
  packages/remirror__core-constants/src/error-constants.ts
Labels: none

chore(core): remove deprecated `extensionDecorator` decorator
  packages/remirror__core/src/extension/extension-decorator.ts
Labels: none

fix(link-ext): not able to have links without space
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

chore(core): remove deprecated `focus` and `blur` from Remirror context
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__react-core/__tests__/__snapshots__/use-remirror-context.spec.tsx.snap
Labels: none

chore(react-hooks): remove deprecated `useSuggester` hook
  packages/remirror__react-hooks/src/use-suggest.ts
Labels: framework: react :atom_symbol:

chore(list): remove deprecated list command helpers
  packages/remirror__extension-list/src/index.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

fix(ext-link): not auto detecting adjacent text
  .changeset/sharp-melons-switch.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(ext-link): deleting links updates other links
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

refactor
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

fix(ext-link): not auto detecting adjacent text
  .changeset/sharp-melons-switch.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

refactor
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

refactor: destructure link
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

add packageManager in package.json
  package.json
Labels: none

fix prettify for generate:ts
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

remove support/actions from preconstruct
  package.json
  support/actions/__tests__/pr-utils.spec.ts
  support/actions/__tests__/tsconfig.json
  support/actions/pr/action.yml
  support/actions/pr/pr-utils.mjs
  support/actions/pr/pr.mjs
  support/root/tsconfig.json
Labels: test: unit :white_check_mark:, type: support :books:

remove useless tsconfig.json
  support/actions/package.json
  support/actions/src/tsconfig.json
  support/actions/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

chore: add colors to remirror-cli's output
  packages/remirror__cli/src/logger.ts
  packages/remirror__cli/src/utils/colors.ts
  support/actions/pr/pr-utils.mjs
Labels: package: @remirror/cli :pager:

chore: add colors to remirror-cli's output (#1803)
  packages/remirror__cli/src/logger.ts
  packages/remirror__cli/src/utils/colors.ts
  support/actions/pr/pr-utils.mjs
Labels: package: @remirror/cli :pager:

run tsc inside pnpm-cli
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__cli/src/utils/run-tsc.ts
Labels: package: @remirror/cli :pager:

chore: fix package.json overwrite and improve cli log
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__cli/src/utils/run-tsc.ts
Labels: package: @remirror/cli :pager:

remove `pnpm css:watch`
  package.json
  packages/remirror__theme/package.json
  support/scripts/src/check-styles.ts
Labels: type: ui :nail_care:, type: support :books:

improve `pnpm storybook`
  package.json
Labels: none

wip: don't call preconstruct when running storybook
  package.json
Labels: none

update cli log
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

Hide shell output
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/run-command.ts
  packages/remirror__cli/src/utils/run-custom-script.ts
  packages/remirror__cli/src/utils/run-tsc.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/deprecate-version.ts
Labels: package: @remirror/cli :pager:, type: support :books:
