Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

fix: use remirror as peer dependency
  packages/remirror__react-components/package.json
  packages/remirror__react-components/src/buttons/copy-button.tsx
  packages/remirror__react-components/src/buttons/create-table-button.tsx
  packages/remirror__react-components/src/buttons/cut-button.tsx
  packages/remirror__react-components/src/buttons/paste-button.tsx
  packages/remirror__react-components/src/buttons/redo-button.tsx
  packages/remirror__react-components/src/buttons/toggle-blockquote-button.tsx
  packages/remirror__react-components/src/buttons/toggle-bold-button.tsx
  packages/remirror__react-components/src/buttons/toggle-bullet-list-button.tsx
  packages/remirror__react-components/src/buttons/toggle-callout-button.tsx
  packages/remirror__react-components/src/buttons/toggle-code-block-button.tsx
  packages/remirror__react-components/src/buttons/toggle-code-button.tsx
  packages/remirror__react-components/src/buttons/toggle-heading-button.tsx
  packages/remirror__react-components/src/buttons/toggle-italic-button.tsx
  packages/remirror__react-components/src/buttons/toggle-ordered-list-button.tsx
  packages/remirror__react-components/src/buttons/toggle-strike-button.tsx
  packages/remirror__react-components/src/buttons/toggle-task-list-button.tsx
  packages/remirror__react-components/src/buttons/toggle-underline-button.tsx
  packages/remirror__react-components/src/buttons/undo-button.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:

chore: run pnpm fix
  packages/remirror__react-components/__e2e__/tsconfig.json
  packages/remirror__react-components/__tests__/tsconfig.json
  packages/remirror__react-components/src/tsconfig.json
  support/root/.size-limit.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: support :books:

chore: remirror-cli watch shouldn't override package.json files
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

chore(deps): update typescript
  package.json
  pnpm-lock.yaml
Labels: none

fix ts
  packages/remirror__core/src/extension/base-class.ts
  packages/remirror__core/src/extension/extension.ts
Labels: none

downgrade ts
  package.json
  pnpm-lock.yaml
Labels: none

chore: remirror-cli watch shouldn't override package.json files (#1841)
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

feat(markdown-ext): add optional escape function
  .changeset/rich-mayflies-play.md
  packages/remirror__extension-markdown/src/html-to-markdown.ts
  packages/remirror__extension-markdown/src/markdown-extension.ts
Labels: type: changeset :butterfly:

docs(markdown-editor): remove link ext
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.tsx
Labels: framework: react :atom_symbol:

try to add UseRemirrorProps.manager, but not working
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__react-core/__tests__/use-manager.spec.tsx
  packages/remirror__react-core/src/hooks/use-manager.ts
  packages/remirror__react-core/src/hooks/use-remirror.tsx
  packages/remirror__react-core/src/react-helpers.tsx
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

feat(link-ext): prevent auto link on paste
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

fix
  package.json
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/remirror__core/src/extension/base-class.ts
  packages/remirror__core/src/extension/extension.ts
  packages/remirror__extension-code/__tests__/code-extension.spec.ts
  packages/remirror__react-core/__tests__/use-manager.spec.tsx
  packages/remirror__react-core/src/hooks/use-manager.ts
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

fix PickChanged
  packages/remirror__core/src/types.ts
Labels: none

fix getEntityReferencesFromPluginState
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
Labels: none

add UnpackedExtension
  packages/remirror__core/src/extension/extension-types.ts
Labels: none

fix makeFunctionForUniqueBy
  packages/remirror__core-helpers/src/core-helpers.ts
Labels: none

fix renderEditor
  packages/remirror__extension-code/__tests__/code-extension.spec.ts
  packages/remirror__extension-italic/__tests__/italic-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-strike/__tests__/strike-extension.spec.ts
  packages/remirror__extension-sub/__tests__/sub-extension.spec.ts
  packages/remirror__extension-sup/__tests__/sup-extension.spec.ts
  packages/remirror__extension-trailing-node/__tests__/trailing-node-extension.spec.ts
Labels: test: unit :white_check_mark:

fix renderEditor
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/jest-remirror/__tests__/jest-remirror-matchers.spec.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/__tests__/helpers-extension.spec.ts
  packages/remirror__core/__tests__/tags-extension.spec.ts
  packages/remirror__extension-bidi/__tests__/bidi-extension.spec.ts
  packages/remirror__extension-blockquote/__tests__/blockquote-extension.spec.ts
  packages/remirror__extension-callout/__tests__/callout-extension.spec.ts
  packages/remirror__extension-codemirror6/__tests__/codemirror-extension.spec.ts
  packages/remirror__extension-hard-break/__tests__/hard-break-extension.spec.ts
  packages/remirror__extension-history/__tests__/history-extension.spec.ts
  packages/remirror__extension-horizontal-rule/__tests__/horizontal-rule-extension.spec.ts
  packages/remirror__extension-italic/__tests__/italic-extension.spec.ts
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
Labels: package: jest-remirror :black_joker:, test: unit :white_check_mark:

fix ts-expect-error
  packages/remirror__core/__tests__/tags-extension.spec.ts
Labels: test: unit :white_check_mark:

fix renderEditor
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/remirror__core/__tests__/decorations-extension.spec.ts
  packages/remirror__extension-bidi/__tests__/bidi-extension.spec.ts
Labels: test: unit :white_check_mark:

fix renderEditor
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
Labels: test: unit :white_check_mark:

fix renderEditor
  packages/remirror__extension-diff/__tests__/diff-extension.spec.ts
  packages/remirror__extension-italic/__tests__/italic-extension.spec.ts
Labels: test: unit :white_check_mark:

fix renderEditor
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/remirror__extension-blockquote/__tests__/blockquote-extension.spec.ts
  packages/remirror__extension-callout/__tests__/callout-extension.spec.ts
Labels: test: unit :white_check_mark:

fix renderEditor
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/jest-remirror/__tests__/jest-remirror-matchers.spec.ts
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/__tests__/doc-changed-extension.spec.ts
  packages/remirror__core/__tests__/helpers-extension.spec.ts
  packages/remirror__core/__tests__/keymap-extension.spec.ts
Labels: test: unit :white_check_mark:

fix renderEditor
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/__tests__/decorations-extension.spec.ts
  packages/remirror__core/__tests__/framework.spec.ts
  packages/remirror__core/__tests__/helpers-extension.spec.ts
  packages/remirror__core/__tests__/keymap-extension.spec.ts
  packages/remirror__core/__tests__/schema-extension.spec.ts
Labels: test: unit :white_check_mark:

add patch-mui-package-json.sh
  .github/workflows/docs.yml
  support/scripts/patch-mui-package-json.sh
Labels: type: support :books:

chore: add a temporary script to fix the api-extractor error (#1848)
  .github/workflows/docs.yml
  support/scripts/patch-mui-package-json.sh
Labels: type: support :books:

fix type
  packages/remirror__types/src/types.ts
Labels: none

fix(emoji-ext): popup can't be closed via esc key
  .changeset/tender-schools-punch.md
  packages/remirror__react-components/src/components/emoji-popup-component.tsx
  packages/remirror__react-hooks/__tests__/use-emoji.spec.tsx
  packages/remirror__react-hooks/src/use-emoji.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:, test: unit :white_check_mark:

fix lint error
  packages/remirror__react-hooks/__tests__/use-emoji.spec.tsx
Labels: test: unit :white_check_mark:

add changeset
  .changeset/three-feet-relate.md
Labels: type: changeset :butterfly:

fix(extension-emoji): correct a bad import
  .changeset/famous-penguins-kiss.md
  packages/remirror__extension-emoji/src/emoji-utils.ts
Labels: type: changeset :butterfly:

fix(extension-emoji): correct a bad import (#1850)
  .changeset/famous-penguins-kiss.md
  packages/remirror__extension-emoji/src/emoji-utils.ts
Labels: type: changeset :butterfly:

fix(jest-prosemirror): clarify the TS return type for `pmBuild`
  .changeset/hungry-eggs-beam.md
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:

fix(jest-prosemirror): clarify the TS return type for `pmBuild` (#1852)
  .changeset/hungry-eggs-beam.md
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:

chore: stop deploy production sites from v1 branch
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

chore: deploy production sites from main branch
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

chore: stop deploy production sites from v1 branch (#1854)
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

chore: deploy production sites from main branch (#1855)
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

chore: exit prerelease mode and prepare to release v2 stable
  .changeset/pre.json
Labels: type: changeset :butterfly:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
