Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

Install dep
  packages/remirror__theme/package.json
  pnpm-lock.yaml
Labels: type: ui :nail_care:

Fix linaria breaking API
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/linaria.ts
Labels: type: support :books:

Fix test CollaborationOptions
  packages/remirror__extension-collaboration/src/collaboration-extension.ts
Labels: none

Fix test link
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

Fix lint
  packages/remirror__theme/package.json
Labels: type: ui :nail_care:

Downgrade lib0 to 0.2.61
  package.json
  pnpm-lock.yaml
Labels: none

Don't update y-prosemirror range
  package.json
  packages/remirror__extension-yjs/package.json
  pnpm-lock.yaml
Labels: none

Update lib0 the the latest version
  package.json
  pnpm-lock.yaml
Labels: none

Remove node.js v14 from CI
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

split unit test
  .github/workflows/ci.yml
Labels: none

run pnpm fix
  .github/workflows/ci.yml
Labels: none

chore: simplify ci cache
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
  support/actions/pnpm/action.yml
Labels: none

change name
  support/actions/pnpm/action.yml
Labels: none

fix
  support/actions/pnpm/action.yml
Labels: none

remove .pnpm-store/
  .eslintignore
  .gitignore
  support/actions/pnpm/action.yml
Labels: none

set cache
  support/actions/pnpm/action.yml
Labels: none

chore: simplify ci cache (#2031)
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
  .gitignore
  support/actions/pnpm/action.yml
Labels: none

Use tsup to rollup dts
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__cli/src/utils/run-esbuild.ts
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

fix tsup
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

update package.json
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__cli/src/utils/ensure-cjs-filename.ts
Labels: package: @remirror/cli :pager:

add publishConfig
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

wip
  packages/jest-prosemirror/environment/package.json
  packages/jest-prosemirror/package.json
  packages/jest-prosemirror/serializer/package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: jest-prosemirror :performing_arts:, package: @remirror/cli :pager:

fix subpackage publishConfig
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

Fix build
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

fix jsonEqual
  packages/remirror__cli/src/utils/write-package-json.ts
Labels: package: @remirror/cli :pager:

run prettier
  packages/a11y-status/package.json
  packages/create-context-state/package.json
  packages/jest-prosemirror/environment/package.json
  packages/jest-prosemirror/package.json
  packages/jest-prosemirror/serializer/package.json
  packages/jest-remirror/environment/package.json
  packages/jest-remirror/package.json
  packages/multishift/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror/dom/package.json
  packages/remirror/extensions/package.json
  packages/remirror/icons/package.json
  packages/remirror/package.json
  packages/remirror__core-constants/package.json
  packages/remirror__core-helpers/package.json
  packages/remirror__core-types/package.json
  packages/remirror__core-utils/package.json
  packages/remirror__core/package.json
  packages/remirror__dev/package.json
  packages/remirror__dom/package.json
  packages/remirror__extension-annotation/package.json
  packages/remirror__extension-bidi/package.json
  packages/remirror__extension-blockquote/package.json
  packages/remirror__extension-bold/package.json
  packages/remirror__extension-callout/package.json
  packages/remirror__extension-code-block/formatter/package.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code/package.json
  packages/remirror__extension-codemirror5/package.json
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-collaboration/package.json
  packages/remirror__extension-columns/package.json
Labels: package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, framework: dom :globe_with_meridians:

Update pnpm to v8
  package.json
  pnpm-lock.yaml
Labels: none

Revert "Update pnpm to v8"
  package.json
  pnpm-lock.yaml
Labels: none

chore: update typescript to v5
  package.json
  pnpm-lock.yaml
Labels: none

fix typecheck
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core-utils/src/core-utils.ts
Labels: none

Update storybook to v7
  packages/storybook-react/.storybook/main.js
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: none

Fix typecheck
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
Labels: none

increase max memory
  .github/workflows/storybook.yml
Labels: none

chore: update typescript to v5, storybook to v7 (#2034)
  .github/workflows/storybook.yml
  package.json
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/storybook-react/.storybook/main.js
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
  pnpm-lock.yaml
Labels: none

fix typecheck
  package.json
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.node.spec.ts
  packages/remirror__i18n/__tests__/plurals.spec.ts
  packages/remirror__pm/__tests__/pm-utils.spec.ts
  packages/remirror__react-hooks/__tests__/use-editor-focus.spec.tsx
  packages/remirror__react-hooks/__tests__/use-emoji.spec.tsx
  packages/remirror__react-hooks/__tests__/use-history.spec.tsx
  packages/remirror__react-hooks/__tests__/use-keymaps.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention-atom.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention.spec.tsx
  packages/remirror__react-hooks/__tests__/use-multi-positioner.spec.tsx
  packages/remirror__react-hooks/__tests__/use-positioner.spec.tsx
  packages/remirror__react-hooks/__tests__/use-suggest.spec.tsx
  packages/remirror__styles/__tests__/styles.spec.ts
  patches/@lingui__detect-locale@3.17.2.patch
  patches/svgmoji@3.2.0.patch
  patches/w3c-keyname@2.2.6.patch
  patches/y-prosemirror@1.2.1.patch
  patches/y-webrtc@10.2.5.patch
  pnpm-lock.yaml
  support/tsconfig.base.json
Labels: test: unit :white_check_mark:, type: support :books:

update patch
  patches/svgmoji@3.2.0.patch
  pnpm-lock.yaml
Labels: none

Patch react-use
  package.json
  patches/react-use@17.4.0.patch
  pnpm-lock.yaml
  support/jest/jest.framework.mjs
Labels: type: support :books:

run pnpm fix
  support/tsconfig.base.json
Labels: type: support :books:

fix pnpm api
  support/scripts/src/generate-api.ts
Labels: type: support :books:

remove react-use
  package.json
  packages/multishift/package.json
  packages/multishift/src/multishift-hooks.ts
  packages/multishift/src/multishift.ts
  patches/react-use@17.4.0.patch
  pnpm-lock.yaml
Labels: package: multishift :arrow_down_small:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
