Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

Update markdown-extension.mdx
  docs/extensions/markdown-extension.mdx
Labels: none

Fix typo in documentation code example
  packages/remirror__react-hooks/src/use-multi-positioner.ts
Labels: framework: react :atom_symbol:

docs: fix markdown 404 storybook link (#1261)
  docs/extensions/markdown-extension.mdx
Labels: none

docs: fix typo in documentation code example (#1262)
  packages/remirror__react-hooks/src/use-multi-positioner.ts
Labels: framework: react :atom_symbol:

docs: allow `docs/api` to not exist
  website/sidebar.js
Labels: none

format
  website/sidebar.js
Labels: none

remove useless code
  website/sidebar.js
Labels: none

chore(file): highlight that file extension should be used with drop cursor
  docs/extensions/drop-cursor-extension.mdx
  packages/remirror__extension-file/readme.md
  packages/storybook-react/stories/extension-drop-cursor/basic.tsx
  packages/storybook-react/stories/extension-drop-cursor/color.tsx
  packages/storybook-react/stories/extension-drop-cursor/drop-cursor.stories.tsx
  packages/storybook-react/stories/extension-file/basic.tsx
  packages/storybook-react/stories/extension-file/with-bashupload.tsx
  packages/storybook-react/stories/extension-file/with-object-url.tsx
  packages/storybook-react/stories/extension-file/with-upload-file-button.tsx
  packages/storybook-react/stories/extension-file/with-upload-progress.tsx
  website/extension-examples/extension-drop-cursor/basic.tsx
  website/extension-examples/extension-drop-cursor/color.tsx
  website/extension-examples/react/editable.tsx
  website/extension-examples/react/replace-content-preserve-history.tsx
Labels: none

docs: allow `docs/api` to not exist (#1267)
  website/sidebar.js
Labels: none

chore(file): highlight that file extension should be used with drop cursor (#1268)
  docs/extensions/drop-cursor-extension.mdx
  packages/remirror__extension-file/readme.md
  packages/storybook-react/stories/extension-drop-cursor/basic.tsx
  packages/storybook-react/stories/extension-drop-cursor/color.tsx
  packages/storybook-react/stories/extension-drop-cursor/drop-cursor.stories.tsx
  packages/storybook-react/stories/extension-file/basic.tsx
  packages/storybook-react/stories/extension-file/with-bashupload.tsx
  packages/storybook-react/stories/extension-file/with-object-url.tsx
  packages/storybook-react/stories/extension-file/with-upload-file-button.tsx
  packages/storybook-react/stories/extension-file/with-upload-progress.tsx
  website/extension-examples/extension-drop-cursor/basic.tsx
  website/extension-examples/extension-drop-cursor/color.tsx
  website/extension-examples/react/editable.tsx
  website/extension-examples/react/replace-content-preserve-history.tsx
Labels: none

feat: allow to pre-fill markdown editor
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
Labels: framework: react :atom_symbol:

feat: allow to pre-fill markdown editor (#1269)
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
Labels: framework: react :atom_symbol:

docs: improve docs for CodeBlockExtension
  docs/extensions/code-block-extension.mdx
  packages/storybook-react/stories/extension-code-block/basic.tsx
Labels: none

docs: improve docs for CodeBlockExtension (#1270)
  docs/extensions/code-block-extension.mdx
  packages/storybook-react/stories/extension-code-block/basic.tsx
Labels: none

docs: format info block as such
  docs/extensions/code-block-extension.mdx
Labels: none

docs: format info block as such (#1271)
  docs/extensions/code-block-extension.mdx
Labels: none

feat(extension-annotation): add flag to filter out getAnnotationsAt edge matches
  .changeset/big-terms-clean.md
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

feat(extension-annotation): add flag to filter out getAnnotationsAt edge matches (#1272)
  .changeset/big-terms-clean.md
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1273)
  .changeset/big-terms-clean.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-annotation/CHANGELOG.md
  packages/remirror__extension-annotation/package.json
  packages/remirror__extension-yjs/CHANGELOG.md
  packages/remirror__extension-yjs/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(deps): lock file maintenance
  pnpm-lock.yaml
Labels: none

fix(core-helpers): correct the error message for `ErrorConstant.REACT_PROVIDER_CONTEXT`
  packages/remirror__core-helpers/src/core-errors.ts
Labels: none

add changeset
  .changeset/stale-dolls-lay.md
Labels: type: changeset :butterfly:

fix(core-helpers): correct the error message for `ErrorConstant.REACT_PROVIDER_CONTEXT` (#1275)
  .changeset/stale-dolls-lay.md
  packages/remirror__core-helpers/src/core-errors.ts
Labels: type: changeset :butterfly:

format document
  package.json
  packages/multishift/src/multishift-types.ts
  packages/prosemirror-suggest/src/suggest-types.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__types/src/types.ts
  support/scripts/package.json
Labels: package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, type: support :books:

install @tsconfig/docusaurus
  pnpm-lock.yaml
  website/package.json
Labels: none

works
  packages/tsconfig.json
  pnpm-lock.yaml
  website/package.json
  website/src/tsconfig.json
  website/tsconfig.json
Labels: none

fix
  pnpm-lock.yaml
  website/package.json
Labels: none

run pnpm fix
  packages/docusaurus-plugin-examples/package.json
  packages/tsconfig.json
  pnpm-lock.yaml
Labels: none

update
  packages/docusaurus-plugin-examples/package.json
  pnpm-lock.yaml
  website/package.json
Labels: none

add changeset
  .changeset/mean-fans-grin.md
Labels: type: changeset :butterfly:

test build:docs
  .github/workflows/docs.yml
  print-mem.sh
Labels: none

chore: add changeset for #1157 (#1277)
  .changeset/mean-fans-grin.md
Labels: type: changeset :butterfly:

docs: setup docusaurus caching
  .github/workflows/docs.yml
Labels: none

fix: stop hiding error details in production
  .changeset/three-poets-hunt.md
  docs/errors.md
  packages/remirror__core-constants/src/error-constants.ts
  packages/remirror__core-helpers/src/core-errors.ts
Labels: type: changeset :butterfly:

update test
  packages/remirror__core-helpers/__tests__/__snapshots__/core-errors.spec.ts.snap
  packages/remirror__core-helpers/__tests__/core-errors.spec.ts
Labels: test: unit :white_check_mark:

update size_limit
  packages/remirror__extension-embed/package.json
  support/root/.size-limit.json
Labels: type: support :books:

chore: setup docusaurus caching (#1279)
  .github/workflows/docs.yml
Labels: none

fix: stop hiding error details in production (#1280)
  .changeset/three-poets-hunt.md
  docs/errors.md
  packages/remirror__core-constants/src/error-constants.ts
  packages/remirror__core-helpers/__tests__/__snapshots__/core-errors.spec.ts.snap
  packages/remirror__core-helpers/__tests__/core-errors.spec.ts
  packages/remirror__core-helpers/src/core-errors.ts
  packages/remirror__extension-embed/package.json
  support/root/.size-limit.json
Labels: type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

chore(storybook): remove @storybook/addon-storysource
  packages/storybook-react/package.json
  packages/storybook-react/src/storybook-react-main.ts
  pnpm-lock.yaml
Labels: none

chore(storybook): remove @storybook/addon-storysource (#1281)
  packages/storybook-react/package.json
  packages/storybook-react/src/storybook-react-main.ts
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
