Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

fix(create-context-hook): fix bundled dts
  .changeset/orange-moles-joke.md
  packages/create-context-state/src/create-context-hook.tsx
Labels: type: changeset :butterfly:

add changeset
  .changeset/orange-moles-joke.md
Labels: type: changeset :butterfly:

fix(create-context-hook): fix bundled dts (#2077)
  .changeset/orange-moles-joke.md
  packages/create-context-state/src/create-context-hook.tsx
Labels: type: changeset :butterfly:

chore(changeset): version update (#2078)
  .changeset/orange-moles-joke.md
  packages/create-context-state/CHANGELOG.md
  packages/create-context-state/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/CHANGELOG.md
  packages/remirror__react-core/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore(deps): update dependencies
  .changeset/tender-oranges-kiss.md
  package.json
  packages/jest-prosemirror/package.json
  packages/multishift/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  patches/w3c-keyname@2.2.6.patch
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, type: changeset :butterfly:

update
  pnpm-lock.yaml
Labels: none

chore(deps): update dependencies (#2079)
  .changeset/tender-oranges-kiss.md
  package.json
  packages/jest-prosemirror/package.json
  packages/multishift/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  patches/w3c-keyname@2.2.6.patch
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, type: changeset :butterfly:

fix(link-extesnion): remove click plugin test case and add event handler test case
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Labels: test: unit :white_check_mark:

add changeset
  .changeset/pink-hornets-share.md
Labels: type: changeset :butterfly:

fix(link-extension): remove duplicate click handler (#2076)
  .changeset/pink-hornets-share.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#2083)
  .changeset/pink-hornets-share.md
  packages/remirror/package.json
  packages/remirror__extension-link/CHANGELOG.md
  packages/remirror__extension-link/package.json
  packages/remirror__preset-wysiwyg/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

refactor: rename upload-extension to async-extension
  packages/remirror__core/src/builtins/async-extension/file-placeholder-actions.ts
  packages/remirror__core/src/builtins/async-extension/file-placeholder-plugin.ts
  packages/remirror__core/src/builtins/async-extension/file-upload.ts
  packages/remirror__core/src/builtins/async-extension/file-uploader.ts
  packages/remirror__core/src/builtins/async-extension/index.ts
  packages/remirror__core/src/builtins/async-extension/upload-context.ts
  packages/remirror__core/src/builtins/async-extension/upload-extension.ts
  packages/remirror__core/src/builtins/builtin-preset.ts
  packages/remirror__core/src/builtins/index.ts
Labels: none

WIP: before clean
  packages/remirror__core/src/builtins/async-extension/file-upload/file-upload.ts
  packages/remirror__core/src/builtins/async-extension/file-upload/file-uploader.ts
  packages/remirror__core/src/builtins/async-extension/file-upload/upload-context.ts
Labels: none

docs(storybook): add trailing node examples
  packages/storybook-react/stories/extension-trailing-node/basic.tsx
  packages/storybook-react/stories/extension-trailing-node/trailing-node.stories.tsx
  website/extension-examples/extension-trailing-node/basic.tsx
Labels: none

chore: ensure consistent pnpm-lock formatting
  .npmrc
Labels: none

fix(mention-atom): fix partial matches if supported characters allow whitespace
  .changeset/moody-rules-suffer.md
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
  packages/remirror__react-hooks/src/use-mention-atom.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(react-hooks): fix type error on useMentionAtom
  packages/remirror__react-hooks/src/use-mention-atom.ts
Labels: framework: react :atom_symbol:

chore: update changeset
  .changeset/moody-rules-suffer.md
Labels: type: changeset :butterfly:

fix(storybook-react): prevent atom dropdowns being cropped
  packages/storybook-react/stories/react-hooks/use-mention-atom-styles.css
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
Labels: none

fix(react-components): FloatingWrapper rendered outside no longer causes a blur event on click
  .changeset/red-stingrays-itch.md
  packages/remirror__react-components/src/floating-menu.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix(mention-atom): fix partial replacements including whitespace (#2088)
  .changeset/moody-rules-suffer.md
  .changeset/red-stingrays-itch.md
  .npmrc
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
  packages/remirror__react-components/src/floating-menu.tsx
  packages/remirror__react-hooks/src/use-mention-atom.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-trailing-node/basic.tsx
  packages/storybook-react/stories/extension-trailing-node/trailing-node.stories.tsx
  packages/storybook-react/stories/react-hooks/use-mention-atom-styles.css
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
  pnpm-lock.yaml
  website/extension-examples/extension-trailing-node/basic.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore(changeset): version update (#2090)
  .changeset/moody-rules-suffer.md
  .changeset/red-stingrays-itch.md
  packages/remirror/package.json
  packages/remirror__extension-mention-atom/CHANGELOG.md
  packages/remirror__extension-mention-atom/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix duplicated export
  packages/prosemirror-paste-rules/src/index.ts
Labels: none

chore: fix duplicated export (#2091)
  packages/prosemirror-paste-rules/src/index.ts
Labels: none

feat: add beforeKeyhandler hook
  packages/remirror__core/__tests__/keymap-extension.spec.ts
  packages/remirror__core/src/builtins/keymap-extension.ts
Labels: test: unit :white_check_mark:

fix: enable to remove the list which is after a table node
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

fix bad merge
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Labels: test: unit :white_check_mark:

update storybook
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
Labels: none

check pos before return
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
Labels: none

parse id
  packages/remirror__extension-file/src/file-extension.tsx
Labels: none

add changeset
  .changeset/quick-mirrors-unite.md
Labels: type: changeset :butterfly:

fix(core): re-check upload placeholder position (#2100)
  .changeset/quick-mirrors-unite.md
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
Labels: type: changeset :butterfly:

feat: add floatingui to replace popperjs
  packages/remirror__react-components/package.json
  packages/remirror__react-components/src/floating-menu.tsx
  packages/remirror__react-components/src/use-popper.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:

feat: add useFloatingPortal property
  packages/remirror__react-components/src/floating-menu.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

[CHORE] Update lingui to 4.2.0 version
  package.json
  packages/remirror__extension-bidi/src/bidi-extension.ts
  packages/remirror__extension-callout/src/callout-utils.ts
  packages/remirror__extension-columns/src/columns-extension.ts
  packages/remirror__extension-heading/src/heading-constants.ts
  packages/remirror__extension-text-color/src/text-color-utils.ts
  packages/remirror__i18n/package.json
  packages/remirror__messages/package.json
  packages/remirror__messages/src/extension-callout-messages.ts
  packages/remirror__messages/src/extension-columns-messages.ts
  packages/remirror__messages/src/extension-heading-messages.ts
  packages/remirror__react-components/package.json
  packages/remirror__react-core/src/hooks/use-i18n.ts
  patches/@lingui__detect-locale@3.17.2.patch
  patches/@lingui__detect-locale@4.2.0.patch
  pnpm-lock.yaml
  support/scripts/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: support :books:

[CHORE] Update link to lingui site
  readme.md
Labels: none

[CHORE] Updated the files generated by lingui
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
Labels: none

Added changeset for lingui bump
  .changeset/heavy-carpets-wash.md
Labels: type: changeset :butterfly:

update extension in exmaple snippet
  docs/getting-started/create-manager.md
Labels: none

Update heavy-carpets-wash.md
  .changeset/heavy-carpets-wash.md
Labels: type: changeset :butterfly:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
