Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

docs: optimize homepage
  website/docusaurus.config.js
  website/src/pages/index.tsx
Labels: none

Run pnpm:fix
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
Labels: none

docs: optimize homepage (#1170)
  website/docusaurus.config.js
  website/src/pages/index.tsx
Labels: none

pnpm:fix
  .changeset/shiny-eyes-exist.md
Labels: type: changeset :butterfly:

feat: add pre-packaged editors (#1168)
  .changeset/shiny-eyes-exist.md
  docs/showcase/markdown.mdx
  docs/showcase/richtext.mdx
  docs/showcase/social.mdx
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/remirror__react-editors/src/components/bubble-menu.tsx
  packages/remirror__react-editors/src/components/top-toolbar.tsx
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.stories.tsx
  pnpm-lock.yaml
  website/examples/basic/index.tsx
  website/examples/example.css
  website/examples/markdown/index.tsx
  website/examples/richtext/index.tsx
  website/examples/social/index.tsx
  website/package.json
  website/sidebar.js
  website/src/components/example-iframe-component.tsx
  website/src/tsconfig.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

docs: demo how to prefill content with mention
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
Labels: none

docs: demo how to prefill content with mention (#1172)
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
Labels: none

chore: address pr comment
  packages/remirror__extension-positioner/src/core-positioners.ts
Labels: none

feat(extension-positioner): add `helpers` to the `BasePositionerProps` (#1158)
  .changeset/two-kangaroos-enjoy.md
  package.json
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-positioner/src/positioner.ts
Labels: type: changeset :butterfly:

fix(file): export UploadContext type
  packages/remirror__extension-file/src/index.ts
Labels: none

fix(file): export UploadContext type (#1173)
  packages/remirror__extension-file/src/index.ts
Labels: none

fix(extension-list): toggle task lists to bullet lists and vice versa
  .changeset/great-frogs-move.md
  .changeset/thirty-owls-pull.md
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-list.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-list-theme.ts
  packages/storybook-react/stories/extension-list/list-extension.stories.tsx
Labels: type: ui :nail_care:, type: changeset :butterfly:, test: unit :white_check_mark:

add more tests
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: test: unit :white_check_mark:

fix(extension-list): toggle task lists to bullet lists and vice versa (#1174)
  .changeset/great-frogs-move.md
  .changeset/thirty-owls-pull.md
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-list.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-list-theme.ts
  packages/storybook-react/stories/extension-list/list-extension.stories.tsx
Labels: type: ui :nail_care:, type: changeset :butterfly:, test: unit :white_check_mark:

feat(core): add new `UploadExtension`
  .changeset/tender-berries-fly.md
  packages/remirror__core/src/builtins/builtin-preset.ts
  packages/remirror__core/src/builtins/index.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-actions.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
  packages/remirror__core/src/builtins/upload-extension/file-uploader.ts
  packages/remirror__core/src/builtins/upload-extension/index.ts
  packages/remirror__core/src/builtins/upload-extension/upload-context.ts
  packages/remirror__core/src/builtins/upload-extension/upload-extension.ts
  packages/remirror__extension-file/src/file-component.tsx
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-uploaders/bashupload-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/data-url-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/object-url-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
  packages/remirror__extension-file/src/index.ts
  packages/storybook-react/stories/extension-file/file.stories.tsx
  packages/storybook-react/stories/extension-file/use-file-dialog.ts
Labels: type: changeset :butterfly:

review
  packages/remirror__core/src/builtins/builtin-preset.ts
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
  packages/remirror__core/src/builtins/upload-extension/index.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-image/src/image-extension.ts
Labels: none

feat(core): add new `UploadExtension` (#1176)
  .changeset/tender-berries-fly.md
  packages/remirror__core/src/builtins/builtin-preset.ts
  packages/remirror__core/src/builtins/index.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-actions.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
  packages/remirror__core/src/builtins/upload-extension/file-uploader.ts
  packages/remirror__core/src/builtins/upload-extension/index.ts
  packages/remirror__core/src/builtins/upload-extension/upload-context.ts
  packages/remirror__core/src/builtins/upload-extension/upload-extension.ts
  packages/remirror__extension-file/src/file-component.tsx
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-uploaders/bashupload-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/data-url-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/object-url-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
  packages/remirror__extension-file/src/index.ts
  packages/remirror__extension-image/src/image-extension.ts
  packages/storybook-react/stories/extension-file/file.stories.tsx
  packages/storybook-react/stories/extension-file/use-file-dialog.ts
Labels: type: changeset :butterfly:

chore: update renovate config
  package.json
Labels: none

chore: update renovate config (#1177)
  package.json
Labels: none

wip
  packages/remirror__core/package.json
  packages/remirror__core/src/framework/framework.ts
  pnpm-lock.yaml
Labels: none

fix: decouple core and theme
  .changeset/friendly-worms-sparkle.md
Labels: type: changeset :butterfly:

fix(core): decouple core and theme (#1178)
  .changeset/friendly-worms-sparkle.md
  packages/remirror__core/package.json
  packages/remirror__core/src/framework/framework.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix
  packages/remirror__core/package.json
Labels: none

docs: improve homepage messaging
  website/package.json
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
  website/static/img/banner-growing.svg
  website/static/img/banner-multiframework.svg
Labels: none

docs: improve homepage messaging (#1180)
  website/package.json
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
  website/static/img/banner-growing.svg
  website/static/img/banner-multiframework.svg
Labels: none

docs: defocus from improvement suggestions
  docs/introduction.md
Labels: none

docs: make improvement suggestions section less prominent (#1181)
  docs/introduction.md
Labels: none

docs: add blog post about user showcase
  website/blog/2021-08-27-showcase-next.md
Labels: none

docs: add blog post about user showcase (#1182)
  website/blog/2021-08-27-showcase-next.md
Labels: none

feat(extension-list): don't require a `NodeSelection` to fire `toggleCheckboxChecked`
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: test: unit :white_check_mark:

fix typecheck
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: none

changeset
  .changeset/shiny-trains-promise.md
Labels: type: changeset :butterfly:

typo
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
Labels: test: unit :white_check_mark:

typecheck
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
Labels: test: unit :white_check_mark:

feat(extension-list): don't require a `NodeSelection` to fire `toggleCheckboxChecked` (#1183)
  .changeset/shiny-trains-promise.md
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1184)
  .changeset/shiny-trains-promise.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(theme): reset some CSS on IMG separator nodes
  packages/remirror__styles/all.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/core-theme.ts
Labels: type: ui :nail_care:

changeset
  .changeset/lazy-crews-speak.md
Labels: type: changeset :butterfly:

fix(theme): reset some CSS on IMG separator nodes (#1185)
  .changeset/lazy-crews-speak.md
  packages/remirror__styles/all.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/core-theme.ts
Labels: type: ui :nail_care:, type: changeset :butterfly:

fix: typos on homepage
  website/src/pages/index.tsx
Labels: none
