Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

run pnpm fix
  docs/react/refs.md
Labels: none

fix name
  .github/workflows/pr-name-linter.yml
Labels: none

docs: correct examples for `htmlToProsemirrorNode` and `prosemirrorNodeToHtml`
  docs/faq.md
  packages/remirror__core-utils/src/core-utils.ts
Labels: none

docs: add DocExtension page
  docs/extensions/doc-extension.mdx
Labels: none

fix .github/workflows/pr-name-linter.yml
  .github/workflows/pr-name-linter.yml
Labels: none

fix path
  .github/workflows/pr-name-linter.yml
Labels: none

ci: fix the workflow pr-name-linter (#1405)
  .github/workflows/pr-name-linter.yml
Labels: none

ci: increase timeout minutes
  .github/workflows/ci.yml
  .github/workflows/version.yml
Labels: none

docs: add DocExtension documentation (#1408)
  docs/extensions/doc-extension.mdx
Labels: none

ci: increase timeout minutes (#1409)
  .github/workflows/ci.yml
  .github/workflows/version.yml
Labels: none

docs: correct examples for `htmlToProsemirrorNode` and `prosemirrorNodeToHtml` (#1407)
  docs/faq.md
  packages/remirror__core-utils/src/core-utils.ts
Labels: none

docs: correct a duplicate import (#1406)
  docs/react/refs.md
Labels: none

fix(react): fix React node view's drag-and-drop
  .changeset/little-points-itch.md
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/storybook-react/stories/extension-file/basic.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(react): fix React node view's drag-and-drop (#1410)
  .changeset/little-points-itch.md
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/storybook-react/stories/extension-file/basic.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore: let renvoate to ignore y-prosemirror temporarily
  package.json
Labels: none

fixup
  package.json
Labels: none

chore: let renvoate to ignore y-prosemirror temporarily (#1411)
  package.json
Labels: none

chore(changeset): version update (#1412)
  .changeset/little-points-itch.md
  packages/remirror__dev/CHANGELOG.md
  packages/remirror__dev/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/CHANGELOG.md
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/CHANGELOG.md
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__preset-react/CHANGELOG.md
  packages/remirror__preset-react/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/CHANGELOG.md
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/CHANGELOG.md
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore(deps): update prosemirror packages
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:

docs: add an exmaple using `<figcaption>` with `ImageExtension`
  packages/storybook-react/stories/extension-image/image.stories.tsx
  packages/storybook-react/stories/extension-image/with-figcaption.tsx
Labels: none

update docs
  docs/extensions/image-extension.mdx
  packages/storybook-react/stories/extension-image/basic.tsx
  packages/storybook-react/stories/extension-image/with-figcaption.tsx
Labels: none

clean lockfile
  pnpm-lock.yaml
Labels: none

add changeset
  .changeset/four-clocks-attack.md
Labels: type: changeset :butterfly:

run pnpm fix
  website/extension-examples/extension-image/with-figcaption.tsx
Labels: none

update snapshot
  packages/remirror__extension-react-component/__tests__/__snapshots__/react-component-extension.spec.tsx.snap
Labels: none

chore(deps): update dependency @rollup/plugin-commonjs to v21
  packages/remirror__cli/package.json
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

docs: add an example about using `<figcaption>` with `ImageExtension` (#1416)
  docs/extensions/image-extension.mdx
  packages/storybook-react/stories/extension-image/basic.tsx
  packages/storybook-react/stories/extension-image/image.stories.tsx
  packages/storybook-react/stories/extension-image/with-figcaption.tsx
  website/extension-examples/extension-image/with-figcaption.tsx
Labels: none

bug fix
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

add test
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

changeset
  .changeset/stupid-windows-smoke.md
Labels: type: changeset :butterfly:

fix(extension-list): don't delete extra nodes when pressing enter (#1421)
  .changeset/stupid-windows-smoke.md
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1422)
  .changeset/stupid-windows-smoke.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat: support shortcut for left/right arrows
  .changeset/polite-spoons-stare.md
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
Labels: type: changeset :butterfly:

feat: support shortcut for left/right arrows (#1423)
  .changeset/polite-spoons-stare.md
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1424)
  .changeset/polite-spoons-stare.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-shortcuts/CHANGELOG.md
  packages/remirror__extension-shortcuts/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

Align left/right arrow style with other arrows
  .changeset/sour-rockets-tan.md
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
Labels: type: changeset :butterfly:

Align left/right arrow style with other arrows (#1425)
  .changeset/sour-rockets-tan.md
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1426)
  .changeset/sour-rockets-tan.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-shortcuts/CHANGELOG.md
  packages/remirror__extension-shortcuts/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(link): prevent text loss when drag and dropping text containing links
  .changeset/pink-snails-behave.md
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:

fix(link): prevent text loss when drag and dropping text containing links (#1428)
  .changeset/pink-snails-behave.md
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:
