Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

chore(changeset): version update (#1205)
  .changeset/rare-starfishes-behave.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__dev/CHANGELOG.md
  packages/remirror__dev/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix ts error type
  packages/jest-prosemirror/src/jest-prosemirror-matchers.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-file/src/file-uploaders/bashupload-file-uploader.ts
  support/actions/src/pr.ts
  support/scripts/src/check-styles.ts
  support/scripts/src/deprecate-version.ts
  support/scripts/src/generate-api.ts
  support/scripts/src/read-config.ts
Labels: package: jest-prosemirror :performing_arts:, type: support :books:

fix lint
  packages/jest-prosemirror/src/jest-prosemirror-events.ts
Labels: package: jest-prosemirror :performing_arts:

fix typecheck
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

install @types/react-router-dom @types/react-helmet
  pnpm-lock.yaml
  website/package.json
Labels: none

fix EventConstructor
  packages/jest-prosemirror/src/jest-prosemirror-events.ts
Labels: package: jest-prosemirror :performing_arts:

chore: prepare for the upcoming dependency upgrade (#1209)
  packages/jest-prosemirror/src/jest-prosemirror-events.ts
  packages/jest-prosemirror/src/jest-prosemirror-matchers.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-file/src/file-uploaders/bashupload-file-uploader.ts
  pnpm-lock.yaml
  support/actions/src/pr.ts
  support/scripts/src/check-styles.ts
  support/scripts/src/deprecate-version.ts
  support/scripts/src/generate-api.ts
  support/scripts/src/generate-configs.ts
  support/scripts/src/read-config.ts
  website/package.json
Labels: package: jest-prosemirror :performing_arts:, type: support :books:

fix(prosemirror-resizable-view): don't discard node attributes when resizing
  .changeset/cool-wolves-camp.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
Labels: type: changeset :butterfly:

fix(prosemirror-resizable-view): don't discard node attributes when resizing (#1210)
  .changeset/cool-wolves-camp.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
Labels: type: changeset :butterfly:

chore: allow the label_sponsors workflow to fail
  .github/workflows/label-sponsors.yml
Labels: none

chore(changeset): version update (#1211)
  .changeset/cool-wolves-camp.md
  package.json
  packages/prosemirror-resizable-view/CHANGELOG.md
  packages/prosemirror-resizable-view/package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-embed/CHANGELOG.md
  packages/remirror__extension-embed/package.json
  packages/remirror__extension-image/CHANGELOG.md
  packages/remirror__extension-image/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore: allow the label_sponsors workflow to fail (#1212)
  .github/workflows/label-sponsors.yml
Labels: none

fix: remove react dependency from wysiwyg-preset
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/remirror__react-editors/__e2e__/tsconfig.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/tsconfig.json
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: framework: react :atom_symbol:, type: support :books:

Add changeset
  .changeset/calm-olives-repair.md
Labels: type: changeset :butterfly:

fix: remove react dependency from wysiwyg-preset (#1207)
  .changeset/calm-olives-repair.md
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/remirror__react-editors/__e2e__/tsconfig.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/tsconfig.json
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: support :books:

docs: add sample editor to homepage
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
Labels: type: ui :nail_care:

docs: add sample editor to homepage (#1215)
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
Labels: type: ui :nail_care:

docs: add a story about how to use mention with Chinese characters
  packages/storybook-react/stories/react-hooks/use-mention.stories.tsx
Labels: none

docs: add a story about how to use mention with Chinese characters (#1219)
  packages/storybook-react/stories/react-hooks/use-mention.stories.tsx
Labels: none

fix(core): unchained commands should use a new transaction. Fixes #1197
  .changeset/twelve-hotels-matter.md
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  support/root/jest.config.js
Labels: type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

fix(core): unchained commands should use a new transaction. Fixes #1197 (#1208)
  .changeset/twelve-hotels-matter.md
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  support/root/jest.config.js
Labels: type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

add example
  docs/extensions/code-extension.mdx
  docs/extensions/index.md
  pnpm-lock.yaml
  website/babel.config.js
  website/package.json
  website/sidebar.js
Labels: none

fix
  docs/extensions/code-extension.mdx
Labels: none

codeblock
  docs/extensions/code-block-extension.mdx
Labels: none

wip
  docs/components/code-block-extension.tsx
  docs/examples/code-block-extension.tsx
  docs/extensions/code-block-extension.mdx
Labels: none

update storybook
  docs/examples/code-block-extension.tsx
  packages/storybook-react/stories/extension-code-block/basic.tsx
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-incorrect-language.tsx
Labels: none

wip
  docs/components/code-block-extension.tsx
  docs/components/example.tsx
  docs/examples/code-block-extension.tsx
  docs/extensions/code-block-extension.mdx
  packages/storybook-react/stories/extension-code-block/basic.tsx
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-incorrect-language.tsx
Labels: none

update
  docs/components/example-root.tsx
  docs/examples/code-block-extension.tsx
Labels: none

remove floating-link
  packages/storybook-react/stories/extension-link/floating-link-toolbar.tsx
  packages/storybook-react/stories/extension-link/link-extension.stories.tsx
Labels: none

update
  docs/examples/extension-code-block/basic.tsx
  docs/examples/extension-code-block/with-incorrect-language.tsx
  package.json
  support/root/.eslintignore
  support/scripts/generate-website-examples/package.json
  support/scripts/package.json
  support/scripts/src/generate-website-examples.ts
Labels: type: support :books:

fix
  docs/examples/extension-code-block/basic.tsx
  docs/examples/extension-code-block/with-incorrect-language.tsx
  support/scripts/src/generate-website-examples.ts
Labels: type: support :books:

update
  package.json
Labels: none

update
  docs/examples/extension-code-block/basic.tsx
  docs/examples/extension-code-block/with-incorrect-language.tsx
  support/scripts/src/generate-website-examples.ts
Labels: type: support :books:

update
  docs/examples/extension-code-block/basic.tsx
  docs/examples/extension-code-block/with-incorrect-language.tsx
  support/scripts/src/generate-website-examples.ts
Labels: type: support :books:

add code
  docs/examples/extension-code/basic.tsx
  packages/storybook-react/stories/extension-code/basic.tsx
  packages/storybook-react/stories/extension-code/code.stories.tsx
Labels: none

fix
  docs/extensions/code-block-extension.mdx
  docs/extensions/index.md
Labels: none

code
  docs/examples/extension-code-block/basic.tsx
  docs/examples/extension-code-block/with-incorrect-language.tsx
  docs/examples/extension-code/basic.tsx
  support/scripts/src/generate-website-examples.ts
Labels: type: support :books:

update
  support/scripts/src/generate-website-examples.ts
Labels: type: support :books:

fix
  docs/extensions/code-block-extension.mdx
  docs/extensions/code-extension.mdx
  support/root/.eslintignore
  website/components/example-root.tsx
  website/extension-examples/extension-code-block/basic.tsx
  website/extension-examples/extension-code-block/with-incorrect-language.tsx
  website/extension-examples/extension-code/basic.tsx
Labels: type: support :books:

fix
  support/scripts/src/generate-website-examples.ts
  website/extension-examples/extension-code-block/basic.tsx
  website/extension-examples/extension-code-block/with-incorrect-language.tsx
  website/extension-examples/extension-code/basic.tsx
Labels: type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
