Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

chore: update dependencies
  package.json
  packages/remirror__cli/package.json
  pnpm-lock.yaml
  website/package.json
Labels: package: @remirror/cli :pager:

Update node.js version
  .github/workflows/ci.yml
  support/actions/pnpm/action.yml
Labels: none

update node.js
  support/actions/pr/action.yml
Labels: none

run pnpm dedupe
  pnpm-lock.yaml
Labels: none

Add tsconfig path to buildPackage function
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

ci: downgrade runner to ubuntu-20.04
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/label-pull-requests.yml
  .github/workflows/label-sponsors.yml
  .github/workflows/pr-name-linter.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/rebase.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: none

chore(deps): update dependencies (#2223)
  .github/workflows/ci.yml
  package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
  support/actions/pnpm/action.yml
  support/actions/pr/action.yml
  website/package.json
Labels: package: @remirror/cli :pager:

chore(changeset): version update (#2222)
  .changeset/tough-ladybugs-marry.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/CHANGELOG.md
  packages/remirror__extension-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix(table): allow the table to be added to a list item
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:

fix: apply html sanitizer on markdowntohtml output
  packages/remirror__extension-markdown/src/markdown-to-html.ts
Labels: none

add-changeset
  .changeset/twenty-yaks-brake.md
Labels: type: changeset :butterfly:

fix: remove the default htmlSanitizer
  packages/remirror__extension-markdown/src/markdown-extension.ts
  packages/remirror__extension-markdown/src/markdown-utils.ts
Labels: none

docs: update changeset
  .changeset/twenty-yaks-brake.md
Labels: type: changeset :butterfly:

fix(markdown): apply html sanitizer on markdownToHtml output (#2237)
  .changeset/twenty-yaks-brake.md
  packages/remirror__extension-markdown/src/markdown-extension.ts
  packages/remirror__extension-markdown/src/markdown-to-html.ts
  packages/remirror__extension-markdown/src/markdown-utils.ts
Labels: type: changeset :butterfly:

chore: update changeset file level
  .changeset/twenty-yaks-brake.md
  packages/remirror__extension-markdown/src/markdown-to-html.ts
Labels: type: changeset :butterfly:

chore: update changeset file level (#2239)
  .changeset/twenty-yaks-brake.md
  packages/remirror__extension-markdown/src/markdown-to-html.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#2238)
  .changeset/twenty-yaks-brake.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-markdown/CHANGELOG.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

Fix "edit-dialog" on "extension-link" storybook
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

refactor(trailing-node): remove @remirror/core-helpers
  .changeset/young-seahorses-listen.md
  packages/prosemirror-trailing-node/__tests__/tsconfig.json
  packages/prosemirror-trailing-node/package.json
  packages/prosemirror-trailing-node/src/trailing-node-plugin.ts
  packages/prosemirror-trailing-node/src/tsconfig.json
Labels: type: changeset :butterfly:

update pnpm-lock
  pnpm-lock.yaml
Labels: none

update changeset
  .changeset/young-seahorses-listen.md
Labels: type: changeset :butterfly:

refactor(trailing-node): remove `@remirror/core-helpers` (#2245)
  .changeset/young-seahorses-listen.md
  packages/prosemirror-trailing-node/__tests__/tsconfig.json
  packages/prosemirror-trailing-node/package.json
  packages/prosemirror-trailing-node/src/trailing-node-plugin.ts
  packages/prosemirror-trailing-node/src/tsconfig.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

chore(changeset): version update (#2247)
  .changeset/young-seahorses-listen.md
  packages/prosemirror-trailing-node/CHANGELOG.md
  packages/prosemirror-trailing-node/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix(docs): correct jest-remirror reference
  packages/jest-prosemirror/readme.md
Labels: none

fix(docs): correct jest-remirror reference (#2249)
  packages/jest-prosemirror/readme.md
Labels: none

feat: Upgrade to prettier v3.2
  .size-limit.json
  package.json
  packages/multishift/src/multishift-types.ts
  packages/multishift/src/multishift-utils.ts
  packages/prosemirror-suggest/src/suggest-state.ts
  packages/remirror/package.json
  packages/remirror__cli/package.json
  packages/remirror__core-utils/src/environment.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__core/src/builtins/plugins-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/readme.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__react-hooks/src/react-hook-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  packages/remirror__types/src/types.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
  support/scripts/src/linaria.ts
Labels: package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:, test: unit :white_check_mark:, type: support :books:

feat: Add code formatter button extension
  .size-limit.json
  packages/remirror__extension-react-format-code/CHANGELOG.md
  packages/remirror__extension-react-format-code/package.json
  packages/remirror__extension-react-format-code/readme.md
  packages/remirror__extension-react-format-code/src/format-code.tsx
  packages/remirror__extension-react-format-code/src/index.ts
  packages/remirror__extension-react-format-code/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-code-block/basic.tsx
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-formatter.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  website/extension-examples/extension-code-block/with-formatter.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

Add changeset
  .changeset/calm-kangaroos-change.md
Labels: type: changeset :butterfly:

Add changeset
  .changeset/plenty-dolls-pretend.md
Labels: type: changeset :butterfly:

Peer dependency and changeset updates
  .changeset/calm-kangaroos-change.md
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
Labels: type: changeset :butterfly:

Update extension.md
  docs/concepts/extension.md
Labels: none

refactor(jest-prosemirror): append element to DOM before EditorView initialization in `createEditor`
  .changeset/honest-socks-sip.md
  .size-limit.json
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:

fix(docs): fix crash in positioner extension storybook
  packages/storybook-react/stories/extension-positioner/basic.tsx
Labels: none

fix: bump ProseMirror packages to latest versions
  .changeset/spotty-carpets-lick.md
  .size-limit.json
  packages/jest-prosemirror/__tests__/__snapshots__/jest-prosemirror.spec.ts.snap
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-font-family/src/font-family-extension.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
  packages/remirror__extension-mention/src/mention-extension.ts
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__extension-text-color/src/text-color-extension.ts
  packages/remirror__extension-text-highlight/src/text-highlight-extension.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

fix: add validate attributes
  .changeset/dirty-buses-enjoy.md
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__extension-bidi/src/bidi-extension.ts
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-columns/src/columns-extension.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-emoji/src/emoji-extension.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-font-family/src/font-family-extension.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
  packages/remirror__extension-heading/src/heading-extension.ts
  packages/remirror__extension-image/src/image-extension.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/ordered-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
  packages/remirror__extension-mention/src/mention-extension.ts
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-utils.ts
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__extension-text-color/src/text-color-extension.ts
  packages/remirror__extension-text-highlight/src/text-highlight-extension.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix: fix tests
  packages/remirror__extension-heading/__tests__/heading-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Labels: test: unit :white_check_mark:

fix: downgrade @remirror/pm update from minor to patch
  .changeset/spotty-carpets-lick.md
Labels: type: changeset :butterfly:

fix: downgrade @remirror/pm update from minor to patch (#2267)
  .changeset/spotty-carpets-lick.md
Labels: type: changeset :butterfly:

chore: correct typo
  .changeset/spotty-carpets-lick.md
Labels: type: changeset :butterfly:

Update .changeset/spotty-carpets-lick.md
  .changeset/spotty-carpets-lick.md
Labels: type: changeset :butterfly:
