Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

chore: deploy docs and storybook from v1-hotfix
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

chore: publish docs from v1
  .github/workflows/docs.yml
Labels: none

chore: publish docs and storybook from remirror v1 (2) (#1686)
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
Labels: none

fix(tables,react-table): fix rendering of tables in markdown. Fixes #1356
  packages/remirror__extension-markdown/__tests__/html-to-markdown.spec.ts
  packages/remirror__extension-markdown/src/html-to-markdown.ts
  packages/remirror__extension-react-tables/src/components/table-controller-cell.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/storybook-react/stories/extension-react-tables/basic.tsx
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

fix(tables,react-table): fix rendering of tables in markdown. Fixes #1356 (#1687)
  packages/remirror__extension-markdown/__tests__/html-to-markdown.spec.ts
  packages/remirror__extension-markdown/src/html-to-markdown.ts
  packages/remirror__extension-react-tables/src/components/table-controller-cell.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/storybook-react/stories/extension-react-tables/basic.tsx
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

fix(tables,react-table): fix rendering of tables in markdown. Fixes #1356
  packages/remirror__extension-markdown/__tests__/html-to-markdown.spec.ts
  packages/remirror__extension-markdown/src/html-to-markdown.ts
  packages/remirror__extension-react-tables/src/components/table-controller-cell.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/storybook-react/stories/extension-react-tables/basic.tsx
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

chore: add changeset
  .changeset/odd-hotels-drop.md
Labels: type: changeset :butterfly:

fix(markdown): fix type error
  packages/remirror__extension-markdown/src/html-to-markdown.ts
Labels: none

fix(tables,react-tables): fix rendering of tables in markdown (#1688)
  .changeset/odd-hotels-drop.md
  packages/remirror__extension-markdown/__tests__/html-to-markdown.spec.ts
  packages/remirror__extension-markdown/src/html-to-markdown.ts
  packages/remirror__extension-react-tables/src/components/table-controller-cell.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/storybook-react/stories/extension-react-tables/basic.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1689)
  .changeset/odd-hotels-drop.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-markdown/CHANGELOG.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore: enable publishing from v1-hotfix branch
  .github/workflows/publish.yml
Labels: none

chore: enable publishing from v1-hotfix branch (#1690)
  .github/workflows/publish.yml
Labels: none

chore: retry changeset
  .changeset/odd-hotels-drop.md
Labels: type: changeset :butterfly:

chore: retry changeset (#1691)
  .changeset/odd-hotels-drop.md
Labels: type: changeset :butterfly:

chore(changeset): version update (#1692)
  .changeset/odd-hotels-drop.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-markdown/CHANGELOG.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore(ci): run the publish workflow for v1
  .github/workflows/publish.yml
  .github/workflows/version.yml
Labels: none

fix baseBranch
  .changeset/config.json
Labels: type: changeset :butterfly:

Revert "fix baseBranch"
  .changeset/config.json
Labels: type: changeset :butterfly:

chore(ci): run the publish workflow for v1 (#1693)
  .github/workflows/publish.yml
  .github/workflows/version.yml
Labels: none

chore(ci): set a seperate publish workflow for v1
  .github/workflows/publish-v1.yml
Labels: none

chore(ci): set a seperate publish workflow for v1 (#1694)
  .github/workflows/publish-v1.yml
Labels: none

chore: trigger ci workflows
  .gitignore
Labels: none

chore: trigger ci workflows (#1695)
  .gitignore
Labels: none

chore: fix the branch name in publish-v1 workflow
  .github/workflows/publish-v1.yml
Labels: none

Revert "chore(changeset): version update (#1692)"
  .changeset/odd-hotels-drop.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-markdown/CHANGELOG.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

Revert "chore: retry changeset (#1691)"
  .changeset/odd-hotels-drop.md
Labels: type: changeset :butterfly:

chore: fix the branch name in publish-v1 workflow (#1696)
  .github/workflows/publish-v1.yml
Labels: none

chore: trigger v1 workflows (revert additional versions) (#1697)
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-markdown/CHANGELOG.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:

chore: change the changeset base branch for v1-hotfix
  .changeset/config.json
Labels: type: changeset :butterfly:

chore: change the changeset base branch for v1-hotfix (#1698)
  .changeset/config.json
Labels: type: changeset :butterfly:

chore(ci): skip if-publishable in publish-v1
  .github/workflows/publish-v1.yml
Labels: none

chore(ci): skip if-publishable in publish-v1 (#1699)
  .github/workflows/publish-v1.yml
Labels: none

chore: trigger ci workflows
  .gitignore
Labels: none

chore: trigger ci workflows (#1701)
  .gitignore
Labels: none

chore: change the publish-branch for v1
  .npmrc
Labels: none

chore: change the publish-branch for v1 (#1702)
  .npmrc
Labels: none

chore: rename `useEvent` to `useEditorEvent`, standardize parameters (#1673)
  .changeset/large-socks-live.md
  .changeset/thin-paws-juggle.md
  docs/hooks/use-editor-event.md
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
  packages/remirror__extension-events/src/index.ts
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-positioner/src/positioner.ts
  packages/remirror__extension-react-tables/src/components/table-cell-menu.tsx
  packages/remirror__react-hooks/package.json
  packages/remirror__react-hooks/src/index.ts
  packages/remirror__react-hooks/src/use-context-menu.ts
  packages/remirror__react-hooks/src/use-editor-event.ts
  packages/remirror__react-hooks/src/use-editor-focus.ts
  packages/remirror__react-hooks/src/use-hover.ts
  packages/remirror__react-hooks/use-editor-event/package.json
  packages/remirror__react-hooks/use-event/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

chore(ci): use branch name as netlify alias
  .github/workflows/docs.yml
Labels: none

chore(ci): use branch name as netlify alias (#1704)
  .github/workflows/docs.yml
Labels: none

fix(jest-prosemirror): fix version of prosemirror-test-builder
  .changeset/clean-ghosts-retire.md
  packages/jest-prosemirror/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:
