Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

chore(deps): update dependency marked to v3
  packages/remirror__extension-markdown/package.json
  pnpm-lock.yaml
Labels: none

chore(deps): update prosemirror packages
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:

Improve wording
  docs/5-min-tutorial.md
Labels: none

Add page ID
  docs/5-min-tutorial.md
Labels: none

docs: explain how to embed SocialEditor in CRA
  docs/5-min-tutorial.md
  website/sidebar.js
Labels: none

Align casing
  docs/5-min-tutorial.md
Labels: none

Improve design
  docs/5-min-tutorial.md
Labels: none

docs: add 5 min tutorial how to set up CRA with SocialEditor (#1266)
  docs/5-min-tutorial.md
  website/sidebar.js
Labels: none

chore(deps): update actions/github-script action to v5
  .github/workflows/publish-pr.yml
Labels: none

changeset
  .changeset/witty-shirts-hammer.md
Labels: type: changeset :butterfly:

fix tab handle
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

fix(extension-list): don't let the browser handle the Tab key in a list (#1286)
  .changeset/witty-shirts-hammer.md
  packages/remirror__extension-list/src/list-commands.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1287)
  .changeset/witty-shirts-hammer.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(extension-list): make sure liftListItem doesn't crash when multiple items can't be merged
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

small improvement
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

changeset
  .changeset/twenty-jobs-love.md
Labels: type: changeset :butterfly:

docs: add blog post about new maintainers
  website/blog/2021-10-05-maintainers.md
Labels: none

docs: add blog post about new maintainers (#1289)
  website/blog/2021-10-05-maintainers.md
Labels: none

fix(extension-list): merge patch from the upstream (#1288)
  .changeset/twenty-jobs-love.md
  packages/remirror__extension-list/src/list-commands.ts
Labels: type: changeset :butterfly:

feat(extension-list): improve list input rules
  .changeset/hot-shirts-lick.md
  .changeset/silver-papayas-kneel.md
  packages/remirror__extension-list/__tests__/list-input-rules.spec.ts
  packages/remirror__extension-list/src/bullet-list-extension.ts
  packages/remirror__extension-list/src/index.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/list-item-shared-extension.ts
  packages/remirror__extension-list/src/list-utils.ts
  packages/remirror__extension-list/src/ordered-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

correct typo
  .changeset/silver-papayas-kneel.md
Labels: type: changeset :butterfly:

feat(extension-list): improve list input rules (#1292)
  .changeset/hot-shirts-lick.md
  .changeset/silver-papayas-kneel.md
  packages/remirror__extension-list/__tests__/list-input-rules.spec.ts
  packages/remirror__extension-list/src/bullet-list-extension.ts
  packages/remirror__extension-list/src/index.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/list-item-shared-extension.ts
  packages/remirror__extension-list/src/list-utils.ts
  packages/remirror__extension-list/src/ordered-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1290)
  .changeset/hot-shirts-lick.md
  .changeset/silver-papayas-kneel.md
  .changeset/twenty-jobs-love.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

docs: organize old blog posts
  website/blog/2021-07-17-migration-v1.md
  website/blog/2021-10-05-maintainers.md
Labels: none

docs: provide visual feedback for active marks
  packages/storybook-react/stories/extension-heading/basic.tsx
  packages/storybook-react/stories/extension-heading/styles.css
Labels: none

docs: provide visual feedback for active marks (#1294)
  packages/storybook-react/stories/extension-heading/basic.tsx
  packages/storybook-react/stories/extension-heading/styles.css
Labels: none

list indent works
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-indent.ts
  packages/remirror__extension-list/src/list-utils.ts
  packages/storybook-react/stories/extension-list/basic.tsx
Labels: test: unit :white_check_mark:

WIP
  packages/remirror__extension-list/src/list-indent.ts
Labels: none

add test cases
  packages/remirror__extension-list/__tests__/list-input-rules.spec.ts
Labels: test: unit :white_check_mark:

docs: improve tutorial to create own editor
  docs/concepts/extension.md
  docs/concepts/styling.md
  docs/getting-started/commands-and-helpers.md
  docs/getting-started/create-editor.md
  docs/getting-started/create-manager.md
  docs/getting-started/installation.md
  docs/getting-started/render-editor.md
  docs/introduction.md
  website/sidebar.js
Labels: none

docs: improve tutorial to create own editor (#1297)
  docs/concepts/extension.md
  docs/concepts/styling.md
  docs/getting-started/commands-and-helpers.md
  docs/getting-started/create-editor.md
  docs/getting-started/create-manager.md
  docs/getting-started/installation.md
  docs/getting-started/render-editor.md
  docs/introduction.md
  website/sidebar.js
Labels: none

docs: organize old blog posts (#1293)
  website/blog/2021-07-17-migration-v1.md
  website/blog/2021-10-05-maintainers.md
Labels: none

docs: announce v1 release
  website/blog/2021-10-07-announcement-v1.md
Labels: none

docs: announce v1 release (#1298)
  website/blog/2021-10-07-announcement-v1.md
Labels: none

docs: improve getting-started tutorial
  docs/getting-started/commands-and-helpers.md
  docs/getting-started/installation.md
  docs/getting-started/render-editor.md
Labels: none

docs: fix minor typos
  docs/getting-started/commands-and-helpers.md
Labels: none

docs: improve getting-started tutorial (#1299)
  docs/getting-started/commands-and-helpers.md
  docs/getting-started/installation.md
  docs/getting-started/render-editor.md
Labels: none

docs: fix invalid link
  website/blog/2021-10-07-announcement-v1.md
Labels: none

docs: fix invalid link (#1300)
  website/blog/2021-10-07-announcement-v1.md
Labels: none

WIP
  packages/remirror__extension-list/src/bullet-list-extension.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/ordered-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: none
