Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

fix(entity-refernece): fix plugin types
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
Labels: none

chore(entity-reference): remove need for wrapping function on positioner
  packages/remirror__extension-entity-reference/src/entity-reference-positioners.ts
Labels: none

test(entity-reference): test the content of entity reference helper
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
Labels: test: unit :white_check_mark:

feat: support marks to reference entities (#1648)
  docs/extensions/entity-reference-extension.mdx
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/remirror__extension-entity-reference/CHANGELOG.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/__tests__/ranges.spec.ts
  packages/remirror__extension-entity-reference/__tests__/tsconfig.json
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-entity-reference/readme.md
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/entity-reference-positioners.ts
  packages/remirror__extension-entity-reference/src/index.ts
  packages/remirror__extension-entity-reference/src/tsconfig.json
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-entity-reference/src/utils/decorate-entity-references.tsx
  packages/remirror__extension-entity-reference/src/utils/disjoined-entity-references.ts
  packages/remirror__extension-entity-reference/src/utils/joined-entity-references.ts
  packages/remirror__extension-entity-reference/src/utils/ranges.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-entity-reference/entity-reference.stories.tsx
  packages/storybook-react/stories/extension-entity-reference/highlights.tsx
  packages/storybook-react/stories/extension-entity-reference/styles.css
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-entity-reference/highlights.tsx
Labels: test: unit :white_check_mark:, type: support :books:

update lingui
  packages/remirror__messages/package.json
Labels: none

fix message
  packages/remirror__messages/.babelrc
  packages/remirror__messages/package.json
  packages/remirror__messages/rollup.config.js
  pnpm-lock.yaml
Labels: none

remove log
  packages/storybook-react2/src/tsconfig.json
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

w
  pnpm-lock.yaml
Labels: none

install
  packages/storybook-react2/package.json
  pnpm-lock.yaml
Labels: none

bold
  packages/storybook-react2/.storybook/main.js
  packages/storybook-react2/.storybook/xxxxxpreview.js
  packages/storybook-react2/stories/extension-bold/basic.jsx
  packages/storybook-react2/stories/extension-bold/bold.stories.jsx
Labels: none

fix(annotation): update the store after mapping annotation positions. Fixes #1655
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-plugin.ts
Labels: test: unit :white_check_mark:

fix(annotation): update the store after mapping annotation positions. Fixes #1655 (#1718)
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-plugin.ts
Labels: test: unit :white_check_mark:

fix(annotation): update the store after mapping annotation positions
  .changeset/curvy-bags-share.md
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-plugin.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1719)
  .changeset/curvy-bags-share.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-annotation/CHANGELOG.md
  packages/remirror__extension-annotation/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(docs): update readme
  readme.md
Labels: none

chore(docs): update readme (#1720)
  readme.md
Labels: none

remove useEffectWithWarning
  packages/remirror__react-core/src/hooks/index.ts
  packages/remirror__react-core/src/hooks/use-effect-with-warning.ts
  packages/remirror__react-core/src/index.ts
Labels: framework: react :atom_symbol:

fxi import
  packages/multishift/src/multishift-hooks.ts
  packages/multishift/src/multishift.ts
  packages/remirror__react-components/src/components/color-picker-component.tsx
  packages/remirror__react-components/src/components/command-icon-component.tsx
  packages/remirror__react-components/src/components/dialog-component.tsx
  packages/remirror__react-components/src/floating-menu.tsx
  packages/remirror__react-components/src/index.ts
  packages/remirror__react-components/src/menu/index.tsx
  packages/remirror__react-components/src/react-component-types.ts
  packages/remirror__react-components/src/reakit-system/button.ts
  packages/remirror__react-components/src/reakit-system/composite.ts
  packages/remirror__react-components/src/reakit-system/dialog.ts
  packages/remirror__react-components/src/reakit-system/form.ts
  packages/remirror__react-components/src/reakit-system/group.ts
  packages/remirror__react-components/src/reakit-system/input.ts
  packages/remirror__react-components/src/reakit-system/menu.tsx
  packages/remirror__react-components/src/reakit-system/popover.ts
  packages/remirror__react-components/src/reakit-system/role.ts
  packages/remirror__react-components/src/reakit-system/separator.ts
  packages/remirror__react-components/src/reakit-system/tab.ts
  packages/remirror__react-components/src/reakit-system/tabbable.ts
  packages/remirror__react-components/src/reakit-system/toolbar.ts
  packages/remirror__react-components/src/reakit-system/tooltip.ts
  packages/remirror__react-components/src/toolbar/index.tsx
  packages/remirror__react-components/src/use-popper.ts
  packages/storybook-react2/.storybook/main.js
  packages/storybook-react2/stories/extension-italic/basic.tsx
  website/src/components/example-source-component.tsx
  website/src/components/toggle-language-component.tsx
Labels: package: multishift :arrow_down_small:, framework: react :atom_symbol:, type: ui :nail_care:

refractor
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/storybook-react2/.storybook/main.js
Labels: test: unit :white_check_mark:

fix import
  packages/remirror__extension-emoji/src/emoji-extension.ts
  packages/remirror__react-components/src/reakit-system/form.ts
  packages/remirror__react-components/src/reakit-system/palette.ts
  packages/remirror__react-components/src/reakit-system/role.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix '@seznam/compose-react-refs';
  packages/multishift/src/commonjs-packages/seznam-compose-react-refs.ts
  packages/multishift/src/multishift.ts
  packages/remirror__react-components/src/commonjs-packages/seznam-compose-react-refs.ts
  packages/remirror__react-components/src/floating-menu.tsx
  packages/remirror__react-core/src/commonjs-packages/seznam-compose-react-refs.ts
  packages/remirror__react-core/src/react-framework.tsx
Labels: package: multishift :arrow_down_small:, framework: react :atom_symbol:, type: ui :nail_care:

fix
  packages/remirror/package.json
  packages/remirror__cli/src/utils/build-package.ts
  packages/storybook-react2/.storybook/main.js
Labels: package: @remirror/cli :pager:

ok
  packages/storybook-react2/.storybook/main.js
Labels: none

not ok
  packages/storybook-react2/.storybook/main.js
Labels: none

fix
  packages/storybook-react2/.storybook/main.js
Labels: none

no ok
  packages/storybook-react2/.storybook/main.js
Labels: none

...options, rm
  packages/remirror__react-components/src/reakit-system/form.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:

Remove "`@remirror/react-components/all-icons`"
  packages/remirror__extension-file/src/file-component.tsx
  packages/remirror__extension-file/src/file-icons.tsx
  packages/remirror__react-components/all-icons/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-components/src/all-icons.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix icons
  packages/remirror__extension-file/src/file-icons.tsx
Labels: none

works
  packages/remirror__styles/package.json
  packages/storybook-react2/.storybook/main.js
Labels: type: ui :nail_care:

works
  packages/storybook-react2/.storybook/main.js
Labels: none

works
  packages/storybook-react2/.storybook/main.js
Labels: none

works
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/storybook-react/stories/extension-code-block/basic.tsx
  packages/storybook-react/stories/extension-code-block/with-incorrect-language.tsx
  packages/storybook-react/stories/paste-debugger.stories.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
  packages/storybook-react2/.storybook/main.js
  packages/storybook-react2/stories/extension-code-block/basic.tsx
  packages/storybook-react2/stories/extension-code-block/with-incorrect-language.tsx
  packages/storybook-react2/stories/paste-debugger.stories.tsx
  packages/storybook-react2/stories/react-editors/markdown-editor.stories.tsx
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

works
  packages/storybook-react2/.storybook/main.js
Labels: none

preview
  packages/storybook-react2/.storybook/preview.js
  packages/storybook-react2/.storybook/storybook.css
  packages/storybook-react2/.storybook/xxxxxpreview.js
Labels: none

works
  packages/storybook-react2/.storybook/main.js
Labels: none

works
  packages/storybook-react2/.storybook/main.js
Labels: none

works
  packages/storybook-react2/.storybook/manager-head.html
  packages/storybook-react2/.storybook/manager.js
  packages/storybook-react2/.storybook/remirror-theme.js
Labels: none

works
  packages/storybook-react/.storybook/main.js
  packages/storybook-react/.storybook/manager-head.html
  packages/storybook-react/.storybook/manager.js
  packages/storybook-react/.storybook/preview.js
  packages/storybook-react/.storybook/remirror-theme.js
  packages/storybook-react/.storybook/storybook.css
  packages/storybook-react/base.babel.js
  packages/storybook-react/main.cjs
  packages/storybook-react/package.json
  packages/storybook-react/readme.md
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-bold/basic.jsx
  packages/storybook-react/tsconfig.json
  packages/storybook-react/xx_postcss.confixxg.js
  packages/storybook-react/xxxx.babc.js
  pnpm-lock.yaml
Labels: none

run pnpm fix
  packages/remirror__react-components/src/menu/index.tsx
  packages/remirror__react-components/src/toolbar/index.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:
