Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

chore(deps): update dependency escape-string-regexp to v5
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-emoji/package.json
  packages/remirror__extension-mention/package.json
  packages/remirror__extension-search/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:

update snapshots
  packages/remirror__core/__tests__/__snapshots__/decorations-extension.spec.ts.snap
  packages/remirror__core/__tests__/__snapshots__/helpers-extension.spec.ts.snap
  packages/remirror__core/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/remirror__dom/__tests__/dom.spec.ts
  packages/remirror__extension-bidi/__tests__/__snapshots__/bidi-extension.spec.ts.snap
  packages/remirror__extension-diff/__tests__/__snapshots__/diff-extension.spec.ts.snap
  packages/remirror__extension-image/__tests__/__snapshots__/image-extension.spec.ts.snap
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
  packages/remirror__extension-react-component/__tests__/__snapshots__/react-component-extension.spec.tsx.snap
  packages/remirror__extension-search/__tests__/__snapshots__/search-extension.spec.ts.snap
  packages/remirror__react-core/__tests__/__snapshots__/controlled.spec.tsx.snap
  packages/remirror__react-core/__tests__/__snapshots__/react-remirror.spec.tsx.snap
Labels: test: unit :white_check_mark:

chore(deps): update dependency eslint-plugin-unicorn to v35
  package.json
  pnpm-lock.yaml
Labels: none

chore(deps): update dependency nanoevents to v6
  packages/remirror__core/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-positioner/package.json
  packages/remirror__extension-react-component/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

chore(deps): update dependency testing to v2
  package.json
  pnpm-lock.yaml
Labels: none

chore(deps): update dependency sort-keys to v5
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

chore: remove detox
  .gitignore
  package.json
  packages/testing/src/playwright/playwright-types.ts
  pnpm-lock.yaml
  support/detox/config.json
  support/detox/environment.js
  support/root/.detoxrc.json
  support/root/jest.config.e2e.js
Labels: type: support :books:

chore: remove appium
  packages/testing/src/playwright/playwright-types.ts
  support/root/jest.config.e2e.js
Labels: type: support :books:

chore: remove spectron
  packages/testing/src/playwright/playwright-types.ts
  support/root/jest.config.e2e.js
Labels: type: support :books:

chore: remove some unused test environments (#1116)
  .gitignore
  package.json
  packages/testing/src/playwright/playwright-types.ts
  pnpm-lock.yaml
  support/detox/config.json
  support/detox/environment.js
  support/root/.detoxrc.json
  support/root/jest.config.e2e.js
Labels: type: support :books:

chore: remove git-lfs
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
  docs/contributing.md
  support/lfs-hooks/post-checkout
  support/lfs-hooks/post-commit
  support/lfs-hooks/post-merge
  support/lfs-hooks/pre-push
  support/root/.huskyrc
Labels: type: support :books:

chore: remove git-lfs (#1117)
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
  docs/contributing.md
  support/lfs-hooks/post-checkout
  support/lfs-hooks/post-commit
  support/lfs-hooks/post-merge
  support/lfs-hooks/pre-push
  support/root/.huskyrc
Labels: type: support :books:

chore(changeset): version update (#1104)
  .changeset/red-beds-wait.md
  .changeset/sixty-rivers-sniff.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-node-formatting/CHANGELOG.md
  packages/remirror__extension-node-formatting/package.json
  packages/remirror__extension-react-native-bridge/CHANGELOG.md
  packages/remirror__extension-react-native-bridge/package.json
  packages/remirror__preset-formatting/CHANGELOG.md
  packages/remirror__preset-formatting/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-native/CHANGELOG.md
  packages/remirror__react-native/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(deps): update dependency prosemirror-view to ^1.19.3
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:

chore(deps): update dependency figures to v4
  packages/remirror__cli/package.json
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

docs: add code extensions
  docs/extensions/code-extension.md
  packages/remirror__extension-code/__stories__/code.stories.tsx
  packages/remirror__extension-code/__stories__/styles.css
  packages/remirror__extension-code/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

Doc blockquote
  docs/extensions/blockquote-extension.md
  packages/remirror__extension-blockquote/__stories__/blockquote.stories.tsx
  packages/remirror__extension-blockquote/__stories__/styles.css
  packages/remirror__extension-blockquote/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

Document TextColorExtension
  docs/extensions/text-color-extension.md
  packages/remirror__extension-text-color/__stories__/text-color.stories.tsx
  packages/remirror__extension-text-color/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

Fix typos
  docs/extensions/blockquote-extension.md
  docs/extensions/bold-extension.md
  docs/extensions/code-extension.md
  docs/extensions/italic-extension.md
  docs/extensions/placeholder-extension.md
  docs/extensions/strike-extension.md
  docs/extensions/underline-extension.md
Labels: none

Run pnpn:fix
  packages/remirror__extension-blockquote/__stories__/tsconfig.json
  packages/remirror__extension-text-color/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

docs: explain further extensions (#1120)
  docs/extensions/blockquote-extension.md
  docs/extensions/bold-extension.md
  docs/extensions/code-extension.md
  docs/extensions/italic-extension.md
  docs/extensions/placeholder-extension.md
  docs/extensions/strike-extension.md
  docs/extensions/text-color-extension.md
  docs/extensions/underline-extension.md
  packages/remirror__extension-blockquote/__stories__/blockquote.stories.tsx
  packages/remirror__extension-blockquote/__stories__/styles.css
  packages/remirror__extension-blockquote/__stories__/tsconfig.json
  packages/remirror__extension-code/__stories__/code.stories.tsx
  packages/remirror__extension-code/__stories__/styles.css
  packages/remirror__extension-code/__stories__/tsconfig.json
  packages/remirror__extension-text-color/__stories__/text-color.stories.tsx
  packages/remirror__extension-text-color/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

docs: describe how to replace editor content
  packages/remirror__react/__stories__/controlled.stories.tsx
Labels: framework: react :atom_symbol:

Simplify story
  packages/remirror__react/__stories__/controlled.stories.tsx
Labels: framework: react :atom_symbol:

docs: describe how to replace editor content (#1122)
  packages/remirror__react/__stories__/controlled.stories.tsx
Labels: framework: react :atom_symbol:

Allow access to css files for Webpack 5
  packages/remirror/package.json
Labels: none

i18n use global initilization therefore need use sideEffect false for webpack
  packages/remirror__i18n/package.json
Labels: none

fix script
  packages/remirror/package.json
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

add changeset
  .changeset/friendly-spies-peel.md
Labels: type: changeset :butterfly:

add changeset
  .changeset/fifty-weeks-visit.md
Labels: type: changeset :butterfly:

fix(remirror): export `remirror/styles` (#1126)
  .changeset/friendly-spies-peel.md
  support/scripts/src/generate-configs.ts
Labels: type: changeset :butterfly:, type: support :books:

fix(i18n): set `sideEffect` as true because of global initialization (#1125)
  .changeset/fifty-weeks-visit.md
  packages/remirror__i18n/package.json
Labels: type: changeset :butterfly:

fix
  pnpm-lock.yaml
Labels: none

chore: improve changeset message
  .changeset/fifty-weeks-visit.md
Labels: type: changeset :butterfly:

docs: improve changeset message (#1128)
  .changeset/fifty-weeks-visit.md
Labels: type: changeset :butterfly:

docs: explain usage of use-mention hook
  docs/hooks/use-mention.md
  packages/remirror__react-hooks/__stories__/use-mention-atom-styles.css
  packages/remirror__react-hooks/__stories__/use-mention.stories.tsx
Labels: framework: react :atom_symbol:

docs: explain usage of use-mention hook (#1129)
  docs/hooks/use-mention.md
  packages/remirror__react-hooks/__stories__/use-mention-atom-styles.css
  packages/remirror__react-hooks/__stories__/use-mention.stories.tsx
Labels: framework: react :atom_symbol:

chore(deps): update dependency is-absolute-url to v4
  pnpm-lock.yaml
  website/package.json
Labels: none

Revert "fix(remirror): export `remirror/styles` (#1126)"
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

fix styles
  packages/remirror/package.json
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

add changeset
  .changeset/poor-houses-smoke.md
Labels: type: changeset :butterfly:
