Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

feat: upgrade to prettier v3.2 (#2255)
  .changeset/calm-kangaroos-change.md
  .size-limit.json
  package.json
  packages/multishift/src/multishift-types.ts
  packages/multishift/src/multishift-utils.ts
  packages/prosemirror-suggest/src/suggest-state.ts
  packages/remirror/package.json
  packages/remirror__cli/package.json
  packages/remirror__core-utils/src/environment.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__core/src/builtins/plugins-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/readme.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__react-hooks/src/react-hook-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  packages/remirror__types/src/types.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
  support/scripts/src/linaria.ts
Labels: package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:, type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

feat: add code formatter button extension
  .changeset/plenty-dolls-pretend.md
  packages/remirror__react-ui/src/menus/code-block-format-code.tsx
  packages/remirror__react-ui/src/menus/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/code-block-utils.ts
  packages/remirror__react-ui/src/menus/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-code-block/basic.tsx
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-format-code.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  website/extension-examples/extension-code-block/with-format-code.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix: update loglevel arg in helper script
  support/scripts/src/helpers.ts
Labels: type: support :books:

fix: update loglevel arg in helper script (#2278)
  support/scripts/src/helpers.ts
Labels: type: support :books:

feat: Refactor tools into common component
  .changeset/plenty-dolls-pretend.md
  packages/remirror__react-ui/src/menus/code-block-format-code.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-tools.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/format-button.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/index.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/language-select.tsx
  packages/remirror__react-ui/src/menus/code-block-utils.ts
  packages/remirror__react-ui/src/menus/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-format-code.tsx
  packages/storybook-react/stories/extension-code-block/with-tools.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix: use composition for code block tools
  .changeset/rude-cars-laugh.md
  .size-limit.json
  packages/remirror__extension-code-block/__tests__/tsconfig.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/code-block-positioners.ts
  packages/remirror__extension-code-block/src/index.ts
  packages/remirror__extension-code-block/src/tsconfig.json
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-format-button.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-tools.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/index.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/storybook-react/stories/extension-code-block/with-tools.tsx
  pnpm-lock.yaml
  website/extension-examples/extension-code-block/with-format-code.tsx
  website/extension-examples/extension-code-block/with-tools.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat: add code block formatter to react-ui (#2256)
  .changeset/rude-cars-laugh.md
  .size-limit.json
  packages/remirror__extension-code-block/__tests__/tsconfig.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/code-block-positioners.ts
  packages/remirror__extension-code-block/src/index.ts
  packages/remirror__extension-code-block/src/tsconfig.json
  packages/remirror__react-ui/src/menus/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-format-button.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-tools.tsx
  packages/remirror__react-ui/src/menus/code-block-tools/index.tsx
  packages/remirror__react-ui/src/menus/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-code-block/basic.tsx
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-tools.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  website/extension-examples/extension-code-block/with-tools.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore: switch to release candidate builds
  .changeset/pre.json
Labels: type: changeset :butterfly:

chore(changeset): version update (rc) (#2277)
  .changeset/pre.json
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-code-block/CHANGELOG.md
  packages/remirror__extension-code-block/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-ui/CHANGELOG.md
  packages/remirror__react-ui/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix: do not exit formatting if `onClick` provided
  packages/remirror__react-ui/src/menus/code-block-tools/code-block-format-button.tsx
Labels: framework: react :atom_symbol:

chore: update styled-components to v6
  packages/remirror__styles/package.json
  pnpm-lock.yaml
Labels: type: ui :nail_care:

fix: remove incorrect type declarations from styles
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  support/scripts/src/linaria.ts
Labels: type: ui :nail_care:, type: support :books:

chore: add changeset
  .changeset/short-pants-burn.md
Labels: type: changeset :butterfly:

chore: update styled-components to v6 (#2280)
  .changeset/short-pants-burn.md
  packages/remirror__styles/package.json
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  pnpm-lock.yaml
  support/scripts/src/linaria.ts
Labels: type: ui :nail_care:, type: changeset :butterfly:, type: support :books:

chore: exit pre-release mode
  .changeset/pre.json
Labels: type: changeset :butterfly:

chore: remove references to obsolete extensions
  .changeset/lovely-bottles-compare.md
  .changeset/wet-lizards-sniff.md
Labels: type: changeset :butterfly:

docs: update v3 announcement and migration guide
  docs/migration-v3.md
  website/blog/2024-07-31-announcement-v3.md
Labels: none

fix: missing component display name
  docs/advanced/updating-editor-externally.md
Labels: none

docs: add V3 announcement and migration guide (#2283)
  docs/advanced/updating-editor-externally.md
  docs/migration-v3.md
  website/blog/2024-07-31-announcement-v3.md
Labels: none

fix: expose old version of decorators with legacy prefix
  .changeset/brave-suits-grab.md
  packages/remirror__core/src/builtins/builtin-decorators.ts
Labels: type: changeset :butterfly:

docs: update migration guide
  docs/migration-v3.md
  website/sidebar.cjs
Labels: none

fix: refer to new decorators as Stage 3
  .changeset/brave-suits-grab.md
  docs/migration-v3.md
  packages/remirror__core/src/builtins/builtin-decorators.ts
Labels: type: changeset :butterfly:

docs: add a note about translations for @remirror/react-ui
  packages/remirror__react-ui/readme.md
  website/sidebar.cjs
Labels: none

fix: expose old version of decorators with legacy prefix (#2285)
  .changeset/brave-suits-grab.md
  docs/migration-v3.md
  packages/remirror__core/src/builtins/builtin-decorators.ts
  packages/remirror__react-ui/readme.md
  website/sidebar.cjs
Labels: type: changeset :butterfly:

chore(storybook-react[persistent-selection]) Fix wording
  packages/storybook-react/stories/extension-decoration/persistent-selection.tsx
Labels: none

docs(changeset) Note typo fix in persistent-selection
  .changeset/cold-camels-breathe.md
Labels: type: changeset :butterfly:

Fix FontWeightProperty in BoldExtension example readme
  packages/remirror__extension-bold/readme.md
Labels: none

Typo and fix link for image extension api
  docs/extensions/image-extension.mdx
Labels: none

refactor(test-keyboard): remove `@remirror/core-helpers`
  .changeset/short-shirts-retire.md
  packages/test-keyboard/__tests__/tsconfig.json
  packages/test-keyboard/package.json
  packages/test-keyboard/src/test-keyboard-utils.ts
  packages/test-keyboard/src/test-keyboard.ts
  packages/test-keyboard/src/tsconfig.json
  packages/test-keyboard/src/us-keyboard-layout.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

Update migration-v3.md to state getJSON instead of useSuggest
  docs/migration-v3.md
Labels: none

Update link-extension.mdx
  docs/extensions/link-extension.mdx
Labels: none

Override prismjs version to address vulnerability
  package.json
  pnpm-lock.yaml
Labels: none

feat(yjs-extension): add document key option to YjsExtension
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: none

Create add-document-key-yjs-extension.md
  add-document-key-yjs-extension.md
Labels: none

update package.json
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:

update lock
  pnpm-lock.yaml
Labels: none

run pnpm dedupe
  pnpm-lock.yaml
Labels: none

add changelog
  .changeset/shaggy-eagles-repeat.md
Labels: type: changeset :butterfly:

fix typecheck
  packages/remirror__extension-react-component/src/react-node-view.tsx
Labels: framework: react :atom_symbol:

update changelog
  .changeset/shaggy-eagles-repeat.md
Labels: type: changeset :butterfly:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
