Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

Fix(entity-reference): add `getEntityReferenceById` helper and `scrollToEntityReference` command
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
Labels: test: unit :white_check_mark:

fix(ext-link): not auto detecting adjacent text
  .changeset/sharp-melons-switch.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(ext-link): not auto detecting adjacent text
  .changeset/sharp-melons-switch.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

Refactor
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

perf(ext-link): Skip iteration if no valid link is in the match
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

fix(ext-link): typo
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

Update packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
Labels: none

perf(ext-link): use only one validation
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

Add documentation
  packages/storybook-react/stories/extension-link/trigger-character.tsx
  website/extension-examples/extension-link/trigger-character.tsx
Labels: none

remove multiple trailing sentence punctuation
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

fix(ext-link): split links should not unlink
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

fix(ext-link): not detecting complete joining text
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

fix(ext-link): not detecting sentence punctuation
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

refactor remove leading "/" from url path
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

perf(ext-link): use regex
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

feat(jest-remirror): add new matcher `toEqualRemirrorState`
  .changeset/few-numbers-remain.md
  packages/jest-remirror/__tests__/jest-remirror-matchers.spec.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/jest-remirror/src/jest-remirror-matchers.ts
  packages/jest-remirror/src/jest-remirror-utils.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:, test: unit :white_check_mark:

Fix ts error
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
  packages/prosemirror-suggest/src/suggest-state.ts
  packages/remirror__core/src/builtins/decorations-extension.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__extension-diff/src/diff-extension.ts
  packages/remirror__extension-events/src/events-extension.ts
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:

Fix head & anchor
  packages/jest-remirror/src/jest-remirror-utils.ts
Labels: package: jest-remirror :black_joker:

Add changeset
  .changeset/shy-jobs-compare.md
Labels: type: changeset :butterfly:

feat(jest-remirror): add new matcher `toEqualRemirrorState` (#1745)
  .changeset/few-numbers-remain.md
  packages/jest-remirror/__tests__/jest-remirror-matchers.spec.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/jest-remirror/src/jest-remirror-matchers.ts
  packages/jest-remirror/src/jest-remirror-utils.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:, test: unit :white_check_mark:

fix(jest-remirror): correct diff message
  .changeset/clever-penguins-attend.md
  packages/jest-remirror/src/jest-remirror-matchers.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:

fix comment
  packages/jest-remirror/src/jest-remirror-matchers.ts
Labels: package: jest-remirror :black_joker:

chore(deps): update lingui
  package.json
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__i18n/package.json
  packages/remirror__messages/package.json
  packages/remirror__react-components/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:, type: support :books:

fix(jest-remirror): correct diff message (#1747)
  .changeset/clever-penguins-attend.md
  packages/jest-remirror/src/jest-remirror-matchers.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:

chore(deps): update lingui (#1748)
  package.json
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__i18n/package.json
  packages/remirror__messages/package.json
  packages/remirror__react-components/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:, type: support :books:

chore(deps): update codemirror to v6
  .changeset/fair-apes-search.md
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-codemirror6/src/index.ts
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

chore(deps): update codemirror to v6 (#1751)
  .changeset/fair-apes-search.md
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-codemirror6/src/index.ts
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

Add unit test for selection of scrollIntoEntityReference command
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
Labels: test: unit :white_check_mark:

Add story for scrolling into an entity reference
  packages/storybook-react/stories/extension-entity-reference/entity-reference.stories.tsx
  packages/storybook-react/stories/extension-entity-reference/scroll-to-highlight.tsx
Labels: none

refactor & type fixes
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

Update deps
  package.json
  pnpm-lock.yaml
Labels: none

refactor
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

fix(ext-link): lint warning
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

fix(ext-link): onUpdateLink DOMException
  .changeset/selfish-pigs-complain.md
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:

fix(core): try to require JSDOM implicitly in node environment
  .changeset/tough-cherries-battle.md
  packages/remirror__core-utils/src/core-utils.ts
Labels: type: changeset :butterfly:

remove test
  packages/remirror__core-utils/__tests__/core-utils.ssr.spec.ts
Labels: test: unit :white_check_mark:

fix(core): try to require JSDOM implicitly in node environment (#1757)
  .changeset/tough-cherries-battle.md
  packages/remirror__core-utils/__tests__/core-utils.ssr.spec.ts
  packages/remirror__core-utils/src/core-utils.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

revert website/ to v1
  website/babel.config.js
  website/docusaurus.config.js
  website/examples/basic/index.tsx
  website/examples/markdown/index.tsx
  website/examples/richtext/index.tsx
  website/examples/social/index.tsx
  website/extension-examples/extension-entity-reference/highlights.tsx
  website/package.json
  website/plugins/basic-plugin.js
  website/src/components/example-component.tsx
  website/src/components/example-iframe-component.tsx
  website/src/components/example-provider.ts
  website/src/components/example-source-component.tsx
  website/src/components/index.ts
  website/src/components/nav-link.tsx
  website/src/components/toggle-language-component.tsx
  website/src/pages/index.tsx
  website/src/theme/Root.tsx
  website/src/tsconfig.json
Labels: none

remove babel
  website/babel.config.js
  website/plugins/basic-plugin.js
Labels: none

update deps
  website/package.json
Labels: none

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
