Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

fix(remirror): export `remirror/styles` (#1130)
  .changeset/poor-houses-smoke.md
  packages/remirror/package.json
  support/scripts/src/generate-configs.ts
Labels: type: changeset :butterfly:, type: support :books:

chore(changeset): version update (#1132)
  .changeset/poor-houses-smoke.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(deps): update dependency jsdom to v17
  packages/remirror__core-utils/package.json
  pnpm-lock.yaml
Labels: none

docs: Add a "Getting started" section, and update README
  docs/extensions/index.md
  docs/getting-started/commands-and-helpers.md
  docs/getting-started/create-editor.md
  docs/getting-started/create-manager.md
  docs/installation.md
  docs/introduction.md
  packages/remirror__extension-embed/src/iframe-extension.ts
  readme.md
  website/sidebar.js
Labels: none

docs: Use `html` as string handler in controlled docs
  docs/react/controlled.md
Labels: none

docs: ignore rules of hooks in documentation
  support/root/.eslintrc.js
Labels: type: support :books:

docs: improve file-extension docs
  packages/remirror__extension-file/__stories__/file.stories.tsx
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
Labels: none

docs: update URL of command highlighted in getting-started docs
  docs/getting-started/commands-and-helpers.md
Labels: none

docs: improve file-extension docs (#1136)
  packages/remirror__extension-file/__stories__/file.stories.tsx
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
Labels: none

docs: add new pages to the extensions index page
  docs/extensions/index.md
  docs/getting-started/create-manager.md
Labels: none

fix: font-size failed to mixed string/number
  packages/remirror__extension-font-size/src/font-size-extension.ts
Labels: none

fix: font-size failed to mixed string/number (#1137)
  packages/remirror__extension-font-size/src/font-size-extension.ts
Labels: none

fix: supported font cases
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__extension-text-case/src/text-case-utils.ts
Labels: none

Adjust default case to supported cases
  packages/remirror__extension-text-case/src/text-case-extension.ts
Labels: none

fix: supported font cases (#1138)
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__extension-text-case/src/text-case-utils.ts
Labels: none

docs: make documented default value match code
  packages/remirror__extension-text-case/src/text-case-utils.ts
Labels: none

Document font family
  docs/extensions/font-family-extension.md
  docs/extensions/font-size-extension.md
  packages/remirror__extension-font-family/__stories__/font-family.stories.tsx
  packages/remirror__extension-font-family/__stories__/tsconfig.json
  packages/remirror__extension-font-family/src/font-family-extension.ts
  support/root/tsconfig.json
Labels: type: support :books:

docs: explain extensions
  docs/extensions/sub-extension.md
  docs/extensions/sup-extension.md
  packages/remirror__extension-sub/__stories__/sub.stories.tsx
  packages/remirror__extension-sub/__stories__/tsconfig.json
  packages/remirror__extension-sup/__stories__/sup.stories.tsx
  packages/remirror__extension-sup/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

Standardize spelling of storybook stories
  packages/remirror__extension-code-block/__stories__/code-block.stories.tsx
  packages/remirror__extension-font-family/__stories__/font-family.stories.tsx
  packages/remirror__extension-node-formatting/__stories__/node-formatting.stories.tsx
  packages/remirror__extension-react-tables/__stories__/react-tables-extension.stories.tsx
Labels: framework: react :atom_symbol:

Document font-size extension
  packages/remirror__extension-font-size/__stories__/font-size.stories.tsx
  packages/remirror__extension-font-size/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

Document text-case
  packages/remirror__extension-font-size/__stories__/font-size.stories.tsx
  packages/remirror__extension-text-case/__stories__/text-case.stories.tsx
  packages/remirror__extension-text-case/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

Adjust case names
  packages/remirror__extension-text-case/__stories__/text-case.stories.tsx
Labels: none

Improve wording
  packages/remirror__extension-text-case/__stories__/text-case.stories.tsx
Labels: none

Add doc page
  docs/extensions/text-case-extension.md
Labels: none

docs: make documented default value match code (#1139)
  packages/remirror__extension-text-case/src/text-case-utils.ts
Labels: none

pnpm:fix
  packages/remirror__extension-text-case/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

Docs/extension docs (#1140)
  docs/extensions/font-family-extension.md
  docs/extensions/font-size-extension.md
  docs/extensions/sub-extension.md
  docs/extensions/sup-extension.md
  docs/extensions/text-case-extension.md
  packages/remirror__extension-code-block/__stories__/code-block.stories.tsx
  packages/remirror__extension-font-family/__stories__/font-family.stories.tsx
  packages/remirror__extension-font-family/__stories__/tsconfig.json
  packages/remirror__extension-font-family/src/font-family-extension.ts
  packages/remirror__extension-font-size/__stories__/font-size.stories.tsx
  packages/remirror__extension-font-size/__stories__/tsconfig.json
  packages/remirror__extension-node-formatting/__stories__/node-formatting.stories.tsx
  packages/remirror__extension-react-tables/__stories__/react-tables-extension.stories.tsx
  packages/remirror__extension-sub/__stories__/sub.stories.tsx
  packages/remirror__extension-sub/__stories__/tsconfig.json
  packages/remirror__extension-sup/__stories__/sup.stories.tsx
  packages/remirror__extension-sup/__stories__/tsconfig.json
  packages/remirror__extension-text-case/__stories__/text-case.stories.tsx
  packages/remirror__extension-text-case/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: framework: react :atom_symbol:, type: support :books:

docs: document further extensions
  docs/extensions/heading-extension.md
  packages/remirror__extension-heading/__stories__/heading.stories.tsx
  packages/remirror__extension-heading/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

Doc text highlight
  docs/extensions/text-highlight-extension.md
  packages/remirror__extension-text-highlight/__stories__/text-highlight.stories.tsx
  packages/remirror__extension-text-highlight/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

docs: add getting started docs (#1134)
  docs/extensions/index.md
  docs/getting-started/commands-and-helpers.md
  docs/getting-started/create-editor.md
  docs/getting-started/create-manager.md
  docs/installation.md
  docs/introduction.md
  docs/react/controlled.md
  packages/remirror__extension-embed/src/iframe-extension.ts
  readme.md
  support/root/.eslintrc.js
  website/sidebar.js
Labels: type: support :books:

Improve docs
  docs/extensions/sub-extension.md
  docs/extensions/sup-extension.md
Labels: none

Doc <HR>
  docs/extensions/horizontal-rule-extension.md
  packages/remirror__extension-horizontal-rule/__stories__/horizontal-rule.stories.tsx
  packages/remirror__extension-horizontal-rule/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

Doc epic mode
  docs/extensions/epic-mode-extension.md
  packages/remirror__extension-epic-mode/__stories__/epic-mode.stories.tsx
  packages/remirror__extension-epic-mode/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

Document trailing node
  docs/extensions/trailing-node-extension.md
Labels: none

Document various extensions
  docs/extensions/code-block-extension.md
  docs/extensions/collaboration-extension.md
  docs/extensions/drop-cursor-extension.md
  docs/extensions/emoji-extension.md
  docs/extensions/events-extension.md
  docs/extensions/file-extension.md
  docs/extensions/gap-cursor-extension.md
  docs/extensions/history-extension.md
  docs/extensions/image-extension.md
  docs/extensions/list-extension.md
  docs/extensions/mention-extension-atom.md
  docs/extensions/mention-extension.md
  docs/extensions/positioner-extension.md
  docs/extensions/search-extension.md
  docs/extensions/whitespace-extension.md
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-positioner/__stories__/positioner-extension.stories.tsx
Labels: none

Doc hard break
  docs/extensions/hard-break-extension.md
  packages/remirror__extension-hard-break/__stories__/hard-break.stories.tsx
  packages/remirror__extension-hard-break/__stories__/tsconfig.json
  packages/remirror__extension-hard-break/src/hard-break-extension.ts
  support/root/tsconfig.json
Labels: type: support :books:

Document columns extension
  docs/extensions/columns-extension.md
  packages/remirror__extension-columns/__stories__/columns.stories.tsx
  packages/remirror__extension-columns/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

pnpm fix
  packages/remirror__extension-text-highlight/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

docs: document remaining extensions (#1141)
  docs/extensions/code-block-extension.md
  docs/extensions/collaboration-extension.md
  docs/extensions/columns-extension.md
  docs/extensions/drop-cursor-extension.md
  docs/extensions/emoji-extension.md
  docs/extensions/epic-mode-extension.md
  docs/extensions/events-extension.md
  docs/extensions/file-extension.md
  docs/extensions/gap-cursor-extension.md
  docs/extensions/hard-break-extension.md
  docs/extensions/heading-extension.md
  docs/extensions/history-extension.md
  docs/extensions/horizontal-rule-extension.md
  docs/extensions/image-extension.md
  docs/extensions/list-extension.md
  docs/extensions/mention-extension-atom.md
  docs/extensions/mention-extension.md
  docs/extensions/positioner-extension.md
  docs/extensions/search-extension.md
  docs/extensions/sub-extension.md
  docs/extensions/sup-extension.md
  docs/extensions/text-highlight-extension.md
  docs/extensions/trailing-node-extension.md
  docs/extensions/whitespace-extension.md
  packages/remirror__extension-columns/__stories__/columns.stories.tsx
  packages/remirror__extension-columns/__stories__/tsconfig.json
  packages/remirror__extension-epic-mode/__stories__/epic-mode.stories.tsx
  packages/remirror__extension-epic-mode/__stories__/tsconfig.json
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-hard-break/__stories__/hard-break.stories.tsx
  packages/remirror__extension-hard-break/__stories__/tsconfig.json
  packages/remirror__extension-hard-break/src/hard-break-extension.ts
  packages/remirror__extension-heading/__stories__/heading.stories.tsx
  packages/remirror__extension-heading/__stories__/tsconfig.json
  packages/remirror__extension-horizontal-rule/__stories__/horizontal-rule.stories.tsx
  packages/remirror__extension-horizontal-rule/__stories__/tsconfig.json
  packages/remirror__extension-positioner/__stories__/positioner-extension.stories.tsx
  packages/remirror__extension-text-highlight/__stories__/text-highlight.stories.tsx
  packages/remirror__extension-text-highlight/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:

move
  packages/remirror__extension-strike/__stories__/tsconfig.json
  packages/storybook-react/__stories__/extension-strike/strike.stories.tsx
  packages/storybook-react/__stories__/extension-strike/styles.css
Labels: none

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
