Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

update type-fest
  packages/remirror__types/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

fix types
  packages/remirror__types/src/index.ts
Labels: none

fix types
  support/scripts/src/generate-configs.ts
  support/scripts/src/helpers.ts
  support/scripts/src/mutatate-packages.ts
Labels: type: support :books:

run pnpm fix
  packages/remirror__types/src/index.ts
Labels: none

chore(deps): update type-fest to v3 (#2053)
  package.json
  packages/remirror__types/package.json
  packages/remirror__types/src/index.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-configs.ts
  support/scripts/src/helpers.ts
  support/scripts/src/mutatate-packages.ts
Labels: type: support :books:

chore: ignore some pure ESM dependencies for renovate
  package.json
Labels: none

chore: ignore some pure ESM dependencies for renovate (#2055)
  package.json
Labels: none

chore(changeset): version update (#2054)
  .changeset/ten-wolves-own.md
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(deps): update rollup to v3
  package.json
  packages/remirror__messages/package.json
  packages/remirror__theme/package.json
  pnpm-lock.yaml
Labels: type: ui :nail_care:

update rollup config
  packages/remirror__messages/rollup.config.js
  packages/remirror__theme/rollup.config.js
Labels: none

chore(deps): update rollup to v3 (#2058)
  package.json
  packages/remirror__messages/package.json
  packages/remirror__messages/rollup.config.js
  packages/remirror__theme/package.json
  packages/remirror__theme/rollup.config.js
  pnpm-lock.yaml
Labels: type: ui :nail_care:

fix(react-hooks): fix useEditorFocus hook
  packages/remirror__react-hooks/src/use-editor-focus.ts
Labels: framework: react :atom_symbol:

fix build
  packages/remirror__cli/src/utils/run-command.ts
Labels: package: @remirror/cli :pager:

update test snapshot
  packages/remirror__core/__tests__/__snapshots__/decorations-extension.spec.ts.snap
  packages/remirror__core/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/remirror__react-core/__tests__/__snapshots__/react-remirror.spec.tsx.snap
Labels: none

fix lint
  .eslintrc.js
Labels: none

try detached:true
  packages/remirror__cli/src/utils/run-command.ts
Labels: package: @remirror/cli :pager:

try shell: true
  packages/remirror__cli/src/utils/run-command.ts
Labels: package: @remirror/cli :pager:

try inherit
  packages/remirror__cli/src/utils/run-command.ts
Labels: package: @remirror/cli :pager:

try remove run-p
  package.json
Labels: none

try remove shell: true
  packages/remirror__cli/src/utils/run-command.ts
Labels: package: @remirror/cli :pager:

fix(paste-rules): don't replace non-text block
  .changeset/clean-dragons-reply.md
  packages/prosemirror-paste-rules/src/index.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:

fix test
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: none

fix(react-tables): The position of the react-tables component is incorrect.
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:

docs: add changeset
  .changeset/sharp-foxes-sing.md
Labels: type: changeset :butterfly:

docs: update changeset
  .changeset/sharp-foxes-sing.md
Labels: type: changeset :butterfly:

fix(react-hooks): call useEditorFocus when blurring (#2062)
  .changeset/sharp-foxes-sing.md
  packages/remirror__react-hooks/src/use-editor-focus.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

docs: add changeset
  .changeset/twenty-pumas-rhyme.md
Labels: type: changeset :butterfly:

fix(react-tables): replace table with correct positions (#2068)
  .changeset/twenty-pumas-rhyme.md
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(changeset): version update (#2069)
  .changeset/sharp-foxes-sing.md
  .changeset/twenty-pumas-rhyme.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

Fix exported types in publishConfig in create-context-state
  packages/create-context-state/package.json
Labels: none

fix(link): disable link click handler when contenteditable is false
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

fix(codeBlock): remove isolating from codeBlock
  packages/remirror__extension-code-block/src/code-block-extension.ts
Labels: none

Create hip-mugs-report.md
  .changeset/hip-mugs-report.md
Labels: type: changeset :butterfly:

Create six-tips-learn.md
  .changeset/six-tips-learn.md
Labels: type: changeset :butterfly:

format
  .changeset/hip-mugs-report.md
Labels: type: changeset :butterfly:

format
  .changeset/six-tips-learn.md
Labels: type: changeset :butterfly:

fix(link): disable link click handler when contenteditable is false (#2072)
  .changeset/hip-mugs-report.md
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:

fix(code-block): remove isolating from codeBlock (#2073)
  .changeset/six-tips-learn.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#2074)
  .changeset/hip-mugs-report.md
  .changeset/six-tips-learn.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-code-block/CHANGELOG.md
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-link/CHANGELOG.md
  packages/remirror__extension-link/package.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix(link-extension): remove duplicate click handler
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
