Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

add comment
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

comment
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

refactor maybeJoinList
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

update comment
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

update
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

add test
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/__tests__/list-setup.ts
  packages/remirror__extension-list/src/list-commands.ts
  support/root/.eslintrc.js
Labels: test: unit :white_check_mark:, type: support :books:

wrapSelectedItem
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

imple
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

update
  packages/remirror__extension-list/src/index.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

add storuyb
  packages/storybook-react/stories/extension-list/list-extension.stories.tsx
  packages/storybook-react/stories/extension-list/toggleable.tsx
Labels: none

update docs
  packages/storybook-react/stories/extension-list/collapsible.tsx
Labels: none

mdx
  docs/extensions/list-extension.mdx
  website/extension-examples/extension-list/toggleable.tsx
Labels: none

fixup
  packages/remirror__extension-list/src/bullet-list-extension.ts
  packages/remirror__extension-list/src/index.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/ordered-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: none

changeset
  .changeset/lemon-bottles-perform.md
Labels: type: changeset :butterfly:

refactor tests
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/__tests__/list-input-rules.spec.ts
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/__tests__/list-setup.ts
  packages/remirror__extension-list/__tests__/task-list-extension.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: test: unit :white_check_mark:

add test case
  packages/remirror__extension-list/__tests__/list-input-rules.spec.ts
Labels: test: unit :white_check_mark:

fix(extension-list): fix a bug that causes incorrect indent when changing list type (#1296)
  .changeset/lemon-bottles-perform.md
  docs/extensions/list-extension.mdx
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/__tests__/list-input-rules.spec.ts
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/__tests__/list-setup.ts
  packages/remirror__extension-list/__tests__/task-list-extension.spec.ts
  packages/remirror__extension-list/src/bullet-list-extension.ts
  packages/remirror__extension-list/src/index.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/ordered-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  packages/storybook-react/stories/extension-list/collapsible.tsx
  packages/storybook-react/stories/extension-list/list-extension.stories.tsx
  packages/storybook-react/stories/extension-list/toggleable.tsx
  support/root/.eslintrc.js
  website/extension-examples/extension-list/toggleable.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

chore(changeset): version update (#1303)
  .changeset/lemon-bottles-perform.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

add test cases
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

implement
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-shared-extension.ts
  packages/remirror__extension-list/src/list-utils.ts
Labels: none

update tests
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

add keymap
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-shared-extension.ts
Labels: none

typecheck
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

fx workflow
  .github/workflows/publish-pr.yml
Labels: none

chore: fix workflow publish_comment
  .github/workflows/publish-pr.yml
Labels: none

chore: fix workflow publish_comment (#1306)
  .github/workflows/publish-pr.yml
Labels: none

add test
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

test
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

fix
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-shared-extension.ts
Labels: test: unit :white_check_mark:

add failed test
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

update
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

add failed test cases
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

changeset
  .changeset/orange-mails-carry.md
Labels: type: changeset :butterfly:

fix(extension-list): improve backspace behavior between two lists (#1305)
  .changeset/orange-mails-carry.md
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-shared-extension.ts
  packages/remirror__extension-list/src/list-utils.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(extension-list): refactor some test cases
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/storybook-react/stories/extension-list/basic.tsx
Labels: test: unit :white_check_mark:

skip a case
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

fix(extension-list): refactor some test cases (#1308)
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/storybook-react/stories/extension-list/basic.tsx
Labels: test: unit :white_check_mark:

feat(extension-list): improve indent list
  .changeset/khaki-weeks-melt.md
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/index.ts
  packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-shared-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

feat(extension-list): improve indent list (#1309)
  .changeset/khaki-weeks-melt.md
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/index.ts
  packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-shared-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

copy dedentListCommand
  packages/remirror__extension-list/src/list-command-dedent.ts
  packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-shared-extension.ts
Labels: none
