Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

small tweak
  packages/remirror__extension-find/src/find-extension.ts
  packages/remirror__react-components/src/find-replace/find-controller.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

update docs
  docs/extensions/file-extension.mdx
  docs/extensions/search-extension.mdx
Labels: none

chore(changeset): version update (#1932)
  .changeset/heavy-tomatoes-film.md
  .changeset/hot-tips-fail.md
  .changeset/hungry-news-doubt.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-find/CHANGELOG.md
  packages/remirror__extension-find/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-search/CHANGELOG.md
  packages/remirror__extension-search/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

docs: correct the comment for command decorator
  packages/remirror__core/src/builtins/builtin-decorators.ts
Labels: none

docs: correct the comment for command decorator (#1934)
  packages/remirror__core/src/builtins/builtin-decorators.ts
Labels: none

fix: fix the default import for `compute-scroll-into-view`
  packages/multishift/src/multishift-utils.ts
Labels: package: multishift :arrow_down_small:

fix(extension-image): insert image at the drop position (#1930)
  .changeset/shaggy-suns-rhyme.md
  packages/remirror__extension-image/src/image-extension.ts
  packages/storybook-react/stories/extension-image/basic.tsx
  packages/storybook-react/stories/extension-image/resizable.tsx
Labels: type: changeset :butterfly:

add changeset
  .changeset/little-parrots-destroy.md
Labels: type: changeset :butterfly:

fix: fix the default import for `compute-scroll-into-view` (#1938)
  .changeset/little-parrots-destroy.md
  packages/multishift/src/multishift-utils.ts
Labels: package: multishift :arrow_down_small:, type: changeset :butterfly:

chore(changeset): version update (#1939)
  .changeset/little-parrots-destroy.md
  .changeset/shaggy-suns-rhyme.md
  package.json
  packages/multishift/CHANGELOG.md
  packages/multishift/package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-image/CHANGELOG.md
  packages/remirror__extension-image/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: package: multishift :arrow_down_small:, framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat(entity-reference) add an `onClick` handler
  .changeset/old-crews-count.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/index.ts
  packages/remirror__extension-entity-reference/src/types.ts
  packages/storybook-react/stories/extension-entity-reference/basic.tsx
  packages/storybook-react/stories/extension-entity-reference/entity-reference.stories.tsx
  packages/storybook-react/stories/extension-link/click-handler.tsx
  website/extension-examples/extension-entity-reference/basic.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(tables): `setTableCellBackground` should also apply to header cells
  .changeset/happy-scissors-sit.md
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: type: changeset :butterfly:

docs: add style to storybook
  packages/storybook-react/stories/extension-list/basic.tsx
  packages/storybook-react/stories/extension-list/collapsible.tsx
  packages/storybook-react/stories/extension-list/toggleable.tsx
Labels: none

fix: make list spine unselectable
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-list.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-list-theme.ts
Labels: type: ui :nail_care:

fix: fix the dom structure of <ul>
  packages/remirror__extension-list/src/bullet-list-extension.ts
Labels: none

docs: add changeset
  .changeset/smooth-hats-compare.md
  .changeset/soft-games-glow.md
Labels: type: changeset :butterfly:

fix(extension-list): improve the selection of lists on touch screen (#1942)
  .changeset/smooth-hats-compare.md
  .changeset/soft-games-glow.md
  packages/remirror__extension-list/src/bullet-list-extension.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-list.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-list-theme.ts
  packages/storybook-react/stories/extension-list/basic.tsx
  packages/storybook-react/stories/extension-list/collapsible.tsx
  packages/storybook-react/stories/extension-list/toggleable.tsx
Labels: type: ui :nail_care:, type: changeset :butterfly:

feat(entity-reference): add an `onClick` handler (#1940)
  .changeset/happy-scissors-sit.md
  .changeset/old-crews-count.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/index.ts
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/storybook-react/stories/extension-entity-reference/basic.tsx
  packages/storybook-react/stories/extension-entity-reference/entity-reference.stories.tsx
  packages/storybook-react/stories/extension-link/click-handler.tsx
  website/extension-examples/extension-entity-reference/basic.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

feat(doc): add helper to determine if doc node content is default
  .changeset/flat-kids-deny.md
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__extension-doc/__tests__/doc-extension.spec.ts
  packages/remirror__extension-doc/src/doc-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(tables): apply table columns sizes when editable=false. Fixes #1937
  .changeset/gold-games-act.md
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/storybook-react/stories/extension-tables/not-editable.tsx
  packages/storybook-react/stories/extension-tables/table.stories.tsx
  website/extension-examples/extension-tables/not-editable.tsx
Labels: type: changeset :butterfly:

fix(tables): apply table columns sizes when `editable=false` (#1948)
  .changeset/flat-kids-deny.md
  .changeset/gold-games-act.md
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__extension-doc/__tests__/doc-extension.spec.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/storybook-react/stories/extension-tables/not-editable.tsx
  packages/storybook-react/stories/extension-tables/table.stories.tsx
  website/extension-examples/extension-tables/not-editable.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(extension-tables): update prosemirror-tables to v1.3.0-beta.0
  packages/jest-prosemirror/package.json
  packages/remirror__extension-react-tables/src/views/table-view.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, framework: react :atom_symbol:

docs: add changeset
  .changeset/kind-paws-mix.md
Labels: type: changeset :butterfly:

update prosemirror-tables to 1.3.0-beta.1
  packages/jest-prosemirror/package.json
  packages/remirror__pm/package.json
Labels: package: jest-prosemirror :performing_arts:

update prosemirror-tables to 1.3.0-beta.1
  pnpm-lock.yaml
Labels: none

chore(extension-tables): update prosemirror-tables to v1.3.0-beta.1 (#1951)
  .changeset/kind-paws-mix.md
  packages/jest-prosemirror/package.json
  packages/remirror__extension-react-tables/src/views/table-view.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, framework: react :atom_symbol:, type: changeset :butterfly:

chore: update prosemirror dependencies
  .changeset/kind-paws-mix.md
  .changeset/plenty-ads-attend.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

update lockfile
  pnpm-lock.yaml
Labels: none

chore: update prosemirror dependencies (#1957)
  .changeset/kind-paws-mix.md
  .changeset/plenty-ads-attend.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

feat: improve copy & paste
  .changeset/serious-pumas-destroy.md
  .changeset/strong-buses-vanish.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
Labels: package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, type: changeset :butterfly:

test: reproduce the bug
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
Labels: test: unit :white_check_mark:

test: update test
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
Labels: test: unit :white_check_mark:

fix: fix the crash
  .changeset/slow-pugs-argue.md
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:

fix: fix the bug
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: none

fix(paste-rules): fix a crash when pasting nested content (#1958)
  .changeset/serious-pumas-destroy.md
  .changeset/slow-pugs-argue.md
  .changeset/strong-buses-vanish.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, type: changeset :butterfly:, test: unit :white_check_mark:

Restore useDocChanged as public api
  packages/remirror__react-core/src/index.ts
Labels: framework: react :atom_symbol:

feat(entity-reference): add ability to get references from old editor states
  .changeset/angry-lions-trade.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(react): expose `useDocChanged` hook
  .changeset/curly-monkeys-shave.md
  packages/remirror__react-core/src/index.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat(entity-reference): get references from arbitrary editor states (#1960)
  .changeset/angry-lions-trade.md
  .changeset/curly-monkeys-shave.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__react-core/src/index.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1961)
  .changeset/angry-lions-trade.md
  .changeset/curly-monkeys-shave.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__dev/CHANGELOG.md
  packages/remirror__dev/package.json
  packages/remirror__extension-entity-reference/CHANGELOG.md
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/CHANGELOG.md
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
