Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

fix: disable spellcheck in code and codeBlock
  .changeset/late-pugs-sit.md
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-code/src/code-extension.ts
Labels: type: changeset :butterfly:

update tests
  packages/remirror__extension-code-block/__tests__/__snapshots__/code-block-extension.spec.ts.snap
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code/__tests__/code-extension.spec.ts
Labels: test: unit :white_check_mark:

update test
  packages/remirror__react-ssr/__tests__/__snapshots__/react-serializer.spec.tsx.snap
Labels: none

fix: disable spellcheck in code and codeBlock (#1322)
  .changeset/late-pugs-sit.md
  packages/remirror__extension-code-block/__tests__/__snapshots__/code-block-extension.spec.ts.snap
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-code/__tests__/code-extension.spec.ts
  packages/remirror__extension-code/src/code-extension.ts
  packages/remirror__react-ssr/__tests__/__snapshots__/react-serializer.spec.tsx.snap
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1323)
  .changeset/late-pugs-sit.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-code-block/CHANGELOG.md
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code/CHANGELOG.md
  packages/remirror__extension-code/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(deps): update prosemirror packages
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:

feat(core): disable persistent selection by default
  .changeset/lovely-jars-live.md
  docs/extensions/decoration-extension.mdx
  packages/remirror__core/__tests__/__snapshots__/decorations-extension.spec.ts.snap
  packages/remirror__core/src/builtins/decorations-extension.ts
  packages/storybook-react/stories/extension-decoration/decoration.stories.tsx
  packages/storybook-react/stories/extension-decoration/persistent-selection.tsx
  website/extension-examples/extension-decoration/persistent-selection.tsx
Labels: type: changeset :butterfly:

fix tests
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Labels: test: unit :white_check_mark:

run pnpm fix
  .changeset/lovely-jars-live.md
Labels: type: changeset :butterfly:

update inline snapshot
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-bold/__tests__/bold-extension.spec.ts
  packages/remirror__extension-code/__tests__/code-extension.spec.ts
  packages/remirror__extension-strike/__tests__/strike-extension.spec.ts
  packages/remirror__extension-sub/__tests__/sub-extension.spec.ts
  packages/remirror__extension-sup/__tests__/sup-extension.spec.ts
Labels: test: unit :white_check_mark:

Update packages/storybook-react/stories/extension-decoration/persistent-selection.tsx
  packages/storybook-react/stories/extension-decoration/persistent-selection.tsx
Labels: none

Update docs/extensions/decoration-extension.mdx
  docs/extensions/decoration-extension.mdx
Labels: none

Update packages/remirror__core/src/builtins/decorations-extension.ts
  packages/remirror__core/src/builtins/decorations-extension.ts
Labels: none

Update .changeset/lovely-jars-live.md
  .changeset/lovely-jars-live.md
Labels: type: changeset :butterfly:

improve changeset
  .changeset/lovely-jars-live.md
Labels: type: changeset :butterfly:

feat(core): disable persistent selection by default (#1324)
  .changeset/lovely-jars-live.md
  docs/extensions/decoration-extension.mdx
  packages/remirror__core/__tests__/__snapshots__/decorations-extension.spec.ts.snap
  packages/remirror__core/src/builtins/decorations-extension.ts
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-bold/__tests__/bold-extension.spec.ts
  packages/remirror__extension-code/__tests__/code-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-strike/__tests__/strike-extension.spec.ts
  packages/remirror__extension-sub/__tests__/sub-extension.spec.ts
  packages/remirror__extension-sup/__tests__/sup-extension.spec.ts
  packages/storybook-react/stories/extension-decoration/decoration.stories.tsx
  packages/storybook-react/stories/extension-decoration/persistent-selection.tsx
  website/extension-examples/extension-decoration/persistent-selection.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(upload): use unique ID strings not objects for file uploads
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-actions.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
Labels: none

chore(file): render valid DOM attributes for file nodes
  packages/remirror__extension-file/src/file-extension.tsx
Labels: none

feat(file): expose a function to determine if files are currently uploading
  .changeset/gorgeous-walls-begin.md
  docs/extensions/file-extension.mdx
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__core/src/builtins/upload-extension/index.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/storybook-react/stories/extension-file/file.stories.tsx
  packages/storybook-react/stories/extension-file/with-upload-incomplete-warning.tsx
  website/extension-examples/extension-file/with-upload-incomplete-warning.tsx
Labels: type: changeset :butterfly:

feat(extension-file): determine if files are currently uploading (#1325)
  .changeset/gorgeous-walls-begin.md
  docs/extensions/file-extension.mdx
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-actions.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
  packages/remirror__core/src/builtins/upload-extension/index.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/storybook-react/stories/extension-file/file.stories.tsx
  packages/storybook-react/stories/extension-file/with-upload-incomplete-warning.tsx
  website/extension-examples/extension-file/with-upload-incomplete-warning.tsx
Labels: type: changeset :butterfly:

chore: remove redundant packages from a changeset
  .changeset/gorgeous-walls-begin.md
Labels: type: changeset :butterfly:

chore: remove redundant packages from a changeset (#1327)
  .changeset/gorgeous-walls-begin.md
Labels: type: changeset :butterfly:

chore(deps): lock file maintenance
  pnpm-lock.yaml
Labels: none

update jest snapshot
  packages/remirror__core/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/remirror__extension-image/__tests__/__snapshots__/image-extension.spec.ts.snap
  packages/remirror__extension-react-component/__tests__/__snapshots__/react-component-extension.spec.tsx.snap
  packages/remirror__react-core/__tests__/__snapshots__/react-remirror.spec.tsx.snap
  packages/remirror__react-hooks/__tests__/__snapshots__/use-emoji.spec.tsx.snap
  packages/remirror__react-hooks/__tests__/use-keymaps.spec.tsx
Labels: test: unit :white_check_mark:

update lock file
  pnpm-lock.yaml
Labels: none

chore(deps): update dependency marked to v3
  packages/remirror__extension-markdown/package.json
  pnpm-lock.yaml
Labels: none

chore(deps): update dependency @size-limit/preset-big-lib to v6
  package.json
  pnpm-lock.yaml
Labels: none

add changeset
  .changeset/cyan-phones-try.md
Labels: type: changeset :butterfly:

chore(deps): update dependency @types/inquirer to v8
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

chore(deps): update dependency eslint to v8
  package.json
  pnpm-lock.yaml
  support/root/.prettierrc.js
Labels: type: support :books:

remove codeframe because it's no longer part of core ESLint
  package.json
Labels: none

chore(deps): update dependency eslint-plugin-unicorn to v37
  package.json
  pnpm-lock.yaml
Labels: none

chore(deps): update dependency eslint to v8
  package.json
  pnpm-lock.yaml
Labels: none

chore(deps): update dependency jest-dev-server to v6
  packages/testing/package.json
  pnpm-lock.yaml
Labels: none

fix(core-types): extra attributes can be any JSON primitive value (#1161)
  .changeset/wet-cows-drop.md
  package.json
  packages/remirror__core-helpers/__tests__/core-helper.spec.ts
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__core/__tests__/node-extension.spec.ts
  packages/remirror__core/src/builtins/schema-extension.ts
  packages/remirror__types/src/types.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

force pnpm to install eslint-plugin-react-hooks@4.2.1-alpha
  package.json
  pnpm-lock.yaml
Labels: none

auto fix some eslint error
  packages/multishift/src/multishift-types.ts
  packages/remirror__core-utils/__tests__/prosemirror-node-utils.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-codemirror5/__tests__/codemirror-extension.spec.ts
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-react-tables/src/utils/array.ts
  packages/remirror__react-hooks/__tests__/use-editor-focus.spec.tsx
Labels: package: multishift :arrow_down_small:, framework: react :atom_symbol:, test: unit :white_check_mark:

fix an error
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Labels: package: jest-prosemirror :performing_arts:

fix some warnings
  packages/jest-prosemirror/src/jest-prosemirror-matchers.ts
  packages/remirror__react-renderer/src/handlers/link.tsx
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  packages/storybook-react/stories/extension-react-tables/with-yjs.tsx
Labels: package: jest-prosemirror :performing_arts:, framework: react :atom_symbol:

fix a warning
  package.json
  packages/remirror__react-renderer/src/handlers/iframe.tsx
Labels: framework: react :atom_symbol:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
