Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

tests are passed
  packages/remirror__extension-list/src/list-command-dedent.ts
  packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/storybook-react/stories/extension-list/basic.tsx
Labels: none

add tests
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

dedent
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-command-dedent.ts
  packages/remirror__extension-list/src/list-command-indent.ts
Labels: test: unit :white_check_mark:

add test
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

add tests
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

add tests
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

refactor maybeJoinList
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

add test
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-command-dedent.ts
Labels: test: unit :white_check_mark:

add failed tests
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/storybook-react/stories/extension-list/basic.tsx
Labels: test: unit :white_check_mark:

test: can indent siblings of selecte items
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

wip
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-command-dedent.ts
  packages/storybook-react/stories/extension-list/basic.tsx
Labels: test: unit :white_check_mark:

wip
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-command-dedent.ts
  packages/storybook-react/stories/extension-list/basic.tsx
Labels: test: unit :white_check_mark:

works
  packages/remirror__extension-list/src/list-command-dedent.ts
Labels: none

works
  packages/remirror__extension-list/src/list-command-dedent.ts
Labels: none

update
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

remove skip
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

format
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-command-dedent.ts
Labels: test: unit :white_check_mark:

changeset
  .changeset/little-horses-kick.md
  packages/remirror__extension-list/src/index.ts
Labels: type: changeset :butterfly:

fix lint
  packages/remirror__extension-list/src/list-item-shared-extension.ts
Labels: none

review
  packages/storybook-react/stories/extension-list/basic.tsx
Labels: none

review
  packages/remirror__extension-list/src/list-command-dedent.ts
  packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

review
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

feat(extension-list): improve dedent list (#1310)
  .changeset/little-horses-kick.md
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/index.ts
  packages/remirror__extension-list/src/list-command-dedent.ts
  packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-shared-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1307)
  .changeset/khaki-weeks-melt.md
  .changeset/little-horses-kick.md
  .changeset/orange-mails-carry.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(docs): create-manager doc typo
  docs/getting-started/create-manager.md
Labels: none

fix(docs): react controlled code example
  docs/react/controlled.md
Labels: none

docs: how to set content from outside editor
  docs/faq.md
  packages/storybook-react/stories/react/controlled.stories.tsx
  packages/storybook-react/stories/react/replace-content-and-clear-history.tsx
  packages/storybook-react/stories/react/replace-content-imperative.tsx
  packages/storybook-react/stories/react/replace-content-preserve-history.tsx
  website/extension-examples/react/replace-content-imperative.tsx
Labels: none

docs: how to set content from outside editor (#1316)
  docs/faq.md
  packages/storybook-react/stories/react/controlled.stories.tsx
  packages/storybook-react/stories/react/replace-content-and-clear-history.tsx
  packages/storybook-react/stories/react/replace-content-imperative.tsx
  packages/storybook-react/stories/react/replace-content-preserve-history.tsx
  website/extension-examples/react/replace-content-imperative.tsx
Labels: none

refactor: remove useless type `TransactionLifecycle`
  packages/remirror__core-types/src/props-types.ts
Labels: none

refactor: remove useless type `TransactionLifecycle` (#1317)
  packages/remirror__core-types/src/props-types.ts
Labels: none

cell-grid
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-react-tables/src/views/table-view.tsx
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-tables.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-tables-theme.ts
  packages/storybook-react/stories/extension-react-tables/basic.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

wip
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-tables.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-tables-theme.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:

update styles
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-tables.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-tables-theme.ts
Labels: type: ui :nail_care:

add event listener
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:

docs: explain available table extensions
  docs/extensions/react-tables-extension.mdx
  docs/extensions/tables-extension.mdx
Labels: none

docs: explain available table extensions (#1319)
  docs/extensions/react-tables-extension.mdx
  docs/extensions/tables-extension.mdx
Labels: none

docs: link storybook from docs
  website/sidebar.js
Labels: none

docs: link storybook from docs (#1320)
  website/sidebar.js
Labels: none

docs: blog post on styling selected nodes
  website/blog/2021-10-14-style-selected-node.md
Labels: none

docs: blog post on styling selected nodes (#1321)
  website/blog/2021-10-14-style-selected-node.md
Labels: none
