Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

docs: fix typo in code example (#1247)
  packages/remirror/readme.md
Labels: none

docs: fix embed-extension.mdx (#1245)
  docs/extensions/embed-extension.mdx
Labels: none

docs: add code sample for collaborative editing
  docs/extensions/yjs-extension.mdx
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-yjs/basic.tsx
  packages/storybook-react/stories/extension-yjs/yjs.stories.tsx
  pnpm-lock.yaml
  website/extension-examples/extension-yjs/basic.tsx
Labels: none

docs: add code sample for collaborative editing (#1248)
  docs/extensions/yjs-extension.mdx
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-yjs/basic.tsx
  packages/storybook-react/stories/extension-yjs/yjs.stories.tsx
  pnpm-lock.yaml
  website/extension-examples/extension-yjs/basic.tsx
Labels: none

docs: add storybook for positioners
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/positioners.tsx
  packages/storybook-react/stories/extension-positioner/styles.css
  pnpm-lock.yaml
Labels: none

pnpm fix
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/positioners.tsx
  website/extension-examples/extension-positioner/positioners.tsx
Labels: none

docs: add storybook for positioners (#1250)
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/positioners.tsx
  packages/storybook-react/stories/extension-positioner/styles.css
  pnpm-lock.yaml
  website/extension-examples/extension-positioner/positioners.tsx
Labels: none

generate API
  .gitignore
  package.json
  packages/prosemirror-suggest/readme.md
  packages/prosemirror-suggest/src/suggest-types.ts
  pnpm-lock.yaml
  support/scripts/api-extractor.worker/package.json
  support/scripts/package.json
  support/scripts/src/api-extractor.worker.ts
  support/scripts/src/generate-api.ts
Labels: package: prosemirror-suggest :bulb:, type: support :books:

fix
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

docs: generate api document (#1253)
  .gitignore
  package.json
  packages/prosemirror-suggest/readme.md
  packages/prosemirror-suggest/src/suggest-types.ts
  pnpm-lock.yaml
  support/scripts/api-extractor.worker/package.json
  support/scripts/package.json
  support/scripts/src/api-extractor.worker.ts
  support/scripts/src/generate-api.ts
Labels: package: prosemirror-suggest :bulb:, type: support :books:

init next.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  site/.eslintrc.json
  site/README.md
  site/next-env.d.ts
  site/next.config.js
  site/package.json
  site/pages/_app.tsx
  site/pages/api/hello.ts
  site/pages/index.tsx
  site/public/favicon.ico
  site/public/vercel.svg
  site/styles/Home.module.css
  site/styles/globals.css
  site/tsconfig.json
Labels: none

fix tsconfig.json
  site/package.json
  site/tsconfig.json
Labels: none

setup MDX
  pnpm-lock.yaml
  site/next.config.js
  site/package.json
  site/pages/_app.tsx
  site/pages/api/hello.ts
  site/pages/docs/introduction.md
  site/pages/index.tsx
  site/styles/globals.css
Labels: none

docs: explain how to replace editor content
  docs/faq.md
  packages/storybook-react/stories/react/controlled.stories.tsx
  packages/storybook-react/stories/react/editable.tsx
  packages/storybook-react/stories/react/replace-content-and-clear-history.tsx
  packages/storybook-react/stories/react/replace-content-preserve-history.tsx
  website/extension-examples/react/editable.tsx
  website/extension-examples/react/replace-content-and-clear-history.tsx
  website/extension-examples/react/replace-content-preserve-history.tsx
Labels: none

docs: explain how to replace editor content (#1255)
  docs/faq.md
  packages/storybook-react/stories/react/controlled.stories.tsx
  packages/storybook-react/stories/react/editable.tsx
  packages/storybook-react/stories/react/replace-content-and-clear-history.tsx
  packages/storybook-react/stories/react/replace-content-preserve-history.tsx
  website/extension-examples/react/editable.tsx
  website/extension-examples/react/replace-content-and-clear-history.tsx
  website/extension-examples/react/replace-content-preserve-history.tsx
Labels: none

docs: standardize position of buttons
  packages/storybook-react/stories/react/replace-content-and-clear-history.tsx
Labels: none

docs: standardize position of buttons (#1256)
  packages/storybook-react/stories/react/replace-content-and-clear-history.tsx
Labels: none

update sidebar
  docs/api.md
  website/docusaurus.config.js
  website/sidebar.js
Labels: none

update ci
  .github/workflows/docs.yml
Labels: none

run pnpm fix
  .github/workflows/docs.yml
  website/docusaurus.config.js
  website/sidebar.js
Labels: none

update deps
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
  website/docusaurus.config.js
Labels: type: support :books:

install doc-plugin-remirror
  .gitignore
  package.json
  pnpm-lock.yaml
  support/root/api-documenter.json
Labels: type: support :books:

add doc-plugin-remirror
  package.json
  pnpm-lock.yaml
Labels: none

update doc-plugin-remirror
  package.json
  pnpm-lock.yaml
Labels: none

use node.js 16
  .github/workflows/docs.yml
Labels: none

add back api.md
  docs/api.md
Labels: none

ignore BrokenLinks
  website/docusaurus.config.js
Labels: none

add extension-strike
  support/scripts/src/generate-api.ts
Labels: type: support :books:

lint
  .github/workflows/docs.yml
  support/root/api-documenter.json
  website/docusaurus.config.js
Labels: type: support :books:

update docs
  website/sidebar.js
Labels: none

remove API in the navbar
  website/docusaurus.config.js
Labels: none

remove typedoc
  .gitignore
  packages/tsconfig.json
  support/root/tsconfig.docs.json
  support/root/typedoc.json
  support/scripts/create-typedoc-sidebars/package.json
  support/scripts/package.json
  support/scripts/src/create-typedoc-sidebars.ts
  support/scripts/src/generate-configs.ts
  tsconfig.docs.json
  typedoc.json
Labels: type: support :books:

lint
  packages/tsconfig.json
Labels: none

docs: embed generated api documents (#1257)
  .github/workflows/docs.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  support/root/api-documenter.json
  support/root/tsconfig.docs.json
  support/root/typedoc.json
  support/scripts/create-typedoc-sidebars/package.json
  support/scripts/package.json
  support/scripts/src/create-typedoc-sidebars.ts
  support/scripts/src/generate-api.ts
  support/scripts/src/generate-configs.ts
  tsconfig.docs.json
  typedoc.json
  website/docusaurus.config.js
  website/sidebar.js
Labels: type: support :books:

docs: embed api documents for most packages
  packages/remirror__dev/src/dev.ts
  support/scripts/src/generate-api.ts
Labels: type: support :books:

clean folder
  support/scripts/src/generate-api.ts
Labels: type: support :books:

increase timeout
  .github/workflows/docs.yml
Labels: none

update timeout
  .github/workflows/docs.yml
Labels: none

add max_old_space_size
  .github/workflows/docs.yml
Labels: none

docs: embed api documents for most packages (#1259)
  .github/workflows/docs.yml
  packages/remirror__dev/src/dev.ts
  support/scripts/src/generate-api.ts
Labels: type: support :books:
