Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

add resizable
  docs/extensions/image-extension.mdx
Labels: none

docs: embed resizable iframe and youtube example
  docs/extensions/embed-extension.mdx
  packages/storybook-react/stories/extension-embed/iframe.stories.tsx
  packages/storybook-react/stories/extension-embed/resizable.tsx
  packages/storybook-react/stories/extension-embed/youtube.tsx
  website/extension-examples/extension-embed/resizable.tsx
  website/extension-examples/extension-embed/youtube.tsx
Labels: none

docs: add resizable image example (#1227)
  docs/extensions/image-extension.mdx
Labels: none

feat: make corner resize handle svg
  .changeset/thin-planes-remain.md
  packages/prosemirror-resizable-view/src/corner-handle.ts
  packages/prosemirror-resizable-view/src/resizable-view-handle.ts
Labels: type: changeset :butterfly:

docs: embed resizable iframe and youtube example (#1228)
  docs/extensions/embed-extension.mdx
  packages/storybook-react/stories/extension-embed/iframe.stories.tsx
  packages/storybook-react/stories/extension-embed/resizable.tsx
  packages/storybook-react/stories/extension-embed/youtube.tsx
  website/extension-examples/extension-embed/resizable.tsx
  website/extension-examples/extension-embed/youtube.tsx
Labels: none

Update .changeset/thin-planes-remain.md
  .changeset/thin-planes-remain.md
Labels: type: changeset :butterfly:

feat(resizable-view): make handles more recognizable (#1225)
  .changeset/thin-planes-remain.md
  packages/prosemirror-resizable-view/src/corner-handle.ts
  packages/prosemirror-resizable-view/src/resizable-view-handle.ts
Labels: type: changeset :butterfly:

Update static-html.md
  docs/react/static-html.md
Labels: none

docs: fix a 404 storybook link (#1231)
  docs/react/static-html.md
Labels: none

fix: prevent to detect parts of emails as link
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

Adjust docu
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

Simplify RegEx
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

pnpm fix
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

Improve logic of variables
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

Add changeset
  .changeset/two-scissors-change.md
Labels: type: changeset :butterfly:

Add test
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

Don't allow for IP addresses
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

Optimize RegEx
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

fix: detect complete emails as link (#1232)
  .changeset/two-scissors-change.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1229)
  .changeset/thin-planes-remain.md
  .changeset/two-scissors-change.md
  package.json
  packages/prosemirror-resizable-view/CHANGELOG.md
  packages/prosemirror-resizable-view/package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-embed/CHANGELOG.md
  packages/remirror__extension-embed/package.json
  packages/remirror__extension-image/CHANGELOG.md
  packages/remirror__extension-image/package.json
  packages/remirror__extension-link/CHANGELOG.md
  packages/remirror__extension-link/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

add test cases
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
Labels: test: unit :white_check_mark:

bug fix
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: test: unit :white_check_mark:

changeset
  .changeset/beige-cows-call.md
Labels: type: changeset :butterfly:

fix(extension-list): fix a RangeError when calling list commands (#1239)
  .changeset/beige-cows-call.md
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1240)
  .changeset/beige-cows-call.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

improve dynamicAttributes
  packages/remirror__core/src/builtins/schema-extension.ts
Labels: none

improve DynamicAttributes performance
  packages/remirror__core/src/builtins/schema-extension.ts
Labels: none

add comment
  packages/remirror__core/src/builtins/schema-extension.ts
Labels: none

changeset
  .changeset/giant-hounds-watch.md
Labels: type: changeset :butterfly:

fix: improve performance for dynamic attributes (#1243)
  .changeset/giant-hounds-watch.md
  packages/remirror__core/src/builtins/schema-extension.ts
Labels: type: changeset :butterfly:

code for test
  packages/storybook-react/stories/extension-list/basic.tsx
  packages/storybook-react/stories/extension-list/collapsible.tsx
  packages/storybook-react/stories/extension-list/content.tsx
Labels: none

Revert "code for test"
  packages/storybook-react/stories/extension-list/basic.tsx
  packages/storybook-react/stories/extension-list/collapsible.tsx
  packages/storybook-react/stories/extension-list/content.tsx
Labels: none

improve
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/list-item-node-view.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: none

update
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: none

fix
  packages/remirror__extension-list/src/task-list-item-extension.ts
  support/root/.eslintrc.js
Labels: type: support :books:

changeset
  .changeset/unlucky-birds-hug.md
Labels: type: changeset :butterfly:

update changeset
  .changeset/unlucky-birds-hug.md
Labels: type: changeset :butterfly:

fix(extension-list): improve list item node view performance (#1242)
  .changeset/unlucky-birds-hug.md
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/list-item-node-view.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  support/root/.eslintrc.js
Labels: type: changeset :butterfly:, type: support :books:

docs: fix embed-extension.mdx
  docs/extensions/embed-extension.mdx
Labels: none

Fix typo in code example
  packages/remirror/readme.md
Labels: none
