Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

docs: highlight that the FileExtension is in beta
  docs/extensions/file-extension.md
  docs/extensions/index.md
  website/styles.css
Labels: none

docs: fix superscript and subscription Storybook links
  docs/extensions/sub-extension.md
  docs/extensions/sup-extension.md
Labels: none

docs: add pointer from the Extension doc to the extensions list
  docs/concepts/extension.md
  docs/extensions/index.md
Labels: none

docs: be explicit about what beta means
  docs/extensions/file-extension.md
Labels: none

docs: fix typo
  docs/extensions/file-extension.md
Labels: none

docs: documentation updates (#1154)
  docs/concepts/extension.md
  docs/extensions/file-extension.md
  docs/extensions/index.md
  docs/extensions/sub-extension.md
  docs/extensions/sup-extension.md
  packages/storybook-react/stories/extension-blockquote/blockquote.stories.tsx
  packages/storybook-react/stories/extension-bold/bold.stories.tsx
  packages/storybook-react/stories/extension-callout/callout.stories.tsx
  packages/storybook-react/stories/extension-code/code.stories.tsx
  packages/storybook-react/stories/extension-columns/columns.stories.tsx
  packages/storybook-react/stories/extension-epic-mode/epic-mode.stories.tsx
  packages/storybook-react/stories/extension-font-family/font-family.stories.tsx
  packages/storybook-react/stories/extension-font-size/font-size.stories.tsx
  packages/storybook-react/stories/extension-hard-break/hard-break.stories.tsx
  packages/storybook-react/stories/extension-heading/heading.stories.tsx
  packages/storybook-react/stories/extension-horizontal-rule/horizontal-rule.stories.tsx
  packages/storybook-react/stories/extension-image/image.stories.tsx
  packages/storybook-react/stories/extension-italic/italic.stories.tsx
  packages/storybook-react/stories/extension-node-formatting/node-formatting.stories.tsx
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-strike/strike.stories.tsx
  packages/storybook-react/stories/extension-sub/sub.stories.tsx
  packages/storybook-react/stories/extension-sup/sup.stories.tsx
  packages/storybook-react/stories/extension-text-case/text-case.stories.tsx
  packages/storybook-react/stories/extension-text-color/text-color.stories.tsx
  packages/storybook-react/stories/extension-text-highlight/text-highlight.stories.tsx
  packages/storybook-react/stories/extension-underline/underline.stories.tsx
  website/styles.css
Labels: none

docs: import existing blog articles
  website/blog/2021-02-06-decouple-render.md
  website/blog/2021-05-20-community-challenge.md
  website/blog/2021-08-07-serverless-yjs.md
Labels: none

Fix lint errors
  website/blog/2021-02-06-decouple-render.md
Labels: none

docs: import existing blog articles (#1155)
  website/blog/2021-02-06-decouple-render.md
  website/blog/2021-05-20-community-challenge.md
  website/blog/2021-08-07-serverless-yjs.md
Labels: none

fix: set correct label and icon for task list
  packages/remirror__extension-list/src/task-list-extension.ts
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__messages/src/extension-list-messages.ts
Labels: none

fix: set correct label and icon for task list (#1157)
  packages/remirror__extension-list/src/task-list-extension.ts
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__messages/src/extension-list-messages.ts
Labels: none

fix: bring back the social editor
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
Labels: framework: react :atom_symbol:

Support task lists
  packages/remirror__react-editors/src/social/social-editor.tsx
Labels: framework: react :atom_symbol:

Add toolbar
  packages/remirror__react-editors/src/social/social-editor.tsx
Labels: framework: react :atom_symbol:

fix: bring back the social editor (#1156)
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
Labels: framework: react :atom_symbol:

feat(extension-positioner): add `helpers` to the `BasePositionerProps`
  package.json
  packages/remirror__extension-positioner/src/core-positioners.ts
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-positioner/src/positioner.ts
Labels: none

chore: update github sponsor config
  .github/funding.yml
Labels: none

chore: add changeset
  .changeset/two-kangaroos-enjoy.md
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
Labels: type: changeset :butterfly:

chore: update github sponsor config (#1159)
  .github/funding.yml
Labels: none

chore: update github sponsor config
  .github/funding.yml
Labels: none

chore: update github sponsor config (#1160)
  .github/funding.yml
Labels: none

fix: toolbar buttons didn't show active state
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
Labels: type: ui :nail_care:

fix: toolbar buttons didn't show active state (#1162)
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
Labels: type: ui :nail_care:

fix(extension-list): make the default priority of task list lower then paragraph
  .changeset/silly-moles-wonder.md
  packages/remirror__extension-list/src/task-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  packages/storybook-react/stories/extension-list/list-extension.stories.tsx
Labels: type: changeset :butterfly:

fix(extension-list): make the default priority of task list lower then paragraph's (#1164)
  .changeset/silly-moles-wonder.md
  packages/remirror__extension-list/src/task-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  packages/storybook-react/stories/extension-list/list-extension.stories.tsx
Labels: type: changeset :butterfly:

chore(changeset): version update (#1165)
  .changeset/silly-moles-wonder.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

refactor upload extension
  packages/remirror__core/src/builtins/builtin-preset.ts
  packages/remirror__core/src/builtins/index.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-actions.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
  packages/remirror__core/src/builtins/upload-extension/file-uploader.ts
  packages/remirror__core/src/builtins/upload-extension/index.ts
  packages/remirror__core/src/builtins/upload-extension/upload-context.ts
  packages/remirror__core/src/builtins/upload-extension/upload-extension.ts
  packages/remirror__extension-file/src/file-component.tsx
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-uploaders/bashupload-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/data-url-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/object-url-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
  packages/remirror__extension-file/src/index.ts
Labels: none

remove nanoevents
  packages/remirror__extension-file/package.json
Labels: none

update lockfile
  pnpm-lock.yaml
Labels: none

add preview iframe
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-embed/src/iframe-types.ts
  packages/remirror__extension-file/src/file-extension.tsx
  packages/storybook-react/stories/extension-embed/iframe.stories.tsx
  packages/storybook-react/stories/extension-file/file.stories.tsx
  packages/storybook-react/stories/extension-file/use-file-dialog.ts
Labels: none

feat: add pre-packaged editors
  docs/showcase/markdown.mdx
  docs/showcase/richtext.mdx
  docs/showcase/social.mdx
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/remirror__react-editors/src/components/bubble-menu.tsx
  packages/remirror__react-editors/src/components/top-toolbar.tsx
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.stories.tsx
  pnpm-lock.yaml
  website/examples/basic/index.tsx
  website/examples/example.css
  website/examples/markdown/index.tsx
  website/examples/richtext/index.tsx
  website/examples/social/index.tsx
  website/package.json
  website/sidebar.js
  website/src/components/example-iframe-component.tsx
  website/src/tsconfig.json
Labels: framework: react :atom_symbol:

fix(core-types): extraAttributes can be any JSON primitive
  .changeset/wet-cows-drop.md
  packages/remirror__core-helpers/__tests__/core-helper.spec.ts
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__core/__tests__/node-extension.spec.ts
  packages/remirror__core/src/builtins/schema-extension.ts
  packages/remirror__types/src/types.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore: prevent `pnpm refresh` deleting `.idea` directory
  package.json
Labels: none

update size-limit
  packages/remirror__extension-embed/package.json
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
  support/root/.size-limit.json
Labels: type: support :books:

add chnageset
  .changeset/tender-berries-fly.md
Labels: type: changeset :butterfly:

add changeset
  .changeset/tender-balloons-provide.md
Labels: type: changeset :butterfly:

remove the upload helper
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
  packages/remirror__core/src/builtins/upload-extension/index.ts
  packages/remirror__core/src/builtins/upload-extension/upload-extension.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-file/src/file-extension.tsx
Labels: none

add changeset
  .changeset/tender-berries-fly.md
Labels: type: changeset :butterfly:

Don't try to render editor on server-side
  website/examples/richtext/index.tsx
  website/examples/social/index.tsx
Labels: none

Add changeset
  .changeset/shiny-eyes-exist.md
  website/examples/richtext/index.tsx
  website/examples/social/index.tsx
Labels: type: changeset :butterfly:
