Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

chore: exit prerelease mode and prepare to release v2 stable (#1856)
  .changeset/pre.json
Labels: type: changeset :butterfly:

chore(deps): update remirror packages
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:

chore(deps): update remirror packages (#1859)
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:

docs: add v2 announcement and migration guide
  docs/migration-v2.md
  website/blog/2022-09-15-announcement-v2.md
  website/sidebar.cjs
Labels: none

Update docs/migration-v2.md
  docs/migration-v2.md
Labels: none

docs: add v2 announcement and migration guide (#1860)
  docs/migration-v2.md
  website/blog/2022-09-15-announcement-v2.md
  website/sidebar.cjs
Labels: none

feat(extension-event): add events for double and triple clicks
  .changeset/shaggy-mugs-fly.md
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(extension-file): reduce dependency footprint
  .changeset/sharp-flowers-reflect.md
  packages/remirror__extension-file/__tests__/tsconfig.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-file/src/file-component.tsx
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/tsconfig.json
  pnpm-lock.yaml
  support/root/.size-limit.json
  website/extension-examples/extension-link/linkify-js.tsx
Labels: type: changeset :butterfly:, type: support :books:

fix(emoji): popup can not be closed via escape key (#1849)
  .changeset/tender-schools-punch.md
  packages/remirror__react-components/src/popups/emoji-popup-component.tsx
  packages/remirror__react-hooks/__tests__/use-emoji.spec.tsx
  packages/remirror__react-hooks/src/use-emoji.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:, test: unit :white_check_mark:

feat(extension-event): add events for double and triple clicks (#1861)
  .changeset/shaggy-mugs-fly.md
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(extension-file): reduce dependency footprint (#1862)
  .changeset/sharp-flowers-reflect.md
  packages/remirror__extension-file/__tests__/tsconfig.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-file/src/file-component.tsx
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/tsconfig.json
  pnpm-lock.yaml
  support/root/.size-limit.json
  website/extension-examples/extension-link/linkify-js.tsx
Labels: type: changeset :butterfly:, type: support :books:

Add nodeview with content story
  packages/storybook-react/stories/react-components/node-with-content.stories.tsx
  packages/storybook-react/stories/react-components/style/card.css
Labels: none

Add nodeview with content story (#1865)
  packages/storybook-react/stories/react-components/node-with-content.stories.tsx
  packages/storybook-react/stories/react-components/style/card.css
Labels: none

fix(react-component): fix the regex in `isSafari`
  .changeset/hungry-singers-jump.md
  packages/remirror__core-utils/src/command-utils.ts
Labels: type: changeset :butterfly:

fix(react-component): fix the regex in `isSafari` (#1867)
  .changeset/hungry-singers-jump.md
  packages/remirror__core-utils/src/command-utils.ts
Labels: type: changeset :butterfly:

chore(deps): update @microsoft/api-extractor
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

run pnpm-deduplicate
  pnpm-lock.yaml
Labels: none

chore(deps): update @microsoft/api-extractor (#1869)
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

fix(react): make tasklist optional for list-group
  .changeset/gold-tables-melt.md
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__core/src/manager/remirror-manager.ts
  packages/remirror__react-components/src/button-groups/list-button-group.tsx
  packages/remirror__react-components/src/if-extension-present.tsx
  packages/remirror__react-core/__tests__/__snapshots__/use-remirror-context.spec.tsx.snap
  packages/remirror__react-core/src/hooks/index.ts
  packages/remirror__react-core/src/hooks/use-has-extension.ts
  packages/remirror__react-core/src/index.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat(react): add text alignment buttons
  packages/remirror__react-components/src/button-groups/index.ts
  packages/remirror__react-components/src/button-groups/text-alignment-button-group.tsx
  packages/remirror__react-components/src/buttons/center-align-button.tsx
  packages/remirror__react-components/src/buttons/index.ts
  packages/remirror__react-components/src/buttons/justify-align-button.tsx
  packages/remirror__react-components/src/buttons/left-align-button.tsx
  packages/remirror__react-components/src/buttons/right-align-button.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix(node-formatting): fix active helpers for text alignment
  .changeset/silly-pugs-walk.md
  packages/remirror__extension-node-formatting/src/node-formatting-utils.ts
Labels: type: changeset :butterfly:

feat(react): add subscript and superscript buttons
  packages/remirror__react-components/src/button-groups/baseline-button-group.tsx
  packages/remirror__react-components/src/button-groups/index.ts
  packages/remirror__react-components/src/buttons/index.ts
  packages/remirror__react-components/src/buttons/toggle-subscript-button.tsx
  packages/remirror__react-components/src/buttons/toggle-superscript-button.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix(sub): make extension overridable
  packages/remirror__extension-sub/src/sub-extension.ts
Labels: none

fix(sup): make extension overridable
  .changeset/three-lizards-help.md
  packages/remirror__extension-sup/src/sup-extension.ts
Labels: type: changeset :butterfly:

fix(whitespace): fix whitespace characters not displaying
  .changeset/shaggy-carrots-draw.md
  packages/remirror__extension-whitespace/src/whitespace-extension.ts
Labels: type: changeset :butterfly:

feat(react): add a toggle whitespace button
  packages/remirror__extension-whitespace/src/whitespace-extension.ts
  packages/remirror__extension-whitespace/src/whitespace-utils.ts
  packages/remirror__react-components/src/buttons/index.ts
  packages/remirror__react-components/src/buttons/toggle-whitespace-button.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

chore(horizontal-rule): decorate insert horizontal rule command
  .changeset/big-ducks-melt.md
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-extension.ts
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-utils.ts
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__messages/src/extension-horizontal-rule-messages.ts
  packages/remirror__messages/src/index.ts
Labels: type: changeset :butterfly:

feat(react): add button for insert horizontal rule
  .changeset/twenty-cheetahs-change.md
  packages/remirror__react-components/src/buttons/index.ts
  packages/remirror__react-components/src/buttons/insert-horizontal-rule-button.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

docs(storybook): update examples to use new buttons
  packages/storybook-react/stories/extension-blockquote/basic.tsx
  packages/storybook-react/stories/extension-bold/basic.tsx
  packages/storybook-react/stories/extension-callout/basic.tsx
  packages/storybook-react/stories/extension-code/basic.tsx
  packages/storybook-react/stories/extension-heading/basic.tsx
  packages/storybook-react/stories/extension-horizontal-rule/basic.tsx
  packages/storybook-react/stories/extension-italic/basic.tsx
  packages/storybook-react/stories/extension-list/basic.tsx
  packages/storybook-react/stories/extension-strike/basic.tsx
  packages/storybook-react/stories/extension-sub/basic.tsx
  packages/storybook-react/stories/extension-sup/basic.tsx
  packages/storybook-react/stories/extension-underline/basic.tsx
Labels: none

feat(react): add indentation buttons
  packages/remirror__react-components/src/button-groups/indentation-button-group.tsx
  packages/remirror__react-components/src/button-groups/index.ts
  packages/remirror__react-components/src/buttons/decrease-indent-button.tsx
  packages/remirror__react-components/src/buttons/dropdown-button.tsx
  packages/remirror__react-components/src/buttons/increase-indent-button.tsx
  packages/remirror__react-components/src/buttons/index.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:

docs(storybook): add node formatting buttons
  packages/storybook-react/stories/extension-node-formatting/basic.tsx
Labels: none

docs: publish blog on creating nodeview with content as react component
  website/blog/2022-09-15-create-nodeview-with-content.md
Labels: none

fix(core-utils): don't require jsdom in a browser environment
  .changeset/fast-comics-care.md
  packages/remirror__core-utils/package.json
  packages/remirror__core-utils/src/core-utils.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix(core-utils): don't require jsdom in a browser environment (#1873)
  .changeset/fast-comics-care.md
  packages/remirror__core-utils/package.json
  packages/remirror__core-utils/src/core-utils.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix headers and add link
  website/blog/2022-09-15-create-nodeview-with-content.md
Labels: none

docs: publish blog on creating nodeview with content as react component (#1872)
  website/blog/2022-09-15-create-nodeview-with-content.md
Labels: none

feat(text-case): allow for simplified `setTextCase` arguments
  .changeset/slimy-eagles-drum.md
  packages/remirror__extension-text-case/src/text-case-extension.ts
Labels: type: changeset :butterfly:

feat(react): omit menu item icon with `icon={null}`
  packages/remirror__react-components/src/menus/command-menu-item.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

feat(react): display icon badges and add more buttons
  .changeset/few-terms-bow.md
  packages/remirror__react-components/src/buttons/command-button-icon.tsx
  packages/remirror__react-components/src/buttons/command-button.tsx
  packages/remirror__react-components/src/buttons/decrease-font-size-button.tsx
  packages/remirror__react-components/src/buttons/increase-font-size-button.tsx
  packages/remirror__react-components/src/buttons/increase-indent-button.tsx
  packages/remirror__react-components/src/buttons/index.ts
  packages/remirror__react-components/src/buttons/toggle-columns-button.tsx
  packages/storybook-react/stories/extension-columns/basic.tsx
  packages/storybook-react/stories/extension-font-family/basic.tsx
  packages/storybook-react/stories/extension-font-size/basic.tsx
  packages/storybook-react/stories/extension-text-case/basic.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat(react): add more toolbar buttons (#1876)
  .changeset/few-terms-bow.md
  .changeset/slimy-eagles-drum.md
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__react-components/src/buttons/command-button-icon.tsx
  packages/remirror__react-components/src/buttons/command-button.tsx
  packages/remirror__react-components/src/buttons/decrease-font-size-button.tsx
  packages/remirror__react-components/src/buttons/increase-font-size-button.tsx
  packages/remirror__react-components/src/buttons/increase-indent-button.tsx
  packages/remirror__react-components/src/buttons/index.ts
  packages/remirror__react-components/src/buttons/toggle-columns-button.tsx
  packages/remirror__react-components/src/menus/command-menu-item.tsx
  packages/storybook-react/stories/extension-columns/basic.tsx
  packages/storybook-react/stories/extension-font-family/basic.tsx
  packages/storybook-react/stories/extension-font-size/basic.tsx
  packages/storybook-react/stories/extension-text-case/basic.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
