Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

don't need to use memo for simple calc
  packages/remirror__react-components/src/floating-menu.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

Run pnpm install
  pnpm-lock.yaml
Labels: none

add changeset
  .changeset/thin-cars-protect.md
Labels: type: changeset :butterfly:

chore(deps): update lingui to 4.2.0 version (#2099)
  .changeset/heavy-carpets-wash.md
  package.json
  packages/remirror__extension-bidi/src/bidi-extension.ts
  packages/remirror__extension-callout/src/callout-utils.ts
  packages/remirror__extension-columns/src/columns-extension.ts
  packages/remirror__extension-heading/src/heading-constants.ts
  packages/remirror__extension-text-color/src/text-color-utils.ts
  packages/remirror__i18n/package.json
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__messages/package.json
  packages/remirror__messages/src/extension-callout-messages.ts
  packages/remirror__messages/src/extension-columns-messages.ts
  packages/remirror__messages/src/extension-heading-messages.ts
  packages/remirror__react-components/package.json
  packages/remirror__react-core/src/hooks/use-i18n.ts
  patches/@lingui__detect-locale@3.17.2.patch
  patches/@lingui__detect-locale@4.2.0.patch
  pnpm-lock.yaml
  readme.md
  support/scripts/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:, type: support :books:

Add RMR0021 to the document
  docs/errors.md
Labels: none

feat(floating-menu): replace popperjs with floatingui (#2097)
  .changeset/thin-cars-protect.md
  packages/remirror__react-components/package.json
  packages/remirror__react-components/src/floating-menu.tsx
  packages/remirror__react-components/src/use-popper.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

docs: fix extension imports in example snippet (#2103)
  docs/errors.md
  docs/getting-started/create-manager.md
Labels: none

fix(react): add @floating-ui/react into dependencies
  docs/getting-started/create-manager.md
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
  packages/remirror__react-components/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:

add changeset
  .changeset/quick-fireants-search.md
Labels: type: changeset :butterfly:

fix(react): add @floating-ui/react into dependencies (#2106)
  .changeset/quick-fireants-search.md
  docs/getting-started/create-manager.md
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
  packages/remirror__react-components/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore(changeset): version update (#2107)
  .changeset/quick-fireants-search.md
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

add changeset
  .changeset/unlucky-scissors-provide.md
Labels: type: changeset :butterfly:

fix
  packages/remirror__react-core/src/hooks/use-i18n.ts
Labels: framework: react :atom_symbol:

add changeset
  .changeset/unlucky-scissors-provide.md
Labels: type: changeset :butterfly:

update changeset
  .changeset/unlucky-scissors-provide.md
Labels: type: changeset :butterfly:

update changeset
  .changeset/unlucky-scissors-provide.md
Labels: type: changeset :butterfly:

Update changeset
  .changeset/unlucky-scissors-provide.md
Labels: type: changeset :butterfly:

fix: fix lingui runtime crash (#2109)
  .changeset/unlucky-scissors-provide.md
  packages/remirror__react-core/src/hooks/use-i18n.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(changeset): version update (#2110)
  .changeset/unlucky-scissors-provide.md
  packages/remirror__dev/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/CHANGELOG.md
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat: add code block language select
  .changeset/angry-lies-bathe.md
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-react-code-block-language-select/CHANGELOG.md
  packages/remirror__extension-react-code-block-language-select/package.json
  packages/remirror__extension-react-code-block-language-select/readme.md
  packages/remirror__extension-react-code-block-language-select/src/code-block-language-select.tsx
  packages/remirror__extension-react-code-block-language-select/src/index.ts
  packages/remirror__extension-react-code-block-language-select/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/width-language-select.tsx
  pnpm-lock.yaml
  tsconfig.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix(react): respect floating-ui placement prop
  .changeset/curvy-jobs-jam.md
  packages/remirror__react-components/src/floating-menu.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

run pnpm fix
  packages/remirror__react-components/src/floating-menu.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix lint
  packages/remirror__react-components/src/floating-menu.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix(react): respect floating-ui placement prop (#2116)
  .changeset/curvy-jobs-jam.md
  packages/remirror__react-components/src/floating-menu.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore(changeset): version update (#2117)
  .changeset/curvy-jobs-jam.md
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix(react-core): each `useChainedCommands` call should refer to a new command chain
  .changeset/itchy-cows-tie.md
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__react-core/src/hooks/use-chained-commands.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

fix(react-core): each `useChainedCommands` call should refer to a new command chain (#2118)
  .changeset/itchy-cows-tie.md
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__react-core/src/hooks/use-chained-commands.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

change requests
  .changeset/angry-lies-bathe.md
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/index.ts
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
  pnpm-lock.yaml
  tsconfig.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix import
  packages/remirror__extension-react-language-select/src/index.ts
Labels: framework: react :atom_symbol:

remove unused
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
Labels: type: ui :nail_care:

format
  packages/remirror__extension-react-language-select/readme.md
Labels: none

feat(tables): toggle header cells only on the first row or column
  .changeset/lazy-students-add.md
  .changeset/tiny-dryers-yawn.md
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore: remove unused variable
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
Labels: test: unit :white_check_mark:

feat(tables): toggle header cells only on the first row or column (#2120)
  .changeset/lazy-students-add.md
  .changeset/tiny-dryers-yawn.md
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#2121)
  .changeset/lazy-students-add.md
  .changeset/tiny-dryers-yawn.md
  packages/remirror/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/CHANGELOG.md
  packages/remirror__extension-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix padding
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
Labels: type: ui :nail_care:

feat: add code block language select (#2113)
  .changeset/angry-lies-bathe.md
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/index.ts
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
  pnpm-lock.yaml
  tsconfig.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

update version to 0.0.0
  packages/remirror__extension-react-language-select/package.json
Labels: framework: react :atom_symbol:

set private to false
  packages/remirror__extension-react-language-select/package.json
Labels: framework: react :atom_symbol:

update readme
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
Labels: framework: react :atom_symbol:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
