Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

revert debug code
  .changeset/rich-zebras-promise.md
Labels: type: changeset :butterfly:

fix: rename positioner storybook file to fix docs
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  website/extension-examples/extension-positioner/basic.tsx
Labels: none

chore: fix typos in storybook
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
Labels: none

format
  .changeset/config.json
Labels: type: changeset :butterfly:

chore: update dependent versions automaticly (#1923)
  .changeset/config.json
  package.json
  pnpm-lock.yaml
  support/scripts/changeset-update-dependents/package.json
  support/scripts/package.json
  support/scripts/src/changeset-update-dependents.ts
Labels: type: changeset :butterfly:, type: support :books:

fix(tables): fix tablepositioner visibility
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
Labels: none

chore: bump tables extensions to a minor release
  .changeset/sour-bugs-lick.md
Labels: type: changeset :butterfly:

fix(tables): add a workaround for table cell background blocked by CSP inline styles
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/remirror__extension-tables/src/table-utils.ts
Labels: none

feat(positioner,tables): add Table positioners (#1922)
  .changeset/beige-ducks-warn.md
  .changeset/blue-feet-smoke.md
  .changeset/olive-flowers-dress.md
  .changeset/sour-bugs-lick.md
  .gitignore
  packages/remirror__core-utils/src/dom-utils.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__extension-positioner/src/positioner.ts
  packages/remirror__extension-react-tables/src/components/table-delete-row-column-button.tsx
  packages/remirror__extension-react-tables/src/components/table-delete-table-button.tsx
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-react-tables/src/utils/dom.ts
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/remirror__extension-tables/src/table-utils.ts
  packages/remirror__extension-tables/src/tsconfig.json
  packages/remirror__react-hooks/__tests__/use-positioner.spec.tsx
  packages/remirror__react-hooks/src/use-multi-positioner.ts
  packages/remirror__react-hooks/src/use-positioner.ts
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/positioners.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  website/extension-examples/extension-positioner/table-positioners.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

feat(tables): add a new positioner for cell selections
  .changeset/shaggy-shrimps-punch.md
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
Labels: type: changeset :butterfly:

feat(tables): add a new positioner for cell selections (#1924)
  .changeset/shaggy-shrimps-punch.md
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
Labels: type: changeset :butterfly:

chore(changeset): version update (#1925)
  .changeset/shaggy-shrimps-punch.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/CHANGELOG.md
  packages/remirror__extension-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat(tables): add column, row, all cell selection positioners
  .changeset/new-worms-tan.md
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
Labels: type: changeset :butterfly:

feat(tables): add column, row, all cell selection positioners (#1926)
  .changeset/new-worms-tan.md
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
Labels: type: changeset :butterfly:

chore(changeset): version update (#1927)
  .changeset/new-worms-tan.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/CHANGELOG.md
  packages/remirror__extension-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat(extension-search): rewrite SearchExtension
  .changeset/eleven-lions-develop.md
  .changeset/hungry-news-doubt.md
  docs/extensions/search-extension.mdx
  packages/remirror__core-constants/src/core-constants.ts
  packages/remirror__extension-search/__tests__/__snapshots__/search-extension.spec.ts.snap
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-search/__tests__/search-utils.spec.ts
  packages/remirror__extension-search/__tests__/tsconfig.json
  packages/remirror__extension-search/package.json
  packages/remirror__extension-search/src/index.ts
  packages/remirror__extension-search/src/search-extension.ts
  packages/remirror__extension-search/src/search-types.ts
  packages/remirror__extension-search/src/search-utils.ts
  packages/remirror__extension-search/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/remirror__react-components/src/find-replace/find-replace-component.tsx
  packages/remirror__react-components/src/find-replace/index.ts
  packages/remirror__react-components/src/find-replace/letter-icon.tsx
  packages/remirror__react-components/src/index.ts
  packages/storybook-react/stories/extension-search/basic.tsx
  packages/storybook-react/stories/extension-search/search.stories.tsx
  packages/storybook-react/stories/extension-search/styles.css
  packages/storybook-react/stories/extension-search/with-find-replace-component.tsx
  packages/storybook-react/stories/react-components/find-replace.stories.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  website/extension-examples/extension-search/with-find-replace-component.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

wip: findAndReplaceAll
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-search/src/index.ts
  packages/remirror__extension-search/src/search-extension.ts
  packages/remirror__extension-search/src/search-types.ts
  packages/remirror__react-components/src/find-replace/find-replace-component.tsx
  packages/storybook-react/stories/extension-search/basic.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, test: unit :white_check_mark:

fix(extension-image): insert image at the drop position
  .changeset/shaggy-suns-rhyme.md
  packages/remirror__extension-image/src/image-extension.ts
  packages/storybook-react/stories/extension-image/basic.tsx
  packages/storybook-react/stories/extension-image/resizable.tsx
Labels: type: changeset :butterfly:

wip: refactor api
  packages/remirror__extension-search/src/search-extension.ts
  packages/remirror__react-components/src/find-replace/find-replace-component.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

wip: refactor component
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-search/src/index.ts
  packages/remirror__extension-search/src/search-extension.ts
  packages/remirror__extension-search/src/search-types.ts
  packages/remirror__react-components/src/find-replace/find-replace-component.tsx
  packages/storybook-react/stories/extension-search/basic.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, test: unit :white_check_mark:

wip: rename search ext => find ext
  packages/remirror/src/extensions.ts
  packages/remirror__extension-find/__tests__/find-extension.spec.ts
  packages/remirror__extension-find/__tests__/find-utils.spec.ts
  packages/remirror__extension-find/__tests__/tsconfig.json
  packages/remirror__extension-find/package.json
  packages/remirror__extension-find/readme.md
  packages/remirror__extension-find/src/find-extension.ts
  packages/remirror__extension-find/src/find-types.ts
  packages/remirror__extension-find/src/find-utils.ts
  packages/remirror__extension-find/src/index.ts
  packages/remirror__extension-find/src/tsconfig.json
  packages/remirror__extension-search/CHANGELOG.md
  packages/remirror__extension-search/readme.md
  packages/remirror__extension-search/src/index.ts
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:

wip: bring back the origin search ext
  packages/remirror__extension-search/CHANGELOG.md
  packages/remirror__extension-search/__tests__/__snapshots__/search-extension.spec.ts.snap
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-search/__tests__/tsconfig.json
  packages/remirror__extension-search/package.json
  packages/remirror__extension-search/readme.md
  packages/remirror__extension-search/src/index.ts
  packages/remirror__extension-search/src/search-extension.ts
  packages/remirror__extension-search/src/tsconfig.json
Labels: test: unit :white_check_mark:

move storybook
  packages/remirror__extension-find/src/find-extension.ts
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-find/basic.tsx
  packages/storybook-react/stories/extension-find/search.stories.tsx
  packages/storybook-react/stories/extension-find/with-find-replace-component.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
Labels: type: support :books:

wip: rename prop onDismiss
  packages/remirror__react-components/src/find-replace/find-replace-component.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix: restore the latest search ext
  packages/remirror__extension-search/CHANGELOG.md
  packages/remirror__extension-search/package.json
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-find/search.stories.tsx
  packages/storybook-react/stories/extension-find/with-find-replace-component.tsx
  packages/storybook-react/stories/tsconfig.json
Labels: none

chore: run pnpm fix
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  website/extension-examples/extension-find/basic.tsx
  website/extension-examples/extension-find/with-find-replace-component.tsx
Labels: none

fix: pass test
  packages/remirror__extension-find/__tests__/find-extension.spec.ts
  packages/remirror__extension-find/src/find-extension.ts
Labels: test: unit :white_check_mark:

fix export
  packages/remirror/src/extensions.ts
Labels: none

docs: changeset
  .changeset/eleven-lions-develop.md
  .changeset/hot-tips-fail.md
Labels: type: changeset :butterfly:

docs: mdx
  docs/extensions/find-extension.mdx
  packages/remirror/src/extensions.ts
Labels: none

docs: deprecate `@remirror/extension-search`
  .changeset/heavy-tomatoes-film.md
  packages/remirror__extension-search/src/search-extension.ts
Labels: type: changeset :butterfly:

run pnpm fix
  docs/extensions/find-extension.mdx
  packages/remirror__extension-find/__tests__/find-extension.spec.ts
  packages/remirror__extension-find/src/find-extension.ts
  packages/remirror__extension-find/src/find-types.ts
  packages/remirror__react-components/__e2e__/tsconfig.json
  packages/remirror__react-components/__tests__/tsconfig.json
  packages/remirror__react-components/package.json
  packages/remirror__react-components/src/tsconfig.json
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, test: unit :white_check_mark:, type: support :books:

refactor FindReplaceComponent
  packages/remirror__react-components/src/find-replace/find-replace-component.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

refactor: split FindReplaceComponent
  packages/remirror__react-components/src/find-replace/find-controller.tsx
  packages/remirror__react-components/src/find-replace/find-input.tsx
  packages/remirror__react-components/src/find-replace/find-replace-component.tsx
  packages/remirror__react-components/src/find-replace/replace-controller.tsx
  packages/remirror__react-components/src/find-replace/replace-input.tsx
  packages/remirror__react-components/src/find-replace/use-find-replace.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

docs: add deprecate
  docs/extensions/find-extension.mdx
  docs/extensions/search-extension.mdx
Labels: none

chore: run pnpm fix
  packages/remirror__react-components/__e2e__/tsconfig.json
  packages/remirror__react-components/__tests__/tsconfig.json
  packages/remirror__react-components/src/tsconfig.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:

run pnpm fix
  website/extension-examples/extension-find/with-find-replace-component.tsx
Labels: none

update basic example
  packages/storybook-react/stories/extension-find/basic.tsx
Labels: none

fix react comp
  packages/remirror__react-components/src/find-replace/use-find-replace.tsx
  packages/storybook-react/stories/extension-find/basic.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

docs: remove example from SearchExtension
  docs/extensions/search-extension.mdx
Labels: none

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
