Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

docs: update mention atom extension documentation
  docs/extensions/mention-atom-extension.mdx
Labels: none

Fix lint errors
  docs/extensions/mention-atom-extension.mdx
Labels: none

chore(deps): update dependencies
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-utils/package.json
  packages/remirror__pm/package.json
Labels: package: prosemirror-suggest :bulb:

update the lockfile
  pnpm-lock.yaml
Labels: none

add changeset
  .changeset/spicy-chefs-do.md
Labels: type: changeset :butterfly:

chore(deps): update dependencies (#1878)
  .changeset/spicy-chefs-do.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-utils/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

Fix lint errors
  docs/extensions/mention-atom-extension.mdx
Labels: none

fix: patch default import for turndown
  packages/remirror__extension-markdown/src/html-to-markdown.ts
Labels: none

add changeset
  .changeset/popular-squids-draw.md
Labels: type: changeset :butterfly:

docs: update mention atom extension documentation (#1877)
  docs/extensions/mention-atom-extension.mdx
Labels: none

fix: patch default import for turndown (#1879)
  .changeset/popular-squids-draw.md
  packages/remirror__extension-markdown/src/html-to-markdown.ts
Labels: type: changeset :butterfly:

fix(extension-emoji): remove the ESM import from CJS build
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__extension-emoji/package.json
  packages/remirror__extension-emoji/src/emoji-utils.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: package: @remirror/cli :pager:, type: support :books:

chore(cli): pass a package name to only build that package
  docs/contributing.md
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/index.ts
Labels: package: @remirror/cli :pager:

update the docs
  docs/contributing.md
Labels: none

fix docs
  docs/contributing.md
Labels: none

add changeset
  .changeset/old-mugs-collect.md
Labels: type: changeset :butterfly:

don't bundle emojibase anymore
  packages/remirror__cli/src/utils/run-esbuild.ts
Labels: package: @remirror/cli :pager:

fix(extension-emoji): remove the ESM import from CJS build (#1881)
  .changeset/old-mugs-collect.md
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__extension-emoji/package.json
  packages/remirror__extension-emoji/src/emoji-utils.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: package: @remirror/cli :pager:, type: changeset :butterfly:, type: support :books:

chore(changeset): version update (#1883)
  .changeset/old-mugs-collect.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-emoji/CHANGELOG.md
  packages/remirror__extension-emoji/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore(cli): pass a package name to only build that package (#1882)
  docs/contributing.md
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/index.ts
Labels: package: @remirror/cli :pager:

fix(extension-emoji): use namespace import for svgmoji
  .changeset/orange-buses-lie.md
  packages/remirror__extension-emoji/src/emoji-utils.ts
Labels: type: changeset :butterfly:

format code
  packages/remirror__extension-emoji/src/emoji-utils.ts
Labels: none

fix(extension-emoji): use namespace import for svgmoji (#1885)
  .changeset/orange-buses-lie.md
  packages/remirror__extension-emoji/src/emoji-utils.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1886)
  .changeset/orange-buses-lie.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-emoji/CHANGELOG.md
  packages/remirror__extension-emoji/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix(extension-emoji): don't use .cjs in the svgmoji wrapper
  .changeset/wicked-schools-smile.md
  packages/remirror__core-helpers/src/default-import.ts
  packages/remirror__extension-emoji/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix(extension-emoji): don't use .cjs in the svgmoji wrapper (#1887)
  .changeset/wicked-schools-smile.md
  packages/remirror__core-helpers/src/default-import.ts
  packages/remirror__extension-emoji/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

chore(changeset): version update (#1888)
  .changeset/wicked-schools-smile.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-emoji/CHANGELOG.md
  packages/remirror__extension-emoji/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

wip: polymorphic components test
  packages/remirror__react-components/src/buttons/toggle-callout-button.tsx
  packages/remirror__react-components/src/commands/toggle-callout.tsx
  packages/remirror__react-components/src/menus/toggle-callout-menu-item.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

feat: allow post build scripts
  package.json
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__react-components/package.json
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:

fix: fix circular references
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__react-components/package.json
  packages/remirror__react-components/scripts/generate-command-components.ts
  packages/remirror__react-components/src/buttons/index.tsx
  packages/remirror__react-components/src/menu-items/index.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:

chore: run pnpm fix
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__react-components/package.json
  packages/remirror__react-components/scripts/generate-command-components.ts
  packages/remirror__react-components/src/commands/center-align.tsx
  packages/remirror__react-components/src/commands/copy.tsx
  packages/remirror__react-components/src/commands/create-table.tsx
  packages/remirror__react-components/src/commands/cut.tsx
  packages/remirror__react-components/src/commands/decrease-font-size.tsx
  packages/remirror__react-components/src/commands/decrease-indent.tsx
  packages/remirror__react-components/src/commands/increase-font-size.tsx
  packages/remirror__react-components/src/commands/increase-indent.tsx
  packages/remirror__react-components/src/commands/insert-horizontal-rule.tsx
  packages/remirror__react-components/src/commands/justify-align.tsx
  packages/remirror__react-components/src/commands/left-align.tsx
  packages/remirror__react-components/src/commands/paste.tsx
  packages/remirror__react-components/src/commands/redo.tsx
  packages/remirror__react-components/src/commands/right-align.tsx
  packages/remirror__react-components/src/commands/toggle-blockquote.tsx
  packages/remirror__react-components/src/commands/toggle-bold.tsx
  packages/remirror__react-components/src/commands/toggle-bullet-list.tsx
  packages/remirror__react-components/src/commands/toggle-code.tsx
  packages/remirror__react-components/src/commands/toggle-italic.tsx
  packages/remirror__react-components/src/commands/toggle-ordered-list.tsx
  packages/remirror__react-components/src/commands/toggle-strike.tsx
  packages/remirror__react-components/src/commands/toggle-subscript.tsx
  packages/remirror__react-components/src/commands/toggle-superscript.tsx
  packages/remirror__react-components/src/commands/toggle-task-list.tsx
  packages/remirror__react-components/src/commands/toggle-underline.tsx
  packages/remirror__react-components/src/commands/toggle-whitespace.tsx
  packages/remirror__react-components/src/commands/undo.tsx
  packages/remirror__react-components/src/menu-items/index.tsx
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:

chore: give generates files *.gen.ts suffix, and prettier ignore them
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__react-components/package.json
  packages/remirror__react-components/scripts/generate-command-components.ts
  packages/remirror__react-components/src/buttons/buttons.gen.tsx
  packages/remirror__react-components/src/buttons/index.ts
  packages/remirror__react-components/src/menu-items/index.ts
  packages/remirror__react-components/src/menu-items/menu-items.gen.tsx
  support/root/.eslintignore
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:, type: support :books:

wip: investigate command suggester
  packages/remirror__react-components/src/base-components/command-menu-item-text.tsx
  packages/remirror__react-components/src/base-components/command-menu-item.tsx
  packages/remirror__react-components/src/command-suggester/command-suggester-context.tsx
  packages/remirror__react-components/src/command-suggester/command-suggester.tsx
  packages/remirror__react-components/src/command-suggester/index.ts
  packages/remirror__react-components/src/index.ts
  packages/storybook-react/stories/react-components/toolbar.stories.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix(core-utils): don't use `instanceof` in `isDomNode`
  .changeset/sharp-rats-compete.md
  packages/multishift/src/multishift-utils.ts
  packages/remirror__core-utils/src/dom-utils.ts
Labels: package: multishift :arrow_down_small:, type: changeset :butterfly:

move DomNodeType to the top of the file
  packages/multishift/src/multishift-utils.ts
  packages/remirror__core-utils/src/dom-utils.ts
Labels: package: multishift :arrow_down_small:

fix(core-utils): don't use `instanceof` in `isDomNode` (#1890)
  .changeset/sharp-rats-compete.md
  packages/multishift/src/multishift-utils.ts
  packages/remirror__core-utils/src/dom-utils.ts
Labels: package: multishift :arrow_down_small:, type: changeset :butterfly:

Export default mappings for React Renderer and add li
  docs/static-rendering.md
  packages/remirror__react-renderer/src/index.ts
  packages/remirror__react-renderer/src/renderer.tsx
Labels: framework: react :atom_symbol:

docs: clarify the error message from `getDocument`
  packages/remirror__core-utils/src/core-utils.ts
Labels: none

fix(core-utils): don't throw error if window doesn't exist
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/dom-utils.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.node.spec.ts
  packages/remirror__extension-code-block/package.json
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:

add changeset
  .changeset/red-kids-breathe.md
Labels: type: changeset :butterfly:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
