Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

lint
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Labels: package: jest-prosemirror :performing_arts:

fix(prosemirror-paste-rules): fix the replace selection when selecting two characters (#1539)
  .changeset/tough-dingos-clap.md
  .changeset/yellow-wolves-change.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:, test: unit :white_check_mark:

fix(extension-list): fix an error when clicking the list spine
  .changeset/chilled-feet-agree.md
  packages/remirror__extension-list/src/bullet-list-extension.ts
Labels: type: changeset :butterfly:

fix(extension-list): fix an error when clicking the list spine (#1541)
  .changeset/chilled-feet-agree.md
  packages/remirror__extension-list/src/bullet-list-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1542)
  .changeset/chilled-feet-agree.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat(extension-positioner): allow force update of positioners via command
  .changeset/mean-jars-dress.md
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-positioner/src/positioner-utils.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

feat(extension-positioner): allow force update of positioners via command (#1545)
  .changeset/mean-jars-dress.md
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-positioner/src/positioner-utils.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(jest-remirror): add `default` filed in the `package.json`
  .changeset/unlucky-waves-deliver.md
  packages/jest-remirror/package.json
  packages/remirror__cli/package.json
  packages/storybook-react/package.json
  support/scripts/src/generate-configs.ts
Labels: package: jest-remirror :black_joker:, package: @remirror/cli :pager:, type: changeset :butterfly:, type: support :books:

fix(jest-remirror): add `default` filed in the `package.json` (#1547)
  .changeset/unlucky-waves-deliver.md
  packages/jest-remirror/package.json
  packages/remirror__cli/package.json
  packages/storybook-react/package.json
  support/scripts/src/generate-configs.ts
Labels: package: jest-remirror :black_joker:, package: @remirror/cli :pager:, type: changeset :butterfly:, type: support :books:

chore(changeset): version update (#1548)
  .changeset/unlucky-waves-deliver.md
  package.json
  packages/jest-remirror/CHANGELOG.md
  packages/jest-remirror/package.json
  pnpm-lock.yaml
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:

fix: `onChange` shouldn't be called if the transaction is canceled by `filterTransaction`.
  .changeset/shy-fireants-argue.md
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__dom/src/dom-framework.ts
  packages/remirror__react-core/src/react-framework.tsx
Labels: framework: react :atom_symbol:, framework: dom :globe_with_meridians:, type: changeset :butterfly:

fix: fix canceled transaction
  .changeset/shy-fireants-argue.md
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__dom/src/dom-framework.ts
  packages/remirror__react-core/src/react-framework.tsx
Labels: framework: react :atom_symbol:, framework: dom :globe_with_meridians:, type: changeset :butterfly:

chore(changeset): version update (#1550)
  .changeset/shy-fireants-argue.md
  package.json
  packages/jest-remirror/CHANGELOG.md
  packages/jest-remirror/package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__dev/CHANGELOG.md
  packages/remirror__dev/package.json
  packages/remirror__dom/CHANGELOG.md
  packages/remirror__dom/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/CHANGELOG.md
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: package: jest-remirror :black_joker:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, type: ui :nail_care:, type: changeset :butterfly:

fix(prosemirror-suggest): update reasons after appended transaction
  packages/prosemirror-suggest/src/suggest-state.ts
Labels: package: prosemirror-suggest :bulb:

fix
  packages/prosemirror-suggest/src/suggest-state.ts
Labels: package: prosemirror-suggest :bulb:

bug fix
  packages/prosemirror-suggest/src/suggest-state.ts
Labels: package: prosemirror-suggest :bulb:

add changeset
  .changeset/green-worms-tease.md
Labels: type: changeset :butterfly:

fix(prosemirror-suggest): update reasons after appended transaction (#1552)
  .changeset/green-worms-tease.md
  packages/prosemirror-suggest/src/suggest-state.ts
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

feat(core): expose appended transactions in the onChange handler
  .changeset/perfect-vans-roll.md
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__react-core/src/react-framework.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat(core): expose appended transactions in the onChange handler (#1558)
  .changeset/perfect-vans-roll.md
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__react-core/src/react-framework.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat(extension-count): add ability to count characters/words and set a soft max
  packages/remirror__extension-count/CHANGELOG.md
  packages/remirror__extension-count/__tests__/count-extension.spec.ts
  packages/remirror__extension-count/__tests__/tsconfig.json
  packages/remirror__extension-count/package.json
  packages/remirror__extension-count/readme.md
  packages/remirror__extension-count/src/count-extension.ts
  packages/remirror__extension-count/src/count-utils.ts
  packages/remirror__extension-count/src/index.ts
  packages/remirror__extension-count/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-count.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-count-theme.ts
  packages/remirror__theme/src/index.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-count/basic.tsx
  packages/storybook-react/stories/extension-count/character-limit.tsx
  packages/storybook-react/stories/extension-count/count.stories.tsx
  packages/storybook-react/stories/extension-count/word-count.tsx
  packages/storybook-react/stories/extension-count/word-limit.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-count/basic.tsx
  website/extension-examples/extension-count/character-limit.tsx
  website/extension-examples/extension-count/word-count.tsx
  website/extension-examples/extension-count/word-limit.tsx
Labels: type: ui :nail_care:, test: unit :white_check_mark:, type: support :books:

chore(extension-count): add tests
  packages/remirror__extension-count/__tests__/count-extension.spec.ts
Labels: test: unit :white_check_mark:

feat(core): add isViewEditable helper
  packages/remirror__core/__tests__/helpers-extension.spec.ts
  packages/remirror__core/src/builtins/helpers-extension.ts
Labels: test: unit :white_check_mark:

chore(core): fix comments on `selectText` command
  packages/remirror__core/src/builtins/commands-extension.ts
Labels: none

chore(core): expose some internal types
  .changeset/beige-rules-mate.md
  .changeset/metal-bananas-argue.md
  packages/remirror__core/src/index.ts
Labels: type: changeset :butterfly:

chore(core): fix prettier issues
  packages/remirror__core/__tests__/helpers-extension.spec.ts
  packages/remirror__core/src/index.ts
Labels: test: unit :white_check_mark:

feat(extension-count): add ability to count characters/words and set a soft max (#1517)
  .changeset/beige-rules-mate.md
  .changeset/metal-bananas-argue.md
  packages/remirror__core/__tests__/helpers-extension.spec.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/builtins/helpers-extension.ts
  packages/remirror__core/src/index.ts
  packages/remirror__extension-count/CHANGELOG.md
  packages/remirror__extension-count/__tests__/count-extension.spec.ts
  packages/remirror__extension-count/__tests__/tsconfig.json
  packages/remirror__extension-count/package.json
  packages/remirror__extension-count/readme.md
  packages/remirror__extension-count/src/count-extension.ts
  packages/remirror__extension-count/src/count-utils.ts
  packages/remirror__extension-count/src/index.ts
  packages/remirror__extension-count/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-count.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-count-theme.ts
  packages/remirror__theme/src/index.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-count/basic.tsx
  packages/storybook-react/stories/extension-count/character-limit.tsx
  packages/storybook-react/stories/extension-count/count.stories.tsx
  packages/storybook-react/stories/extension-count/word-count.tsx
  packages/storybook-react/stories/extension-count/word-limit.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-count/basic.tsx
  website/extension-examples/extension-count/character-limit.tsx
  website/extension-examples/extension-count/word-count.tsx
  website/extension-examples/extension-count/word-limit.tsx
Labels: type: ui :nail_care:, type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

fix(jest-remirror): Add client rect methods when `createRange` is unavailable
  .changeset/tasty-starfishes-remember.md
  packages/jest-remirror/src/jsdom-polyfills.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:

fix(jest-remirror): Add client rect methods when `createRange` is unavailable (#1566)
  .changeset/tasty-starfishes-remember.md
  packages/jest-remirror/src/jsdom-polyfills.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:

chore(extension-react-tables): bump jsx-dom version
  packages/remirror__extension-react-tables/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

fix(storybook): fix emoji popup rendering underneath editor
  packages/storybook-react/stories/react-components/emoji-popup.stories.tsx
Labels: none

fix(storybook): fix emoji popup rendering underneath editor (#1569)
  packages/storybook-react/stories/react-components/emoji-popup.stories.tsx
Labels: none

feat: unicode regex in suggestion matching
  .changeset/bright-beans-kiss.md
  packages/prosemirror-suggest/__tests__/suggest-plugin.spec.ts
  packages/prosemirror-suggest/src/suggest-types.ts
  packages/prosemirror-suggest/src/suggest-utils.ts
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:, test: unit :white_check_mark:

feat: unicode regex in suggestion matching (#1557)
  .changeset/bright-beans-kiss.md
  packages/prosemirror-suggest/__tests__/suggest-plugin.spec.ts
  packages/prosemirror-suggest/src/suggest-types.ts
  packages/prosemirror-suggest/src/suggest-utils.ts
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:, test: unit :white_check_mark:

fix(react-tables) #1570: borders should be applied for table headers as well on hovering column controller
  packages/remirror__extension-react-tables/src/table-plugins.ts
Labels: framework: react :atom_symbol:

Added changeset for minor release
  .changeset/great-squids-sleep.md
Labels: type: changeset :butterfly:

Update packages/remirror__extension-react-tables/src/table-plugins.ts
  packages/remirror__extension-react-tables/src/table-plugins.ts
Labels: framework: react :atom_symbol:

updated changeset to patch
  .changeset/great-squids-sleep.md
Labels: type: changeset :butterfly:

fix(extension-react-tables): borders should be applied for table headers on hover of column controller (#1573)
  .changeset/great-squids-sleep.md
  packages/remirror__extension-react-tables/src/table-plugins.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(changeset): version update (#1575)
  .changeset/great-squids-sleep.md
  packages/remirror__dev/CHANGELOG.md
  packages/remirror__dev/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:
