Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

feat(react-tables): expose split and merge in the dropdown menu
  .changeset/thick-badgers-allow.md
  packages/remirror__extension-react-tables/src/components/table-cell-menu.tsx
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat(react-tables): expose split and merge in the dropdown menu (#1897)
  .changeset/thick-badgers-allow.md
  packages/remirror__extension-react-tables/src/components/table-cell-menu.tsx
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

docs: clarify the error message from `getDocument` (#1895)
  packages/remirror__core-utils/src/core-utils.ts
Labels: none

separate functions
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/dom-utils.ts
Labels: none

fix(core-utils): don't throw error if window doesn't exist (#1892)
  .changeset/red-kids-breathe.md
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/dom-utils.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.node.spec.ts
  packages/remirror__extension-code-block/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

docs: add link to community extension
  docs/extensions/index.md
Labels: none

docs: add link to community extension (#1899)
  docs/extensions/index.md
Labels: none

fix(events): catch when `posFromDOM` returns -1
  .changeset/sweet-radios-relax.md
  packages/remirror__extension-events/src/events-utils.ts
Labels: type: changeset :butterfly:

fix(events): catch when `posFromDOM` returns -1 (#1896)
  .changeset/sweet-radios-relax.md
  packages/remirror__extension-events/src/events-utils.ts
Labels: type: changeset :butterfly:

fix(react-table): prevent controller cell content with filterTransaction
  .changeset/honest-lobsters-stare.md
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(react-table): prevent controller cell content with filterTransaction (#1902)
  .changeset/honest-lobsters-stare.md
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(changeset): version update (#1903)
  .changeset/honest-lobsters-stare.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat(tables,react-tables): remove table plugins if view in not editable
  .changeset/bright-ways-heal.md
  packages/remirror__extension-react-tables/src/components/table-components.tsx
  packages/remirror__extension-react-tables/src/components/table-controller-cell.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat(image): extension now prefers text content over image content. Fixes #1528
  .changeset/rich-days-design.md
  packages/remirror__extension-image/src/image-extension.ts
Labels: type: changeset :butterfly:

feat(image): extension now prefers text content over image content. Fixes #1528 (#1904)
  .changeset/rich-days-design.md
  packages/remirror__extension-image/src/image-extension.ts
Labels: type: changeset :butterfly:

feat(tables,react-tables): remove table plugins if view in not editable (#1905)
  .changeset/bright-ways-heal.md
  packages/remirror__extension-react-tables/src/components/table-components.tsx
  packages/remirror__extension-react-tables/src/components/table-controller-cell.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(extension-image): enableResizing is optional
  packages/remirror__extension-image/src/image-extension.ts
Labels: none

chore(changeset): version update (#1906)
  .changeset/bright-ways-heal.md
  .changeset/rich-days-design.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-image/CHANGELOG.md
  packages/remirror__extension-image/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/CHANGELOG.md
  packages/remirror__extension-tables/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore(deps): update get-dom-document
  packages/remirror__core-utils/package.json
  pnpm-lock.yaml
Labels: none

Fix test
  packages/remirror__extension-code-block/__tests__/code-block-extension.node.spec.ts
Labels: test: unit :white_check_mark:

fix test
  packages/remirror__core-utils/__tests__/core-utils.node.spec.ts
Labels: test: unit :white_check_mark:

update prosemirror dependencies
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:

deduplicate lockfile
  pnpm-lock.yaml
Labels: none

add changeset
  .changeset/rich-zebras-promise.md
Labels: type: changeset :butterfly:

fix ts type
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/remirror__extension-annotation/src/annotation-extension.ts
Labels: package: jest-prosemirror :performing_arts:

chore(deps): update dependencies (#1914)
  .changeset/rich-zebras-promise.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-utils/__tests__/core-utils.node.spec.ts
  packages/remirror__core-utils/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-annotation/src/annotation-extension.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.node.spec.ts
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:, test: unit :white_check_mark:

Prevent command injection when calling formatFiles
  support/scripts/src/helpers.ts
Labels: type: support :books:

Add exec back
  support/scripts/src/helpers.ts
Labels: type: support :books:

fix ENAMETOOLONG
  support/scripts/src/generate-configs.ts
  support/scripts/src/generate-icons.ts
  support/scripts/src/generate-intl.ts
  support/scripts/src/helpers.ts
Labels: type: support :books:

chore: prevent command injection when calling formatFiles (#1917)
  support/scripts/src/generate-configs.ts
  support/scripts/src/generate-icons.ts
  support/scripts/src/generate-intl.ts
  support/scripts/src/helpers.ts
Labels: type: support :books:

docs: fix the broken image story
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
  packages/storybook-react/stories/extension-image/basic.tsx
  packages/storybook-react/stories/extension-image/image.stories.tsx
  packages/storybook-react/stories/extension-image/resizable.tsx
  support/root/jest-playwright.config.cjs
Labels: type: support :books:

docs: fix the broken image story (#1920)
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
  packages/storybook-react/stories/extension-image/basic.tsx
  packages/storybook-react/stories/extension-image/image.stories.tsx
  packages/storybook-react/stories/extension-image/resizable.tsx
  support/root/jest-playwright.config.cjs
Labels: type: support :books:

feat(core): move mergeDOMRects in to the main dom utils
  .changeset/olive-flowers-dress.md
  packages/remirror__core-utils/src/dom-utils.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__extension-react-tables/src/components/table-delete-row-column-button.tsx
  packages/remirror__extension-react-tables/src/components/table-delete-table-button.tsx
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat(tables): make the columnResizing plugin configurable via extension options
  .changeset/blue-feet-smoke.md
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat(tables): add positioners for tables
  .changeset/sour-bugs-lick.md
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/remirror__extension-tables/src/table-utils.ts
  packages/remirror__extension-tables/src/tsconfig.json
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: type: changeset :butterfly:, type: support :books:

feat(react): usePositioner and useMultiPositioner return position metadata
  .changeset/beige-ducks-warn.md
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__extension-positioner/src/positioner.ts
  packages/remirror__react-hooks/__tests__/use-positioner.spec.tsx
  packages/remirror__react-hooks/src/use-multi-positioner.ts
  packages/remirror__react-hooks/src/use-positioner.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

chore: ignore intelliJ config
  .gitignore
Labels: none

docs: add storybooks for table positioners
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/positioners.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
  website/extension-examples/extension-positioner/table-positioners.tsx
Labels: none

chore: update dependent versions automaticly
  .changeset/config.json
  .changeset/rich-zebras-promise.md
  package.json
  pnpm-lock.yaml
  support/scripts/changeset-update-dependents/package.json
  support/scripts/package.json
Labels: type: changeset :butterfly:, type: support :books:

remove changeset-update-dependents
  support/scripts/src/changeset-update-dependents.ts
Labels: type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
