Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

chore: remove jsx-dom-cjs (#2155)
  .changeset/cuddly-plants-suffer.md
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-react-tables/src/utils/controller.ts
  packages/remirror__extension-react-tables/src/utils/dom.ts
  packages/remirror__extension-react-tables/src/utils/jsx.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat: improve placeholder plugin and add test case
  packages/remirror__core/__tests__/__snapshots__/upload-extension.spec.ts.snap
  packages/remirror__core/__tests__/upload-extension.spec.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-actions.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
  packages/remirror__core/src/builtins/upload-extension/index.ts
  packages/remirror__extension-file/src/file-extension.tsx
Labels: test: unit :white_check_mark:

fix(extensions-react-table): handle object style
  .changeset/wicked-cooks-sell.md
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(extensions-react-table): handle object style (#2158)
  .changeset/wicked-cooks-sell.md
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(changeset): version update (#2151)
  .changeset/cuddly-plants-suffer.md
  .changeset/wicked-cooks-sell.md
  .changeset/wild-days-tickle.md
  packages/remirror/package.json
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-events/CHANGELOG.md
  packages/remirror__extension-events/package.json
  packages/remirror__extension-link/package.json
  packages/remirror__extension-list/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-mention-atom/package.json
  packages/remirror__extension-mention/package.json
  packages/remirror__extension-positioner/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/package.json
  packages/remirror__preset-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

Use unpublish version of tsup
  package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
  support/scripts/package.json
Labels: package: @remirror/cli :pager:, type: support :books:

Add @babel/plugin-proposal-decorators
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

run pnpm fix
  .size-limit.json
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__core/src/builtins/builtin-decorators.ts
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/src/tsconfig.json
  support/tsconfig.base.json
Labels: package: @remirror/cli :pager:, type: support :books:

Fix lint
  packages/remirror__core/src/builtins/builtin-decorators.ts
Labels: none

Update ESBuild
  packages/remirror__cli/package.json
  pnpm-lock.yaml
  website/package.json
Labels: package: @remirror/cli :pager:

add turbo
  package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/utils/list-packages.ts
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

update tsup
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__core-constants/package.json
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

wip: fix build
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

remove some cycle import
  packages/remirror__extension-react-component/__tests__/tsconfig.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-component/src/portals/portal-container.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core-node.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__react-core/__tests__/portals.spec.tsx
  packages/remirror__react-core/__tests__/react-component-extension.spec.tsx
  packages/remirror__react-core/__tests__/use-manager.spec.tsx
  packages/remirror__react-core/__tests__/use-remirror-context.spec.tsx
  packages/remirror__react-core/package.json
  packages/remirror__react-hooks/__tests__/use-editor-focus.spec.tsx
  packages/remirror__react-hooks/__tests__/use-emoji.spec.tsx
  packages/remirror__react-hooks/__tests__/use-history.spec.tsx
  packages/remirror__react-hooks/__tests__/use-keymaps.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention-atom.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention.spec.tsx
  packages/remirror__react-hooks/__tests__/use-multi-positioner.spec.tsx
  packages/remirror__react-hooks/__tests__/use-positioner.spec.tsx
  packages/remirror__react-hooks/__tests__/use-suggest.spec.tsx
  packages/remirror__react-hooks/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

Add turbo.json
  packages/remirror__cli/package.json
  packages/remirror__react-components/package.json
  pnpm-lock.yaml
  turbo.json
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:

Fix exports
  packages/remirror__pm/src/extra/pm-types.ts
Labels: none

Fix build
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-component/src/node-view-types.ts
  packages/remirror__extension-react-component/src/react-component-extension.ts
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

remove debug
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

fix watch
  package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__cli/src/utils/debounce-executor.ts
  packages/remirror__react-core/src/hooks/use-attrs.ts
  turbo.json
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:

fix watch
  packages/remirror__react-core/src/hooks/use-attrs.ts
Labels: framework: react :atom_symbol:

run pnpm fix:es
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__cli/src/utils/debounce-executor.ts
Labels: package: @remirror/cli :pager:

run pnpm fix
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

Fix CI
  support/actions/pnpm/action.yml
Labels: none

Add workaround for namespace
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

run pnpm fix
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

rename function
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

Fix chainCommands
  packages/remirror__pm/src/commands.ts
Labels: none

Fix export
  packages/remirror__core/src/builtins/keymap-extension.ts
  packages/remirror__pm/src/commands.ts
Labels: none

Add changeset
  .changeset/wet-lizards-sniff.md
Labels: type: changeset :butterfly:

chore: run pnpm fix
  packages/remirror__react-editors/__e2e__/tsconfig.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-editors/src/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
Labels: framework: react :atom_symbol:

chore: enter v3 beta release
  .changeset/pre.json
  .github/workflows/publish-v3.yml
  .github/workflows/version.yml
Labels: type: changeset :butterfly:

chore: trigger v3 beta release
  .changeset/calm-tools-explain.md
Labels: type: changeset :butterfly:

chore: fix cyclic dependency
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-hooks/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:

chore: fix cyclic dependency (#2168)
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-hooks/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:

chore: skip storybook-react when building packages
  package.json
Labels: none

chore(ci): enable turbo remote cache
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/label-pull-requests.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
  .gitignore
  .size-limit.json
  packages/remirror__extension-react-tables/__tests__/tsconfig.json
  packages/remirror__extension-react-tables/src/tsconfig.json
  packages/remirror__react-editors/__e2e__/tsconfig.json
  packages/remirror__react-editors/src/tsconfig.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
Labels: framework: react :atom_symbol:

chore(ci): enable turbo remote cache (#2171)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/label-pull-requests.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
  .gitignore
  .size-limit.json
  packages/remirror__extension-react-tables/__tests__/tsconfig.json
  packages/remirror__extension-react-tables/src/tsconfig.json
  packages/remirror__react-editors/__e2e__/tsconfig.json
  packages/remirror__react-editors/src/tsconfig.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
Labels: framework: react :atom_symbol:

chore: clean changeset
  .changeset/wet-lizards-sniff.md
Labels: type: changeset :butterfly:

chore: update .eslintignore
  .eslintignore
Labels: none

chore: run ci for branch v3
  .github/workflows/ci.yml
Labels: none
