Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

writeMainPackageJson
  packages/remirror__cli/src/commands/build.ts
Labels: package: @remirror/cli :pager:

logger.debug
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/logger.ts
  packages/remirror__cli/src/utils/esbuild.ts
Labels: package: @remirror/cli :pager:

rename funcs
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/utils/run-esbuild.ts
Labels: package: @remirror/cli :pager:

add comment
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/commands/foo.ts
  packages/remirror__cli/src/index.ts
Labels: package: @remirror/cli :pager:

remove empty files
  packages/remirror__cli/src/types.ts
Labels: package: @remirror/cli :pager:

reduce preconstruct packages
  package.json
Labels: none

add log
  packages/remirror__cli/src/commands/build.ts
Labels: package: @remirror/cli :pager:

move build-package
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

watch
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__cli/src/utils/debounce-executor.ts
  packages/remirror__cli/src/utils/get-root.ts
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

run pnpm fix
  packages/remirror__cli/src/utils/debounce-executor.ts
Labels: package: @remirror/cli :pager:

update readme
  packages/remirror__cli/CHANGELOG.md
  packages/remirror__cli/readme.md
  packages/remirror__cli/src/index.ts
Labels: package: @remirror/cli :pager:

Add positioner for entity references
  packages/remirror__extension-entity-reference/__tests__/tsconfig.json
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-entity-reference/src/entity-reference-positioners.ts
  packages/remirror__extension-entity-reference/src/tsconfig.json
  packages/tsconfig.json
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: type: support :books:

fix build
  packages/jest-prosemirror/package.json
  packages/jest-prosemirror/serializer/package.json
  packages/jest-prosemirror/src/serializer.cts
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__cli/src/utils/write-package-json.ts
Labels: package: jest-prosemirror :performing_arts:, package: @remirror/cli :pager:

pnpm generate:size
  package.json
  support/root/.size-limit.json
Labels: type: support :books:

Fix lint error
  packages/tsconfig.json
Labels: none

pnpm fix:prettier
  package.json
  packages/jest-prosemirror/serializer/package.json
Labels: package: jest-prosemirror :performing_arts:

fix:config
  package.json
  packages/tsconfig.json
Labels: none

fix
  package.json
Labels: none

fix pnpm fix
  package.json
  packages/remirror__cli/src/utils/build-package.ts
  support/scripts/src/generate-configs.ts
Labels: package: @remirror/cli :pager:, type: support :books:

sort-keys
  package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__i18n/package.json
  packages/remirror__icons/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__styles/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:

remove pnpm fix:exports
  package.json
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

fix package.json
  package.json
  packages/remirror__cli/package.json
  packages/tsconfig.json
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:

run fix:prettier
  packages/remirror__cli/package.json
Labels: package: @remirror/cli :pager:

add comment
  packages/remirror__cli/src/index.ts
Labels: package: @remirror/cli :pager:

fix pnpm fix:md
  support/root/.eslintignore
Labels: type: support :books:

ci: build packages
  support/actions/pnpm/action.yml
Labels: none

fix "Cannot find module 'path/posix'"
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

wip: storybook
  packages/storybook-react/main.js
Labels: none

wip: storybook
  packages/storybook-react/main.js
Labels: none

fix “pnpm lint:es -- -f github”
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/storybook-react/main.js
Labels: none

wip: fix ts references
  packages/remirror__react-editors/__e2e__/tsconfig.json
  packages/remirror__react-editors/src/tsconfig.json
  packages/storybook-react/src/tsconfig.json
  support/scripts/src/generate-configs.ts
  support/scripts/src/helpers.ts
  website/src/tsconfig.json
Labels: framework: react :atom_symbol:, type: support :books:

async import chokidar
  packages/remirror__cli/src/commands/watch.ts
Labels: package: @remirror/cli :pager:

disable @typescript-eslint/no-unnecessary-type-assertion
  support/root/.eslintrc.js
Labels: type: support :books:

run Prettier
  packages/tsconfig.json
Labels: none

update storybook
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: none

do not import jsdom on the fly
  packages/remirror__core-utils/src/core-utils.ts
Labels: none

remove RenderEnvironment
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core/src/manager/remirror-manager.ts
  packages/remirror__extension-react-component/src/node-view-types.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__react-core/src/react-framework.tsx
  packages/remirror__react-ssr/__tests__/ssr-prosemirror-view.spec.ts
  packages/remirror__react-ssr/src/ssr-prosemirror-view.ts
  packages/remirror__types/src/types.ts
  packages/testing/src/index.ts
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

remove RenderEnvironment
  packages/remirror__extension-react-ssr/src/react-ssr-extension.ts
  packages/remirror__react-core/src/react-framework.tsx
Labels: framework: react :atom_symbol:

fix pnpm lint:repo
  packages/remirror__cli/package.json
Labels: package: @remirror/cli :pager:

fix(entity-reference): rename test file
  packages/remirror__extension-entity-reference/__tests__/ranges.spec.ts
Labels: test: unit :white_check_mark:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
