Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

fix(resizable-view): fix resizable view height on a small viewpoint
  .changeset/nice-planets-eat.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
Labels: type: changeset :butterfly:

correct typo
  packages/storybook-react/stories/extension-image/resizable.tsx
Labels: none

add delay for debug
  packages/storybook-react/stories/extension-image/resizable.tsx
Labels: none

wip
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/storybook-react-main.ts
  packages/storybook-react/stories/extension-image/basic.tsx
  packages/storybook-react/stories/extension-image/image.stories.tsx
  packages/storybook-react/stories/extension-image/resizable.tsx
  pnpm-lock.yaml
Labels: none

fix(resizable-view): fix resizable view height on a small viewpoint (#1358)
  .changeset/nice-planets-eat.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/storybook-react-main.ts
  packages/storybook-react/stories/extension-image/basic.tsx
  packages/storybook-react/stories/extension-image/image.stories.tsx
  packages/storybook-react/stories/extension-image/resizable.tsx
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

ci: use the latest 16.x Node.js
  .github/workflows/ci.yml
Labels: none

chore(changeset): version update (#1359)
  .changeset/nice-planets-eat.md
  package.json
  packages/prosemirror-resizable-view/CHANGELOG.md
  packages/prosemirror-resizable-view/package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-embed/CHANGELOG.md
  packages/remirror__extension-embed/package.json
  packages/remirror__extension-image/CHANGELOG.md
  packages/remirror__extension-image/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix
  .github/workflows/ci.yml
Labels: none

ci: use the latest 16.x Node.js (#1360)
  .github/workflows/ci.yml
Labels: none

wip
  packages/remirror__core-helpers/src/core-helpers.ts
Labels: none

changeset
  .changeset/tasty-gifts-remember.md
Labels: type: changeset :butterfly:

fix(core-helpers): always reset regexp lastIndex before matching (#1361)
  .changeset/tasty-gifts-remember.md
  packages/remirror__core-helpers/src/core-helpers.ts
Labels: type: changeset :butterfly:

fixup! fix(file): deleting files via keyboard should trigger onDeleteFile handler
  packages/remirror__core/src/extension/base-class.ts
  packages/remirror__extension-file/src/file-extension.tsx
Labels: none

changeset
  .changeset/big-planets-cross.md
  .changeset/quiet-swans-collect.md
Labels: type: changeset :butterfly:

fix(extension-file): deleting files via keyboard should trigger onDeleteFile handler (#1350)
  .changeset/big-planets-cross.md
  .changeset/quiet-swans-collect.md
  packages/remirror__core/src/extension/base-class.ts
  packages/remirror__extension-file/src/file-extension.tsx
Labels: type: changeset :butterfly:

feat(extension-react-component): make `stopEvent` to return the correct value
  packages/remirror__extension-react-component/src/node-view-types.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
Labels: framework: react :atom_symbol:

add changeset
  .changeset/neat-pots-design.md
Labels: type: changeset :butterfly:

remove isDragging
  packages/remirror__extension-react-component/src/react-node-view.tsx
Labels: framework: react :atom_symbol:

fix typecheck
  packages/remirror__extension-react-component/src/node-view-types.ts
  packages/remirror__extension-react-component/src/react-component-extension.ts
Labels: framework: react :atom_symbol:

feat(extension-react-component): implement the `stopEvent` method in `ReactNodeView` (#1365)
  .changeset/neat-pots-design.md
  packages/remirror__extension-react-component/src/node-view-types.ts
  packages/remirror__extension-react-component/src/react-component-extension.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat(extension-link): add a new extension option `extractHref`
  .changeset/orange-ravens-marry.md
  packages/remirror__extension-link/src/index.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/storybook-react/stories/extension-link/link-extension.stories.tsx
  packages/storybook-react/stories/extension-link/with-telephone-support.tsx
Labels: type: changeset :butterfly:

update changeset
  .changeset/orange-ravens-marry.md
Labels: type: changeset :butterfly:

add test cases
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/storybook-react/stories/extension-link/with-telephone-support.tsx
Labels: test: unit :white_check_mark:

run pnpm fix
  .changeset/orange-ravens-marry.md
  website/extension-examples/extension-link/with-telephone-support.tsx
Labels: type: changeset :butterfly:

add more tests
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/storybook-react/stories/extension-link/with-telephone-support.tsx
Labels: test: unit :white_check_mark:

feat(extension-link): add a new extension option `extractHref` (#1367)
  .changeset/orange-ravens-marry.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/index.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/storybook-react/stories/extension-link/link-extension.stories.tsx
  packages/storybook-react/stories/extension-link/with-telephone-support.tsx
  website/extension-examples/extension-link/with-telephone-support.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1368)
  .changeset/orange-ravens-marry.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-link/CHANGELOG.md
  packages/remirror__extension-link/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

feat: add shortcuts support
  .changeset/many-buttons-eat.md
  docs/extensions/shortcuts-extension.mdx
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/remirror__extension-shortcuts/CHANGELOG.md
  packages/remirror__extension-shortcuts/__tests__/shortcuts-extension.spec.ts
  packages/remirror__extension-shortcuts/__tests__/tsconfig.json
  packages/remirror__extension-shortcuts/package.json
  packages/remirror__extension-shortcuts/readme.md
  packages/remirror__extension-shortcuts/src/index.ts
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
  packages/remirror__extension-shortcuts/src/tsconfig.json
  packages/storybook-react/stories/extension-shortcuts/basic.tsx
  packages/storybook-react/stories/extension-shortcuts/shortcuts.stories.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-shortcuts/basic.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

Run pnpm:fix
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
Labels: none

fix(extension-list): fix an error when indenting the list
  .changeset/afraid-humans-smoke.md
  packages/remirror__extension-list/src/list-command-indent.ts
Labels: type: changeset :butterfly:

fix(extension-list): fix an error when indenting the list (#1371)
  .changeset/afraid-humans-smoke.md
  packages/remirror__extension-list/src/list-command-indent.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1372)
  .changeset/afraid-humans-smoke.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-list/CHANGELOG.md
  packages/remirror__extension-list/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

Add shortcuts to default editors
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: type: support :books:

Add changeset
  .changeset/happy-pets-hang.md
Labels: type: changeset :butterfly:

feat: add shortcuts support (#1370)
  .changeset/happy-pets-hang.md
  .changeset/many-buttons-eat.md
  docs/extensions/shortcuts-extension.mdx
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/remirror__extension-shortcuts/CHANGELOG.md
  packages/remirror__extension-shortcuts/__tests__/shortcuts-extension.spec.ts
  packages/remirror__extension-shortcuts/__tests__/tsconfig.json
  packages/remirror__extension-shortcuts/package.json
  packages/remirror__extension-shortcuts/readme.md
  packages/remirror__extension-shortcuts/src/index.ts
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
  packages/remirror__extension-shortcuts/src/tsconfig.json
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/storybook-react/stories/extension-shortcuts/basic.tsx
  packages/storybook-react/stories/extension-shortcuts/shortcuts.stories.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-shortcuts/basic.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

chore(changeset): version update (#1373)
  .changeset/happy-pets-hang.md
  .changeset/many-buttons-eat.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-shortcuts/CHANGELOG.md
  packages/remirror__extension-shortcuts/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

Make extension-shortcuts package public
  packages/remirror__extension-shortcuts/package.json
Labels: none

Make extension-shortcuts package public (#1374)
  packages/remirror__extension-shortcuts/package.json
Labels: none

fix: create new releases
  .changeset/new-roses-wait.md
Labels: type: changeset :butterfly:

fix: create new releases (#1375)
  .changeset/new-roses-wait.md
Labels: type: changeset :butterfly:
