Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

chore(changeset): version update (#1429)
  .changeset/pink-snails-behave.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-link/CHANGELOG.md
  packages/remirror__extension-link/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(events): fix type of copy and paste event handlers
  packages/remirror__extension-events/src/events-extension.ts
Labels: none

fix(events): allow for early return of copy and paste events
  .changeset/fuzzy-tomatoes-help.md
  packages/remirror__extension-events/src/events-extension.ts
Labels: type: changeset :butterfly:

fix(events): fix type of copy and paste event handlers (#1433)
  .changeset/fuzzy-tomatoes-help.md
  packages/remirror__extension-events/src/events-extension.ts
Labels: type: changeset :butterfly:

Fix typo in documentation
  docs/getting-started/commands-and-helpers.md
Labels: none

Fix the example code to actually "make sense"
  packages/remirror__react-core/src/react-types.ts
Labels: framework: react :atom_symbol:

Use the `firstUpdate` local variable
  packages/remirror__core/src/manager/remirror-manager.ts
Labels: none

docs: Hint at the "conventional commits" convention for PR names
  docs/contributing.md
Labels: none

Fix typo in documentation (#1435)
  docs/getting-started/commands-and-helpers.md
Labels: none

Fix the example code to actually "make sense" (#1436)
  packages/remirror__react-core/src/react-types.ts
Labels: framework: react :atom_symbol:

docs: Hint at the "conventional commits" convention for PR names (#1438)
  docs/contributing.md
Labels: none

Use the `firstUpdate` local variable (#1437)
  packages/remirror__core/src/manager/remirror-manager.ts
Labels: none

chore: update license
  LICENSE
Labels: none

chore: remove two useless symbolic links
  tsconfig.docs.json
  typedoc.json
Labels: none

chore: remove two useless symbolic links (#1441)
  tsconfig.docs.json
  typedoc.json
Labels: none

chore: update license (#1440)
  LICENSE
Labels: none

wip
  packages/remirror__extension-codemirror6/src/codemirror6-node-view.ts
Labels: none

oneDark
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
  packages/remirror__extension-codemirror6/src/codemirror6-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror6-node-view.ts
  packages/remirror__extension-codemirror6/src/index.ts
  pnpm-lock.yaml
Labels: none

update docs
  docs/extensions/code-block-extension.mdx
  docs/extensions/codemirror-extension.mdx
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-codemirror6/codemirror6.stories.tsx
  packages/storybook-react/stories/extension-codemirror6/with-custom-extension.tsx
  pnpm-lock.yaml
  website/extension-examples/extension-codemirror6/with-custom-extension.tsx
Labels: none

update sizeLimit
  packages/remirror__extension-codemirror6/package.json
Labels: none

rename files
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
  packages/remirror__extension-codemirror6/src/codemirror-utils.ts
  packages/remirror__extension-codemirror6/src/index.ts
Labels: none

code mirror
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-utils.ts
  packages/remirror__extension-codemirror6/src/index.ts
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  packages/storybook-react/stories/extension-codemirror6/with-custom-extension.tsx
Labels: none

update size limti
  support/root/.size-limit.json
Labels: type: support :books:

update docs
  docs/extensions/codemirror-extension.mdx
Labels: none

install @codemirror/language-data
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: none

add language
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
  packages/remirror__extension-codemirror6/src/index.ts
  pnpm-lock.yaml
Labels: none

bug fix
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
Labels: none

update language
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
Labels: none

bug fix
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
  packages/remirror__extension-codemirror6/src/index.ts
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  pnpm-lock.yaml
Labels: none

update example
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  packages/storybook-react/stories/extension-codemirror6/with-custom-extension.tsx
Labels: none

update example
  packages/storybook-react/stories/extension-codemirror6/with-custom-extension.tsx
Labels: none

add basicSetup
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  packages/storybook-react/stories/extension-codemirror6/with-custom-extension.tsx
  pnpm-lock.yaml
Labels: none

remove most package
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
  pnpm-lock.yaml
Labels: none

small refactor
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
Labels: none

pnpm fix
  support/root/.size-limit.json
Labels: type: support :books:

update size-limit
  support/root/.size-limit.json
Labels: type: support :books:

update size-limit
  packages/remirror__extension-codemirror6/package.json
Labels: none

add input rules
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  pnpm-lock.yaml
Labels: none

docs
  docs/extensions/codemirror-extension.mdx
Labels: none

update docs
  docs/extensions/code-block-extension.mdx
  docs/extensions/codemirror-extension.mdx
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
Labels: none
