Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

fix: update annotations in Yjs transaction (#1490)
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-actions.ts
  packages/remirror__extension-annotation/src/annotation-extension.ts
  packages/remirror__extension-annotation/src/annotation-plugin.ts
  packages/remirror__extension-annotation/src/annotation-store.ts
  packages/remirror__extension-annotation/src/annotation-types.ts
  packages/remirror__extension-annotation/src/index.ts
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: test: unit :white_check_mark:

fix: avoid double processing of annotations
  packages/remirror__extension-annotation/src/annotation-plugin.ts
Labels: none

fix: avoid double processing of annotations (#1488)
  packages/remirror__extension-annotation/src/annotation-plugin.ts
Labels: none

chore(deps): update dependency marked to v4 [security]
  packages/remirror__extension-markdown/package.json
  pnpm-lock.yaml
Labels: none

docs: improve the docs for initial JSON
  docs/getting-started/create-manager.md
Labels: none

docs: improve the docs for initial JSON (#1500)
  docs/getting-started/create-manager.md
Labels: none

fix: replace "assert" with defensive "if"
  .changeset/serious-baboons-hear.md
  packages/remirror__extension-annotation/src/annotation-store.ts
Labels: type: changeset :butterfly:

fix: replace "assert" with defensive "if" (#1502)
  .changeset/serious-baboons-hear.md
  packages/remirror__extension-annotation/src/annotation-store.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1503)
  .changeset/serious-baboons-hear.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-annotation/CHANGELOG.md
  packages/remirror__extension-annotation/package.json
  packages/remirror__extension-yjs/CHANGELOG.md
  packages/remirror__extension-yjs/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix: replace "assert" with defensive "if"
  .changeset/dull-vans-tap.md
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: type: changeset :butterfly:

fix: replace "assert" with defensive "if" (#1504)
  .changeset/dull-vans-tap.md
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: type: changeset :butterfly:

fix(link): refactor auto link to simplify and remove bugs
  .changeset/twenty-zebras-live.md
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

refactor(extension-link): refactor auto link to simplify and remove bugs (#1496)
  .changeset/twenty-zebras-live.md
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

WIP: add test cases
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Labels: test: unit :white_check_mark:

docs: add tutorial to create custom extension
  docs/getting-started/commands-and-helpers.md
  docs/getting-started/custom-extension.md
  website/sidebar.js
Labels: none

Fix typo
  docs/getting-started/custom-extension.md
Labels: none

Fix syntax error
  docs/getting-started/custom-extension.md
Labels: none

Declare code types correctly
  docs/getting-started/custom-extension.md
Labels: none

docs: add tutorial to create custom extension (#1507)
  docs/getting-started/commands-and-helpers.md
  docs/getting-started/custom-extension.md
  website/sidebar.js
Labels: none

fix(react-hooks): support attribute filtering for useActive and useAttrs hooks
  .changeset/smart-bats-juggle.md
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/src/builtins/helpers-extension.ts
  packages/storybook-react/stories/extension-text-color/basic.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(react-hooks): support attribute filtering for useActive and useAttrs hooks (#1510)
  .changeset/smart-bats-juggle.md
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/src/builtins/helpers-extension.ts
  packages/storybook-react/stories/extension-text-color/basic.tsx
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

feat: allow to disable the undo/redo functionality provided by the yjs extension
  .changeset/dry-jars-relax.md
  docs/extensions/yjs-extension.mdx
  packages/remirror__extension-yjs/__tests__/__snapshots__/yjs-extension.spec.ts.snap
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix: leave a "breadcrumb" to a developer looking for lost annotations
  packages/remirror__extension-annotation/src/annotation-plugin.ts
Labels: none

chore: use `Static` to indicate that options are not to be changed at runtime
  packages/remirror__extension-yjs/__tests__/__snapshots__/yjs-extension.spec.ts.snap
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: test: unit :white_check_mark:

feat: allow to disable yjs undo/redo (#1512)
  .changeset/dry-jars-relax.md
  docs/extensions/yjs-extension.mdx
  packages/remirror__extension-annotation/src/annotation-plugin.ts
  packages/remirror__extension-yjs/__tests__/__snapshots__/yjs-extension.spec.ts.snap
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(styles): use the inherited text color if the selection is hidden
  .changeset/neat-rockets-boil.md
  packages/remirror__styles/all.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/core-theme.ts
Labels: type: ui :nail_care:, type: changeset :butterfly:

fix(styles): use the inherited text color if the selection is hidden (#1515)
  .changeset/neat-rockets-boil.md
  packages/remirror__styles/all.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/core-theme.ts
Labels: type: ui :nail_care:, type: changeset :butterfly:

chore(deps): update dependency marked to v4 [security]
  packages/remirror__extension-markdown/package.json
  pnpm-lock.yaml
Labels: none

chore(deps): update dependency marked to v4 [security]
  .changeset/sweet-teachers-serve.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-markdown/src/markdown-to-html.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

chore(deps): update dependency marked to v4 [security] (#1519)
  .changeset/sweet-teachers-serve.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-markdown/src/markdown-to-html.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

fix(extension-link): fix auto link with undo. Fixes #1522
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

chore(core): return unique changed ranges only
  .changeset/brave-wasps-knock.md
  packages/remirror__core-utils/src/core-utils.ts
Labels: type: changeset :butterfly:

fix(extension-link): prevent removed auto links being re-added
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

fix(extension-link): fix auto links and undo (#1524)
  .changeset/brave-wasps-knock.md
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:

fix(prosemirror-paste-rules): remove duplicate marks
  .changeset/honest-oranges-end.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(prosemirror-paste-rules): keep extra text nodes
  .changeset/proud-boats-walk.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(prosemirror-paste-rules): fix two replaceSelection issues (#1532)
  .changeset/honest-oranges-end.md
  .changeset/proud-boats-walk.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

jest prosemirror
  .changeset/yellow-wolves-change.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:

jest prosemirror
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Labels: package: jest-prosemirror :performing_arts:

paste-rule
  .changeset/tough-dingos-clap.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:
