Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

update eslint
  package.json
  pnpm-lock.yaml
Labels: none

chore(deps): update dependency eslint to v8 (#1331)
  package.json
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-prosemirror/src/jest-prosemirror-matchers.ts
  packages/multishift/src/multishift-types.ts
  packages/remirror__core-utils/__tests__/prosemirror-node-utils.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-codemirror5/__tests__/codemirror-extension.spec.ts
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-react-tables/src/utils/array.ts
  packages/remirror__react-hooks/__tests__/use-editor-focus.spec.tsx
  packages/remirror__react-renderer/src/handlers/iframe.tsx
  packages/remirror__react-renderer/src/handlers/link.tsx
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  packages/storybook-react/stories/extension-react-tables/with-yjs.tsx
  pnpm-lock.yaml
  support/root/.prettierrc.js
Labels: package: jest-prosemirror :performing_arts:, package: multishift :arrow_down_small:, framework: react :atom_symbol:, test: unit :white_check_mark:, type: support :books:

chore(deps): lock file maintenance
  pnpm-lock.yaml
Labels: none

wip
  package.json
Labels: none

update lockfile
  pnpm-lock.yaml
Labels: none

fix a changeset markdown file
  .changeset/wet-cows-drop.md
Labels: type: changeset :butterfly:

chore(deps): update dependency emojibase to v6
  packages/remirror__extension-emoji/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

chore(deps): update dependency emojibase-data to v7
  packages/remirror__extension-emoji/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

fix(prosemirror-resizable-view): also update the resizable view's height when `aspectRatio` is `Fixed`
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
Labels: none

add changeset
  .changeset/happy-rocks-type.md
Labels: type: changeset :butterfly:

bug fix
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
Labels: none

chore(deps): update dependency emojibase-regex to v6
  packages/remirror__extension-emoji/package.json
  pnpm-lock.yaml
Labels: none

bug fix
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
  packages/remirror__extension-image/src/resizable-image-view.ts
Labels: none

fix(prosemirror-resizable-view): update the resizable view's dimensions when `aspectRatio` is `Fixed` (#1340)
  .changeset/happy-rocks-type.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
  packages/remirror__extension-image/src/resizable-image-view.ts
Labels: type: changeset :butterfly:

docs: keep the editor focus when pressing buttons
  packages/storybook-react/stories/extension-blockquote/basic.tsx
  packages/storybook-react/stories/extension-bold/basic.tsx
  packages/storybook-react/stories/extension-code/basic.tsx
  packages/storybook-react/stories/extension-columns/basic.tsx
  packages/storybook-react/stories/extension-embed/basic.tsx
  packages/storybook-react/stories/extension-embed/resizable.tsx
  packages/storybook-react/stories/extension-embed/youtube.tsx
  packages/storybook-react/stories/extension-font-family/basic.tsx
  packages/storybook-react/stories/extension-font-size/basic.tsx
  packages/storybook-react/stories/extension-hard-break/basic.tsx
  packages/storybook-react/stories/extension-heading/basic.tsx
  packages/storybook-react/stories/extension-italic/basic.tsx
  packages/storybook-react/stories/extension-list/basic.tsx
  packages/storybook-react/stories/extension-node-formatting/basic.tsx
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  packages/storybook-react/stories/extension-react-tables/with-yjs.tsx
  packages/storybook-react/stories/extension-strike/basic.tsx
  packages/storybook-react/stories/extension-sub/basic.tsx
  packages/storybook-react/stories/extension-sup/basic.tsx
  packages/storybook-react/stories/extension-tables/basic.tsx
  packages/storybook-react/stories/extension-text-case/basic.tsx
  packages/storybook-react/stories/extension-text-color/basic.tsx
  packages/storybook-react/stories/extension-text-highlight/basic.tsx
  packages/storybook-react/stories/extension-underline/basic.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.stories.tsx
  packages/storybook-react/stories/react/editable.tsx
  packages/storybook-react/stories/react/replace-content-and-clear-history.tsx
  packages/storybook-react/stories/react/replace-content-imperative.tsx
  packages/storybook-react/stories/react/replace-content-preserve-history.tsx
Labels: none

update renovate config
  package.json
Labels: none

docs: keep the editor focus when pressing buttons (#1341)
  package.json
  packages/storybook-react/stories/extension-blockquote/basic.tsx
  packages/storybook-react/stories/extension-bold/basic.tsx
  packages/storybook-react/stories/extension-code/basic.tsx
  packages/storybook-react/stories/extension-columns/basic.tsx
  packages/storybook-react/stories/extension-embed/basic.tsx
  packages/storybook-react/stories/extension-embed/resizable.tsx
  packages/storybook-react/stories/extension-embed/youtube.tsx
  packages/storybook-react/stories/extension-font-family/basic.tsx
  packages/storybook-react/stories/extension-font-size/basic.tsx
  packages/storybook-react/stories/extension-hard-break/basic.tsx
  packages/storybook-react/stories/extension-heading/basic.tsx
  packages/storybook-react/stories/extension-italic/basic.tsx
  packages/storybook-react/stories/extension-list/basic.tsx
  packages/storybook-react/stories/extension-node-formatting/basic.tsx
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  packages/storybook-react/stories/extension-react-tables/with-yjs.tsx
  packages/storybook-react/stories/extension-strike/basic.tsx
  packages/storybook-react/stories/extension-sub/basic.tsx
  packages/storybook-react/stories/extension-sup/basic.tsx
  packages/storybook-react/stories/extension-tables/basic.tsx
  packages/storybook-react/stories/extension-text-case/basic.tsx
  packages/storybook-react/stories/extension-text-color/basic.tsx
  packages/storybook-react/stories/extension-text-highlight/basic.tsx
  packages/storybook-react/stories/extension-underline/basic.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.stories.tsx
  packages/storybook-react/stories/react/editable.tsx
  packages/storybook-react/stories/react/replace-content-and-clear-history.tsx
  packages/storybook-react/stories/react/replace-content-imperative.tsx
  packages/storybook-react/stories/react/replace-content-preserve-history.tsx
Labels: none

chore(deps): update dependencies
  package.json
  packages/docusaurus-plugin-examples/package.json
  packages/remirror__extension-emoji/package.json
  pnpm-lock.yaml
  website/package.json
Labels: none

fix storybook
  package.json
  pnpm-lock.yaml
Labels: none

chore(deps): update dependencies (#1343)
  package.json
  packages/docusaurus-plugin-examples/package.json
  packages/remirror__extension-emoji/package.json
  pnpm-lock.yaml
  website/package.json
Labels: none

wip
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
  packages/remirror__extension-image/src/image-extension.ts
Labels: none

fix(prosemirror-resizable-view): set width and height correctly
  .changeset/dry-papayas-exercise.md
  .changeset/twelve-readers-sleep.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
Labels: type: changeset :butterfly:

fix(prosemirror-resizable-view): set width and height correctly (#1344)
  .changeset/dry-papayas-exercise.md
  .changeset/twelve-readers-sleep.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
  packages/remirror__extension-image/src/image-extension.ts
Labels: type: changeset :butterfly:

chore(changeset): version update (#1345)
  .changeset/dry-papayas-exercise.md
  .changeset/twelve-readers-sleep.md
  package.json
  packages/prosemirror-resizable-view/CHANGELOG.md
  packages/prosemirror-resizable-view/package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-embed/CHANGELOG.md
  packages/remirror__extension-embed/package.json
  packages/remirror__extension-image/CHANGELOG.md
  packages/remirror__extension-image/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(prosemirror-resizable-view): set initial size CSS styles
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
  support/root/.eslintrc.js
Labels: type: support :books:

add changeset
  .changeset/green-glasses-poke.md
Labels: type: changeset :butterfly:

fix(prosemirror-resizable-view): set initial size CSS styles (#1347)
  .changeset/green-glasses-poke.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
  support/root/.eslintrc.js
Labels: type: changeset :butterfly:, type: support :books:

chore(changeset): version update (#1348)
  .changeset/green-glasses-poke.md
  package.json
  packages/prosemirror-resizable-view/CHANGELOG.md
  packages/prosemirror-resizable-view/package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-embed/CHANGELOG.md
  packages/remirror__extension-embed/package.json
  packages/remirror__extension-image/CHANGELOG.md
  packages/remirror__extension-image/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

fix(file): deleting files via keyboard should trigger onDeleteFile handler
  .changeset/quiet-swans-collect.md
  packages/remirror__extension-file/src/file-extension.tsx
Labels: type: changeset :butterfly:

debug navigator.platform
  packages/storybook-react/stories/extension-tables/basic.tsx
Labels: none

debug userAgent
  packages/storybook-react/stories/extension-tables/basic.tsx
Labels: none

debug navigator
  packages/storybook-react/stories/extension-tables/basic.tsx
Labels: none

bug fix
  packages/storybook-react/stories/extension-tables/basic.tsx
Labels: none

chore(deps): lock file maintenance
  pnpm-lock.yaml
Labels: none

chore(deps): update prosemirror packages
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:

add changeset
  .changeset/gentle-cougars-live.md
Labels: type: changeset :butterfly:

chore(deps): update dependencies (non-major)
  .github/workflows/ci.yml
  .github/workflows/pr-name-linter.yml
  .github/workflows/rebase.yml
  package.json
  packages/multishift/package.json
  packages/remirror__core-helpers/package.json
  packages/remirror__core/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__theme/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: package: multishift :arrow_down_small:, framework: react :atom_symbol:, type: ui :nail_care:, type: support :books:

fixup! fix(file): deleting files via keyboard should trigger onDeleteFile handler
  packages/remirror__extension-file/src/file-extension.tsx
Labels: none

fixup! fix(file): deleting files via keyboard should trigger onDeleteFile handler
  packages/remirror__extension-file/src/file-extension.tsx
Labels: none

fixup! fix(file): deleting files via keyboard should trigger onDeleteFile handler
  packages/remirror__extension-file/src/file-extension.tsx
Labels: none
