Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

add "import React from 'react';"
  website/examples/basic/index.tsx
  website/examples/markdown/index.tsx
  website/examples/richtext/index.tsx
  website/examples/social/index.tsx
  website/src/components/nav-link.tsx
  website/src/pages/index.tsx
Labels: none

temporarily remove showcase
  docs/_showcase/index.md
  docs/_showcase/markdown.mdx
  docs/_showcase/richtext.mdx
  docs/_showcase/social.mdx
Labels: none

update tsconfig.json
  website/src/tsconfig.json
Labels: none

add logo png
  website/static/img/logo-dark.png
Labels: none

fix css
  website/src/pages/styles.module.css
Labels: none

remove docs/readme.md to fix `[WARNING] Duplicate routes found!`
  docs/readme.md
Labels: none

fix config
  website/docusaurus.config.js
  website/sidebar.js
Labels: none

remove examples
  website/extension-examples/extension-entity-reference/highlights.tsx
  website/src/components/example-component.tsx
  website/src/components/example-iframe-component.tsx
  website/src/components/example-provider.ts
  website/src/components/example-source-component.tsx
  website/src/components/index.ts
  website/src/components/toggle-language-component.tsx
  website/src/theme/Root.tsx
Labels: none

rename website/docusaurus.config.cjs
  website/docusaurus.config.cjs
  website/sidebar.cjs
Labels: none

Try esbuild
  pnpm-lock.yaml
  website/docusaurus.config.cjs
  website/package.json
Labels: none

fix(ext-link): `auto: true` when autoLink disabled
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

Fix removeFontSize
  packages/remirror__extension-font-size/src/font-size-extension.ts
Labels: none

packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Labels: package: jest-prosemirror :performing_arts:

packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
Labels: none

packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/core-utils.ts
Labels: none

packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
Labels: none

packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/builtins/commands-extension.ts
Labels: none

packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-callout/src/callout-extension.ts
Labels: none

packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
Labels: package: jest-prosemirror :performing_arts:

packages/remirror__core-utils/src/command-utils.ts
  packages/remirror__core-utils/src/command-utils.ts
Labels: none

packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
Labels: none

packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
Labels: none

packages/remirror__extension-horizontal-rule/src/horizontal-rule-extension.ts
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-extension.ts
Labels: none

packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-list/src/list-command-indent.ts
Labels: none

packages/remirror__extension-codemirror5/src/codemirror-node-view.ts
  packages/remirror__extension-codemirror5/src/codemirror-node-view.ts
Labels: none

packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: none

temporarily revert
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
Labels: package: jest-prosemirror :performing_arts:

Fix packages/remirror__core-utils/__tests__/command-utils.spec.ts
  packages/remirror__core-utils/__tests__/command-utils.spec.ts
Labels: test: unit :white_check_mark:

Fix test
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
  packages/remirror__core-utils/__tests__/command-utils.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
Labels: package: jest-prosemirror :performing_arts:, test: unit :white_check_mark:

Fix typecheck
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
Labels: test: unit :white_check_mark:

fix: try to find valid endpoint for text selection (#1760)
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
  packages/remirror__core-utils/__tests__/command-utils.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core-utils/src/command-utils.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-codemirror5/src/codemirror-node-view.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-extension.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: package: jest-prosemirror :performing_arts:, test: unit :white_check_mark:

Fix the watch loop
  packages/remirror__cli/src/commands/watch.ts
Labels: package: @remirror/cli :pager:

remove selection style from @remirror/theme
  packages/remirror__theme/src/core-theme.ts
  packages/remirror__theme/src/utils.ts
Labels: type: ui :nail_care:

update linaria.ts
  support/scripts/src/linaria.ts
Labels: type: support :books:

generate css files
  packages/remirror__styles/all.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__styles/theme.css
Labels: type: ui :nail_care:

fix table style
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
Labels: type: ui :nail_care:

Fix test
  packages/remirror__theme/__tests__/__snapshots__/theme.spec.ts.snap
Labels: none

add changeset
  .changeset/late-stingrays-check.md
Labels: type: changeset :butterfly:

feat(extension-codemirror): add commands `createCodeMirror` and `updateCodeMirror`
  .changeset/wise-buses-eat.md
  packages/remirror__extension-codemirror6/__tests__/codemirror-extension.spec.ts
  packages/remirror__extension-codemirror6/__tests__/tsconfig.json
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
  packages/remirror__extension-codemirror6/src/index.ts
  support/root/tsconfig.json
  website/src/tsconfig.json
Labels: type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
