Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

alter lock file
  package.json
  pnpm-lock.yaml
Labels: none

disable jest coverage
  .github/workflows/ci.yml
  support/root/jest.config.js
Labels: type: support :books:

Fix two stories
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.stories.tsx
Labels: none

fix support/actions/pr
  pnpm-lock.yaml
  support/actions/src/pr-utils.ts
  website/package.json
Labels: none

fix mutatate-packages
  support/scripts/src/helpers.ts
  support/scripts/src/mutatate-packages.ts
Labels: type: support :books:

ci: generate .d.ts files
  .github/workflows/ci.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish.yml
Labels: none

Revert "fix import"
  packages/remirror__extension-entity-reference/src/utils/disjoined-entity-references.ts
Labels: none

generate .d.ts files when running pnpm build
  package.json
Labels: none

Revert "Revert "fix import""
  packages/remirror__extension-entity-reference/src/utils/disjoined-entity-references.ts
Labels: none

Revert "ci: generate .d.ts files"
  .github/workflows/ci.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish.yml
Labels: none

update case-anything to v2
  package.json
  packages/remirror__core-helpers/package.json
  packages/remirror__theme/package.json
  pnpm-lock.yaml
Labels: type: ui :nail_care:

remove bundler.macro
  package.json
  pnpm-lock.yaml
Labels: none

fix typecheck
  packages/remirror__theme/src/utils.ts
Labels: type: ui :nail_care:

try to remove case-anything from @remirror/theme
  packages/remirror__theme/package.json
  packages/remirror__theme/src/utils.ts
  pnpm-lock.yaml
Labels: type: ui :nail_care:

try to remove case-anything from @remirror/theme
  packages/remirror__theme/src/utils.ts
Labels: type: ui :nail_care:

Publish best practice blog post on annotations (#1674)
  website/blog/2022-05-13-annotation-issues.md
Labels: none

docs: restructure the content on docs website (#1678)
  docs/advanced/updating-editor-externally.md
  docs/controlled-editor.md
  docs/errors.md
  docs/extensions/count-extension.mdx
  docs/getting-started/create-manager.md
  docs/react/hooks.md
  docs/showcase/markdown.mdx
  docs/showcase/richtext.mdx
  docs/showcase/social.mdx
  docs/static-rendering.md
  website/sidebar.js
Labels: none

docs: update iframe storybook to allow custom URL (#1679)
  packages/storybook-react/stories/extension-embed/basic.tsx
  packages/storybook-react/stories/extension-embed/resizable.tsx
Labels: none

feat: Add new prop to create links only after a trigger character was found
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

chore(core): expose the return type of the throttle and debounce helpers
  .changeset/gorgeous-eyes-attack.md
  packages/remirror__core-helpers/src/core-helpers.ts
Labels: type: changeset :butterfly:

fix(collaboration): fix the debounce of onSendableReceived handler so it works as intended
  packages/remirror__extension-collaboration/src/collaboration-extension.ts
Labels: none

feat(collaboration): add the ability to cancel and flush debounced sendable steps
  .changeset/hip-hounds-think.md
  packages/remirror__extension-collaboration/src/collaboration-extension.ts
Labels: type: changeset :butterfly:

test(collaboration): add tests for debounced onSendableReceived handler
  packages/remirror__extension-collaboration/__tests__/collaboration-extension.spec.ts
Labels: test: unit :white_check_mark:

fix(collaboration): fix debouncing of `onSendableReceived` handler (#1727)
  .changeset/gorgeous-eyes-attack.md
  .changeset/hip-hounds-think.md
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__extension-collaboration/__tests__/collaboration-extension.spec.ts
  packages/remirror__extension-collaboration/src/collaboration-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(collaboration): fix debouncing of `onSendableReceived` handler
  .changeset/gorgeous-eyes-attack.md
  .changeset/hip-hounds-think.md
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__extension-collaboration/__tests__/collaboration-extension.spec.ts
  packages/remirror__extension-collaboration/src/collaboration-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

remove json.macro and ms.macro
  package.json
  packages/remirror/src/index.ts
  pnpm-lock.yaml
Labels: none

test: fix fake timer in collaboration-extension.spec.ts
  packages/remirror__extension-collaboration/__tests__/collaboration-extension.spec.ts
Labels: test: unit :white_check_mark:

dependenciesToBundle
  packages/remirror__cli/src/utils/run-esbuild.ts
Labels: package: @remirror/cli :pager:

Remove useless import
  packages/remirror__messages/rollup.config.js
  packages/remirror__theme/rollup.config.js
Labels: none

Update jest to v28
  package.json
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, type: support :books:

Don't bundle svgmoji yet
  packages/remirror__cli/src/utils/run-esbuild.ts
Labels: package: @remirror/cli :pager:

Fix error "TextEncoder is not defined"
  packages/remirror__core/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/remirror__core/__tests__/schema-extension.spec.ts
  packages/remirror__react-core/__tests__/core-node.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__react-core/package.json
  pnpm-lock.yaml
  support/jest/jest.framework.ts
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:, type: support :books:

Fix typecheck
  packages/remirror__core-helpers/__tests__/core-helper.spec.ts
  packages/remirror__extension-collaboration/__tests__/collaboration-extension.spec.ts
Labels: test: unit :white_check_mark:

fix eslint
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
Labels: test: unit :white_check_mark:

lint
  packages/remirror__react-core/package.json
Labels: framework: react :atom_symbol:

remove SpriteCollection
  packages/remirror__extension-emoji/src/emoji-extension.ts
Labels: none

import type { Moji } from 'svgmoji';
  packages/remirror__extension-emoji/src/emoji-extension.ts
Labels: none

bundle svgmoji
  packages/remirror__cli/src/utils/run-esbuild.ts
Labels: package: @remirror/cli :pager:

WIP: fix jest
  .swcrc
  package.json
  packages/a11y-status/__tests__/a11y-status.spec.ts
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/multishift/__tests__/multishift-utils.spec.ts
  packages/remirror__core-helpers/__tests__/core-errors.spec.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/__tests__/decorators.spec.ts
  packages/remirror__core/__tests__/plain-extension.spec.ts
  packages/remirror__core/__tests__/tags-extension.spec.ts
  packages/remirror__extension-collaboration/__tests__/collaboration-extension.spec.ts
  packages/remirror__extension-history/__tests__/history-extension.spec.ts
  packages/remirror__extension-image/__tests__/image-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__react-core/__tests__/use-manager.spec.tsx
  packages/tsconfig.json
  pnpm-lock.yaml
  support/jest/jest.config.js
  support/jest/jest.framework.dom.mjs
  support/jest/jest.framework.mjs
  support/tsconfig.base.json
Labels: test: unit :white_check_mark:, type: support :books:

WIP: jest
  packages/remirror__core/__tests__/keymap-extension.spec.ts
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__dom/__tests__/dom.spec.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-mention/__tests__/mention-extension.spec.ts
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__react-core/__tests__/get-root-props.spec.tsx
  packages/remirror__react-core/__tests__/react-remirror-server.spec.tsx
  packages/remirror__react-core/__tests__/use-remirror-context.spec.tsx
  packages/remirror__react-hooks/__tests__/use-history.spec.tsx
  packages/remirror__react-hooks/__tests__/use-mention.spec.tsx
  packages/remirror__styles/src/emotion.tsx
  support/actions/src/pr-utils.ts
Labels: type: ui :nail_care:, test: unit :white_check_mark:
