Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

wip
  .changeset/slimy-worms-build.md
  .changeset/tame-rings-study.md
  package.json
  packages/create-context-state/package.json
  packages/jest-prosemirror/package.json
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__react-core/src/hooks/use-effect-with-warning.ts
  packages/remirror__react-core/src/hooks/use-extension.ts
  packages/remirror__react-core/src/hooks/use-update-reason.ts
  packages/remirror__react-core/src/index.ts
  packages/remirror__react-hooks/src/use-emoji.ts
  packages/remirror__react-hooks/src/use-event.ts
  packages/remirror__react-hooks/src/use-history.ts
  packages/remirror__react-hooks/src/use-keymap.ts
  packages/remirror__react-hooks/src/use-keymaps.ts
  packages/remirror__react-hooks/src/use-mention-atom.ts
  packages/remirror__react-hooks/src/use-mention.ts
  packages/remirror__react-hooks/src/use-multi-positioner.ts
  packages/remirror__react-hooks/src/use-suggest.ts
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
  packages/testing/src/react.tsx
Labels: package: jest-prosemirror :performing_arts:, framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

wip
  package.json
  packages/create-context-state/package.json
  packages/multishift/package.json
  packages/remirror__cli/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__preset-react/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-renderer/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react-utils/package.json
  packages/remirror__react/package.json
  packages/remirror__styles/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  website/package.json
Labels: package: multishift :arrow_down_small:, framework: react :atom_symbol:, package: @remirror/cli :pager:, type: ui :nail_care:

fix
  pnpm-lock.yaml
Labels: none

update
  package.json
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  packages/testing/package.json
Labels: package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:

update
  pnpm-lock.yaml
Labels: none

fix typecheck
  packages/create-context-state/src/create-context-hook.tsx
  packages/remirror__cli/src/commands/bundle-command.tsx
  packages/remirror__extension-react-ssr/src/react-ssr-extension.ts
  packages/remirror__react-renderer/src/handlers/callout.tsx
  packages/remirror__react-ssr/src/react-serializer.tsx
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:

fix typecheck
  packages/remirror__react-ssr/src/react-serializer.tsx
Labels: framework: react :atom_symbol:

fix typecheck
  packages/remirror__react-core/src/hooks/use-i18n.ts
Labels: framework: react :atom_symbol:

fix typecheck
  packages/create-context-state/src/create-context-hook.tsx
  packages/remirror__react-components/src/components/color-picker-component.tsx
  packages/remirror__react-components/src/floating-menu.tsx
  packages/remirror__react-core/src/hooks/use-i18n.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:

update reakit
  packages/remirror__react-components/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:

fix
  packages/remirror__react-components/src/components/dialog-component.tsx
  packages/remirror__react-components/src/menu/index.tsx
  packages/remirror__react-components/src/reakit-system/menu.tsx
  packages/remirror__react-components/src/toolbar/index.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

run pnpm fix
  packages/remirror__dev/__tests__/tsconfig.json
  packages/remirror__dev/src/tsconfig.json
  packages/remirror__react-hooks/__tests__/use-emoji.spec.tsx
Labels: test: unit :white_check_mark:

fix lint
  packages/remirror__extension-file/package.json
Labels: none

fix typecheck
  packages/remirror__react-core/__tests__/react-remirror-server.spec.tsx
  packages/remirror__react-core/__tests__/use-remirror-context.spec.tsx
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:

fix typecheck
  website/src/components/nav-link.tsx
  website/src/components/story-example-component.tsx
  website/src/theme/Root.tsx
Labels: none

fix unit test
  packages/remirror__react-core/__tests__/react-remirror-server.spec.tsx
Labels: test: unit :white_check_mark:

Add changeset
  .changeset/small-adults-burn.md
Labels: type: changeset :butterfly:

fix import
  packages/remirror__react-hooks/src/use-emoji.ts
Labels: framework: react :atom_symbol:

fix lint
  packages/remirror__react-hooks/src/use-emoji.ts
Labels: framework: react :atom_symbol:

update docusaurus, tsdoc and @microsoft/api-documenter
  package.json
  packages/docusaurus-plugin-examples/package.json
  support/scripts/package.json
  website/package.json
Labels: type: support :books:

update lockfile
  pnpm-lock.yaml
Labels: none

fix docusaurus config
  website/docusaurus.config.js
Labels: none

remove @theme/hooks/useTheme
  website/src/components/example-source-component.tsx
Labels: none

downgrade @mdx-js/react to v1
  pnpm-lock.yaml
  website/package.json
Labels: none

Remove types='@docusaurus/theme-classic'
  website/src/components/index.ts
Labels: none

remove types="@docusaurus/module-type-aliases"
  website/src/types.d.ts
Labels: none

Revert "remove types="@docusaurus/module-type-aliases""
  website/src/types.d.ts
Labels: none

Revert "Remove types='@docusaurus/theme-classic'"
  website/src/components/index.ts
Labels: none

update typescript to 4.5
  package.json
  pnpm-lock.yaml
Labels: none

update typescript to 4.5
  package.json
  pnpm-lock.yaml
Labels: none

fix(multishift): fix a potential out of range error
  packages/multishift/src/multishift-utils.ts
Labels: package: multishift :arrow_down_small:

add changeset
  .changeset/brave-dragons-press.md
Labels: type: changeset :butterfly:

fix(multishift): fix a potential out of range error (#1613)
  .changeset/brave-dragons-press.md
  packages/multishift/src/multishift-utils.ts
Labels: package: multishift :arrow_down_small:, type: changeset :butterfly:

fix: 1615 - correctly parse saved iframe dimensions
  packages/remirror__extension-embed/src/iframe-extension.ts
Labels: none

chore(changeset): version update (#1614)
  .changeset/brave-dragons-press.md
  packages/multishift/CHANGELOG.md
  packages/multishift/package.json
  packages/remirror__extension-file/CHANGELOG.md
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/CHANGELOG.md
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: package: multishift :arrow_down_small:, framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore: 1615 - update changeset
  .changeset/fuzzy-sloths-knock.md
Labels: type: changeset :butterfly:

Improve TS
  packages/remirror__extension-embed/__tests__/iframe-extension.spec.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-embed/src/resizable-iframe-view.ts
Labels: test: unit :white_check_mark:

fix(extension-embed): correctly parse saved iframe dimensions (#1616)
  .changeset/fuzzy-sloths-knock.md
  packages/remirror__extension-embed/__tests__/iframe-extension.spec.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-embed/src/resizable-iframe-view.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1618)
  .changeset/fuzzy-sloths-knock.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-embed/CHANGELOG.md
  packages/remirror__extension-embed/package.json
  packages/remirror__preset-wysiwyg/CHANGELOG.md
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

add changeset about TS 4.5
  .changeset/ninety-lizards-bake.md
Labels: type: changeset :butterfly:
