Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

update jest-prosemirror
  .changeset/shaggy-eagles-repeat.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:

update test snapshots
  packages/jest-prosemirror/__tests__/__snapshots__/jest-prosemirror.spec.ts.snap
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
Labels: none

chore: update ProseMirror dependencies (#2317)
  .changeset/shaggy-eagles-repeat.md
  packages/jest-prosemirror/__tests__/__snapshots__/jest-prosemirror.spec.ts.snap
  packages/jest-prosemirror/package.json
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, framework: react :atom_symbol:, type: changeset :butterfly:

chore(deps): update react to v18.3.1
  packages/create-context-state/package.json
  packages/multishift/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__preset-react/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-renderer/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react-ui/package.json
  packages/remirror__react-utils/package.json
  packages/remirror__react/package.json
  packages/remirror__styles/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: package: multishift :arrow_down_small:, framework: react :atom_symbol:, type: ui :nail_care:

chore(deps): update react to v18.3.1 (#2318)
  packages/create-context-state/package.json
  packages/multishift/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__preset-react/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-renderer/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react-ui/package.json
  packages/remirror__react-utils/package.json
  packages/remirror__react/package.json
  packages/remirror__styles/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: package: multishift :arrow_down_small:, framework: react :atom_symbol:, type: ui :nail_care:

chore(deps): update pnpm to v8.15.9
  package.json
Labels: none

update lock
  pnpm-lock.yaml
Labels: none

chore(deps): update pnpm to v8.15.9 (#2322)
  package.json
Labels: none

update package.json and remove patch
  package.json
  packages/remirror__extension-yjs/package.json
  patches/y-prosemirror@1.2.1.patch
Labels: none

fix types
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: none

run install
  pnpm-lock.yaml
Labels: none

fix type check
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
Labels: test: unit :white_check_mark:

fix: conditional renderOutsideEditor
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

feat: add open link button
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

refac: don't use updateReason to hide url input
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

feat: link highlight
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

refac: improve link highlight
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

fix: link menu buttons
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

refac: edit menu
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

refac: replace StringPositioner with TextHighlightExtension
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

feat: prevent floating menu in multi-line selection
  packages/storybook-react/stories/extension-link/edit-dialog.tsx
Labels: none

fix: use the original typing for legacy command decorator
  packages/remirror__core/src/builtins/builtin-decorators.ts
Labels: none

fix: export LegacyExtensionDecorator type
  packages/remirror__core/src/builtins/builtin-decorators.ts
Labels: none

Create calm-paws-divide.md
  .changeset/calm-paws-divide.md
Labels: type: changeset :butterfly:

fix: linting
  .changeset/calm-paws-divide.md
Labels: type: changeset :butterfly:

fix: use the original typing for legacy command decorator (#2334)
  .changeset/calm-paws-divide.md
  packages/remirror__core/src/builtins/builtin-decorators.ts
Labels: type: changeset :butterfly:

fix: error when using YjsExtension with y-prosemirror version >1.2.4
  package.json
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__extension-yjs/src/yjs-extension.ts
  patches/y-prosemirror@1.2.1.patch
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:

chore(deps): update dependencies
  support/actions/pnpm/action.yml
Labels: none

chore(deps): update dependencies (#2341)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/pr-name-linter.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
  .github/workflows/rebase.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
  support/actions/pnpm/action.yml
Labels: none

Add changeset
  .changeset/spotty-planets-applaud.md
Labels: type: changeset :butterfly:

chore: add .prettierignore
  .prettierignore
  package.json
Labels: none

chore: add .prettierignore (#2344)
  .prettierignore
  package.json
Labels: none

fix: fix error when using YjsExtension with y-prosemirror version >1.2.4 (#2339)
  .changeset/spotty-planets-applaud.md
  package.json
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__extension-yjs/src/yjs-extension.ts
  patches/y-prosemirror@1.2.1.patch
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

update node.js to v24
  .github/workflows/ci.yml
  support/actions/pnpm/action.yml
Labels: none

chore: enable OIDC publishing
  .github/workflows/ci.yml
  .github/workflows/publish-pr.yml
  .github/workflows/publish-v1.yml
  .github/workflows/publish-v3.yml
  .github/workflows/publish.yml
Labels: none

update build
  packages/remirror__messages/rollup.config.js
  packages/remirror__theme/rollup.config.js
Labels: none

add concurrency 1
  package.json
Labels: none

ignore rollup.config.js
  .eslintignore
Labels: none

add comment
  .eslintignore
Labels: none

chore: update pnpm to v9
  package.json
  pnpm-lock.yaml
Labels: none
