Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

add storybook
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
Labels: none

feat(extension-codemirror6): add two commands (#1763)
  .changeset/wise-buses-eat.md
  packages/remirror__extension-codemirror6/__tests__/codemirror-extension.spec.ts
  packages/remirror__extension-codemirror6/__tests__/tsconfig.json
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
  packages/remirror__extension-codemirror6/src/index.ts
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  support/root/tsconfig.json
  website/src/tsconfig.json
Labels: type: changeset :butterfly:, test: unit :white_check_mark:, type: support :books:

feat(theme): remove default selection colors (#1762)
  .changeset/late-stingrays-check.md
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__styles/theme.css
  packages/remirror__theme/__tests__/__snapshots__/theme.spec.ts.snap
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/core-theme.ts
  packages/remirror__theme/src/utils.ts
  support/scripts/src/linaria.ts
Labels: package: @remirror/cli :pager:, type: ui :nail_care:, type: changeset :butterfly:, type: support :books:

Update packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
Labels: none

Update packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
Labels: none

Update test scrollToEntityReferene to select all the doc instead of remove selection"
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
Labels: test: unit :white_check_mark:

docs: improve documentation for the gap cursor
  docs/extensions/gap-cursor-extension.mdx
  packages/storybook-react/stories/extension-gap-cursor/basic.tsx
  packages/storybook-react/stories/extension-gap-cursor/gap-cursor.stories.tsx
  packages/storybook-react/stories/extension-gap-cursor/styles.css
  website/extension-examples/extension-gap-cursor/basic.tsx
Labels: none

chore: remove docusaurus-plugin-examples
  .changeset/config.json
  .changeset/pre.json
  package.json
  packages/docusaurus-plugin-examples/package.json
  packages/docusaurus-plugin-examples/readme.md
  packages/docusaurus-plugin-examples/src/index.ts
  packages/docusaurus-plugin-examples/src/transform-typescript-only.ts
  packages/docusaurus-plugin-examples/src/tsconfig.json
  packages/docusaurus-plugin-examples/src/types.ts
  packages/docusaurus-plugin-examples/types/package.json
  packages/remirror__cli/src/utils/list-packages.ts
  pnpm-lock.yaml
  support/root/tsconfig.json
  website/docusaurus.config.cjs
Labels: package: @remirror/cli :pager:, type: changeset :butterfly:, type: support :books:

docs: improve documentation for the gap cursor (#1765)
  docs/extensions/gap-cursor-extension.mdx
  packages/storybook-react/stories/extension-gap-cursor/basic.tsx
  packages/storybook-react/stories/extension-gap-cursor/gap-cursor.stories.tsx
  packages/storybook-react/stories/extension-gap-cursor/styles.css
  website/extension-examples/extension-gap-cursor/basic.tsx
Labels: none

format file
  .changeset/config.json
Labels: type: changeset :butterfly:

chore: remove docusaurus-plugin-examples (#1766)
  .changeset/config.json
  .changeset/pre.json
  package.json
  packages/docusaurus-plugin-examples/package.json
  packages/docusaurus-plugin-examples/readme.md
  packages/docusaurus-plugin-examples/src/index.ts
  packages/docusaurus-plugin-examples/src/transform-typescript-only.ts
  packages/docusaurus-plugin-examples/src/tsconfig.json
  packages/docusaurus-plugin-examples/src/types.ts
  packages/docusaurus-plugin-examples/types/package.json
  packages/remirror__cli/src/utils/list-packages.ts
  pnpm-lock.yaml
  support/root/tsconfig.json
  website/docusaurus.config.cjs
Labels: package: @remirror/cli :pager:, type: changeset :butterfly:, type: support :books:

.
  packages/remirror__extension-file/src/file-extension.tsx
Labels: none

Fix workflow for main
  .github/workflows/docs.yml
Labels: none

docs: debug docs (#1769)
  .github/workflows/docs.yml
  packages/remirror__extension-file/src/file-extension.tsx
Labels: none

chore(deps): update jsx-dom to v7
  packages/remirror__extension-react-tables/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

changeset
  .changeset/wet-emus-march.md
Labels: type: changeset :butterfly:

update nanoevents
  packages/remirror__core/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-positioner/package.json
  packages/remirror__extension-react-component/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

chore(deps): update jsx-dom to v7, nanoevents to v7 (#1771)
  .changeset/wet-emus-march.md
  packages/remirror__core/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-positioner/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-tables/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(link): update changeset
  .changeset/bright-forks-perform.md
Labels: type: changeset :butterfly:

fix(link): treat links with same href and text content as auto link (#1741)
  .changeset/bright-forks-perform.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(entity-reference): add helper and command to entity-reference extension (#1742)
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/storybook-react/stories/extension-entity-reference/entity-reference.stories.tsx
  packages/storybook-react/stories/extension-entity-reference/scroll-to-highlight.tsx
Labels: test: unit :white_check_mark:

fix: updating existing links that are out of range
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

use requestAnimationFrame
  packages/remirror__extension-link/src/link-extension.ts
Labels: none

test(ext-link): fix failed test
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Labels: test: unit :white_check_mark:

chore: update changeset text
  .changeset/selfish-pigs-complain.md
Labels: type: changeset :butterfly:

fix(link): delay trigger of onUpdateLink event to prevent stale state updates (#1756)
  .changeset/selfish-pigs-complain.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

test(link-ext): Fix failing tests
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
Labels: test: unit :white_check_mark:

fix(link): prevent trailing punctuation being include in auto link URL
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:

fix(theme): wrap end-of-lines spaces
  .changeset/seven-timers-prove.md
  packages/remirror__styles/all.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/core-theme.ts
  website/extension-examples/extension-entity-reference/scroll-to-highlight.tsx
Labels: type: ui :nail_care:, type: changeset :butterfly:

fix(theme): wrap end-of-lines spaces (#1775)
  .changeset/seven-timers-prove.md
  packages/remirror__styles/all.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/core-theme.ts
  website/extension-examples/extension-entity-reference/scroll-to-highlight.tsx
Labels: type: ui :nail_care:, type: changeset :butterfly:

docs: add a storybook for SearchExtension
  packages/storybook-react/stories/extension-search/basic.tsx
  packages/storybook-react/stories/extension-search/search.stories.tsx
  packages/storybook-react/stories/extension-search/styles.css
Labels: none

format code
  packages/storybook-react/stories/extension-search/basic.tsx
Labels: none

docs: add the example into docs
  docs/extensions/search-extension.mdx
  website/extension-examples/extension-search/basic.tsx
Labels: none

refactor: remove useless styles
  packages/storybook-react/stories/extension-search/styles.css
Labels: none

ci: fix docs slug branch name
  .github/workflows/docs.yml
Labels: none

format code
  .github/workflows/docs.yml
Labels: none

docs(extension-search): add a live example for SearchExtension (#1776)
  .github/workflows/docs.yml
  docs/extensions/search-extension.mdx
  packages/storybook-react/stories/extension-search/basic.tsx
  packages/storybook-react/stories/extension-search/search.stories.tsx
  packages/storybook-react/stories/extension-search/styles.css
  website/extension-examples/extension-search/basic.tsx
Labels: none

w
  packages/remirror__preset-react/src/react-extension.ts
  packages/remirror__react-core/src/hooks/use-react-framework.tsx
  packages/storybook-react/stories/extension-placeholder/placeholder-extension.stories.tsx
  packages/storybook-react/stories/extension-placeholder/styles.css
  packages/storybook-react/stories/extension-placeholder/with-custom-style.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.tsx
  website/extension-examples/extension-placeholder/with-custom-style.tsx
Labels: framework: react :atom_symbol:

Revert "w"
  packages/remirror__preset-react/src/react-extension.ts
  packages/remirror__react-core/src/hooks/use-react-framework.tsx
  packages/storybook-react/stories/extension-placeholder/basic.tsx
  packages/storybook-react/stories/extension-placeholder/placeholder-extension.stories.tsx
  packages/storybook-react/stories/extension-placeholder/styles.css
  packages/storybook-react/stories/extension-placeholder/with-custom-style.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.tsx
  website/extension-examples/extension-placeholder/with-custom-style.tsx
Labels: framework: react :atom_symbol:

fix(react-core): don't override placeholder extension options
  .changeset/tough-maps-visit.md
  .changeset/violet-wolves-deliver.md
  packages/remirror__react-core/__tests__/on-change.spec.tsx
  packages/remirror__react-core/src/hooks/use-react-framework.tsx
  packages/storybook-react/stories/extension-placeholder/placeholder-extension.stories.tsx
  packages/storybook-react/stories/extension-placeholder/styles.css
  packages/storybook-react/stories/extension-placeholder/with-custom-style.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.tsx
  website/extension-examples/extension-placeholder/with-custom-style.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, test: unit :white_check_mark:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
