Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

fix(entity-reference): add extra attributes via commands and return via helpers
  .changeset/cold-peaches-beg.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-entity-reference/src/utils/disjoined-entity-references.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix(entity-reference): add extra attributes via commands and return via helpers (#1962)
  .changeset/cold-peaches-beg.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-entity-reference/src/utils/disjoined-entity-references.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

chore(changeset): version update (#1963)
  .changeset/cold-peaches-beg.md
  package.json
  packages/remirror/CHANGELOG.md
  packages/remirror/package.json
  packages/remirror__extension-entity-reference/CHANGELOG.md
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-ssr/package.json
  packages/remirror__extension-react-tables/CHANGELOG.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__react-components/CHANGELOG.md
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/CHANGELOG.md
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/remirror__react-ssr/package.json
  packages/remirror__react/CHANGELOG.md
  packages/remirror__react/package.json
  packages/storybook-react/package.json
  packages/testing/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

fix(keymap): don't reconfigure plugins when updating keymap
  packages/remirror__core/src/builtins/keymap-extension.ts
Labels: none

add changeset
  .changeset/silver-cats-tickle.md
Labels: type: changeset :butterfly:

refactor(core): don't reconfigure plugins when updating keymap (#1966)
  .changeset/silver-cats-tickle.md
  packages/remirror__core/src/builtins/keymap-extension.ts
Labels: type: changeset :butterfly:

feat(jest-remirror): polyfill for `element.scrollIntoView`
  .changeset/lovely-carpets-jog.md
  packages/jest-remirror/src/jsdom-polyfills.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:

docs: replace create-react-app with vite
  docs/5-min-tutorial.md
Labels: none

fix(core): don't call `super()` conditional
  .changeset/hot-drinks-knock.md
  packages/remirror__core-helpers/src/core-errors.ts
Labels: type: changeset :butterfly:

update changeset
  .changeset/hot-drinks-knock.md
Labels: type: changeset :butterfly:

feat(jest-remirror): polyfill for `element.scrollIntoView` (#1973)
  .changeset/lovely-carpets-jog.md
  packages/jest-remirror/src/jsdom-polyfills.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:

fix(core): don't call `super()` conditional (#1972)
  .changeset/hot-drinks-knock.md
  packages/remirror__core-helpers/src/core-errors.ts
Labels: type: changeset :butterfly:

docs: replace create-react-app with vite (#1971)
  docs/5-min-tutorial.md
Labels: none

fix(extension-events): fix marks matching for hover event
  .changeset/beige-jokes-juggle.md
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

fix test
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
Labels: test: unit :white_check_mark:

docs: update changeset
  .changeset/beige-jokes-juggle.md
Labels: type: changeset :butterfly:

docs: update changeset
  .changeset/beige-jokes-juggle.md
Labels: type: changeset :butterfly:

fix(extension-events): fix marks matching for hover event (#1981)
  .changeset/beige-jokes-juggle.md
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
Labels: type: changeset :butterfly:, test: unit :white_check_mark:

Upgrade dependency
  package.json
  pnpm-lock.yaml
Labels: none

Update readme.md
  readme.md
Labels: none

Upgrade dependency (#1984)
  package.json
  pnpm-lock.yaml
Labels: none

Allow disabling the placeholder
  packages/remirror__extension-placeholder/src/placeholder-extension.ts
  packages/remirror__preset-react/src/react-extension.ts
Labels: framework: react :atom_symbol:

docs: fix typo
  docs/extensions/annotation-extension.mdx
Labels: none

chore: update pnpm to v7
  package.json
  pnpm-lock.yaml
Labels: none

docs: remove pnpm-deduplicate from the docs
  docs/migration-v2.md
Labels: none

chore: fix ci lint
  .github/workflows/ci.yml
Labels: none

chore: fix pnpm clean
  package.json
Labels: none

chore: remove extra -- in the command
  docs/contributing.md
  package.json
  packages/testing/src/playwright/playwright-server.config.ts
  support/templates/readme.md
Labels: type: support :books:

chore: fix typecheck
  package.json
  packages/prosemirror-suggest/__tests__/suggest-plugin.spec.ts
  packages/remirror__core-helpers/src/default-import.ts
  packages/remirror__extension-emoji/__tests__/emoji-extension.spec.ts
  packages/remirror__extension-mention/__tests__/mention-extension.spec.ts
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__i18n/package.json
  packages/remirror__i18n/src/index.ts
  packages/remirror__messages/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-hooks/__tests__/use-mention-atom.spec.tsx
  packages/remirror__theme/package.json
  packages/storybook-react/stories/react-components/mention-atom-popup.stories.tsx
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
  pnpm-lock.yaml
  support/scripts/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, test: unit :white_check_mark:, type: support :books:

chore: fix lint
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-tables/src/table-positioners.ts
Labels: none

chore: update pnpm to v7 (#1996)
  .github/workflows/ci.yml
  docs/contributing.md
  docs/migration-v2.md
  package.json
  packages/prosemirror-suggest/__tests__/suggest-plugin.spec.ts
  packages/remirror__core-helpers/src/default-import.ts
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-emoji/__tests__/emoji-extension.spec.ts
  packages/remirror__extension-mention/__tests__/mention-extension.spec.ts
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/remirror__i18n/package.json
  packages/remirror__i18n/src/index.ts
  packages/remirror__messages/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-hooks/__tests__/use-mention-atom.spec.tsx
  packages/remirror__theme/package.json
  packages/storybook-react/stories/react-components/mention-atom-popup.stories.tsx
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
  packages/testing/src/playwright/playwright-server.config.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/templates/readme.md
Labels: framework: react :atom_symbol:, type: ui :nail_care:, test: unit :white_check_mark:, type: support :books:

docs: correct typo on annotation extension page (#1995)
  docs/extensions/annotation-extension.mdx
Labels: none

fix(paste-rules): update ts type
  .changeset/popular-maps-fail.md
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:

chore: format code
  .changeset/popular-maps-fail.md
Labels: type: changeset :butterfly:

change export *
  packages/remirror__core-constants/src/index.ts
  packages/remirror__extension-blockquote/src/index.ts
  packages/remirror__extension-markdown/src/index.ts
  packages/remirror__react-components/src/providers/index.ts
Labels: framework: react :atom_symbol:, type: ui :nail_care:

run fix
  packages/remirror__core-constants/src/index.ts
  packages/remirror__extension-markdown/src/index.ts
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__react-components/src/providers/index.ts
  packages/remirror__react-core/src/react-framework.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

move link extension to the top
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.tsx
Labels: framework: react :atom_symbol:

docs(markdown-editor): remove-duplicate-ext
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.tsx
Labels: framework: react :atom_symbol:

chore(deps): update caniuse
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-gap-cursor.css
  packages/remirror__styles/extension-image.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  pnpm-lock.yaml
Labels: type: ui :nail_care:

docs(markdown-editor): remove-duplicate-ext (#1844)
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.tsx
Labels: framework: react :atom_symbol:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']
