Repository remirror/remirror, changes with the labels that .github/labeler.yml gives for each.
All labels: type: ci :evergreen_tree:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, package: remirror :purple_circle:, framework: react :atom_symbol:, framework: dom :globe_with_meridians:, package: @remirror/cli :pager:, type: ui :nail_care:, type: docs :pencil:, type: changeset :butterfly:, test: unit :white_check_mark:, test: e2e :heavy_check_mark:, type: support :books:

.github/labeler.yml:

# Documentation is available here https://github.com/actions/labeler

'type: ci :evergreen_tree:':
  - any:
      [
        '.github/**/*',
        'support/azure/**/*',
        '!.github/ISSUE_TEMPLATE/**',
        '!.github/**/*.md',
        '.devcontainer/**',
      ]

'package: jest-prosemirror :performing_arts:':
  - any:
      [
        'packages/jest-prosemirror/**/*.{ts,tsx,json}',
        '!packages/jest-prosemirror/**/*.spec.{ts,tsx}',
      ]

'package: jest-remirror :black_joker:':
  - any: ['packages/jest-remirror/**/*.{ts,tsx,json}', '!packages/jest-remirror/**/*.spec.{ts,tsx}']

'package: prosemirror-suggest :bulb:':
  - any:
      [
        'packages/prosemirror-suggest/**/*.{ts,tsx,json}',
        '!packages/prosemirror-suggest/**/*.spec.{ts,tsx}',
      ]

'package: multishift :arrow_down_small:':
  - any: ['packages/multishift/**/*.{ts,tsx,json}', '!packages/multishift/**/*.spec.{ts,tsx}']

'package: remirror :purple_circle:':
  - any:
      [
        'packages/{remirror,@remirror}/**/*.{ts,tsx,json}',
        '!packages/remirror__cli/**/*',
        '**/*.spec.{ts,tsx}',
      ]

'framework: react :atom_symbol:':
  - any:
      [
        'packages/remirror__*react*/**/*.{ts,tsx,json}',
        '!packages/remirror__*react*/**/*.spec.{ts,tsx}',
      ]

'framework: dom :globe_with_meridians:':
  - any:
      [
        'packages/remirror__*dom*/**/*.{ts,tsx,json}',
        '!packages/remirror__*dom*/**/*.spec.{ts,tsx}',
      ]

'package: @remirror/cli :pager:':
  - any: ['packages/remirror__cli/**/*.{ts,tsx,json}', '!packages/remirror__cli/**/*.spec.{ts,tsx}']

'type: ui :nail_care:':
  - any:
      [
        'packages/remirror__{styles,theme,react-components}/**/*.{ts,tsx,json,css}',
        '!**/*.spec.{ts,tsx}',
      ]

'type: docs :pencil:':
  - any: ['docs/**/*.{md.mdx}', '**/readme.{md,mdx}']

'type: changeset :butterfly:':
  - any: ['.changeset/**/*']

'test: unit :white_check_mark:':
  - any: ['**/*.spec.{ts,tsx}']

'test: e2e :heavy_check_mark:':
  - any: ['**/*.e2e.test.{ts,tsx}', 'packages/**/*.snap', 'test/**/*.{ts,tsx,json,snap}']

'type: support :books:':
  - any: ['support/**/*', '!test/**', '!support/actions/**', '!support/azure/**']

update changeset
  .changeset/angry-lies-bathe.md
Labels: type: changeset :butterfly:

run pnpm install
  packages/storybook-react/package.json
Labels: none

run pnpm install
  pnpm-lock.yaml
Labels: none

run pnpm fix
  .size-limit.json
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__styles/src/styled-components.tsx
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
  tsconfig.json
  website/extension-examples/extension-code-block/with-language-select.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

add peerDependenciesMeta
  packages/remirror__extension-react-language-select/package.json
Labels: framework: react :atom_symbol:

Don't import remirror directly
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/src/language-select.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

run pnpm fix
  .size-limit.json
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
Labels: framework: react :atom_symbol:

chore: tweak some files for new package (#2123)
  .changeset/angry-lies-bathe.md
  .size-limit.json
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__styles/src/styled-components.tsx
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  website/extension-examples/extension-code-block/with-language-select.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore(changeset): version update (#2124)
  .changeset/angry-lies-bathe.md
  packages/remirror/package.json
  packages/remirror__extension-blockquote/package.json
  packages/remirror__extension-callout/package.json
  packages/remirror__extension-code-block/CHANGELOG.md
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-emoji/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-image/package.json
  packages/remirror__extension-list/package.json
  packages/remirror__extension-mention-atom/package.json
  packages/remirror__extension-placeholder/package.json
  packages/remirror__extension-positioner/package.json
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-text-color/package.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-core/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__styles/CHANGELOG.md
  packages/remirror__styles/package.json
  packages/remirror__theme/CHANGELOG.md
  packages/remirror__theme/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
  website/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

chore: set access to public in package.json
  packages/remirror__extension-react-language-select/package.json
Labels: framework: react :atom_symbol:

update script
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

update script
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

fix: Yjs undoManager is not working properly after updating editor
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: none

refactor!: move @linaria/core dependency from core-helpers to core this reduces dependencies for core-helpers as this package is often used without remirror/core
  packages/remirror__core-helpers/package.json
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/src/helpers.ts
  pnpm-lock.yaml
Labels: none

chore: add changeset
  .changeset/polite-kids-unite.md
Labels: type: changeset :butterfly:

fix(core): fix imports and exports of cx function
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__core/src/index.ts
Labels: none

chore(core): fix import style
  packages/remirror__core/src/index.ts
Labels: none

chore: remove babel runtime from some packages - prosemirror-trailing-node - @remirror/core-constants - @remirror/core-helpers
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-constants/package.json
  packages/remirror__core-helpers/package.json
  pnpm-lock.yaml
Labels: none

chore: add changeset
  .changeset/eleven-students-think.md
Labels: type: changeset :butterfly:

chore: remove babel runtime from some packages (#2133)
  .changeset/eleven-students-think.md
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-constants/package.json
  packages/remirror__core-helpers/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

chore(changeset): version update (#2135)
  .changeset/eleven-students-think.md
  packages/jest-prosemirror/package.json
  packages/multishift/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/CHANGELOG.md
  packages/prosemirror-trailing-node/package.json
  packages/remirror/package.json
  packages/remirror__core-constants/CHANGELOG.md
  packages/remirror__core-constants/package.json
  packages/remirror__core-helpers/CHANGELOG.md
  packages/remirror__core-helpers/package.json
  packages/remirror__core-types/package.json
  packages/remirror__core-utils/package.json
  packages/remirror__core/package.json
  packages/remirror__extension-codemirror5/package.json
  packages/remirror__i18n/package.json
  packages/remirror__icons/package.json
  packages/remirror__messages/package.json
  packages/remirror__pm/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-utils/package.json
  packages/remirror__styles/package.json
  packages/test-keyboard/package.json
  pnpm-lock.yaml
  support/actions/package.json
  support/package.json
  support/scripts/package.json
  support/templates/minimal-template/package.json
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:, type: support :books:

Update polite-kids-unite.md
  .changeset/polite-kids-unite.md
Labels: type: changeset :butterfly:

refactor: move @linaria/core dependency from core-helpers to core (#2131)
  .changeset/polite-kids-unite.md
  packages/remirror__core-helpers/package.json
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__core/src/helpers.ts
  packages/remirror__core/src/index.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

feat: add editable change event hook
  packages/remirror__extension-events/src/events-extension.ts
Labels: none

fix: plugins of tableExtension can be updated when editable has been changed
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

chore: add changeset file
  .changeset/grumpy-clocks-begin.md
Labels: type: changeset :butterfly:

fix: update plugins of tableExtension when editable changes (#2132)
  .changeset/grumpy-clocks-begin.md
  packages/remirror__extension-events/src/events-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

chore(deps): update dependencies
  .size-limit.json
  package.json
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
  support/scripts/package.json
Labels: type: support :books:

fix(react-components): remove unnecessary dependency from @remirror/react-components
  .changeset/pretty-donkeys-crash.md
  packages/remirror__react-components/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:, type: changeset :butterfly:

feat(messages): extract the messages into JSON files
  packages/remirror__messages/en/all-messages.json
  packages/remirror__messages/en/core-messages.json
  packages/remirror__messages/en/core-utils-messages.json
  packages/remirror__messages/en/extension-annotation-messages.json
  packages/remirror__messages/en/extension-bidi-messages.json
  packages/remirror__messages/en/extension-blockquote-messages.json
  packages/remirror__messages/en/extension-bold-messages.json
  packages/remirror__messages/en/extension-callout-messages.json
  packages/remirror__messages/en/extension-code-block-messages.json
  packages/remirror__messages/en/extension-code-messages.json
  packages/remirror__messages/en/extension-columns-messages.json
  packages/remirror__messages/en/extension-emoji-messages.json
  packages/remirror__messages/en/extension-font-size-messages.json
  packages/remirror__messages/en/extension-heading-messages.json
  packages/remirror__messages/en/extension-history-messages.json
  packages/remirror__messages/en/extension-horizontal-rule-messages.json
  packages/remirror__messages/en/extension-italic-messages.json
  packages/remirror__messages/en/extension-list-messages.json
  packages/remirror__messages/en/extension-node-formatting-messages.json
  packages/remirror__messages/en/extension-paragraph-messages.json
  packages/remirror__messages/en/extension-strike-messages.json
  packages/remirror__messages/en/extension-sub-messages.json
  packages/remirror__messages/en/extension-sup-messages.json
  packages/remirror__messages/en/extension-tables-messages.json
  packages/remirror__messages/en/extension-text-case-messages.json
  packages/remirror__messages/en/extension-text-color-messages.json
  packages/remirror__messages/en/extension-text-highlight-messages.json
  packages/remirror__messages/en/extension-underline-messages.json
  packages/remirror__messages/en/extension-whitespace-messages.json
  packages/remirror__messages/en/react-component-messages.json
  packages/remirror__messages/package.json
  packages/remirror__messages/scripts/messages-to-json.ts
  packages/remirror__messages/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: none

fix: try to resolve isExternal error
  packages/remirror__core-utils/src/keyboard-utils.ts
  packages/remirror__extension-text-color/src/text-color-utils.ts
  packages/remirror__messages/src/index.ts
Labels: none

docs(storybook): add examples using different i18n libraries
  packages/storybook-react/package.json
  packages/storybook-react/stories/i18n/format-js-imperative.tsx
  packages/storybook-react/stories/i18n/format-js.stories.tsx
  packages/storybook-react/stories/i18n/format-js.tsx
  packages/storybook-react/stories/i18n/react-i18next.stories.tsx
  packages/storybook-react/stories/i18n/react-i18next.tsx
  packages/storybook-react/stories/i18n/remirror-i18n.stories.tsx
  packages/storybook-react/stories/i18n/remirror-i18n.tsx
  pnpm-lock.yaml
  website/extension-examples/i18n/format-js-imperative.tsx
  website/extension-examples/i18n/format-js.tsx
  website/extension-examples/i18n/react-i18next.tsx
  website/extension-examples/i18n/remirror-i18n.tsx
Labels: none

fix: remove @lingui/core from @remirror/messages
  packages/remirror__messages/package.json
  pnpm-lock.yaml
Labels: none

fix: remove @remirror/i18n from @remirror/react-core
  packages/remirror__react-core/__tests__/tsconfig.json
  packages/remirror__react-core/package.json
  packages/remirror__react-core/src/tsconfig.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:

test(react-core): ensure the i18nFormat function is provided by hook
  packages/remirror__react-core/__tests__/react-remirror.spec.tsx
Labels: test: unit :white_check_mark:

Update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

Add changeset
  .changeset/quick-ears-argue.md
Labels: type: changeset :butterfly:

fix: revert lingui extract to be done from the root folder
  lingui.config.js
  package.json
  packages/remirror__i18n/package.json
  pnpm-lock.yaml
  support/scripts/src/generate-intl.ts
Labels: type: support :books:

Also accept prettier 2.8.8 as peer dep
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
Labels: none

Revert "Also accept prettier 2.8.8 as peer dep"
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
Labels: none
