Repository remirror/remirror, pull requests merged in 2019-06, with the labels that each got.

#85 Integration testing
  contributing.md
  e2e/helpers.ts
  e2e/twitter.puppeteer.ts
  jest-puppeteer.config.js
  package.json
  support/jest/jest.puppeteer.setup.ts
  support/jest/jest.puppeteer.teardown.ts
  support/jest/patches.d.ts
  support/jest/puppeteer.ts
  support/pipelines/jobs.yml
Labels: PR: Internal 🏠

#89 Fix broken build from LFS
  .gitattributes
  @remirror/editor-markdown/src/theme.ts
  @remirror/editor-twitter/src/components/twitter.editor.tsx
  @remirror/editor-twitter/src/theme.ts
  @remirror/react-utils/src/types.ts
  @remirror/react/src/components/__tests__/remirror-manager-server.spec.tsx
  @remirror/react/src/components/providers.tsx
  @remirror/react/src/components/remirror.tsx
  azure-pipelines.yml
  changelog.md
  contributing.md
  docs/guides/advanced-guide.mdx
  e2e/__image_snapshots__/chromium-twitter-editor-dom-snap.png
  e2e/__image_snapshots__/chromium-twitter-editor-ssr-snap.png
  e2e/__image_snapshots__/chromium-wysiwyg-editor-dom-snap.png
  e2e/__image_snapshots__/chromium-wysiwyg-editor-ssr-snap.png
  e2e/__image_snapshots__/firefox-twitter-editor-dom-snap.png
  e2e/__image_snapshots__/firefox-twitter-editor-ssr-snap.png
  e2e/__image_snapshots__/firefox-wysiwyg-editor-dom-snap.png
  e2e/__image_snapshots__/firefox-wysiwyg-editor-ssr-snap.png
  e2e/helpers.ts
  e2e/twitter.puppeteer.ts
  e2e/wysiwyg.puppeteer.ts
  package.json
  readme.md
  support/.size-snapshot.json
  support/fixtures/test-urls.ts
  support/pipelines/jobs.yml
  support/pipelines/yarn-install.yml
  support/tsconfig.base.json
  yarn.lock
Labels: PR: Breaking Change 💥, PR: Internal 🏠, PR: Polish 💅

#91 feat: remirror-manager supports child fragments
  @remirror/react/src/components/__tests__/remirror-manager.spec.tsx
  @remirror/react/src/components/remirror-manager.tsx
Labels: @remirror/react-utils, PR: New Feature 🚀

#92 Enable turning off emotion via `withoutEmotion` prop
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  @remirror/core/package.json
  @remirror/core/src/portal-container.ts
  @remirror/editor-markdown/package.json
  @remirror/editor-markdown/src/editor.tsx
  @remirror/editor-markdown/src/types.ts
  @remirror/editor-twitter/package.json
  @remirror/editor-twitter/src/components/styled.tsx
  @remirror/editor-twitter/src/theme.ts
  @remirror/editor-wysiwyg/package.json
  @remirror/editor-wysiwyg/src/types.ts
  @remirror/react-components/package.json
  @remirror/react-utils/src/__tests__/helpers.spec.tsx
  @remirror/react-utils/src/helpers.ts
  @remirror/react-utils/src/types.ts
  @remirror/react/src/components/__tests__/__snapshots__/providers-server.spec.tsx.snap
  @remirror/react/src/components/__tests__/providers-server.spec.tsx
  @remirror/react/src/components/__tests__/remirror-manager-server.spec.tsx
  @remirror/react/src/components/__tests__/remirror-server.spec.tsx
  @remirror/react/src/components/__tests__/remirror.spec.tsx
  @remirror/react/src/components/providers.tsx
  @remirror/react/src/components/remirror.tsx
  @remirror/react/src/constants.ts
  @remirror/react/src/node-views/node-view.tsx
  @remirror/react/src/node-views/portal.tsx
  @remirror/showcase/package.json
  changelog.md
  docs/contributing.md
  docs/examples/extension-epic-mode.tsx
  docs/package.json
  package.json
  support/.size-snapshot.json
  support/fixtures/object-nodes.ts
  support/fixtures/schema-helpers.ts
  support/scripts/emotion-ssr.js
  support/scripts/postinstall.js
  yarn.lock
Labels: @remirror/editor-markdown, @remirror/editor-wysiwyg, @remirror/react, @remirror/react-utils, PR: Breaking Change 💥, PR: New Feature 🚀
