Repository remirror/remirror, pull requests merged in 2020-03, with the labels that each got.

#252 feat: add `focus()` method to `RemirrorContext`
  .changeset/bright-foxes-report.md
  @remirror/react/src/components/__tests__/remirror.spec.tsx
  @remirror/react/src/components/remirror.tsx
  @remirror/react/src/hooks/context-hooks.ts
  @remirror/react/src/react-types.ts
Labels: @remirror/react, PR: New Feature 🚀, enhancement

#254 feat: @remirror/extension-tables
  .changeset/wild-tigers-cry.md
  .size-limit.json
  @remirror/extension-tables/api-extractor.json
  @remirror/extension-tables/jest.config.js
  @remirror/extension-tables/package.json
  @remirror/extension-tables/readme.md
  @remirror/extension-tables/src/__tests__/table.spec.tsx
  @remirror/extension-tables/src/index.ts
  @remirror/extension-tables/src/table-extension.ts
  @remirror/extension-tables/src/table-types.ts
  @remirror/extension-tables/tsconfig.prod.json
  support/rollup/config.json
  support/storybook/modules.json
  support/tsconfig.paths.json
  tsconfig.prod.json
Labels: @remirror/extension-tables, PR: New Feature 🚀, PR: New Package

#256 test(ci): use `jest-circus` for e2e
  e2e/custom-environment.js
  e2e/jest-setup.ts
  e2e/jest.config.js
  e2e/src/helpers/images.ts
  package.json
  support/azure/azure-pipelines.yml
  support/patches/@types+jest-environment-puppeteer+4.3.1.patch
  yarn.lock
Labels: PR: Internal 🏠

#257 fix(nanoevents): integrate library into codebase
  @remirror/react-portals/package.json
  @remirror/react-portals/src/nanoevents.ts
  @remirror/react-portals/src/portal-container.ts
  support/patches/nanoevents+4.0.3.patch
  yarn.lock
Labels: PR: Bug Fix 🐛

#264 fix(extension-mention): parse extraAttrs when parsing DOM
  .changeset/big-pans-kneel.md
  @remirror/extension-mention/src/__tests__/mention.spec.ts
  @remirror/extension-mention/src/mention-extension.ts
Labels: @remirror/extension-mention, PR: Bug Fix 🐛

#270 chore(deps): upgrade dev dependencies
  @remirror/core-types/package.json
  @remirror/core-types/src/base-types.ts
  @remirror/core/src/extension-types.ts
  @remirror/editor-social/package.json
  @remirror/extension-tables/CHANGELOG.md
  @remirror/react-portals/package.json
  @remirror/react/src/components/__tests__/remirror-get-root-props.spec.tsx
  docs/generated/gatsby.ts
  docs/package.json
  docs/src/components/head.tsx
  docs/src/gatsby/node.ts
  docs/src/layouts/index.tsx
  docs/src/typings/index.ts
  examples/with-razzle/CHANGELOG.md
  package.json
  yarn.lock
Labels: PR: Internal 🏠
