Repository remirror/remirror, pull requests merged in 2020-11, with the labels that each got.

#766 Allow links to be clickable
  .changeset/honest-birds-do.md
  packages/@remirror/extension-link/src/__tests__/link-extension.spec.ts
  packages/@remirror/extension-link/src/link-extension.ts
  support/storybook/stories/link-extension.stories.tsx
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: support :books:

#767 Add support for Callouts
  .changeset/config.json
  .changeset/strange-lizards-sing.md
  packages/@remirror/extension-callout/package.json
  packages/@remirror/extension-callout/readme.md
  packages/@remirror/extension-callout/src/__tests__/callout-extension.spec.ts
  packages/@remirror/extension-callout/src/callout-extension.ts
  packages/@remirror/extension-callout/src/callout-types.ts
  packages/@remirror/extension-callout/src/callout-utils.ts
  packages/@remirror/extension-callout/src/index.ts
  packages/@remirror/extension-callout/src/styles.ts
  packages/@remirror/styles/all.css
  packages/@remirror/styles/extension-callout.css
  packages/@remirror/styles/src/dom.tsx
  packages/@remirror/styles/src/emotion.tsx
  packages/@remirror/styles/src/styled-components.tsx
  packages/remirror/extension/callout/package.json
  packages/remirror/package.json
  packages/remirror/src/extension/callout.ts
  pnpm-lock.yaml
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: ui :nail_care:

#770 Prevent merging callouts, when deleting content in between callout nodes
  .changeset/warm-pugs-unite.md
  packages/@remirror/extension-callout/src/__tests__/callout-extension.spec.ts
  packages/@remirror/extension-callout/src/callout-extension.ts
  packages/@remirror/playground/src/_remirror.tsx
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:

#775 Prevent raw extra attributes being rendered to the DOM
  .changeset/honest-needles-look.md
  docs/concepts/extra-attributes.md
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/core-utils/src/index.ts
  packages/@remirror/core/src/builtins/schema-extension.ts
  packages/@remirror/extension-auto-link/src/auto-link-extension.ts
  packages/@remirror/extension-callout/src/callout-extension.ts
  packages/@remirror/extension-image/src/image-extension.ts
  packages/@remirror/extension-link/src/link-extension.ts
  packages/@remirror/extension-mention-atom/src/mention-atom-extension.ts
  packages/@remirror/preset-embed/src/iframe-extension.ts
Labels: type: changeset :butterfly:

#781 Fix `updateMark` to return `false` when not applicable
  .changeset/real-dancers-search.md
  packages/@remirror/core-utils/src/__tests__/command-utils.spec.ts
  packages/@remirror/core-utils/src/command-utils.ts
  packages/@remirror/extension-link/src/__tests__/link-extension.spec.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:

#780 Add new `@remirror/extension-codemirror` package
  .changeset/real-carrots-guess.md
  packages/@remirror/extension-codemirror/CHANGELOG.md
  packages/@remirror/extension-codemirror/package.json
  packages/@remirror/extension-codemirror/readme.md
  packages/@remirror/extension-codemirror/src/__tests__/__snapshots__/codemirror-extension.spec.ts.snap
  packages/@remirror/extension-codemirror/src/__tests__/codemirror-extension.spec.ts
  packages/@remirror/extension-codemirror/src/codemirror-extension.ts
  packages/@remirror/extension-codemirror/src/codemirror-node-view.ts
  packages/@remirror/extension-codemirror/src/codemirror-plugin.ts
  packages/@remirror/extension-codemirror/src/codemirror-types.ts
  packages/@remirror/extension-codemirror/src/codemirror-utils.ts
  packages/@remirror/extension-codemirror/src/index.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:, type: new package :package:

#786 Fix `YjsExtension` redo keybinding
  .changeset/long-phones-enjoy.md
  .changeset/tall-countries-wait.md
  .github/workflows/ci.yml
  package.json
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/core/src/index.ts
  packages/@remirror/dev/readme.md
  packages/@remirror/extension-annotation/src/annotation-extension.ts
  packages/@remirror/extension-annotation/src/annotation-plugin.ts
  packages/@remirror/extension-callout/src/callout-types.ts
  packages/@remirror/extension-codemirror/src/codemirror-node-view.ts
  packages/@remirror/extension-history/src/history-extension.ts
  packages/@remirror/extension-link/src/__tests__/link-extension.spec.ts
  packages/@remirror/extension-yjs/src/__tests__/__snapshots__/yjs-extension.spec.ts.snap
  packages/@remirror/extension-yjs/src/__tests__/yjs-extension.spec.ts
  packages/@remirror/extension-yjs/src/index.ts
  packages/@remirror/extension-yjs/src/yjs-extension.ts
  packages/@remirror/react/src/hooks/__tests__/editor-hooks.spec.tsx
  packages/@remirror/react/src/react-providers.tsx
  packages/jest-prosemirror/src/jest-prosemirror-schema.ts
  support/root/jest.config.js
Labels: framework: react :atom_symbol:, package: jest-prosemirror :performing_arts:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:, type: support :books:

#788 Make `draggability` configurable for atom mentions
  .changeset/tidy-files-guess.md
  packages/@remirror/extension-mention-atom/src/mention-atom-extension.ts
Labels: type: changeset :butterfly:, type: feature :sparkles:

#789 Fix `removeMark` when `dispatch=undefined`
  .changeset/hot-olives-obey.md
  packages/@remirror/core-utils/src/__tests__/command-utils.spec.ts
  packages/@remirror/core-utils/src/command-utils.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#790 ci: upgrade pnpm and improve installation settings
  .github/actions/pnpm/action.yml
  .github/workflows/pr-name-linter.yml
  .gitignore
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpmfile.js
  support/azure/pipeline-install.yml
  support/root/commitlint.config.js
Labels: type: automation :mechanical_arm:, type: support :books:

#801 fix: input rules combined with codeblock
  .changeset/happy-olives-care.md
  .changeset/silly-hairs-live.md
  .changeset/sour-oranges-agree.md
  packages/@remirror/core-utils/src/command-utils.ts
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/core/src/builtins/commands-extension.ts
  packages/@remirror/extension-code-block/src/__tests__/code-block-extension.spec.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:, type: fix :wrench:

#807 fix(theme): remove `open-color` from dependencies
  .changeset/wise-cheetahs-watch.md
  packages/@remirror/theme/package.json
  packages/@remirror/theme/src/theme.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, type: fix :wrench:, type: ui :nail_care:

#811 fix(extension-positioner): display positioners immediately
  .changeset/thick-mails-jump.md
  packages/@remirror/extension-positioner/src/__tests__/positioner-extension.spec.ts
  packages/@remirror/extension-positioner/src/positioner-extension.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:

#812 fix(extension-link): improve rendered html
  .changeset/hip-hairs-mix.md
  packages/@remirror/extension-link/src/__tests__/link-extension.spec.ts
  packages/@remirror/extension-link/src/link-extension.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:

#815 fix(core): allow `currentState` before first update
  .changeset/brave-nails-switch.md
  packages/@remirror/core/src/manager/remirror-manager.ts
  packages/@remirror/extension-events/src/__tests__/events-extension.spec.ts
Labels: package: remirror :purple_circle:, priority: high :arrow_up_small:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:
