Repository remirror/remirror, pull requests merged in 2020-07, with the labels that each got.

#351 Remove formatting attributes from `@remirror/extension-paragraph`
  .changeset/new-rocks-scream.md
  packages/@remirror/core-utils/src/__tests__/__snapshots__/prosemirror-utils.spec.ts.snap
  packages/@remirror/extension-mention/src/__tests__/__snapshots__/mention.spec.ts.snap
  packages/@remirror/extension-paragraph/src/node-utils.ts
  packages/@remirror/extension-paragraph/src/paragraph-extension.ts
Labels: @remirror/extension-paragraph, PR: New Feature 🚀

#347 fix(jest-*): environment setup
  .changeset/poor-owls-fetch.md
  packages/jest-prosemirror/environment/package.json
  packages/jest-prosemirror/serializer/package.json
  packages/jest-prosemirror/src/environment.ts
  packages/jest-prosemirror/src/serializer.ts
  packages/jest-remirror/environment/package.json
  packages/jest-remirror/src/environment.ts
Labels: PR: Bug Fix 🐛

#368 fix(react-social): trapped cursor in mentions
  .changeset/warm-sloths-admire.md
  docs/showcase/social.mdx
  packages/@remirror/core-utils/src/command-utils.ts
  packages/@remirror/extension-auto-link/src/auto-link-extension.ts
  packages/@remirror/extension-mention/src/mention-extension.ts
  packages/@remirror/preset-social/src/social-preset.ts
  packages/@remirror/react-social/src/hooks/__tests__/use-social-mention.spec.tsx
  packages/prosemirror-suggest/src/suggest-predicates.ts
  pnpm-lock.yaml
  support/e2e/src/__snapshots__/social.e2e.test.ts.snap
  support/e2e/src/social.e2e.test.ts
  support/website/package.json
Labels: @remirror/extension-mention, PR: Bug Fix 🐛, PR: New Feature 🚀

#391 Remove console.log statement
  .changeset/strange-pens-clean.md
  packages/@remirror/extension-epic-mode/src/epic-mode-extension.ts
Labels: PR: Polish 💅

#404 feat(react-social): immediate emoji suggestions
  .changeset/chilled-mails-build.md
  packages/@remirror/react-social/src/components/social-editor-emoji.tsx
  packages/@remirror/react-social/src/components/social-editor.tsx
Labels: PR: Bug Fix 🐛

#410 fix(preset-social): reduce `AutoLinkExtension` priority
  .changeset/nasty-pears-lie.md
  packages/@remirror/preset-social/src/__tests__/social-preset.spec.ts
  packages/@remirror/preset-social/src/social-preset.ts
Labels: PR: Bug Fix 🐛

#413 feat(react-social): hide social popups on blur
  .changeset/famous-ways-visit.md
  packages/@remirror/react-social/package.json
  packages/@remirror/react-social/src/components/social-editor-emoji.tsx
  packages/@remirror/react-social/src/components/social-editor-mentions.tsx
  packages/@remirror/react-social/src/hooks/__tests__/use-social-emoji.spec.tsx
  packages/@remirror/react-social/src/hooks/__tests__/use-social-mention.spec.tsx
  packages/@remirror/react-social/src/hooks/index.ts
  packages/@remirror/react-social/src/hooks/use-editor-events.ts
  packages/@remirror/react-social/src/hooks/use-social-emoji.tsx
  packages/@remirror/react-social/src/hooks/use-social-mention.ts
  pnpm-lock.yaml
Labels: PR: New Feature 🚀

#414 fix(extension-emoji): prevent mid word emoji popup
  .changeset/clever-ears-hang.md
  packages/@remirror/extension-emoji/src/__tests__/emoji-extension.spec.ts
  packages/@remirror/extension-emoji/src/emoji-extension.ts
Labels: @remirror/extension-emoji, PR: Bug Fix 🐛

#420 feat(core): add new helper methods
  .changeset/big-apples-unite.md
  packages/@remirror/core-utils/src/__tests__/core-utils.spec.ts
  packages/@remirror/core-utils/src/core-utils.ts
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
Labels: PR: Breaking Change 💥

#428 feat(prosemirror-suggest): add and remove suggester
  .changeset/hot-schools-appear.md
  packages/prosemirror-suggest/src/__tests__/suggest-plugin.spec.ts
  packages/prosemirror-suggest/src/suggest-plugin.ts
  packages/prosemirror-suggest/src/suggest-state.ts
Labels: PR: New Feature 🚀

#429 feat(extension-placeholder): support `emptyNodeClass` updates
  .changeset/violet-eagles-carry.md
  packages/@remirror/extension-placeholder/src/__tests__/placeholder-extension.spec.ts
  packages/@remirror/extension-placeholder/src/placeholder-extension.ts
  packages/@remirror/preset-react/src/react-preset.ts
Labels: PR: New Feature 🚀
