Repository remirror/remirror, pull requests merged in 2020-10, with the labels that each got.

#739 Add `blockSeparator` option for multi-block annotations
  .changeset/swift-ears-draw.md
  packages/@remirror/extension-annotation/src/__tests__/annotation-extension.spec.ts
  packages/@remirror/extension-annotation/src/annotation-extension.ts
  packages/@remirror/extension-annotation/src/types.ts
Labels: package: remirror :purple_circle:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:

#745 Add better support for `autoFocus: true` on iOS support
  .changeset/empty-hats-teach.md
  .changeset/selfish-drinks-design.md
  packages/@remirror/core-utils/src/environment.ts
  packages/@remirror/core/src/framework/framework.ts
Labels: package: remirror :purple_circle:, type: changeset :butterfly:, type: fix :wrench:

#749 Add `virtualNode` property to positioner hooks
  .changeset/wicked-lobsters-leave.md
  package.json
  packages/@remirror/cli/package.json
  packages/@remirror/core-utils/package.json
  packages/@remirror/pm/package.json
  packages/@remirror/react-hooks/package.json
  packages/@remirror/react-hooks/src/use-multi-positioner.ts
  packages/jest-remirror/package.json
  packages/prosemirror-suggest/package.json
  pnpm-lock.yaml
  support/package.json
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:, type: fix :wrench:, type: support :books:

#750 Force version bump in `prerelease`
  .github/workflows/ci.yml
  package.json
  support/scripts/changeset-forced-update.js
  support/scripts/helpers/index.js
  support/scripts/linaria.js
  support/scripts/patch-changesets.js
  support/scripts/run-if-publishable.js
Labels: type: automation :mechanical_arm:, type: support :books:

#754 Add an `onUpdateLink` event handler to the `LinkExtension`
  .changeset/lemon-berries-pretend.md
  packages/@remirror/extension-link/src/__tests__/link-extension.spec.ts
  packages/@remirror/extension-link/src/link-extension.ts
  packages/@remirror/preset-wysiwyg/src/wysiwyg-preset.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:

#758 Prevent extra space when reselecting mentions
  .changeset/rotten-maps-clean.md
  .changeset/soft-boxes-mate.md
  .changeset/tasty-drinks-camp.md
  packages/@remirror/core-utils/src/prosemirror-utils.ts
  packages/@remirror/extension-mention/src/mention-extension.ts
  packages/@remirror/extension-positioner/src/positioners.ts
  packages/@remirror/react-hooks/src/__tests__/use-mention.spec.tsx
  packages/@remirror/react-hooks/src/use-mention.ts
  packages/@remirror/react-social/src/social-utils.ts
  packages/prosemirror-suggest/src/__tests__/suggest-plugin.spec.ts
  packages/prosemirror-suggest/src/suggest-types.ts
  packages/prosemirror-suggest/src/suggest-utils.ts
  support/root/.eslintrc.js
  support/website/package.json
Labels: framework: react :atom_symbol:, package: prosemirror-suggest :bulb:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:, type: fix :wrench:, type: support :books:

#761 Avoid `LinkExtension` `pasteRules` when `autoLink` enabled
  .changeset/green-frogs-know.md
  packages/@remirror/extension-link/src/__tests__/link-extension.spec.ts
  packages/@remirror/extension-link/src/link-extension.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:
