Repository remirror/remirror, pull requests merged in 2020-09, with the labels that each got.

#618 Update changeset config to point to `next`
  .changeset/config.json
Labels: type: changeset :butterfly:, type: ci :evergreen_tree:

#629 Fix issues in documentation
  docs/concepts/react-controlled-editor.md
  docs/guide/create-editor.md
Labels: type: docs :pencil:

#630 Prevent generating decorations without a class
  .changeset/three-snakes-design.md
  packages/@remirror/extension-code-block/src/__tests__/__snapshots__/code-block-extension.spec.ts.snap
  packages/@remirror/extension-code-block/src/__tests__/code-block-extension.spec.ts
  packages/@remirror/extension-code-block/src/code-block-extension.ts
  packages/@remirror/extension-code-block/src/code-block-plugin.ts
  packages/@remirror/extension-code-block/src/code-block-types.ts
  packages/@remirror/extension-code-block/src/code-block-utils.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: feature :sparkles:

#616 Add the persistent-selection extension
  .changeset/unlucky-pets-melt.md
  packages/@remirror/core/src/builtins/__tests__/__snapshots__/persistent-selection-extension.spec.ts.snap
  packages/@remirror/core/src/builtins/__tests__/persistent-selection-extension.spec.ts
  packages/@remirror/core/src/builtins/builtin-preset.ts
  packages/@remirror/core/src/builtins/index.ts
  packages/@remirror/core/src/builtins/persistent-selection-extension.ts
  packages/@remirror/extension-annotation/src/__tests__/annotation-extension.spec.ts
  packages/@remirror/extension-bold/src/__tests__/bold-extension.spec.ts
  packages/@remirror/extension-code/src/__tests__/code-extension.spec.ts
  packages/@remirror/extension-strike/src/__tests__/strike-extension.spec.ts
  packages/jest-remirror/src/__tests__/jest-remirror-editor.spec.ts
  support/e2e/src/__snapshots__/positioner.e2e.test.ts.snap
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: feature :sparkles:

#633 Make `focus` context method chainable
  .changeset/eight-snails-hope.md
  .changeset/new-apricots-travel.md
  .changeset/silver-lizards-know.md
  packages/@remirror/core-helpers/src/core-helpers.ts
  packages/@remirror/core/src/editor-wrapper.ts
  packages/@remirror/core/src/manager/remirror-manager.ts
  packages/@remirror/react/src/components/__tests__/react-editor.spec.tsx
  packages/@remirror/testing/package.json
  packages/@remirror/testing/src/index.ts
  pnpm-lock.yaml
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:, type: sponsored :sparkling_heart:

#634 Make `mentionAtom` selectable
  .changeset/big-buses-pay.md
  packages/@remirror/extension-mention-atom/src/mention-atom-extension.ts
Labels: type: changeset :butterfly:, type: feature :sparkles:, type: sponsored :sparkling_heart:

#635 Add `onError` method to `Remirror.ManagerSettings`
  .changeset/little-walls-drive.md
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/core-utils/src/index.ts
  packages/@remirror/core/src/editor-wrapper.ts
  packages/@remirror/core/src/manager/remirror-manager.ts
Labels: type: changeset :butterfly:, type: feature :sparkles:, type: sponsored :sparkling_heart:

#641 Fix `commands.insertHorizontalRule` positioning
  .changeset/good-bulldogs-call.md
  .changeset/happy-news-repeat.md
  package.json
  packages/@remirror/core-utils/src/__tests__/core-utils.spec.ts
  packages/@remirror/core-utils/src/command-utils.ts
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/core-utils/src/index.ts
  packages/@remirror/extension-horizontal-rule/src/__tests__/horizontal-rule-extension.spec.ts
  packages/@remirror/extension-horizontal-rule/src/horizontal-rule-extension.ts
  packages/@remirror/extension-positioner/src/positioner-utils.ts
Labels: package: remirror :purple_circle:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#642 Fix `useEmoji` with `autoUpdate` (#642
  .changeset/cyan-beds-whisper.md
  .changeset/kind-mugs-mate.md
  packages/@remirror/react-hooks/src/__tests__/use-emoji.spec.tsx
  packages/@remirror/react-hooks/src/use-events.ts
  packages/@remirror/react-hooks/src/use-history.ts
  packages/@remirror/react-hooks/src/use-keymap.ts
  packages/@remirror/react-hooks/src/use-suggest.ts
  packages/@remirror/react/src/hooks/__tests__/core-hooks.spec.tsx
  packages/@remirror/react/src/hooks/__tests__/editor-hooks.spec.tsx
  packages/@remirror/react/src/hooks/core-hooks.ts
  packages/@remirror/react/src/hooks/editor-hooks.ts
Labels: framework: react :atom_symbol:, package: remirror :purple_circle:, priority: high :arrow_up_small:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#644 Add note about including remirror styles
  docs/guide/installation.md
  packages/@remirror/styles/src/utils.ts
Labels: type: docs :pencil:

#645 Add prioritization to `useKeymap` hook
  .changeset/forty-donuts-knock.md
  .changeset/tall-singers-admire.md
  .changeset/wise-cougars-behave.md
  docs/contributing.md
  packages/@remirror/core/src/builtins/keymap-extension.ts
  packages/@remirror/core/src/manager/remirror-manager-helpers.ts
  packages/@remirror/core/src/styles.ts
  packages/@remirror/react-hooks/src/__tests__/use-keymap.spec.tsx
  packages/@remirror/react-hooks/src/use-emoji.ts
  packages/@remirror/react-hooks/src/use-keymap.ts
  packages/@remirror/react-hooks/src/use-mention-atom.ts
  packages/@remirror/react-hooks/src/use-mention.ts
  packages/@remirror/react/src/hooks/editor-hooks.ts
  packages/@remirror/styles/all.css
  packages/@remirror/styles/core.css
  packages/@remirror/styles/src/dom.tsx
  packages/@remirror/styles/src/emotion.tsx
  packages/@remirror/styles/src/styled-components.tsx
Labels: framework: react :atom_symbol:, package: remirror :purple_circle:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:, type: deprecation :wastebasket:, type: feature :sparkles:, type: ui :nail_care:

#646 Add minimum supported TypeScript version
  .changeset/forty-donuts-knock.md
  .changeset/odd-ants-wait.md
  packages/@remirror/core/src/index.ts
  packages/@remirror/extension-annotation/readme.md
  support/base.babel.js
Labels: type: changeset :butterfly:, type: support :books:

#655 New `AcceptUndefined` annotation for `Options`
  .changeset/moody-ants-drive.md
  docs/concepts/extension.md
  packages/@remirror/core-types/src/annotation-types.ts
  packages/@remirror/core-types/src/base-types.ts
  packages/@remirror/core-types/src/index.ts
  packages/@remirror/core/src/builtins/persistent-selection-extension.ts
  packages/@remirror/core/src/decorators.ts
  packages/@remirror/core/src/extension/base-class.ts
  packages/@remirror/extension-history/src/history-extension.ts
Labels: type: changeset :butterfly:, type: docs :pencil:, type: feature :sparkles:, type: fix :wrench:

#657 Support adding extra attributes by `tags`
  .changeset/thick-pianos-wink.md
  docs/concepts/error-handling.md
  docs/concepts/extra-attributes.md
  packages/@remirror/core/src/builtins/__tests__/schema-extension.spec.ts
  packages/@remirror/core/src/builtins/commands-extension.ts
  packages/@remirror/core/src/builtins/schema-extension.ts
  packages/@remirror/core/src/manager/remirror-manager-helpers.ts
  packages/@remirror/extension-paragraph/src/paragraph-extension.ts
  packages/@remirror/i18n/src/__tests__/plurals.spec.ts
  support/website/sidebars.js
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:, type: support :books:

#658 Support exiting mentions with text selected
  .changeset/early-points-grab.md
  .changeset/fresh-singers-march.md
  .changeset/smooth-readers-collect.md
  .changeset/weak-dodos-fry.md
  packages/@remirror/core-types/src/core-types.ts
  packages/@remirror/core-types/src/index.ts
  packages/@remirror/core-utils/src/__tests__/command-utils.spec.ts
  packages/@remirror/core-utils/src/command-utils.ts
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/react-hooks/src/use-suggest.ts
  packages/@remirror/react/src/components/__tests__/react-editor.spec.tsx
  packages/@remirror/react/src/hooks/core-hooks.ts
  packages/@remirror/react/src/index.ts
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  support/e2e/src/social.e2e.test.ts
Labels: framework: react :atom_symbol:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: remirror :purple_circle:, test: e2e :heavy_check_mark:, test: unit :white_check_mark:, type: breaking :bomb:, type: changeset :butterfly:, type: feature :sparkles:, type: fix :wrench:

#662 Fix editable mentions when deleting forward
  .changeset/afraid-pots-know.md
  .changeset/clean-hounds-care.md
  .changeset/dry-spies-fix.md
  .changeset/early-boxes-beam.md
  .changeset/good-bottles-dream.md
  .changeset/large-files-run.md
  .changeset/lazy-foxes-flash.md
  .changeset/metal-insects-burn.md
  .changeset/modern-ravens-help.md
  .changeset/neat-hairs-jump.md
  .changeset/ninety-terms-wait.md
  .changeset/orange-crews-mate.md
  .changeset/shiny-dots-relax.md
  packages/@remirror/core-constants/src/core-constants.ts
  packages/@remirror/core-helpers/src/__tests__/errors.spec.ts
  packages/@remirror/core-types/src/annotation-types.ts
  packages/@remirror/core-types/src/base-types.ts
  packages/@remirror/core-utils/src/__tests__/core-utils.spec.ts
  packages/@remirror/core-utils/src/command-utils.ts
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/core-utils/src/index.ts
  packages/@remirror/core-utils/src/prosemirror-rules.ts
  packages/@remirror/core/src/builtins/builtin-preset.ts
  packages/@remirror/core/src/builtins/commands-extension.ts
  packages/@remirror/core/src/builtins/helpers-extension.ts
  packages/@remirror/core/src/builtins/input-rules-extension.ts
  packages/@remirror/core/src/builtins/suggest-extension.ts
  packages/@remirror/core/src/builtins/tags-extension.ts
  packages/@remirror/core/src/extension/__tests__/plain-extension.spec.ts
  packages/@remirror/core/src/extension/base-class.ts
  packages/@remirror/core/src/extension/extension-base.ts
  packages/@remirror/core/src/manager/__tests__/remirror-manager.spec.tsx
  packages/@remirror/core/src/manager/remirror-manager.ts
  packages/@remirror/extension-bold/src/bold-extension.ts
  packages/@remirror/extension-italic/src/italic-extension.ts
  packages/@remirror/extension-mention/src/__tests__/__snapshots__/mention-extension.spec.ts.snap
  packages/@remirror/extension-mention/src/__tests__/mention-extension.spec.ts
  packages/@remirror/extension-mention/src/mention-extension.ts
  packages/@remirror/testing/src/index.ts
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/prosemirror-suggest/src/__tests__/suggest-plugin.spec.ts
  packages/prosemirror-suggest/src/index.ts
  packages/prosemirror-suggest/src/suggest-plugin.ts
  packages/prosemirror-suggest/src/suggest-predicates.ts
  packages/prosemirror-suggest/src/suggest-state.ts
  packages/prosemirror-suggest/src/suggest-types.ts
  packages/prosemirror-suggest/src/suggest-utils.ts
  support/e2e/src/social.e2e.test.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: deprecation :wastebasket:, type: feature :sparkles:, type: fix :wrench:

#665 Refactor `RemirrorManager` and rename `EditorWrapper`
  .changeset/honest-yaks-impress.md
  docs/guide/hello-remirror.md
  packages/@remirror/core-utils/src/__tests__/core-utils.spec.ts
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/core/src/framework/base-framework.ts
  packages/@remirror/core/src/framework/framework.ts
  packages/@remirror/core/src/framework/index.ts
  packages/@remirror/core/src/index.ts
  packages/@remirror/core/src/manager/remirror-manager.ts
  packages/@remirror/dom/src/dom-framework.ts
  packages/@remirror/dom/src/dom.ts
  packages/@remirror/dom/src/index.ts
  packages/@remirror/extension-react-component/src/portals/react-portals.tsx
  packages/@remirror/playground/src/make-code.tsx
  packages/@remirror/preset-core/src/core-preset.ts
  packages/@remirror/react-social/src/components/social-editor.tsx
  packages/@remirror/react-social/src/index.ts
  packages/@remirror/react-wysiwyg/src/components/wysiwyg-editor.tsx
  packages/@remirror/react/src/components/react-editor.tsx
  packages/@remirror/react/src/hooks/editor-hooks.ts
  packages/@remirror/react/src/react-framework.tsx
  packages/@remirror/react/src/react-types.ts
  packages/@remirror/styles/all.css
  packages/@remirror/styles/react-social.css
  packages/@remirror/styles/react-wysiwyg.css
  packages/@remirror/styles/src/dom.tsx
  packages/@remirror/styles/src/emotion.tsx
  packages/@remirror/styles/src/styled-components.tsx
  packages/jest-remirror/src/jest-remirror-types.ts
  support/examples/with-next/src/pages/editor/positioner.tsx
  support/root/.eslintrc.js
  support/website/src/theme/ReactLiveScope/index.tsx
Labels: type: breaking :bomb:, type: feature :sparkles:, type: refactor :recycle:

#668 Support exiting inline marks in block nodes
  .changeset/chilled-rats-join.md
  .changeset/great-pans-do.md
  .changeset/honest-kids-search.md
  .changeset/neat-worms-applaud.md
  packages/@remirror/core-constants/src/core-constants.ts
  packages/@remirror/core/src/builtins/__tests__/keymap-extension.spec.ts
  packages/@remirror/core/src/builtins/builtin-preset.ts
  packages/@remirror/core/src/builtins/input-rules-extension.ts
  packages/@remirror/core/src/builtins/keymap-extension.ts
  packages/@remirror/core/src/builtins/tags-extension.ts
  packages/@remirror/core/src/extension/extension-base.ts
  packages/@remirror/dom/src/dom.ts
  packages/@remirror/extension-code/src/code-extension.ts
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
  packages/jest-remirror/src/__tests__/jest-remirror-editor.spec.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
Labels: framework: dom :globe_with_meridians:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:, type: fix :wrench:

#672 Remove duplication in build output
  .changeset/selfish-needles-drum.md
  support/base.babel.js
Labels: type: changeset :butterfly:, type: fix :wrench:, type: support :books:

#678 Fix `onStateUpdate` method for `TablePreset`
  .changeset/honest-beans-poke.md
  .changeset/nice-dolphins-teach.md
  packages/@remirror/dom/src/dom-framework.ts
  packages/@remirror/preset-table/src/__tests__/table-preset.spec.ts
  packages/@remirror/preset-table/src/table-extensions.ts
Labels: framework: dom :globe_with_meridians:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#691 Use ranges version for ProseMirror dependencies
  .changeset/small-rivers-rest.md
  packages/@remirror/pm/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

#698 Fix bad setState() warning in `@remirror/react`
  .changeset/brave-ducks-turn.md
  .changeset/four-wasps-happen.md
  .changeset/red-snakes-sing.md
  .github/workflows/ci.yml
  package.json
  packages/@remirror/core/src/framework/framework.ts
  packages/@remirror/react/package.json
  packages/@remirror/react/src/__tests__/__snapshots__/controlled.spec.tsx.snap
  packages/@remirror/react/src/__tests__/__snapshots__/provider.spec.tsx.snap
  packages/@remirror/react/src/__tests__/controlled.spec.tsx
  packages/@remirror/react/src/__tests__/core.spec.tsx
  packages/@remirror/react/src/__tests__/get-root-props.spec.tsx
  packages/@remirror/react/src/__tests__/provider.spec.tsx
  packages/@remirror/react/src/__tests__/server.spec.tsx
  packages/@remirror/react/src/__tests__/theme-provider.spec.tsx
  packages/@remirror/react/src/components/__tests__/__snapshots__/react-editor.spec.tsx.snap
  packages/@remirror/react/src/components/__tests__/providers-server.spec.tsx
  packages/@remirror/react/src/components/__tests__/react-editor-server.spec.tsx
  packages/@remirror/react/src/components/index.ts
  packages/@remirror/react/src/hooks/__tests__/editor-hooks.spec.tsx
  packages/@remirror/react/src/hooks/index.ts
  packages/@remirror/react/src/hooks/use-react-editor.tsx
  packages/@remirror/react/src/index.ts
  packages/@remirror/react/src/react-framework.tsx
  packages/@remirror/react/src/react-providers.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#702 Style overlapping annotations
  .changeset/lemon-ducks-breathe.md
  packages/@remirror/extension-annotation/src/__tests__/annotation-extension.spec.ts
  packages/@remirror/extension-annotation/src/__tests__/segments.spec.ts
  packages/@remirror/extension-annotation/src/actions.ts
  packages/@remirror/extension-annotation/src/annotation-extension.ts
  packages/@remirror/extension-annotation/src/annotation-plugin.ts
  packages/@remirror/extension-annotation/src/segments.ts
  packages/@remirror/extension-annotation/src/types.ts
  packages/@remirror/extension-annotation/src/utils.ts
  support/storybook/stories/annotation.stories.tsx
Labels: package: remirror :purple_circle:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:, type: support :books:

#703 Remove obsolete file
  packages/@remirror/extension-annotation/src/utils.ts
Labels: package: remirror :purple_circle:, status: sponsored :sparkling_heart:, type: refactor :recycle:

#705 Support custom annotations for custom styling
  .changeset/rare-chefs-eat.md
  packages/@remirror/extension-annotation/src/__tests__/annotation-extension.spec.ts
  packages/@remirror/extension-annotation/src/annotation-extension.ts
Labels: package: remirror :purple_circle:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:

#718 Remove annotations when their content is deleted
  .changeset/cyan-lizards-reflect.md
  packages/@remirror/extension-annotation/src/__tests__/annotation-extension.spec.ts
  packages/@remirror/extension-annotation/src/annotation-plugin.ts
Labels: package: remirror :purple_circle:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:

#717 Fix type inference
  .changeset/blue-garlics-tap.md
  .changeset/poor-years-grin.md
  .changeset/tricky-boats-listen.md
  docs/guide/installation.md
  packages/@remirror/core/src/builtins/__tests__/commands-extension.spec.ts
  packages/@remirror/extension-code-block/src/code-block-extension.ts
  packages/@remirror/extension-collaboration/src/collaboration-extension.ts
  packages/@remirror/extension-diff/src/diff-extension.ts
  packages/@remirror/extension-emoji/src/emoji-extension.ts
  packages/@remirror/extension-heading/src/heading-extension.ts
  packages/@remirror/extension-mention-atom/src/mention-atom-extension.ts
  packages/@remirror/extension-mention/src/mention-extension.ts
  packages/@remirror/extension-search/src/search-extension.ts
  packages/@remirror/extension-strike/src/strike-extension.ts
  packages/@remirror/preset-embed/src/iframe-extension.ts
  packages/@remirror/preset-list/src/bullet-list-extension.ts
  packages/@remirror/preset-list/src/ordered-list-extension.ts
  packages/@remirror/styles/src/dom.tsx
  packages/@remirror/styles/src/emotion.tsx
  packages/@remirror/styles/src/styled-components.tsx
  packages/multishift/src/multishift-hooks.ts
  packages/multishift/src/multishift-utils.ts
  support/root/jest.config.js
  support/scripts/linaria.js
Labels: package: multishift :arrow_down_small:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:, type: support :books:, type: ui :nail_care:

#720 Gracefully handle annotations with positions outside the content
  .changeset/little-crabs-beam.md
  packages/@remirror/extension-annotation/src/__tests__/annotation-extension.spec.ts
  packages/@remirror/extension-annotation/src/annotation-extension.ts
Labels: package: remirror :purple_circle:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:

#722 Small refactor to the segments file
  packages/@remirror/extension-annotation/src/segments.ts
Labels: type: refactor :recycle:

#723 Fix bottom value for multi-line annotations in positioner
  .changeset/itchy-colts-tap.md
  packages/@remirror/extension-annotation/src/positioners.ts
  support/storybook/stories/annotation.stories.tsx
Labels: status: sponsored :sparkling_heart:, type: changeset :butterfly:, type: support :books:

#725 Fix: Don't extend annotation when typing at end of annotation
  .changeset/orange-stingrays-occur.md
  packages/@remirror/extension-annotation/src/__tests__/annotation-extension.spec.ts
  packages/@remirror/extension-annotation/src/annotation-plugin.ts
Labels: package: remirror :purple_circle:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:

#728 Extract text from mark range
  .changeset/stupid-glasses-end.md
  packages/@remirror/core-utils/src/__tests__/core-utils.spec.ts
  packages/@remirror/core-utils/src/core-utils.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:

#729 Make `insertImage` command chainable
  .changeset/dull-chicken-decide.md
  .changeset/hungry-suits-agree.md
  .changeset/khaki-cups-pretend.md
  packages/@remirror/extension-annotation/src/__tests__/annotation-extension.spec.ts
  packages/@remirror/extension-annotation/src/annotation-extension.ts
  packages/@remirror/extension-code-block/src/code-block-utils.ts
  packages/@remirror/extension-image/src/__tests__/image-extension.spec.ts
  packages/@remirror/extension-image/src/image-extension.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#730 Support forcefully redrawing annotations
  .changeset/forty-numbers-jam.md
  packages/@remirror/extension-annotation/src/__tests__/annotation-extension.spec.ts
  packages/@remirror/extension-annotation/src/actions.ts
  packages/@remirror/extension-annotation/src/annotation-extension.ts
  packages/@remirror/extension-annotation/src/annotation-plugin.ts
Labels: package: remirror :purple_circle:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:

#731 Fix `jsdom` polyfilling
  .changeset/breezy-dodos-stare.md
  .changeset/swift-crabs-kneel.md
  package.json
  packages/@remirror/cli/package.json
  packages/@remirror/extension-events/package.json
  packages/@remirror/extension-yjs/package.json
  packages/@remirror/playground/package.json
  packages/@remirror/pm/package.json
  packages/@remirror/react-hooks/package.json
  packages/@remirror/react-social/package.json
  packages/@remirror/react/package.json
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  packages/jest-remirror/src/jest-remirror-environment.ts
  packages/jest-remirror/src/jest-remirror-matchers.ts
  packages/jest-remirror/src/jsdom-polyfills.ts
  packages/prosemirror-suggest/package.json
  pnpm-lock.yaml
  support/e2e/package.json
  support/storybook/package.json
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:, type: fix :wrench:, type: support :books:

#733 Remove `endsWith` from `ValidityTest`s
  .changeset/fifty-deers-ring.md
  packages/jest-remirror/src/jest-remirror-validator.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:, type: fix :wrench:

#734 Add `mousedown` and `mouseup` handlers to `EventsExtension`
  .changeset/dry-chairs-decide.md
  packages/@remirror/extension-events/src/__tests__/events-extension.spec.ts
  packages/@remirror/extension-events/src/events-extension.ts
Labels: package: remirror :purple_circle:, type: feature :sparkles:
