Repository remirror/remirror, pull requests merged in 2020-02, with the labels that each got.

#217 feat(social): enable overriding mention and tag ids and hrefs
  .changeset/angry-books-shop.md
  .changeset/tricky-cheetahs-provide.md
  @remirror/cli/CHANGELOG.md
  @remirror/editor-social/src/components/social-editor.tsx
  @remirror/editor-social/src/social-types.ts
  @remirror/showcase/src/data/fake-users.ts
  @remirror/showcase/src/social.tsx
Labels: @remirror/editor-social, PR: New Feature 🚀

#234 feat(core): improve keybinding composition
  .changeset/orange-swans-bathe.md
  .changeset/polite-tigers-sing.md
  .changeset/pretty-apricots-hug.md
  @remirror/core-extensions/package.json
  @remirror/core-extensions/src/extensions/base-keymap-extension.ts
  @remirror/core-extensions/src/extensions/history-extension.ts
  @remirror/core-extensions/src/extensions/position-tracker-extension.ts
  @remirror/core-extensions/src/marks/bold-extension.ts
  @remirror/core-extensions/src/marks/code-extension.ts
  @remirror/core-extensions/src/marks/italic-extension.ts
  @remirror/core-extensions/src/marks/link-extension.ts
  @remirror/core-extensions/src/marks/strike-extension.ts
  @remirror/core-extensions/src/marks/underline-extension.ts
  @remirror/core-extensions/src/nodes/blockquote-extension.ts
  @remirror/core-extensions/src/nodes/bullet-list-extension.ts
  @remirror/core-extensions/src/nodes/hard-break-extension.ts
  @remirror/core-extensions/src/nodes/heading-extension.ts
  @remirror/core-extensions/src/nodes/horizontal-rule-extension.ts
  @remirror/core-extensions/src/nodes/list-item-extension.ts
  @remirror/core-extensions/src/nodes/ordered-list-extension.ts
  @remirror/core-extensions/src/nodes/simple-code-block-extension.ts
  @remirror/core-types/package.json
  @remirror/core-types/src/core-types.ts
  @remirror/core-utils/src/command-utils.ts
  @remirror/core-utils/src/prosemirror-utils.ts
  @remirror/core/src/__tests__/extension-manager.spec.tsx
  @remirror/core/src/extension-manager.helpers.ts
  @remirror/core/src/extension-manager.ts
  @remirror/core/src/extension.ts
  @remirror/extension-code-block/src/__tests__/code-block.spec.ts
  @remirror/extension-code-block/src/code-block-extension.ts
  @remirror/extension-code-block/src/code-block-utils.ts
  @remirror/extension-collaboration/src/collaboration-extension.ts
  @remirror/extension-emoji/src/emoji-extension.ts
  @remirror/extension-image/src/image-extension.ts
  docs/guides/custom-keys.mdx
  docs/package.json
  docs/src/sidebar.mdx
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-prosemirror/src/jest-prosemirror-matchers.ts
  packages/jest-remirror/src/jest-remirror-types.ts
  packages/prosemirror-suggest/src/suggest-utils.ts
  support/dts-jest/__snapshots__/extension-manager.dts.ts.snap
  yarn.lock
Labels: @remirror/core, @remirror/core-extensions, PR: Breaking Change 💥, PR: New Feature 🚀, package: jest-prosemirror

#239 fix: remove custom browserslist configuration
  .changeset/brave-dodos-sleep.md
  package.json
Labels: @remirror/core, PR: Bug Fix 🐛, PR: Internal 🏠

#243 feat(social): allow options in the matchers
  .changeset/blue-dodos-vanish.md
  @remirror/core-types/package.json
  @remirror/editor-social/package.json
  @remirror/editor-social/readme.md
  @remirror/editor-social/src/components/social-editor.tsx
  @remirror/editor-social/src/social-types.ts
  docs/package.json
  packages/prosemirror-suggest/src/suggest-types.ts
  yarn.lock
Labels: @remirror/editor-social, PR: New Feature 🚀

#247 feat(core-utils): allow toggling between bullet and ordered list
  .changeset/eighty-lies-judge.md
  @remirror/core-utils/src/__tests__/command-utils.spec.ts
  @remirror/core-utils/src/__tests__/prosemirror-utils.spec.ts
  @remirror/core-utils/src/command-utils.ts
  @remirror/core-utils/src/prosemirror-utils.ts
Labels: @remirror/core, PR: New Feature 🚀
