Repository remirror/remirror, pull requests merged in 2020-08, with the labels that each got.

#446 Allow updating existing annotations
  .changeset/long-swans-fry.md
  packages/@remirror/extension-annotation/src/__tests__/annotation-extension.spec.ts
  packages/@remirror/extension-annotation/src/actions.ts
  packages/@remirror/extension-annotation/src/annotation-extension.ts
Labels: enhancement

#493 docs: remove `defaultValue` from code comment
  .changeset/dull-crews-tickle.md
  packages/prosemirror-suggest/src/suggest-types.ts
Labels: package: prosemirror-suggest, type: support

#509 fix: bold and italic input rule composition
  .changeset/silver-pandas-cheer.md
  packages/@remirror/core-utils/src/prosemirror-rules.ts
  packages/@remirror/extension-italic/src/__tests__/italic-extension.spec.ts
Labels: test: unit :white_check_mark:

#512 feat(core-utils): select `all` text in editor
  .changeset/hot-seals-stare.md
  packages/@remirror/core-types/src/core-types.ts
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/dom/readme.md
  packages/@remirror/react/src/components/__tests__/react-editor.spec.tsx
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: docs :pencil:, type: feature :sparkles:

#514 fix(react): controlled editor in `StrictMode`
  .changeset/brave-rules-switch.md
  .github/labeler.yml
  docs/concepts/react-controlled-editor.mdx
  packages/@remirror/react/src/components/__tests__/react-editor-controlled.spec.tsx
  packages/@remirror/react/src/components/react-editor.tsx
Labels: framework: react :atom_symbol:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#515 feat(core-utils): rename `areSchemaCompatible`
  .changeset/famous-trains-crash.md
  packages/@remirror/core-utils/src/__tests__/core-utils.spec.ts
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/core-utils/src/index.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: breaking :bomb:, type: feature :sparkles:

#523 fix(core): correct `EditorWrapper` setup
  .changeset/loud-camels-search.md
  packages/@remirror/core-types/src/core-types.ts
  packages/@remirror/core/src/editor-wrapper.ts
  packages/@remirror/core/src/manager/remirror-manager.ts
  packages/@remirror/core/src/types.ts
  packages/@remirror/react/src/__tests__/editor-hooks.spec.tsx
  packages/@remirror/react/src/__tests__/react-hooks.spec.tsx
  packages/@remirror/react/src/components/react-editor.tsx
  packages/@remirror/testing/src/index.ts
  packages/@remirror/testing/src/object-shapes.ts
Labels: framework: react :atom_symbol:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#524 feat(core): add `beforeDispatch` method to input rules
  .changeset/brave-ducks-turn.md
  .changeset/six-eggs-peel.md
  packages/@remirror/core-utils/src/__tests__/prosemirror-rules.spec.ts
  packages/@remirror/core-utils/src/command-utils.ts
  packages/@remirror/core-utils/src/index.ts
  packages/@remirror/core-utils/src/prosemirror-rules.ts
  packages/@remirror/extension-code-block/src/code-block-extension.ts
  packages/@remirror/extension-horizontal-rule/src/__tests__/horizontal-rule-extension.spec.ts
  packages/@remirror/extension-horizontal-rule/src/horizontal-rule-extension.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: breaking :bomb:, type: changeset :butterfly:, type: feature :sparkles:, type: fix :wrench:

#513 fix(extension-italic): paste and input rules
  .changeset/thin-jokes-fold.md
  packages/@remirror/core-utils/src/prosemirror-rules.ts
  packages/@remirror/extension-bold/src/__tests__/bold-extension.spec.ts
  packages/@remirror/extension-bold/src/bold-extension.ts
  packages/@remirror/extension-code/src/__tests__/code-extension.spec.ts
  packages/@remirror/extension-code/src/code-extension.ts
  packages/@remirror/extension-italic/src/__tests__/italic-extension.spec.ts
  packages/@remirror/extension-italic/src/italic-extension.ts
  packages/@remirror/extension-strike/src/__tests__/strike-extension.spec.ts
  packages/@remirror/extension-strike/src/strike-extension.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:, type: fix :wrench:

#526 feat(react): add `usePositioner` active param
  .changeset/silver-pots-shake.md
  packages/@remirror/extension-positioner/src/index.ts
  packages/@remirror/extension-positioner/src/positioner-extension.ts
  packages/@remirror/extension-positioner/src/positioner.ts
  packages/@remirror/extension-positioner/src/positioners.ts
  packages/@remirror/react-social/src/components/social-editor-emoji.tsx
  packages/@remirror/react/src/__tests__/editor-hooks.spec.tsx
  packages/@remirror/react/src/hooks/editor-hooks.ts
  support/e2e/src/positioner.e2e.test.ts
Labels: framework: react :atom_symbol:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:, type: fix :wrench:

#534 fix(release): link unscoped packages
  .changeset/config.json
  .changeset/witty-houses-repeat.md
Labels: package: jest-prosemirror :performing_arts:, package: multishift :arrow_down_small:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:, type: fix :wrench:

#557 fix(react): `onChange` callback in `StrictMode`
  .changeset/smooth-dryers-impress.md
  packages/@remirror/react/src/components/__tests__/react-editor-controlled.spec.tsx
  packages/@remirror/react/src/components/__tests__/react-editor.spec.tsx
  packages/@remirror/react/src/components/react-editor.tsx
Labels: framework: react :atom_symbol:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#560 Ensure `RemirrorPlayground` appears in search results
  support/website/src/pages/playground.tsx
Labels: type: docs :pencil:, type: playground :joystick:, type: support :books:

#561 Add `codespaces` support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/labeler.yml
  support/root/.vscode/extensions.json
Labels: type: automation :mechanical_arm:, type: ci :evergreen_tree:

#563 Redirect `/docs/introduction` to `/docs`
  .github/readme.md
  docs/advanced/creating-extensions.md
  docs/advanced/naming-conventions.md
  docs/concepts/extension.md
  docs/concepts/keymap.md
  docs/concepts/presets.md
  docs/concepts/priority.md
  docs/concepts/react-controlled-editor.md
  docs/concepts/remirror-manager.md
  docs/errors.md
  docs/guide/create-editor.md
  docs/guide/installation.md
  docs/introduction.md
  docs/projects.md
  docs/showcase/index.md
  docs/tooling.md
  pnpm-lock.yaml
  support/website/_redirects
  support/website/docusaurus.config.js
  support/website/package.json
  support/website/sidebars.js
  support/website/src/pages/index.tsx
Labels: type: docs :pencil:, type: support :books:

#565 Create `0.x` branch
  .changeset/config.json
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/netlify-deploy.yml
  package.json
  readme.md
  support/jest/jest.framework.ts
  yarn.lock
Labels: type: project :bar_chart:

#570 Add positioner to center on a selected annotation
  .changeset/tender-beers-breathe.md
  packages/@remirror/extension-annotation/package.json
  packages/@remirror/extension-annotation/src/index.ts
  packages/@remirror/extension-annotation/src/positioners.ts
  pnpm-lock.yaml
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:

#571 Add command to clear current range selection
  .changeset/rotten-foxes-judge.md
  packages/@remirror/core/src/builtins/__tests__/commands-extension.spec.ts
  packages/@remirror/core/src/builtins/commands-extension.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:

#579 Support dynamic attributes for nodes and marks
  .changeset/grumpy-dolls-drop.md
  packages/@remirror/core-types/src/base-types.ts
  packages/@remirror/core-types/src/index.ts
  packages/@remirror/core-utils/src/__tests__/prosemirror-node-utils.spec.ts
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/core-utils/src/prosemirror-node-utils.ts
  packages/@remirror/core-utils/src/prosemirror-utils.ts
  packages/@remirror/core/src/builtins/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/@remirror/core/src/builtins/__tests__/schema-extension.spec.ts
  packages/@remirror/core/src/builtins/keymap-extension.ts
  packages/@remirror/core/src/builtins/schema-extension.ts
  packages/@remirror/core/src/editor-wrapper.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  support/root/.eslintrc.js
  support/tsconfig.main.json
Labels: package: jest-remirror :black_joker:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: deprecation :wastebasket:, type: feature :sparkles:, type: refactor :recycle:, type: support :books:

#581 Support extending the `ExtensionTag` enum
  .changeset/eleven-dryers-notice.md
  packages/@remirror/core-constants/src/core-constants.ts
  packages/@remirror/core-constants/src/index.ts
  packages/@remirror/core-utils/src/__tests__/__snapshots__/prosemirror-utils.spec.ts.snap
  packages/@remirror/core/src/builtins/__tests__/__snapshots__/tags-extension.spec.ts.snap
  packages/@remirror/core/src/builtins/__tests__/tags-extension.spec.ts
  packages/@remirror/core/src/builtins/builtin-preset.ts
  packages/@remirror/core/src/builtins/schema-extension.ts
  packages/@remirror/core/src/builtins/tags-extension.ts
  packages/@remirror/core/src/extension/__tests__/node-extension.spec.ts
  packages/@remirror/core/src/extension/extension-base.ts
  packages/@remirror/core/src/index.ts
  packages/@remirror/core/src/manager/__tests__/remirror-manager.spec.tsx
  packages/@remirror/core/src/types.ts
  packages/@remirror/extension-blockquote/src/blockquote-extension.ts
  packages/@remirror/extension-bold/src/bold-extension.ts
  packages/@remirror/extension-code-block/src/code-block-extension.ts
  packages/@remirror/extension-code/src/code-extension.ts
  packages/@remirror/extension-hard-break/src/hard-break-extension.ts
  packages/@remirror/extension-heading/src/heading-extension.ts
  packages/@remirror/extension-horizontal-rule/src/horizontal-rule-extension.ts
  packages/@remirror/extension-image/src/image-extension.ts
  packages/@remirror/extension-italic/src/italic-extension.ts
  packages/@remirror/extension-link/src/link-extension.ts
  packages/@remirror/extension-mention/src/mention-extension.ts
  packages/@remirror/extension-paragraph/src/paragraph-extension.ts
  packages/@remirror/extension-react-component/src/__tests__/react-component-extension.spec.tsx
  packages/@remirror/extension-strike/src/strike-extension.ts
  packages/@remirror/extension-text/src/text-extension.ts
  packages/@remirror/extension-trailing-node/src/trailing-node-extension.ts
  packages/@remirror/extension-underline/src/underline-extension.ts
  packages/@remirror/preset-embed/src/iframe-extension.ts
  packages/@remirror/preset-list/src/bullet-list-extension.ts
  packages/@remirror/preset-list/src/list-item-extension.ts
  packages/@remirror/preset-list/src/ordered-list-extension.ts
  packages/@remirror/preset-table/src/table-extensions.ts
  packages/@remirror/preset-table/src/table-utils.ts
  packages/@remirror/react/src/renderers/__tests__/react-serializer.spec.tsx
  support/root/.eslintrc.js
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: breaking :bomb:, type: changeset :butterfly:, type: deprecation :wastebasket:, type: feature :sparkles:, type: refactor :recycle:

#582 Add support for `emotion` and `styled-components`
  .changeset/sharp-bats-remain.md
  package.json
  packages/@remirror/pm/package.json
  packages/@remirror/styles/all.css
  packages/@remirror/styles/dom/package.json
  packages/@remirror/styles/emotion/package.json
  packages/@remirror/styles/package.json
  packages/@remirror/styles/readme.md
  packages/@remirror/styles/src/__tests__/styles.spec.ts
  packages/@remirror/styles/src/dom.tsx
  packages/@remirror/styles/src/emotion.tsx
  packages/@remirror/styles/src/styled-components.tsx
  packages/@remirror/styles/src/utils.ts
  packages/@remirror/styles/styled-components/package.json
  packages/@remirror/styles/theme.css
  packages/@remirror/theme/src/__tests__/__snapshots__/theme.spec.ts.snap
  packages/@remirror/theme/src/index.ts
  packages/@remirror/theme/src/theme-styles.ts
  packages/@remirror/theme/src/theme.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  pnpm-lock.yaml
  support/root/.stylelintignore
  support/scripts/check-styles.js
  support/scripts/linaria.js
Labels: package: jest-remirror :black_joker:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: breaking :bomb:, type: changeset :butterfly:, type: feature :sparkles:, type: support :books:, type: ui :nail_care:

#585 Upgrade to `linaria@2.0.0-rc.1`
  .changeset/config.json
  .changeset/fuzzy-ducks-itch.md
  .changeset/lovely-lies-lay.md
  .gitignore
  package.json
  packages/@remirror/cli/package.json
  packages/@remirror/core-helpers/src/__tests__/core-helper.spec.ts
  packages/@remirror/core-helpers/src/core-helpers.ts
  packages/@remirror/core-helpers/src/index.ts
  packages/@remirror/core/package.json
  packages/@remirror/dev/package.json
  packages/@remirror/extension-blockquote/package.json
  packages/@remirror/extension-events/package.json
  packages/@remirror/extension-gap-cursor/package.json
  packages/@remirror/extension-placeholder/package.json
  packages/@remirror/extension-react-component/package.json
  packages/@remirror/extension-react-ssr/package.json
  packages/@remirror/extension-search/package.json
  packages/@remirror/extension-yjs/package.json
  packages/@remirror/playground/package.json
  packages/@remirror/pm/package.json
  packages/@remirror/preset-embed/package.json
  packages/@remirror/preset-react/package.json
  packages/@remirror/preset-table/package.json
  packages/@remirror/react-components/package.json
  packages/@remirror/react-hooks/package.json
  packages/@remirror/react-social/package.json
  packages/@remirror/react-utils/package.json
  packages/@remirror/react-wysiwyg/package.json
  packages/@remirror/react/package.json
  packages/@remirror/showcase/package.json
  packages/@remirror/showcase/src/social-showcase.tsx
  packages/@remirror/testing/package.json
  packages/@remirror/theme/package.json
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  packages/multishift/package.json
  packages/multishift/src/multishift-constants.ts
  packages/multishift/src/multishift-types.ts
  packages/prosemirror-suggest/package.json
  packages/prosemirror-suggest/src/suggest-types.ts
  packages/remirror/package.json
  pnpm-lock.yaml
  support/e2e/package.json
  support/examples/with-next/package.json
  support/package.json
  support/readme.md
  support/root/.size-limit.json
  support/root/tsconfig.json
  support/root/tsconfig.lint.json
  support/root/tsconfig.references.json
  support/scripts/generate-configs.js
  support/scripts/helpers/index.js
  support/storybook/main.ts
  support/storybook/package.json
  support/tsconfig.base.json
  support/tsconfig.main.json
  support/website/package.json
  support/website/src/types.d.ts
  support/website/tsconfig.json
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: sponsored :sparkling_heart:, type: ui :nail_care:, type: upgrade dependencies :arrow_up:

#593 Fix focus issue when dispatching a command
  .changeset/silly-bears-hammer.md
  packages/@remirror/core/src/builtins/commands-extension.ts
  packages/@remirror/dom/src/__tests__/dom.spec.ts
  packages/@remirror/extension-bidi/src/__tests__/__snapshots__/bidi-extension.spec.ts.snap
  packages/@remirror/extension-diff/src/__tests__/__snapshots__/diff-extension.spec.ts.snap
  packages/@remirror/extension-search/src/__tests__/__snapshots__/search-extension.spec.ts.snap
Labels: package: remirror :purple_circle:, priority: high :arrow_up_small:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#591 Support content in react component node views
  .changeset/short-weeks-look.md
  packages/@remirror/core/src/builtins/__tests__/node-views-extension.spec.ts
  packages/@remirror/core/src/builtins/builtin-preset.ts
  packages/@remirror/core/src/builtins/commands-extension.ts
  packages/@remirror/core/src/builtins/node-views-extension.ts
  packages/@remirror/core/src/builtins/suggest-extension.ts
  packages/@remirror/core/src/editor-wrapper.ts
  packages/@remirror/core/src/extension/base-class.ts
  packages/@remirror/core/src/index.ts
  packages/@remirror/core/src/manager/__tests__/remirror-manager.spec.tsx
  packages/@remirror/core/src/manager/remirror-manager.ts
  packages/@remirror/extension-react-component/src/__tests__/__snapshots__/react-component-extension.spec.tsx.snap
  packages/@remirror/extension-react-component/src/__tests__/react-component-extension.spec.tsx
  packages/@remirror/extension-react-component/src/index.ts
  packages/@remirror/extension-react-component/src/node-view-types.ts
  packages/@remirror/extension-react-component/src/portals/__tests__/portal-container.spec.tsx
  packages/@remirror/extension-react-component/src/portals/__tests__/portals.spec.tsx
  packages/@remirror/extension-react-component/src/portals/__tests__/react-portals.spec.tsx
  packages/@remirror/extension-react-component/src/portals/portal-container.ts
  packages/@remirror/extension-react-component/src/portals/react-portals.tsx
  packages/@remirror/extension-react-component/src/react-component-extension.ts
  packages/@remirror/extension-react-component/src/react-node-view.tsx
  packages/@remirror/extension-react-ssr/src/__tests__/react-ssr-extension.spec.ts
  packages/@remirror/extension-react-ssr/src/index.ts
  packages/@remirror/extension-react-ssr/src/react-ssr-extension.ts
  packages/@remirror/i18n/build-declaration.js
  packages/@remirror/i18n/src/__tests__/locales.spec.ts
  packages/@remirror/i18n/src/en.ts
  packages/@remirror/i18n/src/en/index.ts
  packages/@remirror/i18n/src/en/messages.d.ts
  packages/@remirror/playground/src/_remirror.tsx
  packages/@remirror/preset-react-checkbox/src/react-checkbox-preset.ts
  packages/@remirror/preset-react/src/react-preset.ts
  packages/@remirror/react/package.json
  packages/@remirror/react/src/components/__tests__/react-editor-server.spec.tsx
  packages/@remirror/react/src/components/providers.tsx
  packages/@remirror/react/src/components/react-editor.tsx
  packages/@remirror/react/src/hooks/editor-hooks.ts
  packages/@remirror/react/src/react-helpers.tsx
  packages/@remirror/react/src/react-types.ts
  packages/jest-remirror/src/jest-remirror-validator.ts
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:, type: refactor :recycle:

#595 Fix Chrome `autofocus` bug
  .changeset/few-mice-beam.md
  packages/@remirror/core/src/__tests__/editor-wrapper.spec.ts
  packages/@remirror/core/src/builtins/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/@remirror/core/src/editor-wrapper.ts
  packages/@remirror/dom/src/__tests__/dom.spec.ts
  packages/@remirror/extension-bidi/src/__tests__/__snapshots__/bidi-extension.spec.ts.snap
  packages/@remirror/extension-diff/src/__tests__/__snapshots__/diff-extension.spec.ts.snap
  packages/@remirror/extension-react-component/src/__tests__/__snapshots__/react-component-extension.spec.tsx.snap
  packages/@remirror/extension-react-component/src/__tests__/react-component-extension.spec.tsx
  packages/@remirror/extension-search/src/__tests__/__snapshots__/search-extension.spec.ts.snap
  packages/@remirror/react-social/src/components/__tests__/__snapshots__/social-editor.spec.tsx.snap
  packages/@remirror/react/src/components/__tests__/__snapshots__/react-editor-controlled.spec.tsx.snap
  packages/@remirror/react/src/components/__tests__/react-editor-server.spec.tsx
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#598 Fixing checking `Constructor.name` in production
  .changeset/famous-bananas-invent.md
  package.json
  packages/@remirror/cli/package.json
  packages/@remirror/core-utils/package.json
  packages/@remirror/core/src/builtins/plugins-extension.ts
  packages/@remirror/core/src/builtins/schema-extension.ts
  packages/@remirror/core/src/builtins/tags-extension.ts
  packages/@remirror/core/src/extension/extension-base.ts
  packages/@remirror/core/src/manager/remirror-manager-helpers.ts
  packages/@remirror/core/src/manager/remirror-manager.ts
  packages/@remirror/core/src/preset/preset-base.ts
  packages/@remirror/extension-code-block/package.json
  packages/@remirror/extension-events/package.json
  packages/@remirror/extension-react-component/src/portals/__tests__/portals.spec.tsx
  packages/@remirror/playground/package.json
  packages/@remirror/react-social/package.json
  packages/@remirror/showcase/package.json
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  pnpm-lock.yaml
  support/base.babel.js
  support/package.json
  support/storybook/package.json
Labels: framework: react :atom_symbol:, package: @remirror/cli :pager:, package: jest-prosemirror :performing_arts:, package: jest-remirror :black_joker:, package: remirror :purple_circle:, priority: critical :arrow_double_up:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:, type: sponsored :sparkling_heart:, type: support :books:

#603 Remove error in custom react manager without core or react preset
  .changeset/rude-brooms-refuse.md
  packages/@remirror/extension-annotation/src/__tests__/annotation-extension.spec.ts
  packages/@remirror/react/src/react-helpers.tsx
Labels: framework: react :atom_symbol:, package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#608 Add error handling for invalid content
  .changeset/new-apricots-travel.md
  .github/readme.md
  docs/concepts/error-handling.md
  package.json
  packages/@remirror/core-constants/src/error-constants.ts
  packages/@remirror/core-helpers/src/__tests__/__snapshots__/errors.spec.ts.snap
  packages/@remirror/core-helpers/src/__tests__/core-helper.spec.ts
  packages/@remirror/core-helpers/src/__tests__/errors.spec.ts
  packages/@remirror/core-helpers/src/core-errors.ts
  packages/@remirror/core-helpers/src/core-helpers.ts
  packages/@remirror/core-helpers/src/index.ts
  packages/@remirror/core-types/src/alias-types.ts
  packages/@remirror/core-types/src/base-types.ts
  packages/@remirror/core-types/src/core-types.ts
  packages/@remirror/core-types/src/index.ts
  packages/@remirror/core-types/src/parameter-builders.ts
  packages/@remirror/core-utils/src/__tests__/core-utils.spec.ts
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/core-utils/src/index.ts
  packages/@remirror/core-utils/src/prosemirror-utils.ts
  packages/@remirror/core/src/__tests__/decorators.spec.ts
  packages/@remirror/core/src/builtins/__tests__/tags-extension.spec.ts
  packages/@remirror/core/src/builtins/helpers-extension.ts
  packages/@remirror/core/src/builtins/plugins-extension.ts
  packages/@remirror/core/src/builtins/suggest-extension.ts
  packages/@remirror/core/src/commands.ts
  packages/@remirror/core/src/editor-wrapper.ts
  packages/@remirror/core/src/extension/extension-base.ts
  packages/@remirror/core/src/manager/__tests__/remirror-manager.spec.tsx
  packages/@remirror/core/src/manager/remirror-manager.ts
  packages/@remirror/dom/src/dom.ts
  packages/@remirror/extension-code/src/code-extension.ts
  packages/@remirror/extension-italic/src/italic-extension.ts
  packages/@remirror/extension-link/src/link-extension.ts
  packages/@remirror/extension-mention/src/mention-extension.ts
  packages/@remirror/extension-placeholder/src/placeholder-extension.ts
  packages/@remirror/extension-position-tracker/src/position-tracker-extension.ts
  packages/@remirror/extension-strike/src/strike-extension.ts
  packages/@remirror/react/package.json
  packages/@remirror/react/src/components/__tests__/react-editor-controlled.spec.tsx
  packages/@remirror/react/src/components/__tests__/react-editor-server.spec.tsx
  packages/@remirror/react/src/components/react-editor.tsx
  packages/@remirror/react/src/hooks/editor-hooks.ts
  packages/@remirror/react/src/ssr/ssr-prosemirror-view.ts
  packages/@remirror/testing/src/index.ts
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
  packages/jest-prosemirror/src/jest-prosemirror-types.ts
  packages/jest-remirror/package.json
  packages/prosemirror-suggest/src/suggest-plugin.ts
  packages/prosemirror-suggest/src/suggest-state.ts
  pnpm-lock.yaml
  support/package.json
  support/storybook/package.json
  support/website/sidebars.js
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: breaking :bomb:, type: changeset :butterfly:, type: feature :sparkles:, type: refactor :recycle:
