Repository remirror/remirror, pull requests merged in 2020-12, with the labels that each got.

#825 fix: `getMarkRange` usage with mixed marks
  .changeset/two-tables-end.md
  packages/@remirror/core-utils/src/__tests__/core-utils.spec.ts
  packages/@remirror/core-utils/src/core-utils.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#830 fix: preserve attributes for `toggleBlockItem` and `setBlockType`
  .changeset/few-olives-walk.md
  .changeset/good-queens-tan.md
  .changeset/smart-pots-thank.md
  .changeset/tame-items-turn.md
  docs/errors.md
  packages/@remirror/core-constants/src/error-constants.ts
  packages/@remirror/core-helpers/src/core-errors.ts
  packages/@remirror/core-utils/src/__tests__/core-utils.spec.ts
  packages/@remirror/core-utils/src/command-utils.ts
  packages/@remirror/core-utils/src/core-utils.ts
  packages/@remirror/core-utils/src/index.ts
  packages/@remirror/core-utils/src/prosemirror-utils.ts
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:, type: fix :wrench:

#829 fix(extension-image): fix regexp for image filetype
  .changeset/late-days-tease.md
  packages/@remirror/extension-image/src/image-extension.ts
Labels: type: changeset :butterfly:, type: fix :wrench:

#832 chore: visualize internal state in annotation storybook
  support/storybook/stories/annotation.stories.tsx
Labels: status: sponsored :sparkling_heart:, type: support :books:
