Repository remirror/remirror, pull requests merged in 2021-01, with the labels that each got.

#837 feat(extension-sub): add first pass implementation
  .changeset/angry-papayas-do.md
  .changeset/config.json
  packages/@remirror/extension-sub/package.json
  packages/@remirror/extension-sub/readme.md
  packages/@remirror/extension-sub/src/__tests__/sub-extension.spec.ts
  packages/@remirror/extension-sub/src/index.ts
  packages/@remirror/extension-sub/src/sub-extension.ts
  packages/remirror/extension/sub/package.json
  packages/remirror/package.json
  packages/remirror/src/extension/sub.ts
  pnpm-lock.yaml
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:

#839 feat(extension-sup): add first pass implementation
  .changeset/config.json
  .changeset/smooth-apes-push.md
  packages/@remirror/extension-sup/package.json
  packages/@remirror/extension-sup/readme.md
  packages/@remirror/extension-sup/src/__tests__/sup-extension.spec.ts
  packages/@remirror/extension-sup/src/index.ts
  packages/@remirror/extension-sup/src/sup-extension.ts
  packages/remirror/extension/sup/package.json
  packages/remirror/package.json
  packages/remirror/src/extension/sup.ts
  pnpm-lock.yaml
Labels: package: remirror :purple_circle:, test: unit :white_check_mark:, type: changeset :butterfly:

#848 fix: call setState in command in useEmoji
  packages/@remirror/react-hooks/src/use-emoji.ts
Labels: framework: react :atom_symbol:

#849 feat(embed): set custom value for "type" of iframe embeds
  .changeset/loud-mirrors-peel.md
  packages/@remirror/preset-embed/package.json
  packages/@remirror/preset-embed/src/iframe-extension.ts
  pnpm-lock.yaml
Labels: status: sponsored :sparkling_heart:, type: changeset :butterfly:
