Repository remirror/remirror, pull requests merged in 2021-02, with the labels that each got.

#852 chore(react-ssr): remove private package.json
  packages/remirror__react-ssr/package.json
Labels: framework: react :atom_symbol:

#853 chore: remove private from react-renderer and react-components
  packages/remirror__react-components/package.json
  packages/remirror__react-renderer/package.json
Labels: framework: react :atom_symbol:, type: ui :nail_care:

#862 chore: mutate peerDependencies when publishing PRs
  support/scripts/src/mutatate-packages.ts
Labels: type: support :books:

#864 fix(core): initialize `previousState` for `store`
  .changeset/tiny-buttons-repair.md
  package.json
  packages/remirror__core/__tests__/__snapshots__/remirror-manager.spec.tsx.snap
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__core/src/manager/remirror-manager.ts
  packages/testing/src/tsconfig.json
Labels: test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#865 fix(extension-yjs): add required `y-protocols`
  .changeset/neat-snakes-sell.md
  .changeset/thirty-poems-rescue.md
  packages/remirror__extension-yjs/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

#867 build(prod): remove babel plugin
  package.json
  pnpm-lock.yaml
  support/base.babel.js
Labels: type: fix :wrench:, type: support :books:

#859 test(extension-codemirror5): improve test cases
  .changeset/heavy-ads-double.md
  examples/storybook-react/__e2e__/tsconfig.json
  examples/storybook-react/package.json
  examples/storybook-react/src/codemirror5.stories.tsx
  examples/storybook-react/src/tsconfig.json
  package.json
  packages/remirror__extension-codemirror5/__tests__/codemirror-extension.spec.ts
  packages/remirror__extension-codemirror5/__tests__/codemirror-ref.spec.ts
  packages/remirror__extension-codemirror5/__tests__/codemirror-utils.spec.ts
  packages/remirror__extension-codemirror5/src/codemirror-utils.ts
  packages/testing/package.json
  pnpm-lock.yaml
  support/root/jest-playwright.config.cjs
  support/root/jest.config.js
Labels: test: unit :white_check_mark:, type: changeset :butterfly:, type: support :books:

#870 docs: fix script `pnpm docs:dev`
  packages/multishift/src/multishift-types.ts
  packages/remirror__playground/src/components/code-editor.tsx
  packages/remirror__styles/src/index.ts
  pnpm-lock.yaml
  support/scripts/package.json
  website/docusaurus.config.js
  website/package.json
  website/plugins/monaco-editor.js
  website/src/components/external-icon.tsx
  website/src/css/custom.css
  website/src/pages/index.tsx
  website/src/pages/playground.tsx
  website/typedoc-sidebar.js
Labels: package: multishift :arrow_down_small:, type: fix :wrench:, type: support :books:, type: ui :nail_care:

#875 fix(extension-annotation): delete text and annotations
  .changeset/kind-houses-protect.md
  packages/remirror__extension-annotation/src/annotation-plugin.ts
Labels: status: sponsored :sparkling_heart:, type: changeset :butterfly:
