Repository remirror/remirror, pull requests merged in 2021-11, with the labels that each got.

#1358 fix(resizable-view): fix resizable view height on a small viewpoint
  .changeset/nice-planets-eat.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/storybook-react-main.ts
  packages/storybook-react/stories/extension-image/basic.tsx
  packages/storybook-react/stories/extension-image/image.stories.tsx
  packages/storybook-react/stories/extension-image/resizable.tsx
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

#1361 fix(core-helpers): always reset regexp lastIndex before matching
  .changeset/tasty-gifts-remember.md
  packages/remirror__core-helpers/src/core-helpers.ts
Labels: type: changeset :butterfly:

#1350 fix(extension-file): deleting files via keyboard should trigger onDeleteFile handler
  .changeset/big-planets-cross.md
  .changeset/quiet-swans-collect.md
  packages/remirror__core/src/extension/base-class.ts
  packages/remirror__extension-file/src/file-extension.tsx
Labels: type: bug :beetle:, type: changeset :butterfly:

#1365 feat(extension-react-component): implement the `stopEvent` method in `ReactNodeView`
  .changeset/neat-pots-design.md
  packages/remirror__extension-react-component/src/node-view-types.ts
  packages/remirror__extension-react-component/src/react-component-extension.ts
  packages/remirror__extension-react-component/src/react-node-view.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#1367 feat(extension-link): add a new extension option `extractHref`
  .changeset/orange-ravens-marry.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/index.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/storybook-react/stories/extension-link/link-extension.stories.tsx
  packages/storybook-react/stories/extension-link/with-telephone-support.tsx
  website/extension-examples/extension-link/with-telephone-support.tsx
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1371 fix(extension-list): fix an error when indenting the list
  .changeset/afraid-humans-smoke.md
  packages/remirror__extension-list/src/list-command-indent.ts
Labels: type: changeset :butterfly:

#1370 feat: add shortcuts support
  .changeset/happy-pets-hang.md
  .changeset/many-buttons-eat.md
  docs/extensions/shortcuts-extension.mdx
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/remirror__extension-shortcuts/CHANGELOG.md
  packages/remirror__extension-shortcuts/__tests__/shortcuts-extension.spec.ts
  packages/remirror__extension-shortcuts/__tests__/tsconfig.json
  packages/remirror__extension-shortcuts/package.json
  packages/remirror__extension-shortcuts/readme.md
  packages/remirror__extension-shortcuts/src/index.ts
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
  packages/remirror__extension-shortcuts/src/tsconfig.json
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/storybook-react/stories/extension-shortcuts/basic.tsx
  packages/storybook-react/stories/extension-shortcuts/shortcuts.stories.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-shortcuts/basic.tsx
Labels: type: support :books:, test: unit :white_check_mark:, type: changeset :butterfly:

#1375 fix: create new releases
  .changeset/new-roses-wait.md
Labels: type: changeset :butterfly:

#1377 fix: removeFontSize respects user selection
  .changeset/thick-zebras-admire.md
  packages/remirror__extension-font-size/__tests__/font-size-extension.spec.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1379 fix: remove rules depending on capture groups
  .changeset/two-gifts-float.md
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
Labels: type: changeset :butterfly:

#1382 chore(deps): update prosemirror dependencies
  .changeset/smart-steaks-end.md
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

#1384 fix(core): try to find the placeholder position by searching the document
  .changeset/friendly-gorillas-roll.md
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
Labels: type: changeset :butterfly:

#1389 fix(scripts): fix browser exports paths
  .changeset/lovely-rabbits-smoke.md
  packages/docusaurus-plugin-examples/package.json
  packages/jest-prosemirror/package.json
  packages/remirror/package.json
  packages/remirror__extension-code-block/package.json
  packages/remirror__i18n/package.json
  packages/remirror__icons/package.json
  packages/remirror__pm/package.json
  packages/remirror__react-components/package.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-hooks/package.json
  packages/testing/package.json
  support/scripts/src/generate-configs.ts
Labels: type: support :books:, package: jest-prosemirror :performing_arts:, framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#1392 fix(extension-image): restore image dimensions correctly
  .changeset/dry-worms-tan.md
  packages/remirror__extension-image/src/image-extension.ts
Labels: type: changeset :butterfly:
