Repository remirror/remirror, pull requests merged in 2021-12, with the labels that each got.

#1410 fix(react): fix React node view's drag-and-drop
  .changeset/little-points-itch.md
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/storybook-react/stories/extension-file/basic.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#1421 fix(extension-list): don't delete extra nodes when pressing enter
  .changeset/stupid-windows-smoke.md
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1423 feat: support shortcut for left/right arrows
  .changeset/polite-spoons-stare.md
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
Labels: type: changeset :butterfly:

#1425 feat: align left/right arrow style with other arrows
  .changeset/sour-rockets-tan.md
  packages/remirror__extension-shortcuts/src/shortcuts-extension.ts
Labels: type: changeset :butterfly:

#1428 fix(link): prevent text loss when drag and dropping text containing links
  .changeset/pink-snails-behave.md
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: fix :wrench:, type: changeset :butterfly:

#1433 fix(events): fix type of copy and paste event handlers
  .changeset/fuzzy-tomatoes-help.md
  packages/remirror__extension-events/src/events-extension.ts
Labels: type: fix :wrench:, type: changeset :butterfly:

#1436 docs: fix the example code to actually "make sense"
  packages/remirror__react-core/src/react-types.ts
Labels: framework: react :atom_symbol:

#1391 feat(extension-codemirror6): first version of extension-codemirror6
  .changeset/gentle-apples-confess.md
  docs/extensions/code-block-extension.mdx
  docs/extensions/codemirror-extension.mdx
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-codemirror6/readme.md
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
  packages/remirror__extension-codemirror6/src/codemirror-utils.ts
  packages/remirror__extension-codemirror6/src/index.ts
  packages/remirror__extension-codemirror6/src/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  packages/storybook-react/stories/extension-codemirror6/codemirror6.stories.tsx
  packages/storybook-react/stories/extension-codemirror6/with-custom-extension.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-codemirror6/basic.tsx
  website/extension-examples/extension-codemirror6/with-custom-extension.tsx
Labels: type: support :books:, type: changeset :butterfly:

#1446 fix(extension-codemirror6): fix an input rule error
  .changeset/seven-steaks-obey.md
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
Labels: type: changeset :butterfly:

#1449 feat(extension-codemirror6): add `Backspace` keybinding to CodeMirrorExtension
  .changeset/clean-weeks-draw.md
  .changeset/fifty-keys-cheat.md
  .changeset/mean-lies-explode.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-types.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  packages/storybook-react/stories/extension-codemirror6/codemirror6.stories.tsx
  packages/storybook-react/stories/extension-codemirror6/styles.css
  packages/storybook-react/stories/extension-codemirror6/with-custom-extension.tsx
Labels: type: changeset :butterfly:
