Repository remirror/remirror, pull requests merged in 2021-07, with the labels that each got.

#991 fix(callout-extension): improve the behavior of setting emoji
  .changeset/sharp-snakes-peel.md
  packages/remirror__extension-callout/__stories__/callout.stories.tsx
  packages/remirror__extension-callout/__tests__/callout-extension.spec.ts
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-callout/src/callout-types.ts
  packages/remirror__extension-callout/src/callout-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-callout.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-callout-theme.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:, type: ui :nail_care:

#986 fix: create a newline in the current paragraph
  packages/remirror__extension-list/__stories__/list-extension.stories.tsx
  packages/remirror__react-editors/__stories__/markdown-editor.stories.tsx
Labels: framework: react :atom_symbol:

#996 fix(react-tables): add controller to table cells in create transaction
  .changeset/brave-crews-sleep.md
  packages/remirror__extension-react-tables/__stories__/react-tables-extension.stories.tsx
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-react-tables/src/utils/controller.ts
  packages/remirror__extension-react-tables/src/views/table-view.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/remirror__extension-tables/src/table-utils.ts
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#997 fix(tables): expose utils required by react tables extension
  .changeset/old-bobcats-grab.md
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/index.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#993 feat(extension-list): turn a list item into a task list item
  .changeset/early-pigs-pretend.md
  packages/remirror__extension-list/__tests__/list-input-rules.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1001 chore: fix changeset versioning
  .changeset/funny-bees-complain.md
  .changeset/gold-apes-sleep.md
  .changeset/loud-mirrors-peel.md
Labels: type: changeset :butterfly:

#1003 chore: remove `storybook-react` from the changeset
  .changeset/tidy-grapes-report.md
Labels: type: changeset :butterfly:

#1014 fix(extension-react-tables): reduce bundle size
  .changeset/clever-baboons-brake.md
  packages/remirror__extension-react-tables/src/components/table-delete-button.tsx
  packages/remirror__extension-react-tables/src/components/table-insert-button.ts
  packages/remirror__icons/src/all-icons.ts
  packages/remirror__icons/src/core-icons.ts
  packages/remirror__react-components/src/icons/all.ts
  packages/remirror__react-components/src/icons/core.ts
  packages/remirror__react/src/index.ts
  support/root/jest.config.js
  support/scripts/data/icons.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: support :books:, type: ui :nail_care:

#1023 docs: update changesets
  .changeset/great-bananas-begin.md
  .changeset/popular-paws-roll.md
  .changeset/wild-turkeys-watch.md
  .changeset/wild-weeks-whisper.md
Labels: type: changeset :butterfly:

#1026 chore: update types to reduce changeset errors
  packages/remirror__extension-annotation/__stories__/tsconfig.json
  packages/remirror__extension-callout/__stories__/tsconfig.json
  packages/remirror__extension-codemirror5/__stories__/tsconfig.json
  packages/remirror__extension-embed/__stories__/tsconfig.json
  packages/remirror__extension-image/__stories__/tsconfig.json
  packages/remirror__extension-link/__stories__/tsconfig.json
  packages/remirror__extension-list/__stories__/tsconfig.json
  packages/remirror__extension-positioner/__stories__/tsconfig.json
  packages/remirror__extension-react-tables/__stories__/react-tables-extension.stories.tsx
  packages/remirror__extension-react-tables/__stories__/tsconfig.json
  packages/remirror__extension-tables/__stories__/tsconfig.json
  packages/remirror__react-components/__stories__/tsconfig.json
  packages/remirror__react/__stories__/tsconfig.json
  packages/storybook-react/__stories__/tsconfig.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:

#1018 fix(extension-list): fix CJK IME in the list
  .changeset/violet-kangaroos-watch.md
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/list-item-node-view.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:

#1029 fix: update remirror packages
  .changeset/quick-files-work.md
  package.json
  packages/jest-prosemirror/package.json
  packages/remirror/package.json
  packages/remirror__core/package.json
  packages/remirror__extension-react-tables/package.json
  packages/remirror__preset-wysiwyg/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: framework: react :atom_symbol:, package: jest-prosemirror :performing_arts:, type: changeset :butterfly:, type: support :books:
