Repository remirror/remirror, pull requests merged in 2021-06, with the labels that each got.

#956 feat(extension-yjs): add ability to collaborate on annonations
  .changeset/dull-impalas-bathe.md
  packages/remirror__extension-annotation/src/annotation-extension.ts
  packages/remirror__extension-annotation/src/annotation-plugin.ts
  packages/remirror__extension-annotation/src/annotation-types.ts
  packages/remirror__extension-yjs/__tests__/tsconfig.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__extension-yjs/src/tsconfig.json
  packages/remirror__extension-yjs/src/yjs-extension.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: type: changeset :butterfly:

#960 feat(prosemirror-paste-rules): allow custom content for node
  .changeset/cold-parrots-sip.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#963 fix(core): fix onChange so `firstRender` only occurs once
  .changeset/swift-suns-push.md
  packages/remirror__core/src/framework/framework.ts
Labels: type: bug :beetle:, type: changeset :butterfly:

#969 fix(react-components): open emoji after `:`
  .changeset/curly-swans-talk.md
  packages/remirror__react-components/src/components/emoji-popup-component.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#970 fix(yjs): ignore unnecessary handling of own changes to Yjs doc
  .changeset/dry-countries-jog.md
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: type: changeset :butterfly:

#972 fix(multishift): items can be empty array
  .changeset/yellow-cheetahs-kneel.md
  packages/multishift/src/multishift-utils.ts
  packages/remirror__react-components/src/components/emoji-popup-component.tsx
Labels: framework: react :atom_symbol:, package: multishift :arrow_down_small:, type: changeset :butterfly:, type: ui :nail_care:

#973 fix(styles): hide cursor when `GapCursor` is visible
  .changeset/modern-tables-chew.md
  packages/remirror__styles/all.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/core-theme.ts
Labels: type: changeset :butterfly:, type: ui :nail_care:

#975 fix(react-core): update `editable` when controlled
  .changeset/dry-turkeys-run.md
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/src/hooks/use-react-framework.tsx
  packages/remirror__react-core/src/react-framework.tsx
  packages/remirror__react/__stories__/controlled.stories.tsx
  packages/remirror__react/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: framework: react :atom_symbol:, test: unit :white_check_mark:, type: changeset :butterfly:, type: support :books:

#950 refactor(extension-list): refactor task list
  .changeset/fuzzy-beers-jog.md
  packages/remirror__core-constants/src/core-constants.ts
  packages/remirror__core/src/builtins/keymap-extension.ts
  packages/remirror__extension-list/__stories__/list-extension.stories.tsx
  packages/remirror__extension-list/__stories__/tsconfig.json
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/__tests__/list-extensions.spec.ts
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/__tests__/task-list-extension.spec.ts
  packages/remirror__extension-list/src/bullet-list-extension.ts
  packages/remirror__extension-list/src/index.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/list-item-node-view.ts
  packages/remirror__extension-list/src/list-item-shared-extension.ts
  packages/remirror__extension-list/src/task-list-extension.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  support/root/tsconfig.json
Labels: test: unit :white_check_mark:, type: changeset :butterfly:, type: support :books:

#980 feat(extension-callout): add configurable emoji
  .changeset/heavy-fishes-hammer.md
  .github/workflows/storybook.yml
  packages/remirror__extension-callout/__stories__/callout.stories.tsx
  packages/remirror__extension-callout/__tests__/callout-extension.spec.ts
  packages/remirror__extension-callout/package.json
  packages/remirror__extension-callout/readme.md
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-callout/src/callout-types.ts
  packages/remirror__extension-callout/src/callout-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-callout.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-callout-theme.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: test: unit :white_check_mark:, type: changeset :butterfly:, type: ui :nail_care:

#979 feat(extension-list): export two commands
  .changeset/fast-elephants-listen.md
  packages/remirror__extension-list/src/index.ts
Labels: type: changeset :butterfly:
