Repository remirror/remirror, pull requests merged in 2021-08, with the labels that each got.

#1033 fix(i18n): fix the bold command label
  .changeset/eight-pans-report.md
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__messages/src/extension-emoji-messages.ts
Labels: type: changeset :butterfly:

#1013 docs: add callout extension
  docs/extensions/callout-extension.md
Labels: status: sponsored :sparkling_heart:

#1009 docs: add annotation extension
  docs/extensions/annotation-extension.md
Labels: status: sponsored :sparkling_heart:

#1038 docs: add placeholder extension
  docs/extensions/placeholder-extension.md
  packages/remirror__extension-placeholder/__stories__/placeholder-extension.stories.tsx
  packages/remirror__extension-placeholder/__stories__/styles.css
  packages/remirror__extension-placeholder/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:, status: sponsored :sparkling_heart:

#1039 fix(docs): remove duplicated menu option "more"
  website/sidebar.js
Labels: status: sponsored :sparkling_heart:

#1042 fix(extension-list): don't move the content when splitting a closed item
  .changeset/wet-elephants-lick.md
  packages/remirror__extension-list/__stories__/list-extension.stories.tsx
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1046 chore: add changeset for remirror
  .changeset/tidy-deers-nail.md
Labels: type: changeset :butterfly:

#1047 ci: fix `publish_comment`
  support/scripts/src/helpers.ts
Labels: type: support :books:

#1031 feat(extension-file): first version
  .changeset/big-pillows-pretend.md
  .changeset/brown-meals-study.md
  .changeset/hot-donuts-film.md
  packages/remirror__extension-file/__stories__/file.stories.tsx
  packages/remirror__extension-file/__stories__/tsconfig.json
  packages/remirror__extension-file/__tests__/file-extension.spec.ts
  packages/remirror__extension-file/__tests__/tsconfig.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-file/readme.md
  packages/remirror__extension-file/src/file-component.tsx
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/file-placeholder-actions.ts
  packages/remirror__extension-file/src/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-upload-context.ts
  packages/remirror__extension-file/src/file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/bashupload-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/data-url-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/index.ts
  packages/remirror__extension-file/src/file-uploaders/object-url-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
  packages/remirror__extension-file/src/index.ts
  packages/remirror__extension-file/src/tsconfig.json
  packages/remirror__extension-react-component/src/react-node-view.tsx
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-file.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-file-theme.ts
  packages/remirror__theme/src/index.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  support/root/typedoc.json
Labels: type: support :books:, test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#1050 fix(extension-file): export `FileAttributes`
  .changeset/calm-hairs-clap.md
  packages/remirror__extension-file/src/index.ts
Labels: type: changeset :butterfly:

#1052 fix(extension-file): make `FileExtension` selectable by default
  .changeset/bright-dodos-beg.md
  packages/remirror__extension-file/src/file-extension.tsx
Labels: type: changeset :butterfly:

#1055 fix(extension-code-block): set fallback language
  .changeset/two-mangos-pay.md
  packages/remirror__extension-code-block/__stories__/code-block.stories.tsx
  packages/remirror__extension-code-block/__stories__/tsconfig.json
  packages/remirror__extension-code-block/src/code-block-utils.ts
  support/root/tsconfig.json
Labels: type: support :books:, type: changeset :butterfly:

#1057 chore: add changesets
  .changeset/nasty-mice-accept.md
Labels: type: changeset :butterfly:

#1059 docs: organize extension stories in separate section
  docs/extensions/annotation-extension.md
  docs/extensions/callout-extension.md
  docs/extensions/markdown-extension.md
  docs/extensions/placeholder-extension.md
  packages/remirror__extension-annotation/__stories__/annotation-extension.stories.tsx
  packages/remirror__extension-callout/__stories__/callout.stories.tsx
  packages/remirror__extension-code-block/__stories__/code-block.stories.tsx
  packages/remirror__extension-codemirror5/__stories__/codemirror5.stories.tsx
  packages/remirror__extension-embed/__stories__/iframe.stories.tsx
  packages/remirror__extension-file/__stories__/file.stories.tsx
  packages/remirror__extension-image/__stories__/image.stories.tsx
  packages/remirror__extension-link/__stories__/link-extension.stories.tsx
  packages/remirror__extension-list/__stories__/list-extension.stories.tsx
  packages/remirror__extension-placeholder/__stories__/placeholder-extension.stories.tsx
  packages/remirror__extension-positioner/__stories__/positioner-extension.stories.tsx
  packages/remirror__extension-react-tables/__stories__/react-tables-extension.stories.tsx
  packages/remirror__extension-tables/__stories__/table.stories.tsx
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:

#1060 docs: add links to storybook
  readme.md
  website/docusaurus.config.js
  website/src/pages/index.tsx
Labels: status: sponsored :sparkling_heart:

#1061 docs: apply standard design to annotation storybook
  packages/remirror__extension-annotation/__stories__/annotation-extension.stories.tsx
Labels: status: sponsored :sparkling_heart:

#1062 docs: match story title with extension name
  packages/remirror__extension-embed/__stories__/iframe.stories.tsx
Labels: status: sponsored :sparkling_heart:

#1064 docs: add storybook for react-renderer (static HTML)
  packages/remirror__react-renderer/__stories__/react-renderer.stories.tsx
  packages/remirror__react-renderer/__stories__/sample-doc.ts
  packages/remirror__react-renderer/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:, framework: react :atom_symbol:, status: sponsored :sparkling_heart:

#1065 docs: explain how to render document to static HTML
  docs/react/static-html.md
  packages/remirror__react-renderer/__stories__/tsconfig.json
  website/sidebar.js
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:

#1066 docs: improve storybook
  packages/remirror__extension-annotation/__stories__/tsconfig.json
  packages/remirror__extension-callout/__stories__/tsconfig.json
  packages/remirror__extension-code-block/__stories__/tsconfig.json
  packages/remirror__extension-codemirror5/__stories__/tsconfig.json
  packages/remirror__extension-embed/__stories__/tsconfig.json
  packages/remirror__extension-file/__stories__/tsconfig.json
  packages/remirror__extension-image/__stories__/tsconfig.json
  packages/remirror__extension-link/__stories__/tsconfig.json
  packages/remirror__extension-list/__stories__/tsconfig.json
  packages/remirror__extension-placeholder/__stories__/tsconfig.json
  packages/remirror__extension-positioner/__stories__/tsconfig.json
  packages/remirror__extension-react-tables/__stories__/tsconfig.json
  packages/remirror__extension-tables/__stories__/tsconfig.json
  packages/remirror__react-components/__stories__/tsconfig.json
  packages/remirror__react-renderer/__stories__/tsconfig.json
  packages/remirror__react/__stories__/tsconfig.json
  packages/storybook-react/__stories__/tsconfig.json
  packages/storybook-react/manager-head.html
  packages/storybook-react/manager.js
  packages/storybook-react/package.json
  packages/storybook-react/remirror-theme.js
  packages/storybook-react/src/storybook-react-main.ts
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:, type: ui :nail_care:

#1067 fix(react-renderer): add support for emoji callouts
  .changeset/strong-planets-perform.md
  packages/remirror__react-renderer/__tests__/callout.spec.tsx
  packages/remirror__react-renderer/src/handlers/callout.tsx
Labels: test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:

#1069 feat(doc): allow docAttributes to have default values
  .changeset/rotten-guests-raise.md
  packages/remirror__extension-doc/__tests__/doc-extension.spec.ts
  packages/remirror__extension-doc/src/doc-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1071 fix(extension-node-formatting): formatting wasn't reflected in style
  packages/remirror__extension-node-formatting/__stories__/node-formatting.stories.tsx
  packages/remirror__extension-node-formatting/__stories__/tsconfig.json
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  support/root/tsconfig.json
Labels: type: support :books:, status: sponsored :sparkling_heart:

#1072 fix: add missing changelog for earlier node formatting PR
  .changeset/chatty-buttons-rush.md
Labels: type: changeset :butterfly:, status: sponsored :sparkling_heart:

#1054 docs: remove unnecessary corePreset pattern
  docs/concepts/extra-attributes.md
  docs/errors.md
  docs/react/create-editor.md
  packages/remirror__dev/readme.md
  packages/remirror__react-components/__stories__/component.stories.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

#1074 docs: add explanation for node formatting extension
  docs/extensions/node-formatting-extension.md
Labels: status: sponsored :sparkling_heart:

#1075 docs: explain usage of EmbedExtension
  docs/extensions/embed-extension.md
  packages/remirror__extension-embed/__stories__/iframe.stories.tsx
Labels: status: sponsored :sparkling_heart:

#1076 docs: explain usage of LinkExtension
  docs/extensions/link-extension.md
  packages/remirror__extension-link/__stories__/floating-link-toolbar.tsx
  packages/remirror__extension-link/__stories__/link-extension.stories.tsx
Labels: status: sponsored :sparkling_heart:

#1077 chore: add a workaround for changesets dependents
  package.json
  packages/remirror__extension-annotation/__stories__/tsconfig.json
  packages/remirror__extension-callout/__stories__/tsconfig.json
  packages/remirror__extension-code-block/__stories__/tsconfig.json
  packages/remirror__extension-codemirror5/__stories__/tsconfig.json
  packages/remirror__extension-embed/__stories__/tsconfig.json
  packages/remirror__extension-file/__stories__/tsconfig.json
  packages/remirror__extension-image/__stories__/tsconfig.json
  packages/remirror__extension-link/__stories__/tsconfig.json
  packages/remirror__extension-list/__stories__/tsconfig.json
  packages/remirror__extension-node-formatting/__stories__/tsconfig.json
  packages/remirror__extension-placeholder/__stories__/tsconfig.json
  packages/remirror__extension-positioner/__stories__/tsconfig.json
  packages/remirror__extension-react-tables/__stories__/tsconfig.json
  packages/remirror__extension-tables/__stories__/tsconfig.json
  packages/remirror__react-components/__stories__/tsconfig.json
  packages/remirror__react-renderer/__stories__/tsconfig.json
  packages/remirror__react/__stories__/tsconfig.json
  packages/storybook-react/__stories__/tsconfig.json
  pnpm-lock.yaml
  support/scripts/changeset-update-dependents/package.json
  support/scripts/package.json
  support/scripts/src/changeset-update-dependents.ts
  support/scripts/src/helpers.ts
Labels: type: support :books:, framework: react :atom_symbol:, type: ui :nail_care:

#1083 chore: remove the code from `@remirror/es-module-shims`
  deprecated/remirror__es-module-shims/CHANGELOG.md
  deprecated/remirror__es-module-shims/package.json
  deprecated/remirror__es-module-shims/readme.md
  packages/remirror__es-module-shims/package.json
  packages/remirror__es-module-shims/src/es-module-shims.ts
  packages/remirror__es-module-shims/src/index.ts
  packages/remirror__es-module-shims/src/shim-utils.ts
  packages/remirror__es-module-shims/src/tsconfig.json
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  support/root/typedoc.json
Labels: type: support :books:

#1081 docs: explain how to use hook useMentionAtom
  docs/hooks/use-mention-atom.md
  packages/remirror__react-hooks/__stories__/tsconfig.json
  packages/remirror__react-hooks/__stories__/use-mention-atom-styles.css
  packages/remirror__react-hooks/__stories__/use-mention-atom.stories.tsx
  support/root/tsconfig.json
Labels: type: support :books:, framework: react :atom_symbol:, status: sponsored :sparkling_heart:

#1084 chore: release `@remirror/extension-node-formatting`
  .changeset/empty-wasps-guess.md
Labels: type: changeset :butterfly:

#1087 docs: import `useMentionAtom` from `@remirror/react`
  packages/remirror__react-hooks/__stories__/use-mention-atom.stories.tsx
Labels: framework: react :atom_symbol:

#1089 chore: deprecate `@remirror/react-native` and `@remirror/react-debugger`
  .changeset/big-students-dream.md
  .changeset/quiet-tips-ring.md
  packages/remirror__react-debugger/readme.md
  packages/remirror__react-native/README.md
Labels: type: changeset :butterfly:

#1092 fix: remove playground from `remirror` and `@remirror/react`
  .changeset/sharp-moose-stare.md
  .changeset/silent-kings-drop.md
  .github/workflows/publish.yml
  packages/remirror/package.json
  packages/remirror/playground/package.json
  packages/remirror/src/playground.ts
  packages/remirror__react/package.json
  packages/remirror__react/playground/package.json
  packages/remirror__react/src/playground.ts
  support/scripts/CHANGELOG.md
Labels: type: support :books:, framework: react :atom_symbol:, type: changeset :butterfly:

#1093 fix(pm): update dependencies
  .changeset/itchy-rules-fix.md
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

#1101 docs: basic extensions
  docs/extensions/bold-extension.md
  docs/extensions/italic-extension.md
  docs/extensions/strike-extension.md
  docs/extensions/underline-extension.md
  packages/remirror__extension-bold/__stories__/bold.stories.tsx
  packages/remirror__extension-bold/__stories__/styles.css
  packages/remirror__extension-bold/__stories__/tsconfig.json
  packages/remirror__extension-italic/__stories__/italic.stories.tsx
  packages/remirror__extension-italic/__stories__/styles.css
  packages/remirror__extension-italic/__stories__/tsconfig.json
  packages/remirror__extension-strike/__stories__/strike.stories.tsx
  packages/remirror__extension-strike/__stories__/styles.css
  packages/remirror__extension-strike/__stories__/tsconfig.json
  packages/remirror__extension-underline/__stories__/styles.css
  packages/remirror__extension-underline/__stories__/tsconfig.json
  packages/remirror__extension-underline/__stories__/underline.stories.tsx
  support/root/tsconfig.json
Labels: type: support :books:, status: sponsored :sparkling_heart:

#1103 docs: remove non-functioning inline example
  docs/extensions/markdown-extension.md
Labels: status: sponsored :sparkling_heart:

#1102 fix(node-formatting): style attribute parse, invalid line-height
  .changeset/red-beds-wait.md
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  packages/remirror__extension-node-formatting/src/node-formatting-utils.ts
Labels: type: changeset :butterfly:

#1105 chore(deps): update dependencies
  .github/workflows/pr-name-linter.yml
  .github/workflows/publish.yml
  .github/workflows/version.yml
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
  support/root/commitlint.config.js
Labels: type: support :books:, package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:

#1106 chore: deprecate `@remirror/extension-react-native-bridge`
  .changeset/sixty-rivers-sniff.md
  packages/remirror__extension-react-native-bridge/readme.md
Labels: type: changeset :butterfly:

#1116 chore: remove some unused test environments
  .gitignore
  package.json
  packages/testing/src/playwright/playwright-types.ts
  pnpm-lock.yaml
  support/detox/config.json
  support/detox/environment.js
  support/root/.detoxrc.json
  support/root/jest.config.e2e.js
Labels: type: support :books:

#1117 chore: remove git-lfs
  .github/workflows/docs.yml
  .github/workflows/storybook.yml
  docs/contributing.md
  support/lfs-hooks/post-checkout
  support/lfs-hooks/post-commit
  support/lfs-hooks/post-merge
  support/lfs-hooks/pre-push
  support/root/.huskyrc
Labels: type: support :books:

#1120 docs: explain further extensions
  docs/extensions/blockquote-extension.md
  docs/extensions/bold-extension.md
  docs/extensions/code-extension.md
  docs/extensions/italic-extension.md
  docs/extensions/placeholder-extension.md
  docs/extensions/strike-extension.md
  docs/extensions/text-color-extension.md
  docs/extensions/underline-extension.md
  packages/remirror__extension-blockquote/__stories__/blockquote.stories.tsx
  packages/remirror__extension-blockquote/__stories__/styles.css
  packages/remirror__extension-blockquote/__stories__/tsconfig.json
  packages/remirror__extension-code/__stories__/code.stories.tsx
  packages/remirror__extension-code/__stories__/styles.css
  packages/remirror__extension-code/__stories__/tsconfig.json
  packages/remirror__extension-text-color/__stories__/text-color.stories.tsx
  packages/remirror__extension-text-color/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:, status: sponsored :sparkling_heart:

#1122 docs: describe how to replace editor content
  packages/remirror__react/__stories__/controlled.stories.tsx
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:

#1126 fix(remirror): export `remirror/styles`
  .changeset/friendly-spies-peel.md
  support/scripts/src/generate-configs.ts
Labels: type: support :books:, type: changeset :butterfly:

#1125 fix(i18n): set `sideEffect` as true because of global initialization
  .changeset/fifty-weeks-visit.md
  packages/remirror__i18n/package.json
Labels: type: changeset :butterfly:

#1128 chore: improve changeset message
  .changeset/fifty-weeks-visit.md
Labels: type: changeset :butterfly:

#1129 docs: explain usage of use-mention hook
  docs/hooks/use-mention.md
  packages/remirror__react-hooks/__stories__/use-mention-atom-styles.css
  packages/remirror__react-hooks/__stories__/use-mention.stories.tsx
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:

#1130 fix(remirror): export `remirror/styles`
  .changeset/poor-houses-smoke.md
  packages/remirror/package.json
  support/scripts/src/generate-configs.ts
Labels: type: support :books:, type: changeset :butterfly:

#1136 docs: improve file-extension code docs
  packages/remirror__extension-file/__stories__/file.stories.tsx
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
Labels: status: sponsored :sparkling_heart:

#1137 fix: font-size failed to mixed string/number
  packages/remirror__extension-font-size/src/font-size-extension.ts
Labels: status: sponsored :sparkling_heart:

#1138 fix: supported font cases
  packages/remirror__extension-text-case/src/text-case-extension.ts
  packages/remirror__extension-text-case/src/text-case-utils.ts
Labels: status: sponsored :sparkling_heart:

#1139 docs: make documented default value match code
  packages/remirror__extension-text-case/src/text-case-utils.ts
Labels: status: sponsored :sparkling_heart:

#1140 docs: explain extensions
  docs/extensions/font-family-extension.md
  docs/extensions/font-size-extension.md
  docs/extensions/sub-extension.md
  docs/extensions/sup-extension.md
  docs/extensions/text-case-extension.md
  packages/remirror__extension-code-block/__stories__/code-block.stories.tsx
  packages/remirror__extension-font-family/__stories__/font-family.stories.tsx
  packages/remirror__extension-font-family/__stories__/tsconfig.json
  packages/remirror__extension-font-family/src/font-family-extension.ts
  packages/remirror__extension-font-size/__stories__/font-size.stories.tsx
  packages/remirror__extension-font-size/__stories__/tsconfig.json
  packages/remirror__extension-node-formatting/__stories__/node-formatting.stories.tsx
  packages/remirror__extension-react-tables/__stories__/react-tables-extension.stories.tsx
  packages/remirror__extension-sub/__stories__/sub.stories.tsx
  packages/remirror__extension-sub/__stories__/tsconfig.json
  packages/remirror__extension-sup/__stories__/sup.stories.tsx
  packages/remirror__extension-sup/__stories__/tsconfig.json
  packages/remirror__extension-text-case/__stories__/text-case.stories.tsx
  packages/remirror__extension-text-case/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:, framework: react :atom_symbol:, status: sponsored :sparkling_heart:

#1141 docs: document remaining extensions
  docs/extensions/code-block-extension.md
  docs/extensions/collaboration-extension.md
  docs/extensions/columns-extension.md
  docs/extensions/drop-cursor-extension.md
  docs/extensions/emoji-extension.md
  docs/extensions/epic-mode-extension.md
  docs/extensions/events-extension.md
  docs/extensions/file-extension.md
  docs/extensions/gap-cursor-extension.md
  docs/extensions/hard-break-extension.md
  docs/extensions/heading-extension.md
  docs/extensions/history-extension.md
  docs/extensions/horizontal-rule-extension.md
  docs/extensions/image-extension.md
  docs/extensions/list-extension.md
  docs/extensions/mention-extension-atom.md
  docs/extensions/mention-extension.md
  docs/extensions/positioner-extension.md
  docs/extensions/search-extension.md
  docs/extensions/sub-extension.md
  docs/extensions/sup-extension.md
  docs/extensions/text-highlight-extension.md
  docs/extensions/trailing-node-extension.md
  docs/extensions/whitespace-extension.md
  packages/remirror__extension-columns/__stories__/columns.stories.tsx
  packages/remirror__extension-columns/__stories__/tsconfig.json
  packages/remirror__extension-epic-mode/__stories__/epic-mode.stories.tsx
  packages/remirror__extension-epic-mode/__stories__/tsconfig.json
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-hard-break/__stories__/hard-break.stories.tsx
  packages/remirror__extension-hard-break/__stories__/tsconfig.json
  packages/remirror__extension-hard-break/src/hard-break-extension.ts
  packages/remirror__extension-heading/__stories__/heading.stories.tsx
  packages/remirror__extension-heading/__stories__/tsconfig.json
  packages/remirror__extension-horizontal-rule/__stories__/horizontal-rule.stories.tsx
  packages/remirror__extension-horizontal-rule/__stories__/tsconfig.json
  packages/remirror__extension-positioner/__stories__/positioner-extension.stories.tsx
  packages/remirror__extension-text-highlight/__stories__/text-highlight.stories.tsx
  packages/remirror__extension-text-highlight/__stories__/tsconfig.json
  support/root/tsconfig.json
Labels: type: support :books:, status: sponsored :sparkling_heart:

#1135 docs: add examples for components
  packages/storybook-react/stories/react-components/emoji-popup.stories.tsx
  packages/storybook-react/stories/react-components/floating-menu.stories.tsx
  packages/storybook-react/stories/react-components/mention-atom-popup.stories.tsx
  packages/storybook-react/stories/react-components/sample-content/huge.ts
  packages/storybook-react/stories/react-components/sample-content/medium.ts
  packages/storybook-react/stories/react-components/toolbar.stories.tsx
Labels: status: sponsored :sparkling_heart:

#1118 chore: small config update
  pnpm-workspace.yaml
  support/scripts/src/generate-configs.ts
Labels: type: support :books:

#1146 chore: remove deprecated packages
  packages/remirror__extension-react-native-bridge/CHANGELOG.md
  packages/remirror__extension-react-native-bridge/__tests__/react-native-bridge-extension.spec.ts
  packages/remirror__extension-react-native-bridge/__tests__/tsconfig.json
  packages/remirror__extension-react-native-bridge/package.json
  packages/remirror__extension-react-native-bridge/readme.md
  packages/remirror__extension-react-native-bridge/src/index.ts
  packages/remirror__extension-react-native-bridge/src/react-native-bridge-extension.ts
  packages/remirror__extension-react-native-bridge/src/tsconfig.json
  packages/remirror__react-debugger/CHANGELOG.md
  packages/remirror__react-debugger/package.json
  packages/remirror__react-debugger/readme.md
  packages/remirror__react-debugger/src/components/highlighter.tsx
  packages/remirror__react-debugger/src/components/index.ts
  packages/remirror__react-debugger/src/components/json-diff.tsx
  packages/remirror__react-debugger/src/components/json-tree.tsx
  packages/remirror__react-debugger/src/components/list.tsx
  packages/remirror__react-debugger/src/components/node-picker.tsx
  packages/remirror__react-debugger/src/components/styled.ts
  packages/remirror__react-debugger/src/components/tabs/history-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/index.ts
  packages/remirror__react-debugger/src/components/tabs/json-editor-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/plugins-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/schema-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/snapshots-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/state-tab.tsx
  packages/remirror__react-debugger/src/components/tabs/structure-tab.tsx
  packages/remirror__react-debugger/src/debugger-constants.ts
  packages/remirror__react-debugger/src/debugger-json-diff.ts
  packages/remirror__react-debugger/src/debugger-state.ts
  packages/remirror__react-debugger/src/debugger-tools-collapsed.tsx
  packages/remirror__react-debugger/src/debugger-tools-expanded.tsx
  packages/remirror__react-debugger/src/debugger-tools.tsx
  packages/remirror__react-debugger/src/debugger-types.ts
  packages/remirror__react-debugger/src/debugger-utils.ts
  packages/remirror__react-debugger/src/index.ts
  packages/remirror__react-debugger/src/tsconfig.json
  packages/remirror__react-debugger/src/utils/find-node.ts
  packages/remirror__react-debugger/src/utils/format-selection-object.ts
  packages/remirror__react-debugger/src/worker.json-diff.ts
  packages/remirror__react-debugger/worker.json-diff/package.json
  packages/remirror__react-native/.gitignore
  packages/remirror__react-native/CHANGELOG.md
  packages/remirror__react-native/README.md
  packages/remirror__react-native/__fixtures__/bundle.fixture.ts
  packages/remirror__react-native/__fixtures__/bundle/file.ts
  packages/remirror__react-native/__fixtures__/full.fixture.tsx
  packages/remirror__react-native/__fixtures__/transpile.fixture.ts
  packages/remirror__react-native/package.json
  packages/remirror__react-native/sample.metro.config.js
  packages/remirror__react-native/src/index.ts
  packages/remirror__react-native/src/native-remirror.tsx
  packages/remirror__react-native/src/react-native-type.ts
  packages/remirror__react-native/src/tsconfig.json
  packages/tsconfig.json
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  support/root/typedoc.json
Labels: type: support :books:, test: unit :white_check_mark:, framework: react :atom_symbol:

#1150 fix: website header too narrow on large screens
  website/styles.css
Labels: status: sponsored :sparkling_heart:

#1151 docs: remove unused section "packages"
  docs/packages/remirror__extension-markdown.md
  website/sidebar.js
Labels: status: sponsored :sparkling_heart:

#1152 docs: add remaining extensions to overview page
  docs/extensions/gap-cursor-extension.md
  docs/extensions/index.md
  docs/extensions/mention-atom-extension.md
Labels: status: sponsored :sparkling_heart:

#1153 docs: organize stories in sections
  packages/storybook-react/preview.js
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
  packages/storybook-react/stories/react-editors/wysiwyg-editor.stories.tsx
  packages/storybook-react/stories/react-renderer/react-renderer.stories.tsx
  packages/storybook-react/stories/react/controlled.stories.tsx
Labels: status: sponsored :sparkling_heart:

#1155 docs: import existing blog articles
  website/blog/2021-02-06-decouple-render.md
  website/blog/2021-05-20-community-challenge.md
  website/blog/2021-08-07-serverless-yjs.md
Labels: status: sponsored :sparkling_heart:

#1157 fix: set correct label and icon for task list
  packages/remirror__extension-list/src/task-list-extension.ts
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__messages/src/extension-list-messages.ts
Labels: status: sponsored :sparkling_heart:

#1156 fix: bring back the social editor
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/storybook-react/stories/react-editors/social-editor.stories.tsx
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:

#1174 fix(extension-list): toggle task lists to bullet lists and vice versa
  .changeset/great-frogs-move.md
  .changeset/thirty-owls-pull.md
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-list.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-list-theme.ts
  packages/storybook-react/stories/extension-list/list-extension.stories.tsx
Labels: test: unit :white_check_mark:, type: changeset :butterfly:, type: ui :nail_care:

#1176 feat(core): add new `UploadExtension`
  .changeset/tender-berries-fly.md
  packages/remirror__core/src/builtins/builtin-preset.ts
  packages/remirror__core/src/builtins/index.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-actions.ts
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
  packages/remirror__core/src/builtins/upload-extension/file-uploader.ts
  packages/remirror__core/src/builtins/upload-extension/index.ts
  packages/remirror__core/src/builtins/upload-extension/upload-context.ts
  packages/remirror__core/src/builtins/upload-extension/upload-extension.ts
  packages/remirror__extension-file/src/file-component.tsx
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-uploaders/bashupload-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/data-url-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/object-url-file-uploader.ts
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
  packages/remirror__extension-file/src/index.ts
  packages/remirror__extension-image/src/image-extension.ts
  packages/storybook-react/stories/extension-file/file.stories.tsx
  packages/storybook-react/stories/extension-file/use-file-dialog.ts
Labels: type: changeset :butterfly:

#1178 fix(core): decouple core and theme
  .changeset/friendly-worms-sparkle.md
  packages/remirror__core/package.json
  packages/remirror__core/src/framework/framework.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

#1180 docs: improve homepage messaging
  website/package.json
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
  website/static/img/banner-growing.svg
  website/static/img/banner-multiframework.svg
Labels: status: sponsored :sparkling_heart:

#1181 docs: defocus improvement suggestions section
  docs/introduction.md
Labels: status: sponsored :sparkling_heart:

#1182 docs: add blog post about user showcase
  website/blog/2021-08-27-showcase-next.md
Labels: status: sponsored :sparkling_heart:

#1183 feat(extension-list): don't require a `NodeSelection` to fire `toggleCheckboxChecked`
  .changeset/shiny-trains-promise.md
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1185 fix(theme): reset some CSS on IMG separator nodes
  .changeset/lazy-crews-speak.md
  packages/remirror__styles/all.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/core-theme.ts
Labels: type: changeset :butterfly:, type: ui :nail_care:

#1187 fix: typos on homepage
  website/src/pages/index.tsx
Labels: status: sponsored :sparkling_heart:
