Repository remirror/remirror, pull requests merged in 2021-03, with the labels that each got.

#881 feat(react-renderer): make composable
  .changeset/clean-rings-flash.md
  packages/remirror__react-renderer/__tests__/code-block.spec.tsx
  packages/remirror__react-renderer/__tests__/renderer.spec.tsx
  packages/remirror__react-renderer/__tests__/text.spec.tsx
  packages/remirror__react-renderer/__tests__/tsconfig.json
  packages/remirror__react-renderer/src/handlers/code-block.tsx
  packages/remirror__react-renderer/src/handlers/index.ts
  packages/remirror__react-renderer/src/handlers/text.tsx
  packages/remirror__react-renderer/src/index.ts
  packages/remirror__react-renderer/src/renderer.tsx
  packages/remirror__react-renderer/src/types.ts
  support/root/tsconfig.json
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:, type: support :books:

#882 feat(react-renderer): support static heading, iframe & link
  .changeset/twelve-berries-greet.md
  packages/remirror__react-renderer/__tests__/heading.spec.tsx
  packages/remirror__react-renderer/__tests__/iframe.spec.tsx
  packages/remirror__react-renderer/__tests__/link.spec.tsx
  packages/remirror__react-renderer/src/handlers/heading.tsx
  packages/remirror__react-renderer/src/handlers/iframe.tsx
  packages/remirror__react-renderer/src/handlers/link.tsx
  packages/remirror__react-renderer/src/renderer.tsx
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:

#884 fix(react-renderer): export heading, link, and iframe
  .changeset/funny-schools-swim.md
  packages/remirror__react-renderer/__tests__/heading.spec.tsx
  packages/remirror__react-renderer/__tests__/iframe.spec.tsx
  packages/remirror__react-renderer/__tests__/link.spec.tsx
  packages/remirror__react-renderer/src/handlers/index.ts
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:, type: fix :wrench:

#886 feat(react-renderer): add default `horizontalRule`
  .changeset/brown-otters-juggle.md
  packages/remirror__react-renderer/src/renderer.tsx
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:, type: changeset :butterfly:, type: feature :sparkles:

#887 feat(react-renderer): support `callout` nodes
  .changeset/dry-ties-report.md
  packages/remirror__react-renderer/__tests__/callout.spec.tsx
  packages/remirror__react-renderer/src/handlers/callout.tsx
  packages/remirror__react-renderer/src/handlers/index.ts
  packages/remirror__react-renderer/src/renderer.tsx
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:, test: unit :white_check_mark:, type: changeset :butterfly:

#891 feat(core-utils): support parsing html in node
  .changeset/real-humans-guess.md
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core-utils/__tests__/core-utils.ssr.spec.ts
  packages/remirror__core-utils/package.json
  packages/remirror__core-utils/readme.md
  packages/remirror__core-utils/src/core-utils.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: test: unit :white_check_mark:, type: changeset :butterfly:, type: feature :sparkles:
