Repository remirror/remirror, pull requests merged in 2021-09, with the labels that each got.

#1191 feat: use modern tables for pre-packaged editors
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/remirror__react-editors/src/components/top-toolbar.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:

#1192 fix: storybook exposed a non-functioning story
  packages/storybook-react/stories/extension-react-tables/react-tables-extension.stories.tsx
Labels: status: sponsored :sparkling_heart:

#1193 feat: improve design of default table components
  packages/remirror__extension-react-tables/src/components/table-cell-menu.tsx
Labels: framework: react :atom_symbol:, status: sponsored :sparkling_heart:

#1194 fix: task list was not available in SocialEditor
  .changeset/eight-bears-relate.md
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
Labels: type: changeset :butterfly:, status: sponsored :sparkling_heart:

#1196 fix(extension-list): don't create a node selection within the `toggleCheckboxChecked` command
  .changeset/six-readers-hug.md
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:

#1198 fix(extension-list): fix click checkbox
  .changeset/heavy-books-argue.md
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: type: changeset :butterfly:

#1203 fix(react-hooks): fix an out of range error
  .changeset/rare-starfishes-behave.md
  packages/remirror__react-hooks/src/use-menu-navigation.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#1209 chore: prepare for the upcoming dependency upgrade
  packages/jest-prosemirror/src/jest-prosemirror-events.ts
  packages/jest-prosemirror/src/jest-prosemirror-matchers.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-file/src/file-uploaders/bashupload-file-uploader.ts
  pnpm-lock.yaml
  support/actions/src/pr.ts
  support/scripts/src/check-styles.ts
  support/scripts/src/deprecate-version.ts
  support/scripts/src/generate-api.ts
  support/scripts/src/generate-configs.ts
  support/scripts/src/read-config.ts
  website/package.json
Labels: type: support :books:, package: jest-prosemirror :performing_arts:

#1210 fix(prosemirror-resizable-view): don't discard node attributes when resizing
  .changeset/cool-wolves-camp.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
Labels: type: changeset :butterfly:

#1207 fix: remove react dependency from wysiwyg-preset
  .changeset/calm-olives-repair.md
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/remirror__react-editors/__e2e__/tsconfig.json
  packages/remirror__react-editors/package.json
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/tsconfig.json
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, status: sponsored :sparkling_heart:

#1215 docs: add sample editor to homepage
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
Labels: type: ui :nail_care:

#1208 fix(core): unchained commands should use a new transaction
  .changeset/twelve-hotels-matter.md
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  support/root/jest.config.js
Labels: type: bug :beetle:, type: support :books:, test: unit :white_check_mark:, type: changeset :butterfly:

#1220 docs: embed examples
  docs/extensions/code-block-extension.mdx
  docs/extensions/code-extension.mdx
  docs/extensions/index.md
  package.json
  packages/storybook-react/stories/extension-code-block/basic.tsx
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-incorrect-language.tsx
  packages/storybook-react/stories/extension-code/basic.tsx
  packages/storybook-react/stories/extension-code/code.stories.tsx
  packages/storybook-react/stories/extension-link/floating-link-toolbar.tsx
  packages/storybook-react/stories/extension-link/link-extension.stories.tsx
  pnpm-lock.yaml
  support/actions/pnpm/action.yml
  support/root/.eslintignore
  support/scripts/generate-website-examples/package.json
  support/scripts/package.json
  support/scripts/src/generate-website-examples.ts
  website/babel.config.js
  website/components/example-root.tsx
  website/extension-examples/extension-code-block/basic.tsx
  website/extension-examples/extension-code-block/with-incorrect-language.tsx
  website/extension-examples/extension-code/basic.tsx
  website/package.json
  website/sidebar.js
Labels: type: support :books:

#1225 feat(resizable-view): make handle more recognizable
  .changeset/thin-planes-remain.md
  packages/prosemirror-resizable-view/src/corner-handle.ts
  packages/prosemirror-resizable-view/src/resizable-view-handle.ts
Labels: type: changeset :butterfly:

#1232 fix: prevent to detect parts of emails as link
  .changeset/two-scissors-change.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1239 fix(extension-list): fix a RangeError when calling list commands
  .changeset/beige-cows-call.md
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-list/__tests__/list-commands.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1243 fix: improve performance for dynamic attributes
  .changeset/giant-hounds-watch.md
  packages/remirror__core/src/builtins/schema-extension.ts
Labels: type: changeset :butterfly:

#1242 fix(extension-list): improve list item node view performance
  .changeset/unlucky-birds-hug.md
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/list-item-node-view.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
  support/root/.eslintrc.js
Labels: type: changeset :butterfly:

#1257 docs: embed generated api document
  .github/workflows/docs.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  support/root/api-documenter.json
  support/root/tsconfig.docs.json
  support/root/typedoc.json
  support/scripts/create-typedoc-sidebars/package.json
  support/scripts/package.json
  support/scripts/src/create-typedoc-sidebars.ts
  support/scripts/src/generate-api.ts
  support/scripts/src/generate-configs.ts
  tsconfig.docs.json
  typedoc.json
  website/docusaurus.config.js
  website/sidebar.js
Labels: type: support :books:

#1259 docs: embed api documents for most packages
  .github/workflows/docs.yml
  packages/remirror__dev/src/dev.ts
  support/scripts/src/generate-api.ts
Labels: type: support :books:

#1262 docs: fix typo in documentation code example
  packages/remirror__react-hooks/src/use-multi-positioner.ts
Labels: framework: react :atom_symbol:

#1269 feat: allow to pre-fill markdown editor
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
Labels: framework: react :atom_symbol:

#1272 feat(extension-annotation): add flag to filter out getAnnotationsAt edge matches
  .changeset/big-terms-clean.md
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:
