Repository remirror/remirror, pull requests merged in 2021-04, with the labels that each got.

#912 fix: update exports and `YjsExtension` style
  .changeset/hip-bears-whisper.md
  .changeset/modern-snails-camp.md
  .changeset/sweet-pets-visit.md
  packages/remirror__extension-image/src/image-extension.ts
  packages/remirror__extension-image/src/index.ts
  packages/remirror__react-hooks/src/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-yjs.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-yjs-theme.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#911 feat(extension-react-tables): merge two menu components into one
  .changeset/quiet-cups-learn.md
  .changeset/warm-pans-march.md
  packages/remirror__extension-react-tables/src/components/table-cell-menu.tsx
  packages/remirror__extension-react-tables/src/index.ts
  packages/remirror__react/package.json
  packages/remirror__react/src/index.ts
  packages/remirror__react/src/tsconfig.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#917 fix(core-utils): use createAndFill instead of create in inputRule
  .changeset/witty-impalas-deny.md
  packages/remirror__core-utils/src/prosemirror-rules.ts
Labels: type: changeset :butterfly:

#916 fix(core-types): update `DOMOutputSpec`
  .changeset/three-toes-wait.md
  packages/remirror__core-types/__tests__/core-types.spec.ts
  packages/remirror__core-types/src/core-types.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#919 fix(extension-react-tables): use an earlier version of `jsx-dom`
  .changeset/nine-rings-compete.md
  packages/remirror__extension-react-tables/package.json
  packages/remirror__extension-react-tables/src/components/table-controller-cell.ts
  packages/remirror__extension-react-tables/src/components/table-insert-button-trigger.ts
  packages/remirror__extension-react-tables/src/components/table-insert-button.ts
  packages/remirror__extension-react-tables/src/components/table-insert-mark.ts
  packages/remirror__extension-react-tables/src/utils/dom.ts
  packages/remirror__extension-react-tables/src/utils/jsx.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__extension-react-tables/src/views/table-view.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#926 fix(extension-events): fix undefined nodes
  .changeset/heavy-ants-heal.md
  packages/remirror__extension-events/src/events-extension.ts
Labels: type: changeset :butterfly:

#922 fix(extension-react-tables): fix insert button and cell menu
  .changeset/early-laws-report.md
  packages/remirror__extension-react-tables/src/components/table-cell-menu.tsx
  packages/remirror__extension-react-tables/src/components/table-insert-button.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#932 feat(storybook-react): add an introduction page
  .github/workflows/storybook.yml
  packages/storybook-react/__stories__/introduction.stories.tsx
  packages/storybook-react/__stories__/tsconfig.json
  packages/storybook-react/package.json
  packages/storybook-react/src/storybook-react-main.ts
  pnpm-lock.yaml
  support/root/tsconfig.json
Labels: type: support :books:

#930 fix(extension-events): use posAtDOM to get mouse event position
  .changeset/quiet-kings-dream.md
  packages/remirror__extension-events/src/events-utils.ts
Labels: type: changeset :butterfly:

#920 feat(extension-list): implement list item with checkbox
  .changeset/strange-buses-play.md
  .changeset/strong-emus-rule.md
  packages/remirror__core-utils/src/prosemirror-rules.ts
  packages/remirror__extension-list/__tests__/tsconfig.json
  packages/remirror__extension-list/package.json
  packages/remirror__extension-list/src/list-commands.ts
  packages/remirror__extension-list/src/list-item-extension.ts
  packages/remirror__extension-list/src/tsconfig.json
  packages/remirror__react-editors/__stories__/markdown-editor.stories.tsx
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-list.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-list-theme.ts
  packages/remirror__theme/src/index.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#934 fix(react-core): expose `useMarkRange` hook
  .changeset/mighty-hounds-pay.md
  packages/remirror__core-utils/src/prosemirror-node-utils.ts
  packages/remirror__react-core/src/hooks/index.ts
  packages/remirror__react-core/src/index.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#937 fix(extension-callout): prevent empty block containers
  .changeset/giant-ligers-exist.md
  packages/remirror__extension-blockquote/src/blockquote-extension.ts
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__messages/src/extension-callout-messages.ts
Labels: type: changeset :butterfly:

#939 chore: update pnpm to v6
  package.json
  packages/remirror__extension-annotation/__stories__/tsconfig.json
  packages/remirror__extension-codemirror5/__stories__/tsconfig.json
  packages/remirror__extension-image/__stories__/tsconfig.json
  packages/remirror__extension-link/__stories__/tsconfig.json
  packages/remirror__extension-positioner/__stories__/tsconfig.json
  packages/remirror__extension-react-tables/__stories__/tsconfig.json
  packages/remirror__extension-tables/__stories__/tsconfig.json
  packages/remirror__react-components/__stories__/tsconfig.json
  packages/storybook-react/__stories__/tsconfig.json
  pnpm-lock.yaml
  support/actions/pnpm/action.yml
  support/azure/pipeline-install.yml
  support/scripts/check-pnpm.mjs
  support/scripts/src/generate-configs.ts
Labels: framework: react :atom_symbol:, type: support :books:, type: ui :nail_care:

#940 fix: pasting links ignores everything after "www."
  .changeset/angry-crews-shave.md
  packages/remirror__extension-link/src/link-extension.ts
Labels: status: sponsored :sparkling_heart:, type: changeset :butterfly:

#945 fix(theme): fix parent classname for blockquote, node-formatting styles
  .changeset/yellow-turtles-tan.md
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-blockquote.css
  packages/remirror__styles/extension-node-formatting.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-blockquote-theme.ts
  packages/remirror__theme/src/extension-node-formatting-theme.ts
Labels: type: changeset :butterfly:, type: ui :nail_care:
