Repository remirror/remirror, pull requests merged in 2022-04, with the labels that each got.

#1573 fix(extension-react-tables): borders should be applied for table headers on hover of column controller
  .changeset/great-squids-sleep.md
  packages/remirror__extension-react-tables/src/table-plugins.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#1577 fix(extension-react-tables): deleted an incorrect preselectClass style on react-table-extension
  .changeset/poor-apples-fry.md
  packages/remirror__extension-react-tables/src/table-plugins.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#1576 chore(deps): bump prosemirror-view version
  .changeset/dull-eggs-walk.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

#1586 fix(prosemirror-resizable-view): fix an error during resizing
  .changeset/cold-spies-ring.md
  packages/prosemirror-resizable-view/src/prosemirror-resizable-view.ts
Labels: type: changeset :butterfly:

#1601 feat(dev): replace the underlying component with prosemirror-dev-toolkit
  .changeset/thin-impalas-yell.md
  packages/remirror__dev/__tests__/dev.spec.tsx
  packages/remirror__dev/package.json
  packages/remirror__dev/readme.md
  packages/remirror__dev/src/dev.ts
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1605 fix(tables,react-tables): avoid highlighting cells while resizing
  .changeset/selfish-toys-draw.md
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#1564 fix(mention-atom): mention atom should not allow marks
  .changeset/moody-scissors-burn.md
  .changeset/stale-seas-pull.md
  packages/remirror__extension-italic/__tests__/italic-extension.spec.ts
  packages/remirror__extension-italic/src/italic-extension.ts
  packages/remirror__extension-mention-atom/src/mention-atom-extension.ts
Labels: type: bug :beetle:, test: unit :white_check_mark:, type: support, type: changeset :butterfly:

#1606 feat(events): create a "stepping stone" migration path for future `useEvent` changes
  .changeset/ninety-pigs-deliver.md
  .changeset/tender-zebras-cry.md
  packages/remirror__dev/package.json
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
  packages/remirror__extension-events/src/index.ts
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1608 fix(core): prevent shared state between editor plugin instances
  .changeset/blue-dodos-reply.md
  packages/remirror__core/src/builtins/plugins-extension.ts
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1610 chore: update dependencies
  .changeset/hot-pianos-give.md
  packages/remirror__dev/__tests__/dev.spec.tsx
  packages/remirror__dev/package.json
  packages/remirror__dev/src/dev.ts
  packages/remirror__extension-codemirror6/package.json
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1616 fix(extension-embed): correctly parse saved iframe dimensions
  .changeset/fuzzy-sloths-knock.md
  packages/remirror__extension-embed/__tests__/iframe-extension.spec.ts
  packages/remirror__extension-embed/src/iframe-extension.ts
  packages/remirror__extension-embed/src/resizable-iframe-view.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1620 fix(emoji): insert emoticons on Enter keypress
  .changeset/polite-tips-double.md
  packages/remirror__extension-emoji/__tests__/emoji-extension.spec.ts
  packages/remirror__extension-emoji/src/emoji-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:
