Repository remirror/remirror, pull requests merged in 2022-11, with the labels that each got.

#1930 fix(extension-image): insert image at the drop position
  .changeset/shaggy-suns-rhyme.md
  packages/remirror__extension-image/src/image-extension.ts
  packages/storybook-react/stories/extension-image/basic.tsx
  packages/storybook-react/stories/extension-image/resizable.tsx
Labels: type: changeset :butterfly:

#1938 fix: fix the default import for `compute-scroll-into-view`
  .changeset/little-parrots-destroy.md
  packages/multishift/src/multishift-utils.ts
Labels: package: multishift :arrow_down_small:, type: changeset :butterfly:

#1942 fix(extension-list): improve the selection of lists on touch screen
  .changeset/smooth-hats-compare.md
  .changeset/soft-games-glow.md
  packages/remirror__extension-list/src/bullet-list-extension.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-list.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-list-theme.ts
  packages/storybook-react/stories/extension-list/basic.tsx
  packages/storybook-react/stories/extension-list/collapsible.tsx
  packages/storybook-react/stories/extension-list/toggleable.tsx
Labels: type: changeset :butterfly:, type: ui :nail_care:

#1940 feat(entity-reference): add an `onClick` handler
  .changeset/happy-scissors-sit.md
  .changeset/old-crews-count.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/index.ts
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/storybook-react/stories/extension-entity-reference/basic.tsx
  packages/storybook-react/stories/extension-entity-reference/entity-reference.stories.tsx
  packages/storybook-react/stories/extension-link/click-handler.tsx
  website/extension-examples/extension-entity-reference/basic.tsx
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1948 fix(tables): apply table columns sizes when `editable=false`
  .changeset/flat-kids-deny.md
  .changeset/gold-games-act.md
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__extension-doc/__tests__/doc-extension.spec.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/storybook-react/stories/extension-tables/not-editable.tsx
  packages/storybook-react/stories/extension-tables/table.stories.tsx
  website/extension-examples/extension-tables/not-editable.tsx
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1951 chore(extension-tables): update prosemirror-tables to v1.3.0-beta.0
  .changeset/kind-paws-mix.md
  packages/jest-prosemirror/package.json
  packages/remirror__extension-react-tables/src/views/table-view.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, framework: react :atom_symbol:, type: changeset :butterfly:
