Repository remirror/remirror, pull requests merged in 2022-07, with the labels that each got.

#1763 feat(extension-codemirror6): add two commands
  .changeset/wise-buses-eat.md
  packages/remirror__extension-codemirror6/__tests__/codemirror-extension.spec.ts
  packages/remirror__extension-codemirror6/__tests__/tsconfig.json
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-types.ts
  packages/remirror__extension-codemirror6/src/index.ts
  packages/storybook-react/stories/extension-codemirror6/basic.tsx
  support/root/tsconfig.json
  website/src/tsconfig.json
Labels: type: support :books:, test: unit :white_check_mark:, type: changeset :butterfly:

#1762 feat(theme): remove default selection colors
  .changeset/late-stingrays-check.md
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__styles/theme.css
  packages/remirror__theme/__tests__/__snapshots__/theme.spec.ts.snap
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/core-theme.ts
  packages/remirror__theme/src/utils.ts
  support/scripts/src/linaria.ts
Labels: type: support :books:, package: @remirror/cli :pager:, type: changeset :butterfly:, type: ui :nail_care:

#1766 chore: remove docusaurus-plugin-examples
  .changeset/config.json
  .changeset/pre.json
  package.json
  packages/docusaurus-plugin-examples/package.json
  packages/docusaurus-plugin-examples/readme.md
  packages/docusaurus-plugin-examples/src/index.ts
  packages/docusaurus-plugin-examples/src/transform-typescript-only.ts
  packages/docusaurus-plugin-examples/src/tsconfig.json
  packages/docusaurus-plugin-examples/src/types.ts
  packages/docusaurus-plugin-examples/types/package.json
  packages/remirror__cli/src/utils/list-packages.ts
  pnpm-lock.yaml
  support/root/tsconfig.json
  website/docusaurus.config.cjs
Labels: type: support :books:, package: @remirror/cli :pager:, type: changeset :butterfly:

#1771 chore(deps): update jsx-dom to v7, nanoevents to v7
  .changeset/wet-emus-march.md
  packages/remirror__core/package.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-positioner/package.json
  packages/remirror__extension-react-component/package.json
  packages/remirror__extension-react-tables/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#1741 fix(link): treat links with same href and text content as auto link
  .changeset/bright-forks-perform.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1756 fix(link): delay trigger of onUpdateLink event to prevent stale state updates
  .changeset/selfish-pigs-complain.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1775 fix(theme): wrap end-of-lines spaces
  .changeset/seven-timers-prove.md
  packages/remirror__styles/all.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/core-theme.ts
  website/extension-examples/extension-entity-reference/scroll-to-highlight.tsx
Labels: type: changeset :butterfly:, type: ui :nail_care:

#1779 chore(deps): update prosemirror packages
  .changeset/fast-lions-sing.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
  packages/remirror__pm/src/tables.ts
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

#1782 feat: add helper to get shortest entity reference
  .changeset/good-apples-report.md
  packages/remirror__extension-entity-reference/__tests__/shortest-entity-reference.spec.ts
  packages/remirror__extension-entity-reference/src/index.ts
  packages/remirror__extension-entity-reference/src/utils/shortest-entity-reference.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1789 fix(paste-rules): handle adjacent inline matches correctly
  .changeset/nice-ties-raise.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
  packages/storybook-react/stories/react-components/emoji-popup.stories.tsx
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1705 fix(react-tables): fix initialisation on tables on view, and copy and paste bugs
  .changeset/three-scissors-deny.md
  packages/remirror__extension-markdown/__tests__/__snapshots__/markdown-extension.spec.ts.snap
  packages/remirror__extension-markdown/__tests__/markdown-extension.spec.ts
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-react-tables/src/components/table-components.tsx
  packages/remirror__extension-react-tables/src/components/table-delete-row-column-button.tsx
  packages/remirror__extension-react-tables/src/components/table-delete-table-button.tsx
  packages/remirror__extension-react-tables/src/index.ts
  packages/remirror__extension-react-tables/src/react-table-commands.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-react-tables/src/table-plugins.ts
  packages/remirror__extension-react-tables/src/utils/controller.ts
  packages/remirror__extension-react-tables/src/utils/dom.ts
  packages/remirror__extension-react-tables/src/views/table-view.tsx
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/remirror__extension-tables/src/table-utils.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-tables.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-tables-theme.ts
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#1788 feat: add support for optional clickmark handler
  .changeset/popular-donuts-yawn.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/types.ts
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1796 chore(deps): update prosemirror packages
  .changeset/wise-sheep-guess.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-annotation/src/annotation-extension.ts
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

#1803 chore: add colors to remirror-cli's output
  packages/remirror__cli/src/logger.ts
  packages/remirror__cli/src/utils/colors.ts
  support/actions/pr/pr-utils.mjs
Labels: package: @remirror/cli :pager:

#1804 chore: improve cli workflow
  package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__cli/src/logger.ts
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__cli/src/utils/colors.ts
  packages/remirror__cli/src/utils/run-command.ts
  packages/remirror__cli/src/utils/run-custom-script.ts
  packages/remirror__cli/src/utils/run-tsc.ts
  packages/remirror__theme/package.json
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-callout/with-emoji-picker.tsx
  packages/storybook-react/stories/extension-gap-cursor/basic.tsx
  packages/storybook-react/stories/extension-placeholder/basic.tsx
  packages/storybook-react/stories/extension-placeholder/with-custom-style.tsx
  packages/storybook-react/stories/react-hooks/use-mention-atom.stories.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  support/root/tsconfig.json
  support/scripts/package.json
  support/scripts/src/check-styles.ts
  support/scripts/src/deprecate-version.ts
Labels: type: support :books:, package: @remirror/cli :pager:, type: ui :nail_care:
