Repository remirror/remirror, pull requests merged in 2022-02, with the labels that each got.

#1502 fix: replace "assert" with defensive "if"
  .changeset/serious-baboons-hear.md
  packages/remirror__extension-annotation/src/annotation-store.ts
Labels: type: changeset :butterfly:

#1504 fix: replace "assert" with defensive "if"
  .changeset/dull-vans-tap.md
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: type: changeset :butterfly:

#1496 refactor(extension-link): refactor auto link to simplify and remove bugs
  .changeset/twenty-zebras-live.md
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1510 fix(react-hooks): mark attribute filtering for `useActive` and `useAttrs`
  .changeset/smart-bats-juggle.md
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/src/builtins/helpers-extension.ts
  packages/storybook-react/stories/extension-text-color/basic.tsx
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1512 feat: allow to disable yjs undo/redo
  .changeset/dry-jars-relax.md
  docs/extensions/yjs-extension.mdx
  packages/remirror__extension-annotation/src/annotation-plugin.ts
  packages/remirror__extension-yjs/__tests__/__snapshots__/yjs-extension.spec.ts.snap
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1515 fix(styles): use the inherited text color if the selection is hidden
  .changeset/neat-rockets-boil.md
  packages/remirror__styles/all.css
  packages/remirror__styles/core.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/core-theme.ts
Labels: type: bug :beetle:, type: changeset :butterfly:, type: ui :nail_care:

#1519 chore(deps): update dependency marked to v4 [security]
  .changeset/sweet-teachers-serve.md
  packages/remirror__extension-markdown/package.json
  packages/remirror__extension-markdown/src/markdown-to-html.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, security 🔐

#1524 fix(extension-link): fix auto links and undo
  .changeset/brave-wasps-knock.md
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: bug :beetle:, type: changeset :butterfly:

#1532 fix(prosemirror-paste-rules): remove duplicate marks
  .changeset/honest-oranges-end.md
  .changeset/proud-boats-walk.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:
