Repository remirror/remirror, pull requests merged in 2022-10, with the labels that each got.

#1897 feat(react-tables): expose split and merge in the dropdown menu
  .changeset/thick-badgers-allow.md
  packages/remirror__extension-react-tables/src/components/table-cell-menu.tsx
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#1892 fix(core-utils): don't throw error if window doesn't exist
  .changeset/red-kids-breathe.md
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/dom-utils.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.node.spec.ts
  packages/remirror__extension-code-block/package.json
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1896 fix(events): catch when `posFromDOM` returns -1
  .changeset/sweet-radios-relax.md
  packages/remirror__extension-events/src/events-utils.ts
Labels: type: changeset :butterfly:

#1902 fix(react-table): prevent controller cell content with `filterTransaction`
  .changeset/honest-lobsters-stare.md
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#1905 feat(tables,react-tables): remove table plugins if view in not editable
  .changeset/bright-ways-heal.md
  packages/remirror__extension-react-tables/src/components/table-components.tsx
  packages/remirror__extension-react-tables/src/components/table-controller-cell.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#1914 chore(deps): update dependencies
  .changeset/rich-zebras-promise.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-utils/__tests__/core-utils.node.spec.ts
  packages/remirror__core-utils/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-annotation/src/annotation-extension.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.node.spec.ts
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, test: unit :white_check_mark:, type: changeset :butterfly:

#1917 fix: prevent command injection when calling formatFiles
  support/scripts/src/generate-configs.ts
  support/scripts/src/generate-icons.ts
  support/scripts/src/generate-intl.ts
  support/scripts/src/helpers.ts
Labels: type: support :books:

#1920 docs: fix the broken image story
  packages/remirror__core/src/builtins/upload-extension/file-upload.ts
  packages/storybook-react/stories/extension-image/basic.tsx
  packages/storybook-react/stories/extension-image/image.stories.tsx
  packages/storybook-react/stories/extension-image/resizable.tsx
  support/root/jest-playwright.config.cjs
Labels: type: support :books:

#1923 chore: update dependent versions automaticly
  .changeset/config.json
  package.json
  pnpm-lock.yaml
  support/scripts/changeset-update-dependents/package.json
  support/scripts/package.json
  support/scripts/src/changeset-update-dependents.ts
Labels: type: support :books:, type: changeset :butterfly:

#1922 feat(positioner,tables): add Table positioners
  .changeset/beige-ducks-warn.md
  .changeset/blue-feet-smoke.md
  .changeset/olive-flowers-dress.md
  .changeset/sour-bugs-lick.md
  .gitignore
  packages/remirror__core-utils/src/dom-utils.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__extension-positioner/src/positioner.ts
  packages/remirror__extension-react-tables/src/components/table-delete-row-column-button.tsx
  packages/remirror__extension-react-tables/src/components/table-delete-table-button.tsx
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-react-tables/src/utils/dom.ts
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/remirror__extension-tables/src/table-utils.ts
  packages/remirror__extension-tables/src/tsconfig.json
  packages/remirror__react-hooks/__tests__/use-positioner.spec.tsx
  packages/remirror__react-hooks/src/use-multi-positioner.ts
  packages/remirror__react-hooks/src/use-positioner.ts
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/positioners.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  website/extension-examples/extension-positioner/table-positioners.tsx
Labels: test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:

#1924 feat(tables): add a new positioner for cell selections
  .changeset/shaggy-shrimps-punch.md
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
Labels: type: changeset :butterfly:

#1926 feat(tables): add column, row, all cell selection positioners
  .changeset/new-worms-tan.md
  packages/remirror__extension-tables/src/index.ts
  packages/remirror__extension-tables/src/table-positioners.ts
  packages/storybook-react/stories/extension-positioner/positioner-extension.stories.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
Labels: type: changeset :butterfly:
