Repository remirror/remirror, pull requests merged in 2022-03, with the labels that each got.

#1539 fix(prosemirror-paste-rules): fix the replace selection when selecting two characters
  .changeset/tough-dingos-clap.md
  .changeset/yellow-wolves-change.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: package: jest-prosemirror :performing_arts:, test: unit :white_check_mark:, type: changeset :butterfly:

#1541 fix(extension-list): fix an error when clicking the list spine
  .changeset/chilled-feet-agree.md
  packages/remirror__extension-list/src/bullet-list-extension.ts
Labels: type: changeset :butterfly:

#1545 feat(extension-positioner): allow force update of positioners
  .changeset/mean-jars-dress.md
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-positioner/src/positioner-utils.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1547 fix(jest-remirror): add `default` filed in the `package.json`
  .changeset/unlucky-waves-deliver.md
  packages/jest-remirror/package.json
  packages/remirror__cli/package.json
  packages/storybook-react/package.json
  support/scripts/src/generate-configs.ts
Labels: package: jest-remirror :black_joker:, type: support :books:, package: @remirror/cli :pager:, type: changeset :butterfly:

#1549 fix: fix canceled transaction
  .changeset/shy-fireants-argue.md
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__dom/src/dom-framework.ts
  packages/remirror__react-core/src/react-framework.tsx
Labels: framework: react :atom_symbol:, framework: dom :globe_with_meridians:, type: changeset :butterfly:

#1552 fix(prosemirror-suggest): update reasons after appended transaction
  .changeset/green-worms-tease.md
  packages/prosemirror-suggest/src/suggest-state.ts
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

#1558 feat(core): expose appended transactions in the onChange handler
  .changeset/perfect-vans-roll.md
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__react-core/src/react-framework.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#1517 feat(extension-count): add ability to count characters/words and set a soft max
  .changeset/beige-rules-mate.md
  .changeset/metal-bananas-argue.md
  packages/remirror__core/__tests__/helpers-extension.spec.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/builtins/helpers-extension.ts
  packages/remirror__core/src/index.ts
  packages/remirror__extension-count/CHANGELOG.md
  packages/remirror__extension-count/__tests__/count-extension.spec.ts
  packages/remirror__extension-count/__tests__/tsconfig.json
  packages/remirror__extension-count/package.json
  packages/remirror__extension-count/readme.md
  packages/remirror__extension-count/src/count-extension.ts
  packages/remirror__extension-count/src/count-utils.ts
  packages/remirror__extension-count/src/index.ts
  packages/remirror__extension-count/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-count.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-count-theme.ts
  packages/remirror__theme/src/index.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-count/basic.tsx
  packages/storybook-react/stories/extension-count/character-limit.tsx
  packages/storybook-react/stories/extension-count/count.stories.tsx
  packages/storybook-react/stories/extension-count/word-count.tsx
  packages/storybook-react/stories/extension-count/word-limit.tsx
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-count/basic.tsx
  website/extension-examples/extension-count/character-limit.tsx
  website/extension-examples/extension-count/word-count.tsx
  website/extension-examples/extension-count/word-limit.tsx
Labels: type: feature :sparkles:, type: support :books:, type: new package :package:, test: unit :white_check_mark:, type: changeset :butterfly:, type: ui :nail_care:

#1566 fix(jest-remirror): add client rect to `createRange` polyfill
  .changeset/tasty-starfishes-remember.md
  packages/jest-remirror/src/jsdom-polyfills.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:

#1557 feat: unicode regex in suggestion matching
  .changeset/bright-beans-kiss.md
  packages/prosemirror-suggest/__tests__/suggest-plugin.spec.ts
  packages/prosemirror-suggest/src/suggest-types.ts
  packages/prosemirror-suggest/src/suggest-utils.ts
Labels: package: prosemirror-suggest :bulb:, test: unit :white_check_mark:, type: changeset :butterfly:
