Repository remirror/remirror, pull requests merged in 2022-01, with the labels that each got.

#1461 fix(extension-list): fix the cursor position when pressing backspace
  .changeset/wicked-trains-scream.md
  packages/remirror__extension-list/__tests__/list-keymap.spec.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1463 feat(theme): avoid using Proxy to generate theme variables
  .changeset/rude-foxes-drop.md
  packages/remirror__extension-react-tables/src/table-plugins.ts
  packages/remirror__extension-text-color/src/text-color-utils.ts
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/core-theme.ts
  packages/remirror__theme/src/extension-blockquote-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-list-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  packages/remirror__theme/src/extension-tables-theme.ts
  packages/remirror__theme/src/index.ts
  packages/remirror__theme/src/theme.ts
  packages/remirror__theme/src/utils.ts
  packages/storybook-react/stories/react-editors/markdown-editor.stories.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#1464 chore: fix changeset, remove storybook-react
  .changeset/rude-foxes-drop.md
Labels: type: changeset :butterfly:

#1468 fix(extension-list): increase the clickable area of checkboxes
  .changeset/nice-coats-learn.md
  packages/remirror__extension-list/src/list-item-node-view.ts
Labels: type: changeset :butterfly:

#1469 fix(react-components): fix styling of EmojiPopupComponent
  packages/remirror__react-components/src/components/emoji-popup-component.tsx
Labels: framework: react :atom_symbol:, type: ui :nail_care:

#1472 fix(extension-font-size): fix a runtime error when getting font size
  .changeset/slimy-dolphins-peel.md
  packages/remirror__extension-font-size/src/font-size-extension.ts
Labels: type: changeset :butterfly:

#1474 chore(deps): update prosemirror packages
  .changeset/real-olives-wave.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

#1476 fix: make HorizontalRule compatible with Shortcuts
  .changeset/cool-olives-know.md
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-extension.ts
Labels: type: changeset :butterfly:

#1494 fix: don't extend annotation when the user types at the beginning
  .changeset/ninety-kids-shave.md
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-plugin.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1490 fix: update annotations in Yjs transaction
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-actions.ts
  packages/remirror__extension-annotation/src/annotation-extension.ts
  packages/remirror__extension-annotation/src/annotation-plugin.ts
  packages/remirror__extension-annotation/src/annotation-store.ts
  packages/remirror__extension-annotation/src/annotation-types.ts
  packages/remirror__extension-annotation/src/index.ts
  packages/remirror__extension-yjs/src/yjs-extension.ts
Labels: test: unit :white_check_mark:
