Repository remirror/remirror, pull requests merged in 2022-06, with the labels that each got.

#1682 chore: enable v1 hotfix releases
  .changeset/pre.json
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/storybook.yml
  .github/workflows/version.yml
Labels: type: changeset :butterfly:

#1687 fix(tables,react-table): fix rendering of tables in markdown
  packages/remirror__extension-markdown/__tests__/html-to-markdown.spec.ts
  packages/remirror__extension-markdown/src/html-to-markdown.ts
  packages/remirror__extension-react-tables/src/components/table-controller-cell.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/storybook-react/stories/extension-react-tables/basic.tsx
Labels: test: unit :white_check_mark:, framework: react :atom_symbol:

#1688 fix(tables,react-tables): fix rendering of tables in markdown
  .changeset/odd-hotels-drop.md
  packages/remirror__extension-markdown/__tests__/html-to-markdown.spec.ts
  packages/remirror__extension-markdown/src/html-to-markdown.ts
  packages/remirror__extension-react-tables/src/components/table-controller-cell.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/storybook-react/stories/extension-react-tables/basic.tsx
Labels: test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:

#1691 chore: retry changeset
  .changeset/odd-hotels-drop.md
Labels: type: changeset :butterfly:

#1698 chore: change the changeset base branch for v1-hotfix
  .changeset/config.json
Labels: type: changeset :butterfly:

#1708 fix(jest-prosemirror): fix version of prosemirror-test-builder
  .changeset/clean-ghosts-retire.md
  .changeset/proud-shrimps-collect.md
  packages/jest-prosemirror/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:

#1710 fix(extension-react-component): use Array.from for portals.entries()
  packages/remirror__extension-react-component/src/portals/react-portals.tsx
Labels: framework: react :atom_symbol:

#1711 feat: support leafText
  .changeset/few-keys-float.md
  .changeset/thin-starfishes-unite.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-types/src/core-types.ts
  packages/remirror__core/src/builtins/node-views-extension.ts
  packages/remirror__extension-hard-break/__tests__/hard-break-extension.spec.ts
  packages/remirror__extension-hard-break/src/hard-break-extension.ts
  packages/remirror__pm/package.json
  pnpm-lock.yaml
  support/actions/pnpm/action.yml
Labels: package: prosemirror-suggest :bulb:, test: unit :white_check_mark:, type: changeset :butterfly:

#1648 feat: support highlighting of content
  docs/extensions/entity-reference-extension.mdx
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/remirror__extension-entity-reference/CHANGELOG.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/__tests__/ranges.spec.ts
  packages/remirror__extension-entity-reference/__tests__/tsconfig.json
  packages/remirror__extension-entity-reference/package.json
  packages/remirror__extension-entity-reference/readme.md
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-entity-reference/src/entity-reference-positioners.ts
  packages/remirror__extension-entity-reference/src/index.ts
  packages/remirror__extension-entity-reference/src/tsconfig.json
  packages/remirror__extension-entity-reference/src/types.ts
  packages/remirror__extension-entity-reference/src/utils/decorate-entity-references.tsx
  packages/remirror__extension-entity-reference/src/utils/disjoined-entity-references.ts
  packages/remirror__extension-entity-reference/src/utils/joined-entity-references.ts
  packages/remirror__extension-entity-reference/src/utils/ranges.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-entity-reference/entity-reference.stories.tsx
  packages/storybook-react/stories/extension-entity-reference/highlights.tsx
  packages/storybook-react/stories/extension-entity-reference/styles.css
  pnpm-lock.yaml
  support/root/.size-limit.json
  support/root/tsconfig.json
  website/extension-examples/extension-entity-reference/highlights.tsx
Labels: type: support :books:, test: unit :white_check_mark:

#1718 fix(annotation): update the store after mapping annotation positions
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-annotation/src/annotation-plugin.ts
Labels: test: unit :white_check_mark:

#1727 fix(collaboration): fix debouncing of `onSendableReceived` handler
  .changeset/gorgeous-eyes-attack.md
  .changeset/hip-hounds-think.md
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__extension-collaboration/__tests__/collaboration-extension.spec.ts
  packages/remirror__extension-collaboration/src/collaboration-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1745 feat(jest-remirror): add new matcher `toEqualRemirrorState`
  .changeset/few-numbers-remain.md
  packages/jest-remirror/__tests__/jest-remirror-matchers.spec.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/jest-remirror/src/jest-remirror-matchers.ts
  packages/jest-remirror/src/jest-remirror-utils.ts
Labels: package: jest-remirror :black_joker:, test: unit :white_check_mark:, type: changeset :butterfly:

#1747 fix(jest-remirror): correct diff message
  .changeset/clever-penguins-attend.md
  packages/jest-remirror/src/jest-remirror-matchers.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:

#1748 chore(deps): update lingui
  package.json
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__i18n/package.json
  packages/remirror__messages/package.json
  packages/remirror__react-components/package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:, package: @remirror/cli :pager:, framework: react :atom_symbol:, type: ui :nail_care:

#1751 chore(deps): update codemirror to v6
  .changeset/fair-apes-search.md
  packages/remirror__extension-codemirror6/package.json
  packages/remirror__extension-codemirror6/src/index.ts
  packages/storybook-react/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

#1757 fix(core): try to require JSDOM implicitly in node environment
  .changeset/tough-cherries-battle.md
  packages/remirror__core-utils/__tests__/core-utils.ssr.spec.ts
  packages/remirror__core-utils/src/core-utils.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1760 fix: try to find valid endpoint for text selection
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
  packages/remirror__core-utils/__tests__/command-utils.spec.ts
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core-utils/src/command-utils.ts
  packages/remirror__core-utils/src/core-utils.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__extension-callout/src/callout-extension.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-code-block/src/code-block-utils.ts
  packages/remirror__extension-codemirror5/src/codemirror-node-view.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-node-view.ts
  packages/remirror__extension-font-size/src/font-size-extension.ts
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-extension.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-list/src/list-commands.ts
Labels: package: jest-prosemirror :performing_arts:, test: unit :white_check_mark:
