Repository remirror/remirror, pull requests merged in 2022-05, with the labels that each got.

#1629 fix(prosemirror-paste-rules): paste multiple block nodes
  .changeset/mean-queens-deliver.md
  .changeset/yellow-jobs-divide.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
  packages/remirror__extension-heading/src/heading-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1625 feat(extension-link): auto link improvements
  .changeset/pretty-squids-bake.md
  .changeset/twenty-ravens-greet.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/package.json
  packages/remirror__extension-link/src/index.ts
  packages/remirror__extension-link/src/link-extension-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1644 fix(prosemirror-paste-rules): set open depth more precisely
  .changeset/three-owls-admire.md
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1650 fix(react-tables): inject controllers when pasting a table
  .changeset/stupid-stingrays-approve.md
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core-utils/src/index.ts
  packages/remirror__core-utils/src/prosemirror-utils.ts
  packages/remirror__extension-link/src/link-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:

#1636 fix: resolve the shortcut conflict between node formatting and list
  .changeset/famous-waves-join.md
  .changeset/metal-dodos-listen.md
  packages/remirror__extension-list/src/list-command-dedent.ts
  packages/remirror__extension-list/src/list-command-indent.ts
  packages/remirror__extension-node-formatting/__tests__/node-formatting-extension.spec.ts
  packages/remirror__extension-node-formatting/src/node-formatting-extension.ts
  packages/remirror__extension-node-formatting/src/node-formatting-utils.ts
  packages/storybook-react/stories/extension-node-formatting/basic.tsx
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1663 feat(core): add ability to remove all marks by passing `type: null`
  .changeset/lovely-timers-guess.md
  .changeset/yellow-ants-brush.md
  packages/remirror__core-utils/__tests__/command-utils.spec.ts
  packages/remirror__core-utils/src/command-utils.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1661 fix(tasklist): prevent checkbox toggle when view is not editable
  .changeset/tough-boxes-battle.md
  packages/remirror__extension-list/__tests__/task-list-extension.spec.ts
  packages/remirror__extension-list/src/task-list-item-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1668 chore: lock prosemirror packages version for remirror v1
  .changeset/thin-hairs-sell.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

#1667 chore: prepare changeset for v2 beta
  .changeset/config.json
  .changeset/pre.json
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:, type: changeset :butterfly:

#1670 chore: reduce changeset text
  .changeset/hungry-rabbits-repair.md
Labels: type: changeset :butterfly:
