Repository remirror/remirror, pull requests merged in 2022-12, with the labels that each got.

#1957 chore: update prosemirror dependencies
  .changeset/kind-paws-mix.md
  .changeset/plenty-ads-attend.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:

#1958 fix(paste-rules): fix a crash when pasting nested content
  .changeset/serious-pumas-destroy.md
  .changeset/slow-pugs-argue.md
  .changeset/strong-buses-vanish.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/prosemirror-paste-rules/__tests__/paste-rules-plugin.spec.ts
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: package: jest-remirror :black_joker:, package: jest-prosemirror :performing_arts:, test: unit :white_check_mark:, type: changeset :butterfly:

#1960 feat(entity-reference): get references from arbitrary editor states
  .changeset/angry-lions-trade.md
  .changeset/curly-monkeys-shave.md
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__react-core/src/index.ts
Labels: test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:

#1966 refactor(core): don't reconfigure plugins when updating keymap
  .changeset/silver-cats-tickle.md
  packages/remirror__core/src/builtins/keymap-extension.ts
Labels: type: changeset :butterfly:

#1973 feat(jest-remirror): polyfill for `element.scrollIntoView`
  .changeset/lovely-carpets-jog.md
  packages/jest-remirror/src/jsdom-polyfills.ts
Labels: package: jest-remirror :black_joker:, type: changeset :butterfly:

#1972 fix(core): don't call `super()` conditional
  .changeset/hot-drinks-knock.md
  packages/remirror__core-helpers/src/core-errors.ts
Labels: type: changeset :butterfly:
