Repository remirror/remirror, pull requests merged in 2022-09, with the labels that each got.

#1833 fix(core-utils): remove domino from the codebase
  .changeset/witty-vans-roll.md
  packages/remirror__core-utils/__tests__/core-utils.node.spec.ts
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core-utils/package.json
  packages/remirror__core-utils/readme.md
  packages/remirror__core-utils/src/core-utils.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1836 fix(core-utils): improve changed ranges by utilising mapping
  .changeset/shaggy-feet-fix.md
  packages/remirror__core-utils/src/core-utils.ts
Labels: type: changeset :butterfly:

#1817 feat(link): auto link adjacent character detection
  .changeset/olive-kiwis-attack.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/package.json
  packages/remirror__extension-link/src/link-extension.ts
  pnpm-lock.yaml
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1818 feat(emoji-ext): add supported characters option
  .changeset/curly-stingrays-dress.md
  packages/remirror__extension-emoji/src/emoji-extension.ts
  packages/remirror__extension-emoji/src/emoji-utils.ts
Labels: type: changeset :butterfly:

#1841 chore: remirror-cli watch shouldn't override package.json files
  packages/remirror__cli/src/commands/watch.ts
  packages/remirror__cli/src/utils/build-package.ts
Labels: package: @remirror/cli :pager:

#1847 chore: update TypeScript to v4.7.4
  package.json
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/jest-remirror/__tests__/jest-remirror-matchers.spec.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core-utils/__tests__/core-utils.spec.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/__tests__/decorations-extension.spec.ts
  packages/remirror__core/__tests__/doc-changed-extension.spec.ts
  packages/remirror__core/__tests__/framework.spec.ts
  packages/remirror__core/__tests__/helpers-extension.spec.ts
  packages/remirror__core/__tests__/keymap-extension.spec.ts
  packages/remirror__core/__tests__/schema-extension.spec.ts
  packages/remirror__core/__tests__/tags-extension.spec.ts
  packages/remirror__core/src/extension/base-class.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__core/src/extension/extension.ts
  packages/remirror__core/src/types.ts
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-bidi/__tests__/bidi-extension.spec.ts
  packages/remirror__extension-blockquote/__tests__/blockquote-extension.spec.ts
  packages/remirror__extension-callout/__tests__/callout-extension.spec.ts
  packages/remirror__extension-code/__tests__/code-extension.spec.ts
  packages/remirror__extension-codemirror6/__tests__/codemirror-extension.spec.ts
  packages/remirror__extension-diff/__tests__/diff-extension.spec.ts
  packages/remirror__extension-entity-reference/src/entity-reference-extension.ts
  packages/remirror__extension-hard-break/__tests__/hard-break-extension.spec.ts
  packages/remirror__extension-history/__tests__/history-extension.spec.ts
  packages/remirror__extension-horizontal-rule/__tests__/horizontal-rule-extension.spec.ts
  packages/remirror__extension-italic/__tests__/italic-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-strike/__tests__/strike-extension.spec.ts
  packages/remirror__extension-sub/__tests__/sub-extension.spec.ts
  packages/remirror__extension-sup/__tests__/sup-extension.spec.ts
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-trailing-node/__tests__/trailing-node-extension.spec.ts
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__react-core/__tests__/use-manager.spec.tsx
  packages/remirror__react-core/src/hooks/use-manager.ts
  pnpm-lock.yaml
Labels: package: jest-remirror :black_joker:, test: unit :white_check_mark:, framework: react :atom_symbol:

#1848 chore: add a temporary script to fix the api-extractor error
  .github/workflows/docs.yml
  support/scripts/patch-mui-package-json.sh
Labels: type: support :books:

#1850 fix(extension-emoji): correct a bad import
  .changeset/famous-penguins-kiss.md
  packages/remirror__extension-emoji/src/emoji-utils.ts
Labels: type: changeset :butterfly:

#1852 fix(jest-prosemirror): clarify the TS return type for `pmBuild`
  .changeset/hungry-eggs-beam.md
  packages/jest-prosemirror/src/jest-prosemirror-nodes.ts
Labels: package: jest-prosemirror :performing_arts:, type: changeset :butterfly:

#1856 chore: exit prerelease mode and prepare to release v2 stable
  .changeset/pre.json
Labels: type: changeset :butterfly:

#1859 chore(deps): update remirror packages
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:

#1849 fix(emoji-ext): popup can not be closed via esc key
  .changeset/tender-schools-punch.md
  packages/remirror__react-components/src/popups/emoji-popup-component.tsx
  packages/remirror__react-hooks/__tests__/use-emoji.spec.tsx
  packages/remirror__react-hooks/src/use-emoji.ts
Labels: test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#1861 feat(extension-event): add events for double and triple clicks
  .changeset/shaggy-mugs-fly.md
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#1862 fix(extension-file): reduce dependency footprint
  .changeset/sharp-flowers-reflect.md
  packages/remirror__extension-file/__tests__/tsconfig.json
  packages/remirror__extension-file/package.json
  packages/remirror__extension-file/src/file-component.tsx
  packages/remirror__extension-file/src/file-extension.tsx
  packages/remirror__extension-file/src/tsconfig.json
  pnpm-lock.yaml
  support/root/.size-limit.json
  website/extension-examples/extension-link/linkify-js.tsx
Labels: type: changeset :butterfly:

#1867 fix(react-component): fix the regex in `isSafari`
  .changeset/hungry-singers-jump.md
  packages/remirror__core-utils/src/command-utils.ts
Labels: type: changeset :butterfly:

#1869 chore(deps): update @microsoft/api-extractor
  package.json
  pnpm-lock.yaml
  support/scripts/package.json
Labels: type: support :books:

#1870 feat(react): add more toolbar buttons
  .changeset/big-ducks-melt.md
  .changeset/gold-tables-melt.md
  .changeset/shaggy-carrots-draw.md
  .changeset/silly-pugs-walk.md
  .changeset/three-lizards-help.md
  .changeset/twenty-cheetahs-change.md
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__core/src/manager/remirror-manager.ts
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-extension.ts
  packages/remirror__extension-horizontal-rule/src/horizontal-rule-utils.ts
  packages/remirror__extension-node-formatting/src/node-formatting-utils.ts
  packages/remirror__extension-sub/src/sub-extension.ts
  packages/remirror__extension-sup/src/sup-extension.ts
  packages/remirror__extension-whitespace/src/whitespace-extension.ts
  packages/remirror__extension-whitespace/src/whitespace-utils.ts
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__messages/src/extension-horizontal-rule-messages.ts
  packages/remirror__messages/src/index.ts
  packages/remirror__react-components/src/button-groups/baseline-button-group.tsx
  packages/remirror__react-components/src/button-groups/indentation-button-group.tsx
  packages/remirror__react-components/src/button-groups/index.ts
  packages/remirror__react-components/src/button-groups/list-button-group.tsx
  packages/remirror__react-components/src/button-groups/text-alignment-button-group.tsx
  packages/remirror__react-components/src/buttons/center-align-button.tsx
  packages/remirror__react-components/src/buttons/decrease-indent-button.tsx
  packages/remirror__react-components/src/buttons/dropdown-button.tsx
  packages/remirror__react-components/src/buttons/increase-indent-button.tsx
  packages/remirror__react-components/src/buttons/index.ts
  packages/remirror__react-components/src/buttons/insert-horizontal-rule-button.tsx
  packages/remirror__react-components/src/buttons/justify-align-button.tsx
  packages/remirror__react-components/src/buttons/left-align-button.tsx
  packages/remirror__react-components/src/buttons/right-align-button.tsx
  packages/remirror__react-components/src/buttons/toggle-subscript-button.tsx
  packages/remirror__react-components/src/buttons/toggle-superscript-button.tsx
  packages/remirror__react-components/src/buttons/toggle-whitespace-button.tsx
  packages/remirror__react-components/src/if-extension-present.tsx
  packages/remirror__react-core/__tests__/__snapshots__/use-remirror-context.spec.tsx.snap
  packages/remirror__react-core/src/hooks/index.ts
  packages/remirror__react-core/src/hooks/use-has-extension.ts
  packages/remirror__react-core/src/index.ts
  packages/storybook-react/stories/extension-blockquote/basic.tsx
  packages/storybook-react/stories/extension-bold/basic.tsx
  packages/storybook-react/stories/extension-callout/basic.tsx
  packages/storybook-react/stories/extension-code/basic.tsx
  packages/storybook-react/stories/extension-heading/basic.tsx
  packages/storybook-react/stories/extension-horizontal-rule/basic.tsx
  packages/storybook-react/stories/extension-italic/basic.tsx
  packages/storybook-react/stories/extension-list/basic.tsx
  packages/storybook-react/stories/extension-node-formatting/basic.tsx
  packages/storybook-react/stories/extension-strike/basic.tsx
  packages/storybook-react/stories/extension-sub/basic.tsx
  packages/storybook-react/stories/extension-sup/basic.tsx
  packages/storybook-react/stories/extension-underline/basic.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#1878 chore(deps): update dependencies
  .changeset/spicy-chefs-do.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-utils/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, type: changeset :butterfly:

#1879 fix: patch default import for turndown
  .changeset/popular-squids-draw.md
  packages/remirror__extension-markdown/src/html-to-markdown.ts
Labels: type: changeset :butterfly:

#1881 fix(extension-emoji): remove the ESM import from CJS build
  .changeset/old-mugs-collect.md
  packages/remirror__cli/src/utils/run-esbuild.ts
  packages/remirror__extension-emoji/package.json
  packages/remirror__extension-emoji/src/emoji-utils.ts
  pnpm-lock.yaml
  support/root/.size-limit.json
Labels: package: @remirror/cli :pager:, type: changeset :butterfly:

#1882 chore(cli): pass a package name to only build that package
  docs/contributing.md
  packages/remirror__cli/src/commands/build.ts
  packages/remirror__cli/src/index.ts
Labels: package: @remirror/cli :pager:

#1885 fix(extension-emoji): use namespace import for svgmoji
  .changeset/orange-buses-lie.md
  packages/remirror__extension-emoji/src/emoji-utils.ts
Labels: type: changeset :butterfly:

#1887 fix(extension-emoji): don't use .cjs in the svgmoji wrapper
  .changeset/wicked-schools-smile.md
  packages/remirror__core-helpers/src/default-import.ts
  packages/remirror__extension-emoji/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

#1890 fix(core-utils): don't use `instanceof` in `isDomNode`
  .changeset/sharp-rats-compete.md
  packages/multishift/src/multishift-utils.ts
  packages/remirror__core-utils/src/dom-utils.ts
Labels: package: multishift :arrow_down_small:, type: changeset :butterfly:
