Repository remirror/remirror, pull requests merged in 2023-05, with the labels that each got.

#2050 feat: add theme customization support for react-editors
  .changeset/ten-wolves-own.md
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/remirror__react-editors/src/social/social-editor.tsx
  packages/remirror__react-editors/src/types.ts
  packages/remirror__react-editors/src/wysiwyg/wysiwyg-editor.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#2053 chore(deps): update type-fest to v3
  package.json
  packages/remirror__types/package.json
  packages/remirror__types/src/index.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-configs.ts
  support/scripts/src/helpers.ts
  support/scripts/src/mutatate-packages.ts
Labels: type: support :books:

#2062 fix(react-hooks): call useEditorFocus when blurring
  .changeset/sharp-foxes-sing.md
  packages/remirror__react-hooks/src/use-editor-focus.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#2068 fix(react-tables): replace table with correct positions
  .changeset/twenty-pumas-rhyme.md
  packages/remirror__extension-react-tables/src/table-extensions.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#2072 fix(link): disable link click handler when contenteditable is false
  .changeset/hip-mugs-report.md
  packages/remirror__extension-link/src/link-extension.ts
Labels: type: changeset :butterfly:

#2073 fix(code-block): remove isolating from codeBlock
  .changeset/six-tips-learn.md
  packages/remirror__extension-code-block/src/code-block-extension.ts
Labels: type: changeset :butterfly:

#2077 fix(create-context-hook): fix bundled dts
  .changeset/orange-moles-joke.md
  packages/create-context-state/src/create-context-hook.tsx
Labels: type: changeset :butterfly:

#2079 chore(deps): update dependencies
  .changeset/tender-oranges-kiss.md
  package.json
  packages/jest-prosemirror/package.json
  packages/multishift/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  patches/w3c-keyname@2.2.6.patch
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, package: multishift :arrow_down_small:, type: changeset :butterfly:

#2076 fix(link-extension): remove duplicate click handler
  .changeset/pink-hornets-share.md
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-link/src/link-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:
