Repository remirror/remirror, pull requests merged in 2023-07, with the labels that each got.

#2099 chore(deps): update lingui to 4.2.0 version
  .changeset/heavy-carpets-wash.md
  package.json
  packages/remirror__extension-bidi/src/bidi-extension.ts
  packages/remirror__extension-callout/src/callout-utils.ts
  packages/remirror__extension-columns/src/columns-extension.ts
  packages/remirror__extension-heading/src/heading-constants.ts
  packages/remirror__extension-text-color/src/text-color-utils.ts
  packages/remirror__i18n/package.json
  packages/remirror__i18n/src/en/messages.po
  packages/remirror__i18n/src/en/messages.ts
  packages/remirror__messages/package.json
  packages/remirror__messages/src/extension-callout-messages.ts
  packages/remirror__messages/src/extension-columns-messages.ts
  packages/remirror__messages/src/extension-heading-messages.ts
  packages/remirror__react-components/package.json
  packages/remirror__react-core/src/hooks/use-i18n.ts
  patches/@lingui__detect-locale@3.17.2.patch
  patches/@lingui__detect-locale@4.2.0.patch
  pnpm-lock.yaml
  readme.md
  support/scripts/package.json
Labels: type: support :books:, framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#2097 feat(floating-menu): replace popperjs with floatingui
  .changeset/thin-cars-protect.md
  packages/remirror__react-components/package.json
  packages/remirror__react-components/src/floating-menu.tsx
  packages/remirror__react-components/src/use-popper.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-positioner/basic.tsx
  packages/storybook-react/stories/extension-positioner/table-positioners.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#2106 fix(react): add @floating-ui/react into dependencies
  .changeset/quick-fireants-search.md
  docs/getting-started/create-manager.md
  packages/remirror__core/src/builtins/upload-extension/file-placeholder-plugin.ts
  packages/remirror__extension-file/src/file-uploaders/slow-file-uploader.ts
  packages/remirror__react-components/package.json
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#2109 fix: fix lingui runtime crash
  .changeset/unlucky-scissors-provide.md
  packages/remirror__react-core/src/hooks/use-i18n.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#2116 fix(react): respect floating-ui placement prop
  .changeset/curvy-jobs-jam.md
  packages/remirror__react-components/src/floating-menu.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#2118 fix(react-core): `useChainedCommands` should not share chains
  .changeset/itchy-cows-tie.md
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/extension/extension-types.ts
  packages/remirror__react-core/src/hooks/use-chained-commands.ts
Labels: test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:

#2120 feat(tables): toggle header cells only on the first row or column
  .changeset/lazy-students-add.md
  .changeset/tiny-dryers-yawn.md
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#2113 feat: add code block language select
  .changeset/angry-lies-bathe.md
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/index.ts
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/stories/extension-code-block/code-block.stories.tsx
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
  pnpm-lock.yaml
  tsconfig.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#2123 chore: tweak some files for new package
  .changeset/angry-lies-bathe.md
  .size-limit.json
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__styles/src/styled-components.tsx
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  website/extension-examples/extension-code-block/with-language-select.tsx
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#2133 chore: remove babel runtime from some packages
  .changeset/eleven-students-think.md
  packages/prosemirror-trailing-node/package.json
  packages/remirror__core-constants/package.json
  packages/remirror__core-helpers/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

#2131 refactor: move @linaria/core dependency from core-helpers to core
  .changeset/polite-kids-unite.md
  packages/remirror__core-helpers/package.json
  packages/remirror__core-helpers/src/core-helpers.ts
  packages/remirror__core/src/builtins/attributes-extension.ts
  packages/remirror__core/src/framework/base-framework.ts
  packages/remirror__core/src/framework/framework.ts
  packages/remirror__core/src/helpers.ts
  packages/remirror__core/src/index.ts
  pnpm-lock.yaml
Labels: type: changeset :butterfly:

#2132 fix: plugins of tableExtension can be updated when editable has been changed
  .changeset/grumpy-clocks-begin.md
  packages/remirror__extension-events/src/events-extension.ts
  packages/remirror__extension-react-tables/src/table-extensions.tsx
  packages/remirror__extension-tables/package.json
  packages/remirror__extension-tables/src/table-extensions.ts
  packages/storybook-react/stories/extension-react-tables/basic.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: changeset :butterfly:

#2139 chore(deps): update dependency prettier to v 3.0.0
  .changeset/quick-ears-argue.md
  .size-limit.json
  package.json
  packages/remirror/package.json
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__extension-tables/__tests__/tsconfig.json
  packages/remirror__extension-tables/src/tsconfig.json
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
Labels: type: support :books:, test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#2141 chore(deps): update prosemirorr dependencies
  .changeset/smooth-ravens-look.md
  packages/jest-prosemirror/package.json
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__dev/package.json
  packages/remirror__extension-embed/package.json
  packages/remirror__extension-image/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: jest-prosemirror :performing_arts:, package: prosemirror-suggest :bulb:, type: changeset :butterfly:
