Repository remirror/remirror, pull requests merged in 2023-11, with the labels that each got.

#2192 feat(pm): prosemirror dependencies update
  .changeset/clever-lions-breathe.md
  packages/prosemirror-paste-rules/package.json
  packages/prosemirror-resizable-view/package.json
  packages/prosemirror-suggest/package.json
  packages/prosemirror-trailing-node/package.json
  packages/remirror__extension-doc/__tests__/doc-extension.spec.ts
  packages/remirror__extension-doc/src/doc-extension.ts
  packages/remirror__extension-yjs/package.json
  packages/remirror__pm/package.json
  pnpm-lock.yaml
Labels: package: prosemirror-suggest :bulb:, test: unit :white_check_mark:, type: changeset :butterfly:

#2191 feat: make `extension` decorator backwards compatible when called as function
  .changeset/smart-garlics-bow.md
  docs/concepts/extension.md
  docs/concepts/keymap.md
  docs/concepts/priority.md
  packages/remirror__core-types/src/annotation-types.ts
  packages/remirror__core/__tests__/decorators.spec.ts
  packages/remirror__core/src/extension/extension-decorator.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#2196 docs: tidy up
  docs/extensions/file-extension.mdx
  docs/extensions/index.md
  packages/remirror__extension-file/readme.md
  packages/remirror__react-components/package.json
  packages/remirror__react-ui/package.json
  packages/remirror__react-ui/readme.md
  packages/remirror__react-ui/src/providers/ui-theme-provider.tsx
  packages/storybook-react/package.json
  packages/storybook-react/stories/react-ui/custom-mui-theme.stories.tsx
  pnpm-lock.yaml
Labels: framework: react :atom_symbol:, type: ui :nail_care:

#2197 chore: downgrade build target
  .changeset/quick-trainers-decide.md
  packages/remirror__cli/package.json
  packages/remirror__cli/src/utils/build-package.ts
  pnpm-lock.yaml
Labels: package: @remirror/cli :pager:, type: changeset :butterfly:

#2199 chore: downgrade build target to support browsers since 2017
  .changeset/chilled-teachers-promise.md
  .size-limit.json
  packages/create-context-state/package.json
  packages/remirror__cli/src/utils/build-package.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-find/package.json
Labels: package: @remirror/cli :pager:, type: changeset :butterfly:

#2201 fix: bump all packages to rebuild for browsers since 2017
  .changeset/lovely-bottles-compare.md
Labels: type: changeset :butterfly:

#2206 feat(tables): add opt-in `Tab` and `Shift-Tab` keyboard shortcuts
  .changeset/weak-tigers-share.md
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-tables/src/table-extensions.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#2208 chore: remove deprecated items
  .changeset/chilled-singers-push.md
  .changeset/forty-clocks-share.md
  .changeset/friendly-pears-promise.md
  .changeset/mean-bugs-burn.md
  .changeset/modern-cougars-attack.md
  .changeset/nice-llamas-boil.md
  .changeset/quick-trainers-decide.md
  .changeset/sixty-olives-appear.md
  .changeset/smart-garlics-bow.md
  .changeset/three-schools-build.md
  .changeset/twelve-pumpkins-serve.md
  .changeset/twelve-ravens-rhyme.md
  .changeset/wild-feet-mate.md
  docs/concepts/extension.md
  docs/errors.md
  packages/jest-prosemirror/src/jest-prosemirror-editor.ts
  packages/jest-remirror/__tests__/jest-remirror-editor.spec.ts
  packages/jest-remirror/src/jest-remirror-editor.ts
  packages/jest-remirror/src/jsdom-polyfills.ts
  packages/remirror__core-constants/src/error-constants.ts
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__core/__tests__/commands-extension.spec.ts
  packages/remirror__core/src/builtins/commands-extension.ts
  packages/remirror__core/src/builtins/helpers-extension.ts
  packages/remirror__core/src/extension/extension.ts
  packages/remirror__core/src/types.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/src/code-block-extension.ts
  packages/remirror__extension-codemirror5/__tests__/codemirror-extension.spec.ts
  packages/remirror__extension-codemirror5/src/codemirror-extension.ts
  packages/remirror__extension-codemirror6/src/codemirror-extension.ts
  packages/remirror__extension-embed/__tests__/iframe-extension.spec.ts
  packages/remirror__extension-emoji/__tests__/emoji-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
  packages/remirror__extension-events/src/index.ts
  packages/remirror__extension-history/__tests__/history-extension.spec.ts
  packages/remirror__extension-link/__tests__/link-extension.spec.ts
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-tables/__tests__/table-extensions.spec.ts
  packages/remirror__extension-yjs/__tests__/yjs-extension.spec.ts
  packages/remirror__react-hooks/src/use-suggest.ts
  packages/remirror__theme/src/index.ts
  packages/remirror__theme/src/utils.ts
  packages/remirror__types/src/index.ts
Labels: package: jest-remirror :black_joker:, package: jest-prosemirror :performing_arts:, test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#2203 fix(react-ui): language selector should be a component, not an extension
  .changeset/tender-bears-repeat.md
  .github/workflows/storybook.yml
  .size-limit.json
  packages/remirror__extension-positioner/src/positioner-extension.ts
  packages/remirror__extension-react-language-select/CHANGELOG.md
  packages/remirror__extension-react-language-select/package.json
  packages/remirror__extension-react-language-select/readme.md
  packages/remirror__extension-react-language-select/src/index.ts
  packages/remirror__extension-react-language-select/src/language-select.tsx
  packages/remirror__extension-react-language-select/src/tsconfig.json
  packages/remirror__react-ui/src/menus/code-block-language-select.tsx
  packages/remirror__react-ui/src/menus/index.ts
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-code-block.css
  packages/remirror__styles/extension-positioner.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/extension-code-block-theme.ts
  packages/remirror__theme/src/extension-positioner-theme.ts
  packages/storybook-react/package.json
  packages/storybook-react/src/tsconfig.json
  packages/storybook-react/stories/extension-code-block/with-language-select.tsx
  packages/storybook-react/stories/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#2213 feat(find): remove deprecated `SearchExtension`, add `FindButton` component
  .changeset/giant-jobs-obey.md
  .changeset/lovely-bottles-compare.md
  .changeset/wet-lizards-sniff.md
  .size-limit.json
  docs/extensions/find-extension.mdx
  docs/extensions/index.md
  docs/extensions/search-extension.mdx
  packages/remirror/package.json
  packages/remirror/src/extensions.ts
  packages/remirror/src/tsconfig.json
  packages/remirror__extension-find/readme.md
  packages/remirror__extension-positioner/src/core-positioners.ts
  packages/remirror__extension-search/CHANGELOG.md
  packages/remirror__extension-search/__tests__/__snapshots__/search-extension.spec.ts.snap
  packages/remirror__extension-search/__tests__/search-extension.spec.ts
  packages/remirror__extension-search/__tests__/tsconfig.json
  packages/remirror__extension-search/package.json
  packages/remirror__extension-search/readme.md
  packages/remirror__extension-search/src/index.ts
  packages/remirror__extension-search/src/search-extension.ts
  packages/remirror__extension-search/src/tsconfig.json
  packages/remirror__icons/src/all-icons.ts
  packages/remirror__icons/src/core-icons.ts
  packages/remirror__preset-wysiwyg/__tests__/tsconfig.json
  packages/remirror__preset-wysiwyg/package.json
  packages/remirror__preset-wysiwyg/src/tsconfig.json
  packages/remirror__preset-wysiwyg/src/wysiwyg-preset.ts
  packages/remirror__react-components/src/icons/all.ts
  packages/remirror__react-components/src/icons/core.ts
  packages/remirror__react-ui/src/buttons/find-button.tsx
  packages/remirror__react-ui/src/buttons/index.ts
  packages/remirror__react-ui/src/find-replace/find-replace-component.tsx
  packages/remirror__react-ui/src/find-replace/replace-controller.tsx
  packages/storybook-react/stories/extension-find/basic.tsx
  packages/storybook-react/stories/extension-find/custom-components.tsx
  packages/storybook-react/stories/extension-find/find.stories.tsx
  packages/storybook-react/stories/extension-find/with-find-replace-component.tsx
  pnpm-lock.yaml
  support/scripts/data/icons.json
  tsconfig.json
  website/extension-examples/extension-find/custom-components.tsx
Labels: type: support :books:, test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:
