Repository remirror/remirror, pull requests merged in 2023-08, with the labels that each got.

#2149 fix: revert prettier back to v2.8.8
  .changeset/tiny-points-sing.md
  .size-limit.json
  package.json
  packages/remirror/package.json
  packages/remirror__core/__dts__/extension-types.dts.ts
  packages/remirror__extension-code-block/__tests__/code-block-extension.spec.ts
  packages/remirror__extension-code-block/package.json
  packages/remirror__extension-code-block/src/formatter.ts
  packages/remirror__extension-react-tables/src/views/table-controller-cell-view.tsx
  packages/remirror__styles/all.css
  packages/remirror__styles/components.css
  packages/remirror__styles/extension-emoji.css
  packages/remirror__styles/extension-mention-atom.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  packages/remirror__theme/src/components-theme.ts
  packages/remirror__theme/src/extension-emoji-theme.ts
  packages/remirror__theme/src/extension-mention-atom-theme.ts
  pnpm-lock.yaml
  support/scripts/package.json
  support/scripts/src/generate-icons.ts
Labels: type: support :books:, test: unit :white_check_mark:, framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#2144 fix(events-extension): click events cannot be obtained for individual string links
  .changeset/wild-days-tickle.md
  packages/remirror__extension-events/__tests__/events-extension.spec.ts
  packages/remirror__extension-events/src/events-extension.ts
Labels: test: unit :white_check_mark:, type: changeset :butterfly:

#2158 fix(extensions-react-table): handle object style
  .changeset/wicked-cooks-sell.md
  packages/remirror__extension-react-tables/src/utils/dom.ts
Labels: framework: react :atom_symbol:, type: changeset :butterfly:
