Repository remirror/remirror, pull requests merged in 2023-03, with the labels that each got.

#1844 docs(markdown-editor): remove-duplicate-ext
  packages/remirror__react-editors/src/markdown/markdown-editor.tsx
  packages/storybook-react/stories/react-editors/markdown-editor.tsx
Labels: framework: react :atom_symbol:

#1998 fix(paste-rules): update typescript type
  .changeset/popular-maps-fail.md
  packages/prosemirror-paste-rules/src/paste-rules-plugin.ts
Labels: type: changeset :butterfly:

#2000 chore(deps): update caniuse
  .changeset/gorgeous-carrots-hammer.md
  packages/remirror__styles/all.css
  packages/remirror__styles/extension-gap-cursor.css
  packages/remirror__styles/extension-image.css
  packages/remirror__styles/src/dom.tsx
  packages/remirror__styles/src/emotion.tsx
  packages/remirror__styles/src/styled-components.tsx
  pnpm-lock.yaml
Labels: type: changeset :butterfly:, type: ui :nail_care:

#2003 chore: stop symlink the config files
  .eslintignore
  .eslintrc.js
  .github/workflows/pr-name-linter.yml
  .gitignore
  .huskyrc
  .lintstagedrc
  .markdownlint.json
  .prettierrc.js
  .size-limit.json
  .stylelintignore
  api-documenter.json
  babel.config.js
  commitlint.config.js
  docs/contributing.md
  globals.d.ts
  jest-playwright.config.cjs
  jest.config.e2e.js
  jest.config.js
  linaria.config.js
  lingui.config.js
  package.json
  packages/remirror__styles/babel.config.js
  support/root/readme.md
  support/scripts/readme.md
  support/scripts/src/generate-configs.ts
  support/scripts/src/generate-intl.ts
  support/scripts/symlink-root.mjs
  support/tsconfig.json
  tsconfig.dev.json
  tsconfig.json
Labels: type: support :books:

#2004 chore: clean some unused scripts
  .changeset/config.json
  .github/workflows/docs.yml
  .github/workflows/pr-name-linter.yml
  .github/workflows/version.yml
  .gitignore
  .huskyrc
  .lintstagedrc
  docs/contributing.md
  package.json
  packages/remirror__cli/package.json
  packages/remirror__cli/src/commands/generate-website-examples.ts
  packages/remirror__cli/src/index.ts
  packages/remirror__theme/src/extension-tables-theme.ts
  pnpm-lock.yaml
  support/.config.sample.json
  support/package.json
  support/scripts/enable-pr-changeset/package.json
  support/scripts/generate-website-examples/package.json
  support/scripts/package.json
  support/scripts/patch-mui-package-json.sh
  support/scripts/readme.md
  support/scripts/run-if-clean/package.json
  support/scripts/run-if-config/package.json
  support/scripts/run-if-mac/package.json
  support/scripts/src/enable-pr-changeset.ts
  support/scripts/src/helpers.ts
  support/scripts/src/index.ts
  support/scripts/src/read-config.ts
  support/scripts/src/run-if-clean.ts
  support/scripts/src/run-if-config.ts
  support/scripts/src/run-if-mac.ts
  support/scripts/src/verdaccio-registry.ts
  support/scripts/verdaccio-registry/package.json
  support/tsconfig.json
  tsconfig.dev.json
Labels: type: support :books:, package: @remirror/cli :pager:, type: changeset :butterfly:, type: ui :nail_care:

#2005 chore: fix some peer dependencies
  .changeset/many-pears-clean.md
  .size-limit.json
  package.json
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  packages/multishift/package.json
  packages/remirror__extension-yjs/package.json
  packages/remirror__react-components/__e2e__/tsconfig.json
  packages/remirror__react-components/__tests__/tsconfig.json
  packages/remirror__react-components/package.json
  packages/remirror__react-components/src/button-groups/list-button-group.tsx
  packages/remirror__react-components/src/buttons/center-align-button.tsx
  packages/remirror__react-components/src/buttons/create-table-button.tsx
  packages/remirror__react-components/src/buttons/decrease-font-size-button.tsx
  packages/remirror__react-components/src/buttons/decrease-indent-button.tsx
  packages/remirror__react-components/src/buttons/increase-font-size-button.tsx
  packages/remirror__react-components/src/buttons/increase-indent-button.tsx
  packages/remirror__react-components/src/buttons/insert-horizontal-rule-button.tsx
  packages/remirror__react-components/src/buttons/justify-align-button.tsx
  packages/remirror__react-components/src/buttons/left-align-button.tsx
  packages/remirror__react-components/src/buttons/redo-button.tsx
  packages/remirror__react-components/src/buttons/right-align-button.tsx
  packages/remirror__react-components/src/buttons/toggle-blockquote-button.tsx
  packages/remirror__react-components/src/buttons/toggle-bold-button.tsx
  packages/remirror__react-components/src/buttons/toggle-bullet-list-button.tsx
  packages/remirror__react-components/src/buttons/toggle-callout-button.tsx
  packages/remirror__react-components/src/buttons/toggle-code-block-button.tsx
  packages/remirror__react-components/src/buttons/toggle-code-button.tsx
  packages/remirror__react-components/src/buttons/toggle-columns-button.tsx
  packages/remirror__react-components/src/buttons/toggle-heading-button.tsx
  packages/remirror__react-components/src/buttons/toggle-italic-button.tsx
  packages/remirror__react-components/src/buttons/toggle-ordered-list-button.tsx
  packages/remirror__react-components/src/buttons/toggle-strike-button.tsx
  packages/remirror__react-components/src/buttons/toggle-subscript-button.tsx
  packages/remirror__react-components/src/buttons/toggle-superscript-button.tsx
  packages/remirror__react-components/src/buttons/toggle-task-list-button.tsx
  packages/remirror__react-components/src/buttons/toggle-underline-button.tsx
  packages/remirror__react-components/src/buttons/toggle-whitespace-button.tsx
  packages/remirror__react-components/src/buttons/undo-button.tsx
  packages/remirror__react-components/src/menus/toggle-callout-menu-item.tsx
  packages/remirror__react-components/src/menus/toggle-heading-menu-item.tsx
  packages/remirror__react-components/src/tsconfig.json
  pnpm-lock.yaml
Labels: package: jest-remirror :black_joker:, package: jest-prosemirror :performing_arts:, package: multishift :arrow_down_small:, framework: react :atom_symbol:, type: changeset :butterfly:, type: ui :nail_care:

#2006 fix(multishift): remove `@reach/auto-id`
  .changeset/clean-pianos-fly.md
  packages/multishift/package.json
  packages/multishift/src/multishift-hooks.ts
  packages/multishift/src/use-id.ts
  pnpm-lock.yaml
Labels: package: multishift :arrow_down_small:, type: changeset :butterfly:

#2008 chore(deps): update jest
  package.json
  packages/create-context-state/package.json
  packages/jest-prosemirror/package.json
  packages/jest-remirror/package.json
  packages/multishift/package.json
  packages/remirror__core-utils/__tests__/__snapshots__/prosemirror-utils.spec.ts.snap
  packages/remirror__core-utils/__tests__/prosemirror-utils.spec.ts
  packages/remirror__core/__tests__/__snapshots__/remirror-manager.spec.tsx.snap
  packages/remirror__core/__tests__/__snapshots__/schema-extension.spec.ts.snap
  packages/remirror__core/__tests__/remirror-manager.spec.tsx
  packages/remirror__dev/package.json
  packages/remirror__extension-annotation/__tests__/annotation-extension.spec.ts
  packages/remirror__extension-diff/__tests__/diff-extension.spec.ts
  packages/remirror__extension-entity-reference/__tests__/entity-reference-extension.spec.ts
  packages/remirror__extension-mention/__tests__/__snapshots__/mention-extension.spec.ts.snap
  packages/remirror__extension-positioner/__tests__/positioner-extension.spec.ts
  packages/remirror__extension-yjs/__tests__/__snapshots__/yjs-extension.spec.ts.snap
  packages/remirror__react-core/__tests__/__snapshots__/use-remirror-context.spec.tsx.snap
  packages/remirror__react-core/__tests__/controlled.spec.tsx
  packages/remirror__react-core/__tests__/core.spec.tsx
  packages/remirror__theme/__tests__/__snapshots__/theme.spec.ts.snap
  packages/testing/package.json
  packages/testing/src/index.ts
  packages/testing/src/react.tsx
  pnpm-lock.yaml
  support/scripts/package.json
Labels: package: jest-remirror :black_joker:, type: support :books:, package: jest-prosemirror :performing_arts:, test: unit :white_check_mark:, package: multishift :arrow_down_small:

#2009 fix(extension-yjs): fix missing peer warning
  .changeset/nasty-paws-study.md
  packages/remirror__extension-yjs/package.json
  pnpm-lock.yaml
Labels: type: changeset :butterfly:
